[2021-09-16 17:57] edreamleo commented on #2186
On Thu, Sep 16, 2021 at 10:14 AM tbpassin ***@***.***> wrote:

devel.  I merge devel into 6.4, not  vice versa.

Edward

[2021-09-16 21:42] tbpassin commented on #2186
Done plus other small improvements with PR submitted: [#2188](https://github.com/leo-editor/leo-editor/pull/2188)

[2021-09-17 17:45] tbpassin commented on #2186
Done, and in devel.

[2021-09-17 17:45] #2186 closed

[2021-09-18 21:41] edreamleo opened #2191 "Crash in bookmarks.py: linux only"
[code]

[2021-09-19 11:59] edreamleo opened #2194 "Write black-compatible sentinels"
In ekr-black-sentinels branch.  See PR #2194.

**Background**

Black changes the format of sentinel lines(!), inserting two spaces between the comment delimiter and the `@` that signals the start of a sentinel comment.

For at least two years Leo has been able to read external files formatted with [black](https://black.readthedocs.io/en/stable/). However, the present read code probably doesn't han

[2021-09-19 12:22] edreamleo opened #2195 "Convert trailing hanging comment to leading comments"
Black will unindent trailing comments.  It's time to be compatible with black.

Leo uses hanging comments in several ctors, in the FastRead class, and probably in other places.

[2021-09-19 22:28] tbpassin opened #2196 "6.4 Startup Error Error Messages"
I don't know if I didn't see these the first time or if they are new, but I've been getting the following:

[code]

I tried saving one @file python file, and Pyflakes was happy, so the message about flake8-leo.py and pylint also worked.

[2021-09-19 22:46] edreamleo opened #2197 "Several plugins do not work with Qt6"
Details later. None of the plugins are enabled by default.

There is also the possibility that crashes in plugins can prevent Leo from starting.

[2021-09-19 23:47] tbpassin opened #2199 "6.4b3 Error messages on startup"
I don't know if I didn't see these the first time or if they are new, but I've been getting the following:

[code]

I tried saving one @file python file, and Pyflakes was happy, so the message about flake8-leo.py and pylint also worked.

[2021-09-20 00:08] edreamleo commented on #2196
@tbpassin Please be more specific about what you were doing. I'm guessing you opened LeoPyRef.leo, but I can't be sure.

[2021-09-20 00:09] edreamleo commented on #2196
I'll assign this to 6.4, but more likely this issue will be assigned to 6.5.

[2021-09-20 02:28] tbpassin commented on #2196
Sorry, yes, I had LeoPyRef open when I started Leo.  That was on Windows, and I get the same thing on my Linux Mint VM.

[2021-09-20 12:57] tbpassin opened #2201 "Support tab completion in File-Open-By-Name"
File-open-by-name should have tab-completion that works like the completion tab for minibuffer commands.

[2021-09-20 19:36] edreamleo commented on #2196
@tbpassin I think this is expected. I assume you had installed Leo using pip, but that does not copy the top-level directory.

[2021-09-20 19:36] #2196 closed

[2021-09-20 20:03] tbpassin commented on #2196
Yes, that's so.  I used the pip command line you had recommended.  For 6.4 final, though, I'd prefer not to see them: we haven't had anything like that for previous pip-installed final releases,.

[2021-09-20 20:05] tbpassin commented on #2199
I suppose I should close this because @edreamleo wrote that it was because the interim pip install did not include the top-level directory.  And Leo itself seems to work as expected.

[2021-09-20 20:05] #2199 closed

[2021-09-20 21:16] edreamleo commented on #2199
@tbpassin Yes, I agree that we can close this issue.

[2021-09-21 16:23] edreamleo opened #2206 "Clean all lines"
See PR #2207.

Leo's clean-all-lines will do the work.

Necessary to fix many pylint complaints.

[2021-09-21 16:48] tbpassin commented on #2206
If clean-all-lines uses `g.splitlines()`, then shouldn't it use `g.joinLines(`) as well (currently it has `s2 = ''.join(lines)`?

[2021-09-21 17:59] edreamleo commented on #2206
@tbpassin g.joinLines is an ancient artifact. ''.join(lines) is a standard python idiom.

In contrast, g.splitLines is a bit more useful. Take a look.

[2021-09-21 18:00] edreamleo opened #2208 "Remove g.joinLines"
''.join(aSequence) is more pythonic.

[2021-09-21 18:06] tbpassin commented on #2206
Actually, that's what g.joinLines() is:

[code]

I didn't see why there even is such a method in the first place!

[2021-09-21 20:27] #2206 closed

[2021-09-21 20:39] #2194 closed

[2021-09-21 20:40] #1766 closed

[2021-09-21 20:57] #2208 closed

[2021-09-21 21:00] edreamleo opened #2210 "Blacken most files"
Black inserts unwanted blanks in sentinel lines. To avoid this, do the following:

- blacken-files.
- Respond "Yes to All" when asked whether to reload files.
- write-at-file-nodes (Ctrl-Shift-W) to restore sentinels.

[2021-09-21 21:53] tbpassin commented on #2210
Is this something we are all going to have to do for all of our existing files?  What if we forget, will our existing files be corrupted when we save them?

Can the new sentinel -reading code be modified to overlook the difference between non-blackened and blackened sentinel lines so that a user won't have to do anything nor even know or care about it?

[2021-09-21 23:47] edreamleo commented on #2206
@tbpassin I don't remember exactly why g.joinLines ever existed. I suspect I created it very early in my Python career. In any case, g.joinLines is gone. I even thought to check in scripts.leo.

[2021-09-22 00:56] tbpassin commented on #2206
: )

[2021-09-22 02:06] tbpassin opened #2212 "Edit Commands To Capitalize Words in Body and Headline"
The Edit menu should have an item to capitalize all words in a selection.  The edit menu should have an item to capitalize all words (or maybe words in selected text) in a headline.

[2021-09-22 06:56] edreamleo opened #2213 "Leo's read code improperly ignores lines"
After blackening leoAst.py, the following warnings appeared when reloading the file:

[code]
These lines superficially look like sentinel lines (especially the `# @+node` lines, but they aren't.

In particular, within leoAst.py these lines are *not* preceded by `@verbatim` lines.

[2021-09-22 12:41] edreamleo commented on #2212
@tbpassin This probably won't happen unless you do it. I'll be happy to consider a PR.

[2021-09-22 12:45] tbpassin commented on #2212
All right, I'll take a look and see if I can penetrate the darkness.

[2021-09-22 12:49] edreamleo commented on #2212
@tbpassin Feel free to ask for advice.

[2021-09-22 14:07] edreamleo opened #2214 "Revise unit tests for trailing whitespace"
The tests do not survive Leo's clean-all-lines command!

[2021-09-22 22:32] edreamleo opened #2217 "BackgroundProcessManager blocks on large output"
See PR #2218.

[2021-09-22 22:45] #2217 closed

[2021-09-23 09:49] edreamleo opened #2219 "Create interactive find/change helper"
Say c.findCommands.interactive_search(settings).

Setting up interactive searches is tricky, so this helper will be valuable!

Like c.findCommands.batch_change, but for interactive searches.

[2021-09-23 09:56] edreamleo commented on #1597
@abergmann Thanks for this update.

Can someone please explain to me why slowing down Leo poses a problem? The "attacker" would have to get Leo to import a dart file. If they attacker can do that, the attacker could just as easily wipe the hard drive.

[2021-09-23 15:37] tbpassin commented on #2212
The code to capitalize headlines in now in devel.  Code for capitalizing body text coming soon.

[2021-09-23 22:07] #2029 closed

[2021-09-23 22:11] SegundoBob opened #2220 "Replacing a string in the headline always replaces the find-string with the empty string"
# Overview

I think the find-string can be anything.  I think the replace-string can be anything.  I think the bug always occurs.

# My procedure

Create a new node.
Change the headline to "xxxx yyyy".
Find: "xxxx"
Replace: "2222"
Select any node above the new node.
Press F3 till the "xxxx" in the new node is selected.
Press Ctrl+- to do the replace.
The new headline is " yyyy".

# Test System

Le

[2021-09-23 22:15] SegundoBob commented on #2220
The most recent revision with the bug confirmed is:

Leo Log Window
Leo 6.5-devel, devel branch, build c7b039961c
2021-09-23 10:26:53 -0500
Python 3.8.10, PyQt version 5.12.8
linux

[2021-09-23 22:36] edreamleo commented on #2220
Thanks for this report. I'll fix it immediately.

[2021-09-23 23:16] edreamleo commented on #2220
According to git bisect, the first bad commit was:
[code]

[2021-09-24 11:35] edreamleo commented on #2220
PR #2222 fixes this bug. The PR has been merged into the 6.4 branch, and merged (by hand) into the devel branch.

[2021-09-24 11:35] #2220 closed

[2021-09-25 04:34] boltex commented on #1281
I'm adding this comment to this historic thread to mark the event of the first official release of LeoInteg!

https://marketplace.visualstudio.com/items?itemName=boltex.leointeg

Cheers and thanks to all who have contributed! Even simple comments and suggestions did help greatly!

Félix

[2021-09-25 04:34] #1281 closed

[2021-09-25 05:15] boltex commented on #1025
This post is a foundational inspiration, and reference, for developing LeoInteg and LeoJs!

[2021-09-25 10:51] edreamleo commented on #1281
@boltex Congratulations on this great work. I see that leoInteg 1.0.1 updated automatically. So easy!!

I'll be spending 5 or 10 minutes each day playing with vs-code/leoInteg. I'll report any problems on leoInteg's issues page.

[2021-09-25 10:54] edreamleo commented on #1025
@boltex Glad this issue was helpful.  I have been thinking about your remark on zoom that Leo is a new notation. I would encourage you to make a post on this topic in Leo's forum.

[2021-09-25 13:13] tbpassin opened #2227 "Retire Qt4"
- [x] Remove leo.core.leoQt4.
- [x] Remove references to PyQt4 in LeoDocs.leo

[2021-09-25 13:42] edreamleo commented on #2227
@tbpassin I'll do this soon.

[2021-09-25 16:12] tbpassin commented on #2212
The code for capitalizing body text - or a selection in body text - is now in the devel branch.  Menu items in the Edit menu let you capitalize in headline or body.

[2021-09-25 16:12] #2212 closed

[2021-09-25 16:53] edreamleo opened #2230 "Trailing python comments interfere with auto-indent"

[2021-09-25 22:15] #2219 closed

[2021-09-26 09:00] edreamleo commented on #1478
I am closing this issue because Leo 6.5 uses traditional unit tests everywhere.

[2021-09-26 09:00] #1478 closed

[2021-09-26 09:01] edreamleo commented on #1418
This issue is largely moot now that leoInteg (Leo for vs-code) exists.

[2021-09-26 09:01] #1418 closed

[2021-09-26 09:03] edreamleo commented on #1409
I am going to close this issue. leoInteg has done all the work!

[2021-09-26 09:03] #1409 closed

[2021-09-26 09:04] edreamleo commented on #1399
I am closing this issue. leoInteg has provided the needed help!

[2021-09-26 09:04] #1399 closed

[2021-09-26 09:07] edreamleo opened #2232 "Cover leoCommands.py and leo.commands with unit tests"
These files provide many of [Leo's unique and essential features](https://github.com/leo-editor/leo-editor/issues/1025).

- Remove Tk indices from calls to runTest.

[2021-09-26 09:09] edreamleo opened #2233 "Use argparse instead of optparse"
optparse is deprecated.

[2021-09-26 09:14] edreamleo opened #2234 "Full coverage tests for key parts of Leo's code"
See PR #2445.

The initial plan was to cover all files used by leojs, but there is no great need for these tests.  I am going to close this issue.   #2463 suggests adding more tests, but this is a "Maybe" issue.

This issue is about adding *python* unit tests. Félix has created *typescript* unit tests in leojs for all files in leo/core, but not yet for files in leo/commands.

To see the status of

[2021-09-26 09:38] edreamleo opened #2235 "Add unit test that runs all doctests"
Use python's [doctest](https://docs.python.org/3/library/doctest.html) module.

See PR #2237.

[2021-09-26 15:12] #2235 closed

[2021-09-26 15:13] #2227 closed

[2021-09-26 19:59] #2230 closed

[2021-09-26 19:59] #2214 closed

[2021-09-27 08:08] edreamleo commented on #2158
I am going to close this issue. I'll reopen this issue only if Félix reports a bug in Leo's code.

[2021-09-27 08:08] #2158 closed

[2021-09-27 08:18] #1899 closed

[2021-09-27 08:54] edreamleo opened #2240 "Crash in findMatchingBracket"
[code]

[2021-09-27 10:32] edreamleo commented on #1733
I seen no real reason to simplify the code further.

[2021-09-27 10:32] #1733 closed

[2021-09-27 14:08] #2233 closed

[2021-09-27 14:28] edreamleo commented on #2240
Rev 7e4c205 in devel adds some guards, and improves a unit test.

I was not able to reproduce the crash.

[2021-09-27 14:28] #2240 closed

[2021-09-27 14:39] #2213 closed

[2021-09-27 18:22] boltex commented on #2119
All right, found out that the .serve method of the websockets python library has a way to specify the family (or any other parameters that the underlying "create_server" method would accept) because of this nice feature of the websocket's "serve" method's parameter handling:
**"Any other keyword arguments are passed the event loop’s create_server() method."**

Which is what is needed to specify us

[2021-09-27 19:10] edreamleo commented on #2119
On Mon, Sep 27, 2021 at 1:23 PM Felix ***@***.***> wrote:

Thankyou!!

Edward

[2021-09-27 19:19] boltex commented on #2119
@ar-jan Can you test the felix-server4 branch? I've no easy ways to test this - if it works I'll make the pull request! Thanks!

I just added a try/exept block for the server creation:
[code]

The error may be triggered later when the server is actually used with :
`realtime_server = loop.run_until_complete(server)`
So I'm not sure if this simple fix is just too premature or simple... Thanks!

Fél

[2021-09-27 19:43] ar-jan commented on #2119
Hi @boltex, that doesn't do the tricket yet:

[2021-09-27 22:38] boltex commented on #2119
@ar-jan  oh, thanks to the more verbose details you provided, I now see that the error is triggered by the line :

`realtime_server = loop.run_until_complete(server)`

I have no idea how to test for the availability of IPv6, so I'll get the server setup **and startup** in an embedded try/except block which does the same ' family=socket.AF_INET' fix in case of error. (instead of just the server set

[2021-09-28 10:44] edreamleo opened #2244 "Remove the link to Leo's readthedocs page"

[2021-09-28 11:23] ar-jan commented on #2119
Great, that works!

[2021-09-28 14:35] #2244 closed

[2021-10-05 13:29] tbpassin opened #2246 "Save Dialog After Outline Changes Not Coming To Front"
At least sometimes, after I make a change to an outline and then close Leo, the dialog that says that changes were made and do I want to save the outline stays hidden behind Leo's main window.  After Leo's main window closes, then the dialog can be seen.  I don't know if it would still work at that point because I have always answered "No".

I don't know if it always happens, but it has happened o

[2021-10-05 15:23] #2119 closed

[2021-10-05 15:57] edreamleo commented on #2246
The ekr-dialog branch contains the proposed fixes. See PR #2247.

[2021-10-05 23:00] tbpassin opened #2248 "Flake8 not imported by flake8 Command"
Trying to run flake8 on a node gave a message:

`can not import flake8`

I have not tried to track this down in the code as yet.

[2021-10-06 15:25] tbpassin commented on #2248
I put the "Bug" label back on because even when flake8 is installed, the imports for the flake8 command don't work . Perhaps flake8 has changed since the command was written.  Here's the import error I get in a python interactive session:

[code]

[2021-10-07 14:46] edreamleo opened #2249 "Retire pyflakes-leo.py and pylint-leo.py"
It's better to invoke pyflakes and pylint with `python -m'

[2021-10-07 16:25] tbpassin commented on #2248
I think it's better to use _--extend-ignore_ instead of _--ignore_.  That way, if there is another _ignore_ that some gets into the command line (happens to me), or there is an ignore list somewhere else, your extra ignores get honored.  Otherwise they may not.

[2021-10-07 17:54] tbpassin commented on #2248
You could also add flake8 to the File/Open With submenu.

[2021-10-07 17:56] edreamleo opened #2251 "Remove deprecated and do-nothing methods and functions"
See PR #2254.

| Removed globals  | Recommended alternative | Notes |
| -------------------  | ----------------------------  | ------ |
| `g.alert()` | `c.alert()` | b |
| `g.callback()` | Not needed | d |
| `g.choose(condition, a, b)` | `a if condition else b` | d |
| `g.FileLikeObject()` | `io.StringIO(initial_value='', newline='\n')` | a |
| `g.flatten_list(aList)` | Use list comprehension | f

[2021-10-07 18:06] tbpassin opened #2252 "File/Open With Menu Always Opens The Same File"
I have some _Open With_ submenu items that open files with various editors.  I just noticed that after opening one, then that same (incorrect) file gets opened when I try to open a different one. This happens per-outline.

In the past _Open With_ has always opened the expected file.  This is with the current _devel_ branch; I don't know when it changed.

[2021-10-07 18:11] tbpassin commented on #2248
I had a little internal conversation about that before I tried it! But I already have _Open With Notepad++_, and that doesn't open anything in Leo either.  I suppose I could put it somewhere else.  Maybe a new _Check File_ submenu.

[2021-10-08 04:49] tbpassin commented on #2252
I have got part of the reason for this behavior.  _efc.open_with()_ says that the _@openwith_ node should have these parameters:

[code]
In the past, "p" was not needed.  But now:

1. If "p" is not included in the node's body, then _open_with_ receives the p value from the first invocation of the menu item.  This causes the opening of the first-opened file, not the currently selected one.
2. If on

[2021-10-08 17:55] tbpassin commented on #2251
Here is one could go:

[code]

[2021-10-08 22:19] boltex commented on #1025
@edreamleo I'm talking about this very post! (scroll up to the original post)

[2021-10-09 11:21] #2251 closed

[2021-10-09 11:29] edreamleo commented on #2249
Heh. It turns out I still use these files!

[2021-10-09 11:29] #2249 closed

[2021-10-09 11:43] edreamleo commented on #2252
@tbpassin Good work. Please do submit the PR. We can adjust it if necessary.

[2021-10-09 13:52] edreamleo commented on #1025
@boltex Hehe.  I see.  I have dropped the word "gui" from one heading in the first topic, and made a few other small features.

[2021-10-10 18:04] edreamleo opened #2256 "view-recent-commands"
#2167 will report the list of recently-executed commands.

[2021-10-10 18:24] #2256 closed

[2021-10-10 18:39] edreamleo opened #2258 "Retire 'debug', 'xdb', and 'db-*' commands"
I am not going to retire these commands, at least at present:

- The 'debug' command supports winpdb.
- The 'xdb' and 'db-*' commands support Leo's integrated debugger.
   True, this debugger is far from polished, but I see no compelling reason to throw the code away.

[2021-10-12 09:25] #2258 closed

[2021-10-12 09:38] #1451 closed

[2021-10-12 09:41] #1228 closed

[2021-10-12 09:42] #1187 closed

[2021-10-12 09:56] #750 closed

[2021-10-12 09:58] #682 closed

[2021-10-12 10:00] #667 closed

[2021-10-12 10:01] #580 closed

[2021-10-12 10:07] edreamleo commented on #574
Please reopen if you have a real need for this importer.

[2021-10-12 10:07] #574 closed

[2021-10-12 10:08] #769 closed

[2021-10-12 10:12] #1379 closed

[2021-10-12 10:15] edreamleo commented on #1267
I have had no problems with modes/python.py

[2021-10-12 10:15] #1267 closed

[2021-10-12 10:20] #1882 closed

[2021-10-12 10:26] edreamleo commented on #1718
I'll do this only if there is a real need.

[2021-10-12 10:26] #1718 closed

[2021-10-12 13:06] tbpassin opened #2262 "Flake8-files Command Fails On Linux"
On my Linux Mint VM, the flake8-files command fails because it shells out to "python" but should shell out to "python3".  On many Linux systems, "python" invokes Python 2.7 instead of Python 3+.

The most reliable fix would be to use _sys.executable_ instead of simply "python".

I searched LeoPyRef and found the same issue in two other commands:

[code]

[2021-10-12 14:06] #1875 closed

[2021-10-12 21:30] edreamleo opened #2263 "Problems opening external files"
See PR #2264.

- [x] When opening LeoDocs.leo:
    file not found: /home/user/PyVE/GitHub/Leo/leo-editor/leo/doc/html\conf.py
    Note the backslash.
- [x] When opening LeoPyRef.leo:
    can not open /home/user/PyVE/GitHub/Leo/leo-editor/leo/plugins/trace_keys.py
    I deleted trace_keys.py today.
- [x] When opening unittest.leo (from a menu item):
    no command function for 'open-unittest-leo'

[2021-10-12 21:42] #2263 closed

[2021-10-12 21:50] tbpassin commented on #1293
Actually, this only works on VR3, not on VR.  That's because VR uses a TextEditWidget to display the image, while VR3 uses a QWebBrowser.  Apparently the TextEdit doesn't understand that style attribute.

I'll have to study VR for a while to see how to adjust this.

[2021-10-13 11:53] #2262 closed

[2021-10-13 12:43] #1293 closed

[2021-10-13 12:55] edreamleo opened #2267 "py_to_ts command"
See PR #2268.

The script/command will convert a tree of python code to a tree of typescript code. This command will be similar to the c_to_py script I write 21 years ago, but it will take advantage of Leo's (and python's!) new features.

[2021-10-13 17:16] tbpassin opened #2270 "Freewin.py Plugin Commented Out in LeoPyRef But Still Exists In Plugins Directory"
The headline in LeoPyRef for the Freewin plugin has a double "@":

`@@file ../plugins/freewin.py`

However the file still exists in the plugins directory.  Naturally, as its author, I would prefer that the plugin not be commented out.  Is there a reason for this?  If not, I will put in a PR with the extra "@" removed.

[2021-10-13 21:12] edreamleo commented on #2270
@tbpassin I think the reason I did that is that (my version of) pylint hangs on freewin.py.

This should be sorted out asap.

[2021-10-14 12:18] #2267 closed, assigned to edreamleo

[2021-10-14 12:29] edreamleo opened #2271 "Crash in typescript-to-python"
[code]

[2021-10-14 13:48] edreamleo commented on #2270
On Wed, Oct 13, 2021 at 4:55 PM tbpassin ***@***.***> wrote:

I'll restore freewind.py soon.

Edward

[2021-10-14 15:32] #2271 closed, assigned to edreamleo

[2021-10-14 23:55] edreamleo commented on #1994
The code that uses this setting is vc.set_property.

`@string vim-mode-normal-border = border: 2px` works for me, in the sense that the setting does not override the border color.

The only thing I can suggest is to play with vc.set_property to see if you can find code that will work for you.  I'll be happy to consider suggestions for improving vc.set_property.

[2021-10-15 13:26] #2270 closed, assigned to nobody

[2021-10-16 14:06] edreamleo opened #2275 "Improve python-to-typescript"
PR #2277 is now complete.  I'll fix any reported bugs in separate PR's.

**Status**

1. python-to-typescript now does very well. vs-code now colorizes leoAtFile.ts correctly from start to finish!

2. python-to-typescript does not (can not) transliterate several constructs.  See the "Won't Do" section below.

**What python-to-typescript does**

- [x] Handle r""" and r''' properly.
- [x] Ensure one

[2021-10-16 16:26] AresAndy opened #2276 "Allow section delimiters to be configurable"
See PR: #2303. Section delimiters ``<<`` and ``>>`` should be configurable.

**EKR**: there **must not** be any setting associated with this issue. Such a setting would be way too dangerous.

**The design of the @section-delims directive**

The `@section-delims` directive (**the directive**, for short) specifies the delimiters to be used in both section references *and* section definitions.

*Only

[2021-10-16 16:56] edreamleo commented on #2276
@AresAndy Thanks for your comments.

I understand your pain, but I'm not sure there is a solution.  I'll look into it.

[2021-10-19 03:46] tbpassin opened #2279 "Column Select In Body?"
Some text editors have an ability to select a rectangular area, which can then be copied or cut.  This can be handy sometimes.  Most of the times I have used it, I have pasted in a source with extra columns from somewhere else, and I want to remove the extra ones.

In thinking about how it should work, the trickiest bit is probably what should happen if a block is pasted into existing text.  I don

[2021-10-22 13:44] ar-jan opened #2281 "hook failed: after-create-leo-frame2"
I am receiving the following message when starting Leo and loading an outline. I believe it started happening after upgrading to Python 3.10. I've tried deleting Leo's db, and when loading an outline with the default layout I don't see the error, but when I recreate my own layout and apply it, the error appears again:

[2021-10-22 23:20] #2275 closed, assigned to edreamleo

[2021-10-23 05:43] edreamleo opened #2286 "repeat-complex-command should allow the user to pick other recently-used commands"
I often do Ctrl-P (repeat-complex-command) only to realize that I want to do another recently-used command. At present, this is not possible.  The required changes are likely to be fairly easy.

[2021-10-23 05:49] edreamleo opened #2287 "Syntax color `...` in typescript"

[2021-10-23 05:50] edreamleo opened #2288 "Ctrl-click *still* does not search backwards from the end of the file"
`@bool reverse-find-defs = True` is supposed to enable this feature.

[2021-10-23 11:16] #2281 closed, assigned to edreamleo

[2021-10-23 12:28] #2286 closed, assigned to edreamleo

[2021-10-23 15:31] #2287 closed, assigned to edreamleo

[2021-10-24 00:51] #2288 closed

[2021-10-24 07:23] edreamleo opened #2294 "Search Engine Optimization"
Many free tools exist.

[2021-10-26 16:07] edreamleo opened #2300 "leoserver.py should warn if websockets not installed"
websockets is a third-party package, so `import websockets` could fail.

[2021-10-26 18:21] #2300 closed, assigned to edreamleo

[2021-10-27 07:56] edreamleo opened #2302 "How to embed mathjax in GitHub issues"
**Important**: before considering mathjax, consider simply using [unicode math characters](https://en.wikipedia.org/wiki/Mathematical_operators_and_symbols_in_Unicode), such as:

∈: U+2209
⨉: U+2A09
ℝ: U+211D

Googling [embed mathjax in GitHub](https://www.google.com/search?client=firefox-b-1-d&q=embed+mathjax+in+github):

1: https://stackoverflow.com/questions/11256433

Use the the [codecogs onli

[2021-10-29 16:14] elfring opened #2304 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-10-29 19:35] tbpassin commented on #2304
I'm in agreement about the Python versions. The syntax was changed in 3.8, as well.  Plus I'm not liking the potential for additional complexity, and the differences in evaluation rules and order compared with ordinary Python assignment statements.

[2021-10-30 00:04] edreamleo commented on #2304
I am going to close this issue. There are many parts of Leo's code that could be improved, but the walrus operator will help improve none of them.

[2021-10-30 00:04] #2304 closed

[2021-10-30 16:50] edreamleo commented on #2304
@elfring I am not interested in these minor details. Please don't bother me with these questions.

[2021-11-05 10:47] edreamleo opened #2308 "Prefer @<file> nodes to control syntax coloring"
It sometimes happens that a node is a clone of a node that *shouldn't* unambiguously specify a language, but does.  In that case, the cloned node may be colored using the wrong language. For example:

[code]

Any clones of this node will likely be colored with `@language rest` instead of `@language python`.

The solution is for the (colorizer?) code that looks for unambiguous `@language` directive

[2021-11-05 10:59] #2276 closed

[2021-11-05 11:08] edreamleo opened #2309 "Change where sections references are valid"
Leo should recognize section references only:

1.  When nothing except whitespace appears before or after the section reference.
2. Only when the apparent section reference is *not* part of an `@doc` section.
    I know of now example of section references being useful in `@doc` sections!

As part of this project, I'll create a script that warns of potential compatibility problems.

Imo, this prop

[2021-11-05 11:25] tbpassin commented on #2309
Good, and I'd still like to be able to do this:

"""<< string-to-be-quoted >>"""

[2021-11-05 13:24] edreamleo commented on #2309
@tbpassin I don't think triple-quoted section references are possible.  Nor are they desirable, imo. Instead, I define multi-line strings (in separate sections) like this:
[code]

[2021-11-05 13:52] tbpassin commented on #2309
I do that too.  The main use case is for long docstrings.  By test, the following @file works:

[code]

where there is a multi-line _<< docstring >>_ section in the file tree.

[2021-11-06 15:37] edreamleo opened #2311 "write-at-file-nodes may issue invalid warning"
Apparently the command does not clear all visited bits.

[2021-11-06 15:48] edreamleo commented on #2311
Fixed as part of #2309.

[2021-11-06 15:48] #2311 closed

[2021-11-07 12:11] edreamleo opened #2312 "If possible, importers should take advantage of new restrictions on section references"
#2309 limits where sentinels may appear.  These restrictions may simplify the perfect import tests.  Or not.

I shall not delay Leo 6.6 for this issue, but it is worth a look.

[2021-11-07 13:35] tbpassin opened #2313 "Import Error - trying to pop() empty list"
While testing the new section ref branch, opening an outline failed with this error:

[code]
This error also is in this morning's devel 4a802ef93ad42def3d12eb57d80058342e909c71.

[2021-11-07 14:16] edreamleo commented on #2313
Hmm. Please email a copy of leoAtFile.py.

[2021-11-07 15:22] tbpassin commented on #2313
[leoAtFile.zip](https://github.com/leo-editor/leo-editor/files/7492534/leoAtFile.zip)

[2021-11-07 16:56] tbpassin commented on #2313
Hah!  The @file that caused the errors was written by an older version of Leo.  Apparently I hadn't opened this file for several years, because its version reads

`#@+leo-ver=4-thin`

So I suppose I can close this one.  @edreamleo, do you remember the script or program you wrote to update version 4 files?  I had used it in the past but don't remember its name.

[2021-11-07 17:10] tbpassin commented on #2313
Actually, the external file was an @thin, not an @file.  This must have been a long time ago.  I think I'll edit the .leo outline and change all the @thins to @clean, then see if the outline can be opened.

[2021-11-07 19:46] edreamleo commented on #2313
@tbpassin The script does not seem to be in scripts.leo. This would be an ancient script. I have no clear memory of it.

[2021-11-07 22:16] tbpassin commented on #2313
Not that ancient.  I remember it.  You worked it up at my suggestion because I had some older outlines I wanted to update.  I used it, and after that I don't remember where it got to.

Changing the @thins to @cleans worked for this outline, anyway.  I could write a little script to remove the sentinel lines, and start restructuring them if I need to.

[2021-11-08 04:43] tbpassin opened #2315 ""Import Any File" Misplaces "@language python, @tabwidth -4""
I imported a python file using "Import Any File".  The imported @any file started out:

[code]

It seems to me that the file should **start** with

[code]
I'm not sure if this counts as a bug or not - since the external python file will run - but it seems pointless to have _@language python_ below the start of the file when the entire file is in Python.  I have usually relocated the directives bac

[2021-11-08 10:29] edreamleo opened #2316 "Move unit-test code from leoImport.py to test_leoImport.py"
See PR #2317.

The code in leoImport.py is an anti-pattern. It would be more natural to create subclasses in test_leoImport.py.

[2021-11-08 13:17] #2313 closed

[2021-11-08 15:01] edreamleo commented on #2313
@tbpassin I'll attempt to find the script.

[2021-11-08 15:28] edreamleo opened #2318 "Find conversion script"
This script converted .leo files with old sentinels. I may have posted it to leoeditor.com.

Indeed yes. Searching for 'convert leo files' in leoeditor .com yields [this page](https://groups.google.com/g/leo-editor/search?q=convert%20leo%20files).

#1581: Allow Leo to read ancient .leo files contains a script in the [second comment](https://github.com/leo-editor/leo-editor/issues/1581#issuecomment

[2021-11-08 15:33] #2316 closed

[2021-11-08 15:34] edreamleo commented on #2312
I am going to close this issue for now. The importers like will not have to change.

[2021-11-08 15:35] #2308 closed

[2021-11-08 15:39] edreamleo commented on #2313
@tbpassin I have just created #2318 :-)

[2021-11-08 17:18] edreamleo commented on #2318
I am going to close this issue. Please reopen if questions remain.

[2021-11-08 17:20] edreamleo commented on #2313
@tbpassin The first comment in #2318 should contain everything you need.

[2021-11-08 19:05] tbpassin commented on #2318
Reopened just for this comment.  I found these external files in the Leo Git tree that have the version 4 format (I'm omitting ones that are obviously not going to matter, like in unittest):

[code]
BTW, for those who don't know it, I found these files using FileLocator Pro.  This Windows only program can find files in any subtree of your drive, with the names or extensions wildcarded, containing

[2021-11-08 19:05] #2318 closed

[2021-11-09 03:47] boltex opened #2322 "leoserver should dirty a node when marking/unmarking"
leoserver.py does not seem to 'setDirty' the node, and it's ancertor's @files nodes when toggling marks. (Saw this while using leointeg)

[2021-11-09 10:25] edreamleo commented on #2322
@boltex server.mark_node calls p.setMarked() and server.unmark_node calls p.clearMarked().  p.setMarked() and p.clearMarked() set ancestor `@<file>` nodes dirty.  In contrast, v.setMarked() and v.clearMarked() are much faster--they only set/clear the marked "bit" in the VNode.

So it looks like server.mark_node and server.unmark_node handle the bits properly. Perhaps a call to c.redraw() is needed

[2021-11-09 15:10] boltex commented on #2322
Respectfully, I think you're wrong: I just looked at the code and p.setMarked() seems to just call v.setMarked https://github.com/leo-editor/leo-editor/blob/cf53a1c4af5534d805557e0619db4bd7d6f05283/leo/core/leoNodes.py#L1808

[2021-11-09 15:51] edreamleo commented on #2322
On Tue, Nov 9, 2021 at 9:10 AM Felix ***@***.***> wrote:

Yes, you are correct.  I was thinking of p.setDirty vs v.setDirty.

Anyway, the server seems to be setting/clearing the marked "bit"
correctly.  What do you think should change?

Edward

[2021-11-09 18:13] edreamleo commented on #2318
@tbpassin In the future, there is no need to reopen an issue to get my attention.  I subscribe to all issues, so I'll see any new comments.

[2021-11-10 05:07] boltex commented on #2322
All right, this pull request makes the call with the commander so that it sets the dirty bits properly, and also creates an undo bead to undo mark/unmark commands properly: https://github.com/leo-editor/leo-editor/pull/2324

[2021-11-10 11:43] #2322 closed

[2021-11-11 17:06] edreamleo opened #2327 "Improve python importer"
The python importer needs a rewrite. See [this post](https://groups.google.com/g/leo-editor/c/_oYazfNO7EU/m/012FDvB6AwAJ).

Vitalije has provided the rewrite.  See PR [#2353.](https://github.com/leo-editor/leo-editor/pull/2353).

[2021-11-13 10:35] edreamleo opened #2328 "Recolor body if edit changes a Leo directive"
Inspired by [leoInteg issue #230](https://github.com/boltex/leointeg/issues/230).

[2021-11-14 00:16] LewisNeal opened #2330 "leoColorizer.py - 'QFont' has no attribute 'Bold'"
After switching to PyQt6 I get this error in console at startup:

Uncaught exception in Leo...
Traceback (most recent call last):
  File "N:\git\leo-editor\leo\core\leoColorizer.py", line 2440, in highlightBlock
    self.colorizer.recolor(s)
  File "N:\git\leo-editor\leo\core\leoColorizer.py", line 2876, in recolor
    self.mainLoop(s)
  File "N:\git\leo-editor\leo\core\leoColorizer.py", line 2739

[2021-11-14 04:36] tbpassin commented on #2330
I didn't get that error, though it wouldn't be a surprise -

[code]
The surprise here is that the two of us get different results with the same build...

What language was in effect for the node that was selected when Leo started up?  Maybe it's calling for a colorizer action that mine is not?

[2021-11-14 06:36] LewisNeal commented on #2330
It does not seem related to startup: the error occurs when I click from one node to another within a Leo file.

[2021-11-14 10:01] LewisNeal commented on #2330
Q - What language was in effect for the node that was selected when Leo started up?

I tested a separate leo file with @language latex, and @language rapidq nodes, and confirm they cause the error.
However in my leo files there are no such latex or rapidq nodes.

[2021-11-14 11:21] edreamleo commented on #2330
@LewisNeal Thanks for this report. This looks like yet another Qt6 enum problem.

Imo, the specifics of how this happens are not important. This problem almost certainly arises because you have a language-specific colorizer setting that asks the colorizer to use a bold font for some constructs.

[2021-11-14 13:11] tbpassin commented on #2330
No doubt at all.  I just wondered if we could pin down @LewisNeal getting it and me not.

[2021-11-15 14:52] edreamleo opened #2334 "repeat-complex-command should set event.c"
For example, clean-all-lines could crash.  See PR #2335.

[2021-11-15 15:37] #2334 closed

[2021-11-15 16:58] #2330 closed

[2021-11-17 02:36] boltex commented on #2328
Leointeg now has this feature! (well in dev at least, will come out with leointeg 1.0.4 in a few days)

[2021-11-17 14:35] edreamleo opened #2338 "Problem with c.changed state"
From Félix:

1. make an @file with a child, dirty the body of the child, do ctrl+shift+q (write-dirty-at-file-nodes).
  The command writes the file and marks all nodes clean, as expected.

2. Now make a couple of nodes *outside* the @file subtree, dirty one, delete it. (no dirty nodes but file still dirty.) dirty an @file child's body, (nodes and file now dirty) hit ctrl+shift+q.

3. Yes, all node

[2021-11-18 08:40] #2338 closed

[2021-11-18 08:51] edreamleo opened #2341 "Create unit tests corresponding to deleted files in leo/test/external_files"
These files were implicit unit tests because they contained several kinds of `@<file>` nodes.

The goal is 100% coverage of Leo's read/write logic.

[2021-11-21 05:53] edreamleo opened #2343 "--gui console should work without Qt installed"
See PR #2343.

[2021-11-24 12:56] edreamleo opened #2344 "Fix problem with Windows key on Linux"
See PR #2344.

From [this post](https://groups.google.com/g/leo-editor/c/GSRn1E67BeE/m/ZM8EpXDPBAAJ) from gar:

Leo enters symbols like ៀ? into it's editor when user presses Win key? This does not happen when using the Leo released in May. I am under ubuntu 20.04 and cant say if the same can be reproduced under Windows.

**From gar**

I see the same behavior with leo v6.5 and v6.4, but not with v6

[2021-11-26 04:48] wangzhaohe opened #2345 "vr3 command error with local variable 'stylefile' referenced before assignment"
Leo Log Window
Leo 6.6b2-devel, devel branch, build 18b3eb88ea
2021-11-18 16:29:12 -0600
Python 3.9.5, PyQt version 5.15.2
darwin

***

Traceback (most recent call last):

  File "/Users/swot/app/leo-editor/leo/core/leoCommands.py", line 2157, in doCommand
    return_value = command_func(event)

  File "/Users/swot/app/leo-editor/leo/plugins/viewrendered3.py", line 1301, in toggle_rendering_pane

[2021-11-26 14:21] tbpassin commented on #2345
Thanks for the bug report.  I'll track it down.  Funny I didn't hit that one myself.

[2021-11-26 14:45] tbpassin commented on #2345
@wangzhaoh, could you tell me what stylesheet you are asking for in the settings, or if you are not asking for any specific one?  The setting is _vr3-md-stylesheet_.

[2021-11-26 16:22] tbpassin commented on #2345
I have submitted a PR fixing this issue.  When it is approved and merged into the devel branch, the new version of VR3 will be 3.61.

[2021-11-26 21:33] tbpassin commented on #2345
The PR has been accepted.

[2021-11-27 10:48] LewisNeal opened #2347 "edit-pane-csv command. 'Qt' has no attribute 'WA_DeleteOnClose'"
See PR #2355.

Run the edit-pane-csv command, the pane does not open and gives this error:
[code]

_Leo Log Window
Leo 6.6b2-devel, devel branch, build 5077c3e188
2021-11-26 15:22:04 -0600
Python 3.9.8, PyQt version 6.2.1
Windows 10 AMD64 (build 10.0.19042)_

The error only occurs with PyQt6.

**Update**

There were several other crashes caused by missing Qt6 enums.  See the PR for details.

[2021-11-28 00:37] wangzhaohe commented on #2345
My md_styles.css:

@string vr3-md-stylesheet = file:/Users/swot/.leo/md_styles.css

[2021-11-28 00:53] wangzhaohe commented on #2345
Yes, it works well now!  Thanks a lot for you job. I will close this issue.

[2021-11-28 00:53] #2345 closed

[2021-11-28 00:57] tbpassin commented on #2345
I think you need to have either _file:///_ or omit the _file_ protocol completely. It is true that the Markdown processor wants to have the file name prepended by _file:///_.  VR3 strips it off if present when it tries to locate the file (to check on its existence), and adds it back for the MD processor.

_file:/_ will confuse it, though.  I am fairly sure that if you use _file:///_ you will not s

[2021-11-28 02:03] wangzhaohe commented on #2279
The following is from LeoDocs.leo. Selecting some text with mouse or keyboard arrow key, then between the first cursor and the end cursor is the columns that being selected.

***

.. _`Emacs rectangle commands`: http://www.gnu.org/software/emacs/manual/html_node/emacs/Rectangles.html

The following commands emulate the `Emacs rectangle commands`_::

    rectangle-clear
    rectangle-delete

    re

[2021-12-07 21:56] tbpassin opened #2354 "Pylint Does Not Operate On .pyw file"
I have an outline with several @clean .py files, and one .pyw file.  Pylint does not find the file when asked to check the .pyw file, though it does find the .py files. .pyw files are common enough (I think) that they should be found too.

[2021-12-07 22:04] tbpassin commented on #2354
This appears to be happening in checkerCommands.py, in run() of the PylintCommand class.

[2021-12-08 01:49] tbpassin commented on #2354
Easy enough to add .pyw to the allowable files.  I'd like to know if there are any reasons not to do so.

[2021-12-08 20:41] #2327 closed

[2021-12-09 12:50] edreamleo commented on #2354
Fixed at 8dc620b in devel.

[2021-12-09 12:50] #2354 closed

[2021-12-09 13:01] edreamleo commented on #2347
@LewisNeal The experimental fix is in the ekr-bug-2347 branch.  Please let me know how it works for you.

[2021-12-09 23:52] LewisNeal commented on #2347
There are no error messages. Message in logpane is: no command function for 'edit-pane-csv'
Running build 5854505b53

[2021-12-10 10:41] edreamleo commented on #2347
On Thu, Dec 9, 2021 at 5:52 PM LewisNeal ***@***.***> wrote:

Strange. My log shows:
Leo 6.6b2-devel, ekr-bug-2347 branch, build 5854505b53
2021-12-09 06:58:43 -0600
LEP: __init__ LEP
LEP: Loaded module: plaintextedit
LEP: Loaded module: plaintextview
LEP: Loaded module: __init__
LEP: Loaded module: clicky_splitter
LEP: Loaded module: csvedit
LEP: Loaded module: editpane
LEP: Loaded module: leotex

[2021-12-10 12:11] LewisNeal commented on #2347
Here is full log pane:
Leo Log Window
Leo 6.6b2-devel, ekr-bug-2347 branch, build 5854505b53
2021-12-09 06:58:43 -0600
Python 3.9.8, PyQt version 6.2.2
Windows 10 AMD64 (build 10.0.19042)
no command function for 'edit-pane-test-open'
no command function for 'edit-pane-csv'

Here is the console output:
no command function for 'edit-pane-test-open'
doCommandByName executeScript,executeScriptHelper,<

[2021-12-10 17:53] edreamleo opened #2357 "parse-body command crashes with new importer"
See PR #2358.

[2021-12-10 22:30] #2347 closed

[2021-12-10 23:48] #2357 closed

[2021-12-11 00:18] LewisNeal commented on #2347
Thanks Edward, The pane now renders with Leo 6.6b2-devel, devel branch, build 220ba34f2a

[2021-12-11 11:29] edreamleo commented on #2347
On Fri, Dec 10, 2021 at 6:18 PM LewisNeal ***@***.***> wrote:

You're welcome. Thanks for the confirmation.

Edward

[2021-12-25 09:42] edreamleo opened #2362 "Fix strange code in fc.restoreDescendentAttributes"
See PR #2363.

In fc.restoreDescendentAttributes contains three calls:

    tref = self.canonicalTnodeIndex(gnx)

Only the first call is followed by:

    v = self.gnxDict.get(tref)

fc.canonicalTnodeIndex has no side effects, so either the last two calls to:

   tref = self.canonicalTnodeIndex(gnx)

are unnecessary, or the last two calls should be followed by:

    v = self.gnxDict.get(tref)

Thi

[2021-12-30 08:33] #2362 closed

[2021-12-30 08:41] edreamleo opened #2364 "Create a quick linter for Leo"
The idea is to check c, g and p *quickly*, possibly using asttokens.  However, there is no great need for this: pylint and mypy are likely good enough.

The following regexs provide an intuitive view of how Leo defines c, g, and p:
[code]

A script could do these searches on parse trees:
- Search (in any order) for Assign, AugAssign, or AnnAssign nodes.
- Search the resulting subtrees looking for

[2021-12-30 09:38] edreamleo opened #2365 "Improve mypy coverage of Leo"
See PR #2367.

- [x] leoGlobals.py and leoNodes.py contain full mypy annotations. I have no plans to require full annotations for any other file.
- [x] Add add-mypy-annotations command.

[2021-12-31 09:48] wangzhaohe opened #2366 "add-editor CHANGE other node's body content to the Main body"
Leo Log Window
Leo 6.6b2-devel, devel branch, build c65459bf14
2021-12-06 14:58:32 -0600
Python 3.9.5, PyQt version 5.15.2
darwin
redefining abbreviation date;;
from '{|{x=time.asctime()}|}' to '{|{x=time.strftime("%Y/%m/%d")}|}'
redefining abbreviation html;;
from '<html>\n<head>\n<title><|title|></title>\n<style>\n</style>\n</head>\n<body>\n<|content|>\n</body>\n</html>' to '@first <!DOCTYPE htm

[2022-01-04 17:06] largo84 opened #2368 "@path weirdness"
Environment:

`Leo 6.4-devel, ekr-extract branch, build 8633da575c`
`2021-05-24 07:43:27 -0500`
`Python 3.7.3, PyQt version 5.9.6`
`Windows 10 AMD64 (build 10.0.19041) SP0`

1. Create a new node to match a valid path to a folder with subfolders and files, with node headline as: `@path D:\Folder`.
2. Double-click on the node to create child nodes of subfolders and files.
  * Child node headlines ta

[2022-01-04 21:51] tbpassin commented on #2368
6.4 is fairly out of date. I suggest you try it with a more current _devel_ version (like 6.6b2) to make sure that it still behaves the same.  It probably will since I don't remember reading about changes to these commands, but it would still be a good idea.

[2022-01-05 00:09] largo84 commented on #2368
`Leo 6.6b2-devel, devel branch, build 7d44a81064`
`2021-12-30 02:11:41 -0600`
`Python 3.7.3, PyQt version 5.9.6`
`Windows 10 AMD64 (build 10.0.19041) SP0`

Sorry, I always try to keep Leo current; must have gotten 'lost' in another branch (I'm not a GitHub expert). Anyway, just pulled in the most current `devel` branch and still see the same behavior as before.

[2022-01-05 03:46] tbpassin opened #2369 "help-for-command Should Expand << docstring>> Sections"
I have written some commands whose docstrings are detailed enough for me to have put them into their own << docstring >> sections.  However, in this case, F11/help-for-command only returns _<< docstring >>_.

It would be useful of docstring section references like this were expanded by _help-for-command_.

[2022-01-06 19:52] edreamleo opened #2370 "Retire the stand-alone version of Leo?"
In the page https://leoeditor.com/download.html#downloading-leo the link to "Standalone leo.exe" (https://leoeditor.com/download.html#standalone) is incorrect.

I'm not sure whether Leo should still support leo.exe.

[2022-01-09 10:19] #2365 closed

[2022-01-09 17:24] tbpassin opened #2372 "Make Current Line Highlighting The Default?"
Currently the feature to highlight the current line in body nodes is turned off by default. I haven't seen any complaints about it, but probably most people don't know it exists.  There is an item in the Help menu that explains how to turn it on but most people will probably not have spotted it.

I suggest that the default should be **on**.  That would require a single line in leoSettings.leo.

Th

[2022-01-10 12:19] edreamleo commented on #2372
When a new feature arrives in Leo, I prefer to make the relevant settings default to legacy behavior. That way nothing changes unless people opt in to the change.

[2022-01-10 12:19] #2372 closed

[2022-01-11 04:40] wangzhaohe opened #2374 "When body text lines more than 100 => body display can not scroll to bottom in vim-mode"
Leo Log Window
Leo 6.6b2-devel, devel branch, build bdd9ba7442
2022-01-10 17:30:14 -0500
Python 3.9.5, PyQt version 5.15.2
darwin

***

Use arrow key is ok but j or G.

I find this situation lives in a long time.

Is this pyqt's bug?

[2022-01-11 05:22] LewisNeal opened #2375 "unauthenticated git protocol on port 9418 is no longer supported."
I just tried to pull latest devel and received message:
$ git pull
_fatal: remote error:
  The unauthenticated git protocol on port 9418 is no longer supported.
Please see https://github.blog/2021-09-01-improving-git-protocol-security-github/ for more information._

At link see heading:
'No more unauthenticated Git'
On the Git protocol side, unencrypted git:// offers no integrity or authentication

[2022-01-11 13:20] edreamleo commented on #2375
On Tue, Jan 11, 2022 at 12:22 AM LewisNeal ***@***.***> wrote:

Iirc, I got this message several months ago. The fix must be on your
end--it has nothing to do with Leo.

No, afaik.

Edward

[2022-01-11 13:21] edreamleo opened #2376 "Add a tip: how to refer to a node from another node."
Add a tip to the [Useful Tips](https://leoeditor.com/tutorial-tips.html) page on Leo's web site.

Note: there seems to be no need to support gnx's in UNL's. The following issues have been marked "Won'tDo":

#1842: show gnx in status line.
#1868: support clickable links based on gnx's.

[2022-01-12 20:45] LewisNeal commented on #2375
The _git pull_ command is working as expected again with
Leo 6.6b2-devel, devel branch, build a492b4814d

[2022-01-12 21:01] edreamleo commented on #2375
@LewisNeal Thanks for the confirmation.

[2022-01-12 21:01] #2375 closed

[2022-01-13 11:23] edreamleo opened #2377 "Python importer fails for python 3.6"
[code]

[2022-01-13 11:34] vitalije commented on #2377
The obvious solution would be to require Python 3.7

[2022-01-13 11:53] edreamleo commented on #2377
@vitalije Imo, the python importer should continue to work with Python 3.6. Do you think that is possible?

[2022-01-13 13:11] tbpassin opened #2378 "VR3 Setting 'vr3-insert-headline-from-node' Default should be True"
The VR3 setting _vr3-insert-headline-from-node_ is documented in the VR3 docstring as True by default.  However, in leoSettings.leo it is set to False.  _True_ is the intended value. Please correct the value in leoSettings.leo.

[2022-01-13 20:23] vitalije commented on #2377
That would require substantial work. The `tokenize` module would be useless in this case and practically it have to be re-implemented in python. Why do you think that it is important to support Python3.6? That is 3 versions behind the current stable python version. Python3.6 isn't anymore on the list of active Python branches. Look [here](https://devguide.python.org/#status-of-python-branches). Py

[2022-01-14 09:28] edreamleo commented on #2377
Fixed in devel by failing (with a message) for python 3.6. Adjusted unit tests accordingly.

[2022-01-14 09:28] #2377 closed

[2022-01-16 16:38] tbpassin opened #2379 "Expat Will Need Updating For Security Fixes"
The expat xml parser has just had a number of overflow and other security fixes.  Expat is everywhere, and in Leo it's explicitly in the mypy_stubs plugin.  Nothing can be done, probably, until the updated version (2.4.3) makes its way into Pypi, Python distro updates, etc., so this is just a heads up.

See

[Expat 2.4.3 released, includes security fixes](https://blog.hartwork.org/posts/expat-2-4-

[2022-01-16 19:17] edreamleo commented on #2379
On Sun, Jan 16, 2022 at 11:38 AM tbpassin ***@***.***> wrote:

The only uses I see in Leo are of xml.sax.saxutils.escape and in the
leoOPML.py plugin. There is no such plugin as mypy_stubs.py.

Edward

[2022-01-16 19:59] tbpassin commented on #2379
That's a little weird.  I did a search with FileLocatorPro and it found a directory of that name within my Git tree for Leo:

`C:\Tom\git\leo-editor\leo\plugins\mypy_stubs`

However, I don't see that _mypy_stubs_ directory in current versions of the devel branch.  It must be left over from something from the past.  It's not something that I ever knowingly added.  I suppose there won't be any harm

[2022-01-16 19:59] #2379 closed

[2022-01-16 22:28] boltex opened #2380 "Contract-all de-hoists if the 'hoisted root' node is selected"
While trying to fix contract-all that de-hoists from any node in leointeg, I discovered that it does so in Leo but only if the 'hoisted root' node is selected. I wonder if those behaviors are related... (and if the behavior is intended? i guess not...?)

[2022-01-17 04:28] boltex commented on #2380
I would suggest that doing contract-all while hoisted, should select the 'hoisted root node', and perform a 'contract-self-and-descendants'.

Leaving the user in front of it's single, contracted, hoisted node.

(leaving the invisible 'outside-of-hoist' tree in its original state.

[2022-01-17 11:35] edreamleo opened #2381 "Document filters for the rst3 command"
Two related posts:

https://groups.google.com/g/leo-editor/c/_NOfUwJPNng/m/wkl8i-KoBgAJ
https://groups.google.com/g/leo-editor/c/WXIQUPr88Xw/m/8-SL-BMKBwAJ

[2022-01-17 23:47] wangzhaohe opened #2382 "@language vim has no effect"
Leo Log Window
Leo 6.6b2-devel, devel branch, build 84513dfa47
2022-01-14 04:25:29 -0500
Python 3.9.5, PyQt version 5.15.2
darwin

***

The comment is #, not "

    @language vim

    # set hidden
    # set noexpandtab
    # set tabstop=2
    # set shiftwidth=2

***

The same phenomenon with

    @language vimoutline

    # set hidden
    # set noexpandtab
    # set tabstop=2
    # set shiftwidth=

[2022-01-18 08:19] edreamleo commented on #2382
There is not mode/vim.py file, so `@language vim` (and the tables in leoApp.py) affects only the comment delimiters in any .vim file.

[2022-01-18 08:20] #2382 closed

[2022-01-18 16:03] largo84 opened #2383 "AttributeError message"
Environment:

`Leo Log Window`
`Leo 6.6b2-devel, devel branch, build 84513dfa47`
`2022-01-14 04:25:29 -0500`
`Python 3.7.3, PyQt version 5.9.6`
`Windows 10 AMD64 (build 10.0.19041) SP0`

I started getting this error message a few days ago when Leo launches (don't recall which update first caused it).

`Traceback (most recent call last):`

  `File "...\leo\leo\plugins\qt_gui.py", line 1226, in runM

[2022-01-20 00:42] tbpassin commented on #2383
No such problem today on

[code]

[2022-01-20 00:48] tbpassin commented on #2383
Also no such problem with the same changeset and Python 3.7.9:

[code]

[2022-01-20 09:57] edreamleo commented on #2383
@tbpassin How did you test the reported crash?

[2022-01-20 10:44] edreamleo opened #2385 "Remove more evil kwargs and faux helpers"
I particularly dislike 'redraw' flags.

[2022-01-20 13:05] tbpassin commented on #2383
The original post says "I started getting this error message a few days ago when Leo launches" so I just looked after launch. After launch, Leo seemed to run normally.

[2022-01-20 13:54] largo84 commented on #2383
To clarify, Leo launches and runs just fine (no crash). The error message shows up in the log pane in red text. It's apparently related to the tool tips window. In the past, a random tip would display at startup. Now, it doesn't.

Just pulled current this morning:

`Leo 6.6b2-devel, devel branch, build e26346f382`
`2022-01-20 05:34:03 -0500`
`Python 3.7.3, PyQt version 5.9.6`
`Windows 10 AMD64 (bu

[2022-01-20 15:03] tbpassin commented on #2383
I turned the tool tips back on (I don't normally use them) and I don't see any log messages like that.  I do get a message printed to the console:

`show_tips <PyQt5.QtWidgets.QPushButton object at 0x0000028BFE81F940>`

I don't think of that as a error message, though.

[2022-01-20 16:49] edreamleo commented on #2383
I am going to close this issue. I see no problems with python 3.9, with either Qt5 or Qt6.

[2022-01-20 16:49] #2383 closed

[2022-01-20 19:58] #2343 closed

[2022-01-22 08:22] wangzhaohe opened #2388 "Is thers a plan to support markdown table in vr3?"
I think that will be excited to support markdown table in vr3 like this!

[code]

| Shortcut | Action                |
|----------|-----------------------|
| `<M-x>`  | Normal mode           |
| `<M-c>`  | Quit current terminal |
| `<M-n>`  | Go one window left    |
| `<M-e>`  | Go one window below   |
| `<M-u>`  | Go one window above   |
| `<M-i>`  | Go one window right   |
| `<M-t>`  | Go to pre

[2022-01-22 13:22] #2385 closed

[2022-01-22 14:00] tbpassin commented on #2388
VR3 supports Markdown by sending it to a Markdown processor.  Currently I am using _python-markdown_.  This package has an extension that will do tables.  I will see if this does in fact work, and if it does, I will update VR3 to use that extension.

If it does not work, that would mean a different Markdown processor would be needed.  More than likely, it would need different code to perform the c

[2022-01-22 17:14] tbpassin commented on #2388
I have got this working.  See the attached screen shot.  If this suits you, I will put in a PR.  Just let me know.
![vr3-md-example](https://user-images.githubusercontent.com/36974235/150648683-8cd629a7-a982-4445-8355-5c7dea3167de.png)

[2022-01-23 00:03] largo84 commented on #2383
I updated my environment to Python 3.9.7:

`Leo 6.6b2-devel, devel branch, build 464d9fbbe9`
`2022-01-22 08:20:12 -0500`
`Python 3.9.7, PyQt version 5.9.7`
`Windows 10 AMD64 (build 10.0.19043) SP0`

I get a similar error as before (different error, same source file):

`Traceback (most recent call last):`

  `File "...\leo\leo\plugins\qt_gui.py", line 1228, in runMainLoop`
`g.app.gui.show_tips(c)`

[2022-01-23 00:09] LewisNeal opened #2389 "OK/Show Next Tip - no attribute 'show_tips_flag'"
At startup clicking OK/Show Next Tip gives error:
Traceback (most recent call last):
  File "N:\git\leo-editor\leo\plugins\qt_gui.py", line 1228, in runMainLoop
g.app.gui.show_tips(c)

  File "N:\git\leo-editor\leo\plugins\qt_gui.py", line 1343, in show_tips
self.update_tips_setting()

  File "N:\git\leo-editor\leo\plugins\qt_gui.py", line 1356, in update_tips_setting
if c and self.show_tips_flag

[2022-01-23 01:02] LewisNeal commented on #2383
see #2389

[2022-01-23 01:08] tbpassin commented on #2389
Not seeing that; same change set, but Python 3.9.9 on Windows.

[2022-01-23 03:54] tbpassin commented on #2383
Could be a Qt thing.  My system is using PyQt version 5.15.2.  I wouldn't have thought so, but you never know.

[2022-01-23 09:31] edreamleo commented on #2368
@largo84 What is the value of `@bool tree-declutter` ? Decluttering munges headlines.

[2022-01-23 10:41] edreamleo opened #2390 "show-tips does not properly update local @bool show-tips values"
There are multiple issues with the show-tips command, revealed by recent removal of kwargs. See the report for #2383.

[code]

[2022-01-23 10:43] edreamleo commented on #2383
On Sat, Jan 22, 2022 at 7:03 PM Rob Keeney ***@***.***> wrote:

Thanks for this report. This is a real bug, revealed by recent
refactorings. I have just created #2390
<https://github.com/leo-editor/leo-editor/issues/2390> for it. The fix will
be surprisingly tricky.

Edward

[2022-01-23 10:45] edreamleo commented on #2389
@LewisNeal Thanks.  I didn't realize you filed a new issue. I have just created #2390, so I'll close this issue.

[2022-01-23 10:45] #2389 closed

[2022-01-23 10:48] edreamleo commented on #2383
On Sat, Jan 22, 2022 at 10:54 PM tbpassin ***@***.***> wrote:

No. The bugs are clearly in Leo.

Edward

[2022-01-23 11:23] #2390 closed

[2022-01-24 03:47] wangzhaohe commented on #2388
Yes, it is wonderful. Thanks a lot!

[2022-01-24 03:49] wangzhaohe commented on #2388
Yes, it is wonderful. Thanks a lot!

[2022-01-24 03:53] tbpassin commented on #2388
All right.  It will be a few more days because I am also improving the support for MathJax math typesetting.

[2022-01-29 13:46] edreamleo commented on #2381
Completed at rev cc845ff of devel.

[2022-01-29 13:46] #2381 closed

[2022-01-30 08:57] edreamleo opened #2395 "g.recursiveUNLSearch is buggy and too complex"
g.recursiveUNLSearch is infested with kwargs.  See PR #2394.

- [x] Rewrite and rename g.recursiveUNLSearch to g.findUNL.
- [x] g.findUNL returns p if found, else None.
- [x] Make sure the following works.
    g.handleUnl('LeoDocs.leo#xyzzy --> Use g.handleUnl to select nodes', c)
- [x] Redraw in g.handleUnl, not g.findUNL.  This change could cause problems for some plugins.

**Note**: g.findUNL n

[2022-02-02 00:13] tbpassin commented on #2388
This work has been done and the PR is waiting for approv al.

[2022-02-03 13:12] tbpassin commented on #2388
This work has been merged into the devel branch.

[2022-02-03 13:12] #2388 closed

[2022-02-03 17:38] edreamleo opened #2396 "remove_duplicate_pictures.py doesn't quit properly when run as a script"

[2022-02-05 04:03] wangzhaohe commented on #2388
I have tested it and run well. Thanks for your good job!

[2022-02-05 04:11] tbpassin commented on #2388
Thank you :)

[2022-02-05 10:35] edreamleo commented on #1463
This issue became moot when Leo started using traditional unit tests.

[2022-02-05 10:47] edreamleo commented on #1054
This issue is now moot.  Leo warns about unknown args.

[2022-02-05 10:49] edreamleo commented on #994
This issue is moot now that Leo uses traditional unit tests.

[2022-02-05 10:52] edreamleo commented on #744
This issue is moot now that Ctrl-P can show previous commands.

[2022-02-05 10:55] edreamleo commented on #633
The VR3 plugin supports markdown.

[2022-02-05 10:58] edreamleo commented on #447
The VR3 plugin makes this issue moot.

[2022-02-05 11:00] edreamleo commented on #433
The VR3 plugin makes the tables.py plugin unnecessary.

[2022-02-06 12:39] edreamleo opened #2400 "Fix recent mypy problems"
See PR #2401.

[2022-02-07 01:06] #2400 closed

[2022-02-07 01:16] #2395 closed

[2022-02-07 09:19] LewisNeal opened #2402 "Quicksearch plugin traceback"
Click the Nav Tab and search for a node name which has duplicates.
I'm not completely certain how to reproduce the error, but as you type the node name and the node choices appear, this message is reported in log pane:

Uncaught exception in Leo...
Traceback (most recent call last):
  File "N:\git\leo-editor\leo\plugins\quicksearch.py", line 397, in dumper
    self.throttler.add(out)
  File "N:\gi

[2022-02-07 11:09] edreamleo opened #2403 "PR #2395 broke clickable links"
See #2394 (rewrite g.recursiveUNLSearch) and PR #2395.

Here is the legacy unlList for one mypy error:

[code]
I removed support for this syntax because I didn't know where it was generated. The new format for UNLs yields the following unlList:

[code]
**Notes**

- Only the last UNL has a trailing part, and that trailing part starts with '::' instead of ':'.

- As before, a negative line number de

[2022-02-07 11:09] #2396 closed

[2022-02-07 11:20] edreamleo opened #2404 "@button write-leoPyRef crashes"
It references old fileCommands methods called putTnode and putVnode.

For example, `@file ../plugins/remove_duplicate_pictures.py` should be part of LeoPyRef.leo.

[2022-02-07 11:28] #2404 closed

[2022-02-07 11:58] edreamleo opened #2405 "mypy shows clickable links only for the first file"

[2022-02-07 12:12] tbpassin commented on #2402
Maybe that's why I got a crash yesterday using the same pane.  I didn't notice an error and just restarted, but Leo just stopped and closed without a message as it displayed the headline hits.

[2022-02-11 11:45] LewisNeal opened #2407 "UNL traceback in linked file"
When a UNL is activated this traceback appears in the linked file tab:
Leo Log Window
Leo 6.6b2-devel, devel branch, build 50e21a633d
2022-02-07 15:21:06 -0600
Python 3.10.2, PyQt version 6.2.3
Windows 10 AMD64 (build 10.0.19042) SP0
read outline in 0.09 seconds
Traceback (most recent call last):

  File "N:\git\leo-editor\leo\core\leoGlobals.py", line 7783, in openUrlOnClick
return openUrlHelper(

[2022-02-11 11:54] LewisNeal commented on #2407
I just realised this only occurs if the UNL is in body text, which is likely not where the link should be placed :/
No traceback if the UNL is the node headline.

[2022-02-11 13:16] tbpassin commented on #2407
Not sure what @LewisNeal means by "activated", but when I CTRL-click on a UNL in a node body, it goes correctly to the right node in the referenced file even if that file needs to be opened.  I don't spot any messages. (This is with the same changeset).

[2022-02-11 19:39] edreamleo opened #2408 "test_p_nosentinels is broken"
The body of the test must be converted to node in the test app.

[2022-02-12 16:55] tbpassin opened #2410 "UNL regex includes trailing quotes, etc in UNL"
The current regex for UNLs incorrectly includes trailing characters such as quotes, apostrophes, and backticks (and others) in the matched UNL, which prevents handleUnl() from navigating to the correct location.

The effect is easy to spot since Leo colors UNLs.  The trailing character(s) are seen to also be colored.  The regex for urls does not include these characters.

Why might one use quotes

[2022-02-13 11:26] LewisNeal opened #2411 "Triangles over the Nav_qt.py "Back" and "Forward" buttons"
After update to PyQt version 6.2.3 downward pointing triangles appear over each of the Nav_qt.py "Back" and "Forward" buttons on button bar.
The triangles are cosmetic only and the buttons remain functional.

_Leo Log Window
Leo 6.6b2-devel, devel branch, build 830f777b63
2022-02-09 04:52:49 -0600
Python 3.10.2, PyQt version 6.2.3
Windows 10 AMD64 (build 10.0.19042) SP0_

[2022-02-13 23:36] #2403 closed

[2022-02-13 23:52] edreamleo commented on #2402
Rev 6582d5a in devel should fix this problem.

[2022-02-13 23:52] #2402 closed

[2022-02-14 00:05] edreamleo commented on #2407
Fixed at ref cf20ab9 in devel.

[2022-02-14 00:05] #2407 closed

[2022-02-14 00:21] edreamleo commented on #2410
Fixed at rev 641d03 in devel.

[2022-02-14 00:21] #2410 closed

[2022-02-14 05:36] tbpassin opened #2412 "Leo Forgets To Reopen Outlines, Loads Cheatsheet Then Closes It"
When Leo opens, after loading the first file from the previous session (workbook.leo), Leo then opens CheatSheet.leo briefly (which had not been open), then closes it and fails to load any other of the previously open outlines.  The Leo splash screen is visible throughout this process.

This is new behavior.  Deleting the  ~/.leo/db folder did not fix it, but after doing so Leo isn't remembering i

[2022-02-14 12:07] edreamleo opened #2413 "Ctrl-clicks on pasted unls don't work"
- Copy the unl from the status line.
- Paste into another node.
- Ctrl-clicking the unl doesn't work.

[2022-02-14 14:57] edreamleo commented on #1842
I am going to close this issue. New-style gnx's should suffice.

[2022-02-14 14:57] #1842 closed

[2022-02-14 14:57] #433 closed

[2022-02-14 15:48] #2413 closed

[2022-02-14 15:57] edreamleo opened #2415 "Allow QtWebEngineWidgets in PyQt6"
Apparently, in PyQt6, QtWebEngineWidgets must be imported before creating the main Qt app.

Thomas will create a new PR for this issue.

[2022-02-14 17:47] tbpassin commented on #2415
As I wrote in a Google Groups thread, it can be done more gracefully.  Let's give a bit more aging time before diving in.

[How To Import QtWebEngineWidgets using PyQt6](https://groups.google.com/g/leo-editor/c/3PuBaCztf5A)

[2022-02-14 22:12] edreamleo commented on #2415
@tbpassin Please create your own PR for this, based on your own branch.  Thanks.

[2022-02-14 22:30] edreamleo commented on #1510
I am going to reopen this issue.  See this post:
https://groups.google.com/g/leo-editor/c/m1cIciVq_6g/m/9Zb0aH3ACAAJ

[2022-02-14 22:51] edreamleo opened #2418 "Don't change blank lines when indenting"

[2022-02-14 23:11] edreamleo commented on #2415
Fixed at rev 73a343fa9a via a PR from Thomas.

[2022-02-14 23:11] #2415 closed

[2022-02-15 05:00] tbpassin opened #2420 "New Command To List Leo Commands With Docstrings"
Currently one can get a listing of Leo's commands from the Settings Menu.  But if  you don't know what they do, it's awkward and time-consuming to find out.  There are about 1000 of them.  To use the list that is shown in the Commands tab is nearly impossible.  I usually copy it to the clipboard and paste the list into a text editor (and the same for Bindings lists), then search for likely command

[2022-02-15 14:49] #2418 closed

[2022-02-15 15:24] edreamleo commented on #1510
Fixed at rev 5234c8b in devel. The test failure noted above results from the failure to create a Python 3.6 environment.

[2022-02-15 15:24] #1510 closed

[2022-02-15 15:26] edreamleo opened #2421 "TravisCI: Error: Version 3.6 with arch x64 not found"
See: https://github.com/leo-editor/leo-editor/runs/5202493680?check_suite_focus=true

Not sure what this means. Presumably we may need to change the TravisCI arguments.

**Update**: The test fails in 'master' with the 'ekr-test' branch that adds only a comment, so recent commits have nothing to do with this issue.

[This issue](https://github.com/actions/setup-python/issues/162) may be related.

[2022-02-15 15:39] tbpassin commented on #2421
Could the archx64/python3.6 VM have been automatically updated such that 3.6 was removed or taken off the path?  I could see that happening via an ordinary OS update.

[2022-02-15 16:16] tbpassin opened #2423 "Leo Is Inserting The Cheat Sheet into my Workbook On Every Leo Start"
Every time I've started Leo for the last few days, a copy of the Cheat Sheet outline is getting inserted into my workbook outline.  Sometimes it gets inserted at the end, sometimes the beginning, sometimes in the middle.  Sometimes some of the child nodes end up at the top level.

I deleted the db folder once but it's still happening.

This is extremely annoying, and in deleting the unwanted nodes

[2022-02-15 16:45] edreamleo commented on #2423
On Tue, Feb 15, 2022 at 10:16 AM tbpassin ***@***.***> wrote:

I'm sorry to hear that!

How exactly are you opening the workbook? The following works for me:

python39 c:\leo.repo\leo-editor\launchLeo.py

But something is strange. workbook.leo is (as expected) an empty shell, but
it exists in my home directory, not the home/.leo directory as reported at
the top of the .leo file!

This is surely re

[2022-02-15 17:25] tbpassin commented on #2423
There's something else seriously wrong here.  There is nothing in the .leo/db folders.  So where could this phantom worksheet be coming from????  Also, why isn't Leo storing at least its size and open outlines in the db folders?

[2022-02-15 18:16] tbpassin commented on #2423
I'm beginning to see the light here.  I went back to a commit from 7 months ago, and starting with no workbook, Leo creates one and loads it with starter material.  This starter material is exactly what has been getting added to my own, preexisting workbook in recent builds.

[2022-02-15 18:39] tbpassin commented on #2423
Found it!  The first commit to devel that has this behavior is:

[code]

The behavior happens whether or not I have deleted the db folder.  But it seems to not happen sometimes the first time after I switch to a different commit - don't know how that can be.  Leo opens the workbook.leo outline, then opens the cheatsheet outline, then apparently copies it into the workbook  and then closes the chea

[2022-02-15 19:32] tbpassin commented on #2423
More information: when I've had several outlines open when I closed Leo, then when I re-open it only the workbook outline gets opened, and  the cheatsheet outline inserted into it.  The other files that were open don't get opened.  But  `g.app.sessionManager.load_snapshot()`, which is supposed to be the list of outlines to open, does include the other files (at least, once Leo has staibilized afte

[2022-02-15 21:14] tbpassin commented on #2423
I may have found the bug.  In `LM.openEmptyWorkBook()`, we have:

[code]

So even if the workbook file exists, we will go ahead an create one unless we are in  `g.app.batchMode`.  It seems like the _and_ should be an _or_.

Fixing this still leaves the matter of not reopening the other files in the last session even though the session file contains them.

[2022-02-15 22:38] edreamleo commented on #2423
On Tue, Feb 15, 2022 at 11:25 AM tbpassin ***@***.***> wrote:

I'm investigating.

Edward

[2022-02-15 22:45] edreamleo commented on #2423
On Tue, Feb 15, 2022 at 12:16 PM tbpassin ***@***.***> wrote:

Yes. That's not surprising.

Edward

[2022-02-15 22:47] edreamleo commented on #2423
On Tue, Feb 15, 2022 at 11:25 AM tbpassin ***@***.***> wrote:

leo-editor/leo.session contains a list of UNL's. This may be part of the
problem.

I suspect that the relevant code is in LM.doPostPluginsInit.

As you say in another post, the commit that changed UNL's caused the
problem.  The workaround, for now, is to specify the files you want to open
explicitly, rather than rely on the session mac

[2022-02-15 22:49] edreamleo commented on #2420
@tbpassin Iirc, there is a script that finds functions, classes and methods w/o docstrings.

[2022-02-15 23:17] edreamleo commented on #2423
On Tue, Feb 15, 2022 at 3:14 PM tbpassin ***@***.***> wrote:

Yes.  Looks like you have.

Also, the change in the format of UNL's affects
SessionManager.load_session.  In the loop, just before:

    i = unl.find("#")

it looks like the following two lines should be inserted:

    if unl.startswith('unl://'):  # #2412.
      unl = unl[len('unl://'):]

I've got to go now, but feel free to experiment

[2022-02-15 23:31] tbpassin commented on #2423
Yes, I just found that too.  The UNLs are being treated as file names, so they can't be found by os_path_exists.

I'm more inclined to write

[code]

But that's a trivial matter of taste.

I wonder where else this change might cause similar issues.

[2022-02-15 23:33] tbpassin commented on #2423
OK, I'm going with
[code]

I'll put in a PR for these two fixes.

[2022-02-15 23:39] tbpassin commented on #2420
I wrote a script to list all plugins with their docstrings, if that's the one you are thinking of. I think it's in scripts.leo, IIRC.

[2022-02-16 02:28] tbpassin commented on #2423
I've been getting messages from Github about this PR failing because of the Python 3.6 issue.  I've never gotten PR messages before, and since it's my PR I don't think I should be the one to give approval (if in fact I can even do that) despite the failed CI test.

Edward, how do you suggest I should proceed, or should I just leave it to you?

[2022-02-16 07:22] edreamleo commented on #2423
@tbpassin The TravisCI failures are annoying, but that's a separate issue. I just merged your work into devel, which also closes this issue.

[2022-02-16 07:22] #2423 closed

[2022-02-16 07:23] edreamleo commented on #2412
PR #2424 closes this issue.

[2022-02-16 07:23] #2412 closed

[2022-02-16 20:29] edreamleo commented on #2421
PR #2429 works around this problem.

[2022-02-16 20:29] #2421 closed

[2022-02-16 20:31] edreamleo commented on #2370
PR #2429 suppresses the generation of leo.exe.

[2022-02-16 20:31] #2370 closed

[2022-02-16 21:00] edreamleo commented on #2369
What command are you talking about?

[2022-02-16 21:47] tbpassin commented on #2369
The one invoked by F11.  A command (e.g., mine) has a longish docstring with a <<section>> or two.

[2022-02-17 06:23] tbpassin opened #2430 "CTRL-Click in <<named section>> Should Navigate To Its Node"
Much as a CTRL-click on a URL in the body will open the URL in a browser, and CTRL-click on a UNL will navigate to the corresponding  outline location, I would like to have a CTRL-click on a \<\<named section\>\> navigate to the node having that headline in the same outline (or more likely, in the same @file or @clean tree).

This capability would reduce the amount of scrolling and searching neede

[2022-02-17 10:23] edreamleo commented on #2369
@tbpassin I was asking which of your commands has a docstring contained in a section reference.

Anyway, I am inclined not to do this item. The relevant code is g.getDocStringForFunction. This function does not have easy access to the position that contains the function/method/class whose docstring we want. I do not want to further complicate g.getDocStringForFunction.

Instead, there should be a

[2022-02-17 10:27] edreamleo commented on #2430
@tbpassin I am not going to do this myself. I will consider a PR that implements this feature, but be warned: I will not accept a PR that significantly complicates the existing UNL code. I will not assign a milestone to the feature until I accept a PR.

[2022-02-17 10:39] edreamleo commented on #2408
Fixed at rev ca85726 in devel.

[2022-02-17 10:39] #2408 closed

[2022-02-17 11:03] edreamleo commented on #2405
Fixed at rev 0d48da5 in devel.

[2022-02-17 11:03] #2405 closed

[2022-02-17 11:06] edreamleo commented on #2420
Please file a PR for this issue. I'll be glad to answer questions.

[2022-02-17 11:13] edreamleo opened #2431 "Add mypy annotations to importer and exporter plugins"
See PR #2432.

- [x] mypy passes all importer plugins.
- [x] mypy passes all exporter plugins (no changes required).

[2022-02-17 12:04] #2431 closed

[2022-02-17 12:08] edreamleo commented on #2411
@LewisNeal Yes, I see this.

[2022-02-17 12:39] tbpassin commented on #2369
Yes, the command that elicited my issue does start with \<\<docstring\>\>:

[code]

The Leo display for the F11 command is:

`no docstring available`

Previously I have also tried `"""<< docstring >>"""`, as I thought you had advised a while ago (but won't work now since the section has to be alone on its own line), and then F11 simply reported `<< docstring >>`.

The other variation that doesn't

[2022-02-17 13:37] edreamleo commented on #2369
@tbpassin Thanks for the new info.  I'll take a look and see whether some solution is possible.

[2022-02-17 15:26] edreamleo commented on #2369
Rev 9085b40 in devel converts the docstring for the vr3-plot-2d command:

- Moved the docstring from the plot_2d function to the vr3_plot_2d function.
- Flattened the docstring.

With these changes, help-for-command works for vr3-plot-2d.

This rev also suppresses a traceback:

`AttributeError("'QWebEngineSettings' object has no attribute 'DefaultFontSize'")`

I hope you don't mind.  Imo, this kin

[2022-02-17 16:16] tbpassin commented on #2369
I was just about to tackle the AttributeError, which I noticed a few days ago.  That's one of those qt5 vs qt6 things, I think.  Setting that default font size isn't of much practical effect, I  think - I think my standard stylesheets all set it anyway, IIRC.  I'll take a look at this new changeset in a bit.

[2022-02-17 16:47] tbpassin commented on #2369
Looking at this changeset, I'm happy that the docstring displays.  I'm less happy about the need to flatten it, though I can live with that.  And I'm quite unhappy about there now being no docstring in the command that does all the actual work.

Let me chew on that last for a while, see if I can come up with something to fill the gap.

[2022-02-17 18:19] edreamleo commented on #2369
@tbpassin I'll close this issue, but I'll be happy to look at a PR.

[2022-02-17 18:19] #2369 closed

[2022-02-17 18:20] tbpassin commented on #2369
I have other commands that are defined in an @command node in the @commands tree, and their `<< docstrings >>` are not getting picked up.

[2022-02-17 22:31] #2341 closed

[2022-02-18 11:41] edreamleo commented on #2366
I can not reproduce this problem. I am going to close this issue. Please reopen only if you can provide a way to reliably reproduce the problem.

[2022-02-18 11:41] #2366 closed

[2022-02-18 11:46] edreamleo commented on #2368
@largo84 Decluttering changes the *apparent* headlines, based on patterns. Clicking the headline shows the "real" headline. Imo, this is a confusing option. The default value for `@bool tree-declutter` is False in leoSettings.leo.

Hmm. I'm wondering whether decluttering somehow is being enabled by mistake.  I'll investigate.

[2022-02-18 12:02] edreamleo commented on #2368
I am going to close this issue. Please reopen only if you can provide a reliable way of reproducing the problem.

[2022-02-18 12:05] edreamleo commented on #2279
I am going to close this issue. Please reopen if you have more questions.

[2022-02-18 12:05] #2279 closed

[2022-02-18 12:21] edreamleo commented on #2374
The 'gg' and 'G' keys work for me with:

Python 3.9.6, PyQt version 6.2.3
Windows 10 AMD64 (build 10.0.22000) SP0

[2022-02-18 12:21] #2374 closed

[2022-02-18 13:23] tbpassin commented on #2279
@wangzhaohe, I did _ALT-x rectangle-open_  and did a selection but only got an ordinary selection, not a rectangular one.  If that's not the way to do it, then the whole thing is so obscure that it's as if it isn't a real feature.  Also, I don't know what the emacs-like _yank_ does with regard to getting something into the ordinary clipboard., which is what I expect.

Yes, I knew about those comma

[2022-02-18 14:58] edreamleo commented on #2279
@tbpassin rectangle-open uses the beginning and ending columns of the selection as the column markers.  For example, let the body text be:

[code]
Now select everything except the first and last characters (not including the trailing whitespace.  rectangle-open should give you
[code]
HTH.

[2022-02-18 15:21] tbpassin commented on #2279
IMHO, if you are selecting in rectangle mode then the selection highlight should be exactly that rectangle. For example, Notepad++ visibly selects a column if you hold the ALT key down while selecting with the mouse or arrow keys.  That's the capability I was hoping for.

[2022-02-18 16:19] #2232 closed

[2022-02-18 16:21] #1723 closed

[2022-02-18 16:23] edreamleo commented on #189
There is less need for this now that UNL's have been simplified.

[2022-02-18 16:23] #189 closed

[2022-02-18 16:28] edreamleo commented on #2364
It may be possible to use mypy technology in pylint, but that's not a Leo-related project.

[2022-02-18 16:28] #2364 closed

[2022-02-18 16:29] edreamleo commented on #1873
Imo, these commands aren't very important.

[2022-02-18 16:29] #1873 closed

[2022-02-18 17:51] edreamleo commented on #2279
@tbpassin Fair enough. I doubt if many people use the rectangle commands, so feel free to create a PR that works as you would like :-)

[2022-02-18 18:28] edreamleo commented on #2376
Completed at rev 1adc977 in devel.

[2022-02-18 18:28] #2376 closed

[2022-02-18 18:39] #1329 closed

[2022-02-18 18:40] tbpassin commented on #2279
Pretty challenging if there is wordwrap going on! I think the editors I know about disallow rectangle mode if they are wordwrapping.

[2022-02-18 19:03] edreamleo commented on #2328
I am going to close this issue for the following reasons:

- The present code works surprisingly well.'
- Trying to improve the code would be extremely complicated, and would likely cause subtle bugs.
- Users can use the 'redraw' command to force a full redraw.
- The redraw code in leointeg or leojs is completely different from Leo's jEdit colorizer.

[2022-02-18 19:03] #2328 closed

[2022-02-18 19:08] edreamleo commented on #2420
@tbpassin scripts.leo contains a script called "script: Print missing docstrings (obsolete)".  I'll attempt to adapt this script for a 'show-missing-docstrings' command.

I'm not sure this command is worth doing, but I'll give it a try.  Let me know if you have already started work on this issue.

[2022-02-18 19:37] edreamleo commented on #2420
Here is a script that provides some useful data:
[code]
One might want to extend this script so that it finds the nodes that define the functions w/o docstrings. One could then use that to create a predicate for c.cloneFindByPredicate.

I would like to take this issue "off line" for Leo 6.6. Feel free to create a PR, but I'm not going to do anything more.

[2022-02-18 19:39] tbpassin commented on #2420
I found it's easy as pie to print a commands list with docstrings.  I already have a command working.  The only problem - of course - is if the docstring is contained in a `<< named section >>`.  It seems to me that that the script already been expanded at the time it is registered in the commandsDict, so you can't recover the named section.   If you could know where the source code is for each co

[2022-02-18 19:53] edreamleo commented on #2420
@tbpassin I'll look forward to your work!

[2022-02-18 23:10] edreamleo commented on #2234
Run all coverage tests with: `python -m pytest --cov-report html --cov-report term-missing --cov`.

Here are the initial results:
[code]

[2022-02-19 01:12] LewisNeal opened #2433 "Using Ctrl-s and Restart Leo?, Leo Forgets To Reopen Outlines"
If I use Ctrl-s to save a leo file I get message
"g:/my drive/editor/workbook.leo has changed outside Leo. Restart Leo? Yes/No"

press Yes and Leo then opens a workbook file in my home directory - a different path
If other files were open when Leo closed they do not reopen. Similar behaviour in #2412

_Leo Log Window
Leo 6.6b2-devel, devel branch, build ae2cf5da30
2022-02-18 17:12:15 -0600
Python

[2022-02-19 02:02] tbpassin commented on #2433
in SessionManager.save_snapshot(), when closed with the window's close box, the session contains the open windows.  When closing with CTRL-q, the session list is empty.  Wierd!

[2022-02-19 02:21] tbpassin commented on #2433
In SessionManager.get_session(), which is called during the exit command, if Leo is closed with CTRL-q, get_session() is called **twice**.  The second time leads to the empty sesssion list of windows, which is then saved, overwriting the previous correct session list.

When Leo is closed by clicking on the window's close box, get_session() is called only once.

[2022-02-19 02:45] tbpassin commented on #2433
Running Leo with --trace=shutdown, the trace outputs a list of calls ending with

[code]
That's with using the close box.  However, using CTRL-q, after these two calls,  `get_session()` is called **again**.

I'm stuck here for now.  I can't see how this happens.

[2022-02-19 03:11] tbpassin commented on #2433
I found a _qt_gui.close_event_, which also calls `save_snapshot()`. Maybe there is a hook that calls _qt_gui.close_event_ on closing, which might account for the double call to `get_session()`.

[2022-02-19 04:51] tbpassin commented on #2433
When the window's close box is clicked, the _exit-leo_  command is not called.  When Leo is closed using CTRL-q, the command is called.  It seems strange that Leo would shut down differently.

[2022-02-19 12:55] tbpassin commented on #2433
So in the end, the solution is simple.  First, add the import of _QCloseEvent_ to leoQt5 and leoQt6. Import it in the _imports_ section of leoApp.py. Then for the _exit-leo_ command in leoApp.py, the entire command becomes:
[code]

Doing it this way also lets us avoid having to figure out the problem with the existing code for this command.  If @Edward agrees with this solution, I'll put in a PR.

[2022-02-19 13:09] edreamleo commented on #2368
@largo84 Thanks for the clarification. I'll reopen this issue and look into it more closely.

[2022-02-19 13:13] edreamleo commented on #2433
@tbpassin Excellent detective work. Please file a PR. Thanks!

[2022-02-19 14:12] edreamleo commented on #2433
Fix by PR #2434.

[2022-02-19 14:12] #2433 closed

[2022-02-19 14:15] edreamleo commented on #2368
@tbpassin Thomas, would you care to attempt a fix?

[2022-02-19 16:59] tbpassin commented on #2368
OK - can you give me a hint about finding these double-click events?

[2022-02-19 19:31] tbpassin commented on #2368
_"Notice that after double-clicking the parent @path D:\Folder node, the headline text becomes: D:\Folder (inexplicably removing the @path prefix)."_

This didn't happen in my quick tests.  Double clicking and the active-path-load-recursive seemed to work the same.

_"What is the difference in expected behavior between active-path-load-recursive and active-path-act-on-node? There is some F11 help

[2022-02-20 04:44] tbpassin opened #2437 "Distinguish Between Visible and Invisible Changes For Changed Outlines"
When Leo thinks an outline has been changed, it shows an asterisk in its tab, and puts up a save dialog if you try to close it.  This is essential behavior ... except that save-worthy changes include invisible things like setting or unsetting marks on nodes, changes that do not involve changed text or outline organization, for example.

I often find I'm not sure if I want to save a changed outline

[2022-02-20 11:45] LewisNeal opened #2438 "clickable link broken. no attribute 'es_clickable_link'"
I get this message when running a script containing a clickable link.

Traceback (most recent call last):

  File "N:\git\leo-editor\leo\core\leoCommands.py", line 723, in executeScript
c.executeScriptHelper(args, define_g, define_name, namespace, script)

  File "N:\git\leo-editor\leo\core\leoCommands.py", line 764, in executeScriptHelper
exec(compile(script, scriptFile, 'exec'), d)

  File "C:/U

[2022-02-20 13:38] edreamleo commented on #2438
On Sun, Feb 20, 2022 at 5:45 AM LewisNeal ***@***.***> wrote:

...

My apologies for the inconvenience. Rev 7a8e3d7
<https://github.com/leo-editor/leo-editor/commit/7a8e3d761a9eb133a92ae789959a33dcf18b4f9f>
in devel restores a new, tested, version of g.es_clickable_link.

g.es_clickable_link borders on a faux helper, but I think it's worthwhile
to retain it for compatibility.

Edward

[2022-02-20 13:40] edreamleo commented on #2438
Fixed at rev 7a8e3d7 in devel.

[2022-02-20 13:40] #2438 closed

[2022-02-20 13:45] edreamleo commented on #2437
On Sat, Feb 19, 2022 at 10:44 PM Thomas Passin ***@***.***>
wrote:

The simplest thing is to leave things as they are.

Use the git-diff command to discover what text changes you have made
recently.

I have zero interest in complicating Leo to solve a workflow problem.

Edward

[2022-02-20 20:05] LewisNeal commented on #2438
Thanks Edward. I noticed the two show-clone commands clickable link feature still worked and seemed to use UNL code.
Could the revised UNL code replace the older clickable link feature?

[2022-02-20 21:37] edreamleo commented on #2438
On Sun, Feb 20, 2022 at 2:05 PM LewisNeal ***@***.***> wrote:

You're welcome.

Yes.  Just do a cff on 'nodeLink' to see the present applications. There
were two main changes to the UNL-related code:

- p.get_UNL() no longer takes any keyword args.
- new-style UNL's can optionally end in '::' followed by a line number.
old-style UNL's end in ':' followed by up to 4 ints.

Edward

[2022-02-21 17:59] edreamleo opened #2439 "build_rclick_tree handles @others in a non-standard way"
In build_rclick_tree (mod_scripting.py) looks up `@others` in a non-standard way.

This may cause problems for any script that using `@others` for a purpose other than the usual, typical `@others` directive itself.

There's a method in g or in c to get the directives used in a node.

[2022-02-22 12:30] #2439 closed

[2022-02-22 13:24] hongyi-zhao opened #2443 "Debug the script written in Tcl programming language within `leo-editor`."
Can I debug the script written in [Tcl](https://www.tcl.tk/) programming language within `leo-editor`? Are there any examples/tutorials for this type of work?

Regards,
HZ

[2022-02-22 15:14] edreamleo commented on #2443
@hongyi-zhao Leo can colorizer tcl scripts, but afaik Leo has no way to execute or debug tcl scripts directly.

It should be straightforward to invoke tcl scripts from Leo using an `@button` script. That script would run tcl in a separate process, say with g.execute_shell_commands.

Note that scripts.leo contains several old tcl scripts.

[2022-02-22 15:14] #2443 closed

[2022-02-22 16:09] largo84 commented on #2368
Thanks for looking into it, @tbpassin. Other than a small difference in Python version and PyQt, I don't know what else might cause my experience to differ from yours.

`Python 3.9.7, PyQt version 5.9.7`

I suppose that until/unless others can duplicate the issue we should close it for now. It's not a deal-breaker, just an annoyance and there's a known workaround.

[2022-02-22 16:09] #2368 closed

[2022-02-22 17:24] edreamleo commented on #2368
@largo84 Thanks.  Feel free to reopen if you get more insight :-)

[2022-02-24 15:30] edreamleo opened #2446 "Crash in leoAst.py while beautifying viewrendered3.py"
See PR #2447. The crash arises from this statement at line 854 of viewrendered3.py:
[code]
Here is the traceback:
[code]

[2022-02-24 22:11] tbpassin commented on #2446
Yes, just go ahead and change it to, say:

[code]

This  doesn't crash but also doesn't give you an error message that VR3 didn't start, except for a message that one if it's commands isn't available.  But how could this happen unless some major part of pyqt wasn't there - in that happens, we've got bigger problems anyway?

[2022-02-25 05:31] tbpassin opened #2448 "g.handleUrl() Fails When Node Headline Ends With Space"
To demonstrate:
1. Create a node with some headline.
2. Copy its unl; for example, by selecting and copying from the status line, or by using getUNL().
3. In another node, paste the unl from above.
4. CTRL-click the unl string.
5.  Verify that the target node becomes selected as expected.
6. Add a space to the end of the target node's headline.
7. Repeat steps 2 - 4.
8. Observe that the selected n

[2022-02-25 06:01] tbpassin commented on #2448
IMO, `p.get_UNL()` should return the equivalent of unl.strip(), and `g.handleUnl()` should operate on unl.strip().  This way, accidental leading or trailing spaces will not prevent navigating to the target.

[2022-02-25 08:32] edreamleo commented on #2446
@tbpassin The VR3 crash is merely a symptom of a bug in leoAst.py which must be fixed.  I definitely do *not* want to make this bug go away by changing VR3.

[2022-02-25 08:36] edreamleo commented on #2448
@tbpassin Thanks for this report. I agree that this bug should be fixed. I'm not sure exactly how to do that, but it shouldn't be too difficult.

[2022-02-25 09:26] #2446 closed

[2022-02-25 13:20] #2448 closed

[2022-02-25 17:29] tbpassin commented on #1664
This feature has been included in Leo for some time now.  By default it is not turned on.  The setting to turn it on is ``@bool highlight-body-line``.  There is a item in the Help menu about its settings, in *Help/Open Help Topics/Help-For-Highlight-Current-Line*.

[2022-02-25 17:29] #1664 closed

[2022-02-25 20:23] tbpassin opened #2451 "Wrong Theme Name Reported After Loading a New Theme File"
When a new theme outline is opened, the current version of Leo opens it, and then all open tabs change to use the new theme.  That's a desired feature.

However, in the situation, the method `g.app.loadManager.computeThemeFilePath()` returns the original theme, not the one currently in effect.  There seem to be some other theme-related methods that also return the old values.  I can see the effect

[2022-02-26 03:11] edreamleo commented on #2451
@tbpassin Thanks for this report, and your continued careful testing.

[2022-02-27 03:02] tbpassin opened #2452 "Theme's Stylesheet May Be Getting Expanded Every Idle Period"
See PR #2456 and PR #2478.

I have been working on code to automatically pick up theme colors and recolor my output to match the applied theme.  While testing on all the themes in Leo's theme directory, I have noticed really strange behavior. It looks like the stylesheet is getting expanded either on most body keystrokes or (more likely) at every idle period.

This occurs using the "swotlight" the

[2022-02-27 11:04] edreamleo opened #2454 "Saving leoPyRef.leo creates big diff"
Félix:  I just finished a small fix in leo's codebase and realized that saving LeoPyRef.leo makes big 'diff' when it shouldn't even change at all,  like it did a little while ago... hopefully this can be fixed again in a more permanent way.

@boltex I am not aware of any recent changes in this regard. I'll investigate.

[2022-02-28 21:39] SegundoBob opened #2455 "leoG.findUNL() always returns None when the UNL does not contain any "-->", that is, it cannot find any root node"
I do not know whether or not this is a bug.  That is, I don't know if any objectionable Leo-Editor behavior results.

I think it is unlikely that this is the intended behavior.  I consider it objectionable edge-case behavior, but I didn't write it and I don't maintain it.

I found 11 calls to leoG.findUNL() in leoPyRef.leo.  These are 11 places where objectionable edge-case behavior could occur.

[2022-02-28 23:18] tbpassin commented on #2455
I wondered about it being a g.*** instead of a c.*** method too.  But it might navigate you to a different outline, so I think it makes some sense because it doesn't only involve the current c.

[2022-03-01 11:06] edreamleo commented on #2455
@SegundoBob

A quick test shows that control-clicking a UNL without any "-->" does work.

Yes, it would be more logical to do the split inside g.findUNL, and it would be reasonable to make findUNL a commander method. However, all such changes could break existing scripts, so I am inclined not to make any such changes.

Hmm. g.findUNL could test the type of the unlList1 arg, and do the split if the

[2022-03-01 23:36] SegundoBob commented on #2455
@edreamleo wrote "A quick test shows that control-clicking a UNL without any "-->" does work."

 I'm glad to hear this.  I never claimed your test above would not work.  I claimed and I still claim that leoG.findUNL() returns None when given a valid UNL for a root node.

This is shown by executing Ctrl+B on the only node in the Leo-Editor  file in the zip file attached below:

[findUNL.zip](https:

[2022-03-02 01:19] tbpassin commented on #2455
@SegundoBob,  I didn't mean to sound like I was doubting what you said.  I only did a few tests to see what the boundaries of the problem are.

After more testing, I have found that `g.handleUnl()` navigates correctly when there is a trailing hash character and no '-->'.  My earlier testing was done using CTRL-clicks.  And calling `g.findUNL()` agrees with what you have reported.

So `g.findUNL()`

[2022-03-02 09:11] edreamleo commented on #2455
I'll reopen this issue as a placeholder for the change given above.

[2022-03-02 09:15] #2455 closed

[2022-03-02 09:29] edreamleo commented on #2452
@tbpassin Traces in expand_css_constants and ssm.do_pass do not show any activity at idle time or on keystrokes. It's possible that decluttering might trigger calls to expand_css_contants, but I don't think this is a serious issue.

[2022-03-02 13:07] tbpassin commented on #2452
I'm not using decluttering as far as I know.  The situation in which I saw the behavior was when the theme called for symbolic values (i.e., starting with "@") that were not defined elsewhere in the theme.  It only occurred for typing or mousing in the body, not the headline.

My concern is not whether a faulty theme is being handled correctly despite its error, but that this behavior might be goi

[2022-03-02 16:47] edreamleo commented on #2452
@tbpassin Better yet, please insert g.trace(g.callers()) into the routines you suspect of being called too often.

[2022-03-02 17:54] edreamleo commented on #2454
@boltex I'm not sure there is any problem with the present code.

Rev dd0fad in devel updated the script `@button write-leoPyRef`, and since then there has only been one smallish change to LeoPyRef.leo.

It would seem to be difficult to compare LeoPyRef.leo across ref dd0fad, because the script that created LeoPyRef.leo has changed!  For now I'm good with the script and its results.

[2022-03-02 17:54] #2454 closed

[2022-03-03 08:10] edreamleo commented on #2455
A comment about the signature of g.findUNL. If we were to use a string argument instead of a list, we would want to test the format of that string, just as at the start of g.handleUnl.

[2022-03-03 08:21] edreamleo commented on #2451
@tbpassin In my tests the syntax colors do change to those specified in the newly-loaded theme file.

Handling theme data is a complex startup issue. I would rather not change anything unless truly necessary.

I am going to close this issue, but I will consider a PR.

[2022-03-03 08:21] #2451 closed

[2022-03-03 14:33] tbpassin commented on #2451
I think I'm getting an understanding here.  Yes, the colors change after a new theme has been loaded, but not because the new theme file has been loaded as a theme.  Instead, all the settings in the file get read as would any settings.  They override the previous settings - that is, there is no distinction between theme settings and any other settings.  In fact, any outline might have settings tha

[2022-03-03 15:11] edreamleo commented on #2451
@tbpassin Thanks for this update!  It's great news.

[2022-03-04 16:34] tbpassin opened #2458 "Undoing Everything Should Clear The Outline's Dirty Status"
In some editors (e.g., EditPlus and VSCode), if you open a file, type into it, and then undo all the typing, the file's "dirty" status gets changed back to "clean".  This is convenient, and helps you avoid getting confused if you really undid everything, or doing an unnecessary save.  Leo does not behave this way.

There are workarounds, such as _Revert To Saved_, but they are less convenient.

I

[2022-03-04 20:48] edreamleo commented on #2458
Iirc, Leonistas have discussed this or similar issues in the past. Leo's undo state is complex, and there are cases where undoing "everything" might not do what is expected. I'd like to leave things as they are now.

[2022-03-04 20:48] #2458 closed

[2022-03-06 15:59] tbpassin opened #2459 "Zoom-in/zoom-out Fail For Non-integer Font Sizes"
I use a fractional font size (10.6 pt) in some themes.  It turns out that the zoom-in and zoom-out commands require the font size to be an integer, e.g.:

[code]

It would seem harmless to change  the calculation to:

[code]

Is there any reason this wouldn't be all right? (There might be several places that would need changing)

[2022-03-06 16:11] tbpassin opened #2460 "Zoom-in, Zoom-out Should Work for All Leo Elements"
The zoom-in and zoom-out commands only apply to the body font size.  Recently I have been trying to run Leo on a small tablet, and I'm having a tough time making Leo usable.  Even if I use the zoom-* commands, and even if I tinker with font-sizes in the theme outline, I find it nearly impossible to get everything visually usable. Menu item font sizes are way too small, tabs are so small they are h

[2022-03-06 18:37] tbpassin opened #2461 "Freewin Added Comment Re Pylint No Longer Applicable?"
A comment has been inserted into plugins/freewin.py just after the docstring:

`# This file hangs pylint.`

It doesn't hang on my machine, Qt5.  In fact, pylint scores it at 9.97.  Can I remove this comment sometime, or is there something I don't know about here?

[2022-03-06 21:11] LewisNeal opened #2462 "iLeo not working"
Running iLeo the QtConsole does not load.

Empty setting name in False
set parent @settings
Leo 6.6-rc1-devel, devel branch, build 9cd7803270
2022-03-04 07:45:45 -0600
VR3: *** No nbformat
[snip]

To connect another client to this kernel, use:
    --existing kernel-7480.json
ERROR:tornado.application:Exception in callback functools.partial(<function Kernel.enter_eventloop.<locals>.advance_eventloo

[2022-03-06 23:05] tbpassin commented on #2462
This seems to be a bug in ipython.  In the last two lines of the traceback, `QtCore.QSocketNotifier.Read` should be `QtCore.QSocketNotifier.Type.Read`

You could try fixing that in _eventloops.py_, and if that works, file a bug with ipython.  Or maybe there's a newer version that has it fixed.

[2022-03-07 09:39] LewisNeal commented on #2462
I fixed _eventloops.py_ as suggested.  This is the new traceback:

[snip]
File "C:\Users\lewisneal\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel\eventloops.py", line 121, in loop_qt4
    _loop_qt(kernel.app)
  File "C:\Users\lewisneal\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel\eventloops.py", line 105, in _loop_qt
    app.exec_()
AttributeError: 'QApp

[2022-03-07 13:00] tbpassin commented on #2462
Too bad, that would have been simple.  Well, it doesn't seem to be a Leo problem, so I would suggest that you file a bug with them.

One possibility - if you are using PyQt6, it might still work with PyQt5.  There were some pesky changes with pyqt6, and this code may not have been adjusted for them yet.

[2022-03-07 14:52] edreamleo opened #2463 "More coverage and functional unit tests"
**Update**: I have labelled this issue "Won'tDo". There is no great need for more unit tests.

We'll add tests tests as needed, creating issues or PR's separate for each set of new tests.

This issue is about adding *python* unit tests. Félix has created *typescript* unit tests in leojs for all files in leo/core, but not yet for files in leo/commands.

To see the status of existing tests, run Leo'

[2022-03-07 15:41] edreamleo commented on #2234
PR #2445 closes this issue.

[2022-03-07 15:41] #2234 closed

[2022-03-07 15:46] #2461 closed

[2022-03-07 16:04] tbpassin commented on #2461
Strange it would hang for you but not for me, both with Python 3.9.x.  I'll try it with pyqt6 and see if that makes any difference.

[2022-03-07 18:28] tbpassin commented on #2461
Using pyqt6, pylint doesn't hang either.  I do get a lot of this kind of comment:

```C:\Tom\git\leo-editor\leo\plugins\freewin.py:714:25: I1101: Module 'PyQt5.QtCore' has no 'QRect' member, but source is unavailable. Consider adding this module to extension-pkg-allow-list if you want to perform analysis based on run-time introspection of living objects. (c-extension-no-member)```

[code]
Maybe yo

[2022-03-07 20:21] #2378 closed

[2022-03-07 20:22] edreamleo commented on #2461
@tbpassin I agree, this could be a configuration issue. I'm happy to hear that freewin passes your mypy. That should be good enough for now.

[2022-03-07 20:56] tbpassin commented on #2461
I haven't tried mypy, just pylint.

[2022-03-07 21:07] tbpassin commented on #2461
I just ran mypy on the freewin.py file.  While it was running it appeared to freeze Leo, but I left it alone and several minutes later it had finished - and Leo still worked.  Pretty good results (using pyqt6):

[code]

[2022-03-08 00:12] tbpassin commented on #2459
In devel today.

[2022-03-08 00:13] #2459 closed

[2022-03-08 09:37] edreamleo commented on #2461
@tbpassin Thanks for the mypy report. I ran mypy in various ways (with types-requests installed) and got no errors.

[2022-03-08 09:45] edreamleo opened #2466 "Buglet in quicksearch.py"
In the 'liveUpdate' method of the 'LeoQuickSearchWidget' class of the quicksearch.py plugin (the nav pane)

the block for the doShowMarked command starting with: `if t == 'm':`
should be before the block starting with `if len(t) < 3:`

[2022-03-08 09:50] edreamleo commented on #2466
Fixed at b7b32fb in devel.

[2022-03-08 09:50] #2466 closed

[2022-03-08 10:44] LewisNeal opened #2467 "Leo crashes at Quit using --gui=console"
See PR #2468.

Running 6.6-rc1-devel, devel branch, build eeb0789a98
Python 3.10.2, Windows 10 AMD64 (build 10.0.19042) SP0

launchleo.py --gui=console

Highlight the _Quit Leo_ button press enter, Leo crashes with no option to save Y/N
[snip]
Uncaught exception in Leo...
Traceback (most recent call last):
  File "N:\git\leo-editor\launchLeo.py", line 8, in <module>
    leo.core.runLeo.run()
  Fil

[2022-03-08 11:08] #2462 closed

[2022-03-08 11:34] edreamleo commented on #2467
@LewisNeal Thanks for this report. This issue is likely due to recent changes in how Leo handles clicks in the close box of a Leo window.

[2022-03-08 11:39] edreamleo commented on #2467
@LewisNeal PR #2434 probably contains the changes that broke the console gui plugin.

[2022-03-08 14:47] #2467 closed

[2022-03-09 04:13] tbpassin opened #2469 "New Linux Installation Does Not Use The Default Theme"
Not sure if this is really a problem, but I installed Leo 6.5 via pip on two Linux VMs today, and neither of them used the default Leo theme.  That's fine by me since I like the themeless look much better than the default theme.

But I don't think it's the intended behavior.

[2022-03-09 11:46] edreamleo commented on #2344
@tbpassin Many thanks for your efforts. Because of [this discussion](https://groups.google.com/g/leo-editor/c/GSRn1E67BeE) I am going to reopen this issue.  I have assigned it to you because you can now reproduce the problem.

Later today I'll write an ENB describing what should be done.  The short version:
- LeoQtEventFilter.eventFilter should return False for the Windows key.
- The test for the

[2022-03-09 12:39] edreamleo commented on #2344
@tbpassin From [this page](https://doc.qt.io/qt-5/qt.html#Key-enum): On Windows Keyboards, Qt::MetaModifier and Qt::Key_Meta are mapped to the Windows key. Caution: I'm not sure how to handle this special case properly without messing up more standard ways of using the Meta modifier!

[2022-03-09 14:47] tbpassin commented on #2344
The problem is only showing up on Linux these days, although I seem to recall it on my windows machine last year, before you did something to fix it.

Linux should be intercepting the Win key, because all these distros use it to open up the app launch menu.  For it to get passed to an app is just wrong.  BTW, it seems to me that the Win key on Kububtu gets passed to Leo *before* the app menu start

[2022-03-09 15:23] edreamleo commented on #2344
@tbpassin Thanks for these remarks. Imo, any change should apply only on Linux (`sys.platform.startswith('linux')`).

[2022-03-09 15:46] tbpassin commented on #2344
I've made some progress.  On Windows, the raw key code for the left Windows key is 0x5b.  On XWindows (Linux) - as distinct from the linux non-X console - it is 0xffeb.  If you ignore the FF (which is 1111, which as a mask changes nothing), the binary codes are

[code]

I saw the same with both KUbunbtu and Mint.  However, these are not the codes for the problem symbols, and I haven't really seen

[2022-03-09 16:19] edreamleo commented on #2344
@tbpassin Good work. No need for an ENB :-)

[2022-03-09 19:55] tbpassin commented on #2344
Just submitted a PR to fix this by filtering out the 0x1000053 key on linux.  Worked on both Debian and Kubuntu VMs.  This is done in the LeoQtEventFilter, as suggested by @edward.

Let's hope this magic number doesn't change in the future!

[2022-03-09 20:03] gatesphere opened #2471 "stickynotes.py plugin -- able to open multiple stickynotes for the same node, leads to inconsistent data"
See PR #2473.

Create a leo outline with some nodes, which contain some data.  Ensure the stickynotes.py plugin is enabled.

Alt-X stickynote on one of your nodes a few times -- note that it opens multiple windows.

Edit text in one of those note windows.  The other one does not update.  The outline does.  This leads to a confusing state where there are conflicting (and incorrect) views of the dat

[2022-03-09 20:05] gatesphere opened #2472 "stickynotes.py plugin -- closing an outline with open stickynotes does not close the notes"
Create a leo outline with some nodes.  Ensure stickynotes.py plugin is enabled.

Alt-X stickynote on one of your nodes.  Close the outline.

The note window remains open, apparently holding an ephemeral copy of the data that was in the node.

Not sure if this could lead to a crash or data corruption, but at best it's confusing.  Could lead to lost data if a user assumed the outline backing the now

[2022-03-09 20:35] #2344 closed

[2022-03-09 21:31] #2471 closed

[2022-03-09 21:58] tbpassin commented on #2344
Just to fill out the Qt keyPressedEvent results:

[code]
`0xffeb` is the value returned at a linux console using the _xev_  utility.

I wonder if that 0x1000053 value is getting sent to a character table, but some of the installations are using a font that doesn't have any glyphs for those codes while some are using a font that does - and that's why we're seeing a difference.

[2022-03-09 23:11] edreamleo commented on #2472
@gatesphere I don't see the behavior you report.  In fact, I don't see how it's possible for the Qt widgets to persist after g.app goes away.

Please include Leo's signon messages so I can see the system you are using.

[2022-03-09 23:14] tbpassin commented on #2472
I'm not sure how the stickynote plugin works, but I solved this problem for Freewin (which produces a freefloating editor window tied to a host node) by checking on every update cycle to see if the host node still exists, even if it had been moved:

[code]
The teardown() code is also called if the outline gets closed.

[2022-03-10 00:30] tbpassin commented on #2472
@edward: "I don't see the behavior you report. In fact, I don't see how it's possible for the Qt widgets to persist after g.app goes away"

He only mentioned closing the outline, not Leo itself.

[2022-03-10 00:40] gatesphere commented on #2472
This is correct -- sorry, I should have been more precise.  If you have multiple outlines open, stickynote a node, and close just the outline that the stickynote-d node belongs to, the window persists.

My environment, where I just confirmed this behavior (after a fresh pull of your recent work):

Leo Log Window
Leo 6.6-rc1-devel, devel branch
Python 3.7.4, PyQt version 5.15.2
Windows 10 AMD64 (bu

[2022-03-10 00:49] gatesphere commented on #2471
Thank you for this quick fix.

[2022-03-10 04:22] tbpassin commented on #2118
Here's a simple script that saves the current node with subtree as a Leo outline.  I'd like the capability to be available at least as a standard Leo command, and maybe on the File menu too.  Or it could go into the Scripts directory, but it will get lost there.

Possibly it needs a little polishing, but more than likely it's good as is.

[code]

Note: no need to invoke endEditing, since a user wi

[2022-03-10 09:33] edreamleo commented on #2471
@gatesphere You're welcome.

[2022-03-10 09:46] edreamleo commented on #2472
@tbpassin Thanks for the clarification. This issues should be relatively easy to fix.

@gatesphere Thanks for the data. Now that I understand the issue, I see that the platform should not matter.

[2022-03-10 10:44] edreamleo commented on #2472
PR #2474 fixes this issue.

[2022-03-10 10:44] #2472 closed

[2022-03-10 11:02] edreamleo commented on #2118
@tbpassin I'll be happy to accept a PR for this at any time.

[2022-03-10 11:04] edreamleo opened #2475 "Allow Leo to open files on another computer"
Per [this discussion](https://groups.google.com/g/leo-editor/c/lbrgq0YBG-0) on leo-editor.

I am delegating this issue to Félix and Thomas. I'll step in as needed.

I am willing to delay 6.6 for this issue.

[2022-03-10 13:24] gatesphere commented on #2472
Thanks for this quick fix too.  Can confirm this fixes the issue.

[2022-03-10 15:59] edreamleo commented on #2472
@gatesphere You're welcome. Thanks for the testing.

[2022-03-11 13:21] tbpassin commented on #2452
This bug comes from the current line highlighter.  Every so often (probably during the idle period) the code tries to check whether the stylesheet colors have changed.  It yes, the new foreground and background colors are gotten are gotten from the stylesheet, which is expanded by `sheet = ssm.expand_css_constants(c1.active_stylesheet)`.

Apparently the check for changes doesn't work right and the

[2022-03-11 20:21] edreamleo commented on #2452
Fixed via PR #2478.

[2022-03-11 20:21] #2452 closed

[2022-03-12 22:42] tbpassin opened #2479 "Nav Tab Changes focus to Completion Tab"
This may be new behavior; at least it's not something I've noticed before.  If the Completion tab is open, then after typing a search phrase into the Nav pane and hitting \<ENTER\>, the focus switches to the Completion tab.  The search results are actually there in the Nav tab, but you have to switch back to see them.

If the Completion tab is open but empty, you probably will think that the searc

[2022-03-13 04:25] tbpassin opened #2480 "Leoserver Refusing Connection from Local IP Address"
While testing leoserver, I found it connected when the client uses `wsHost = "localhost"` and `wsHost = "127.0.0.1"`, as expected.

However, when I use the actual IP address of the computer on the LAN (in my case, `10.0.0.58`), the connection is refused.

This IP address works when I use it to connect to a Tomcat server on the same computer, so it is indeed the correct address.  It seems to me tha

[2022-03-13 11:16] edreamleo opened #2481 "Add copy-node-as-json command"
See PR #2482.

Félix suggests that JSON is preferable to XML for some purposes.  Leo already supports .leojs files. See #442, which defines the JSON format used in .leojs files.

**Update**: I agree with Thomas that the only change that should be made is a new copy-node-as-json command.

[2022-03-13 12:15] tbpassin commented on #2481
I don't see why json would be preferable.  The format has always been xml.  My new save node as outline command wouldn't work.  The code for pasting the copied node would have to change.  Instead of making a major change to the way an existing command has always worked, just create a new command.

Anyway, liking json better may be a personal thing for Fekix, but liking xml better is a personal thi

[2022-03-13 13:45] tbpassin commented on #2480
Solved in two steps:

1) In leoserver, changed wsHost to local LAN address (here, 10.0.0.58).  Previously it was "localhost".
2) When opened client, Windows firewall asked if I wanted to allow connections to private network (i.e., the LAN).  Answered yes, and connection succeeded.

[2022-03-13 13:45] #2480 closed

[2022-03-13 16:12] tbpassin commented on #2420
Here's a command to show all commands with bindings and docstrings.  I think it should be a standard Leo command, and if people agree, I'll put in a PR.

[code]

[2022-03-13 17:28] edreamleo commented on #2420
@tbpassin Useful. Please do make a PR.

[2022-03-13 17:33] edreamleo commented on #2481
@tbpassin I find your arguments persuasive.

[2022-03-14 15:34] #2481 closed

[2022-03-14 18:42] tbpassin opened #2483 "Make Open Outline Work With StringIO"
It could be useful to be able to open a Leo outline from a string, presumably using StringIO.  The main use case would be to support reading of remote Leo outlines: the client would receive the outline as a string, and the idea is to load this string as if it were a file (though it wouldn't actually have a file name).

[2022-03-14 20:51] edreamleo commented on #2483
@tbpassin There is already a (far-from-obvious) way to do this:

    FastRead().readFileFromClipboard(s)

where s is an xml string.  Does this suffice for your purpose?

[2022-03-14 21:06] tangentstorm opened #2484 "allow @language x without modes/x.py (when x is provided by pygments)"
See PR  #2486 and PR #2491.

Pygments provides lexers for languages that aren't present in `modes/*.py`, but `BaseColorizer.init_mode` explicitly rejects languages that don't have a corresponding file in the leo/modes directory:
[code]
After enabling `@bool use-pygments = True`, I managed to get leo to recognize the language I wanted ("k") by explicitly creating a completely empty `k.py` in the le

[2022-03-14 21:53] tbpassin commented on #2483
How the heck do you use it?  The best I've figured out so far is

[code]

but this doesn't seem to do anything except return the hidden root (of the current outline, I presume).  No outline go created, and I don't see that anything  got inserted.

[2022-03-14 22:28] edreamleo commented on #2484
@tangentstorm Excellent idea!  Why didn't I think to do that? I'll do this issue next.

[2022-03-14 22:37] edreamleo commented on #2483
On Mon, Mar 14, 2022 at 4:53 PM Thomas Passin ***@***.***>
wrote:

s must contain the contents of the .leo file.

See fc.getLeoFile for an example of using FastRead.readFile.  Note the init
code and the actual call:

    v = FastRead(c, self.gnxDict).readFile(theFile, fileName)
  if v:
    c.hiddenRootNode = v

The task would be to adapt this code for your purposes.

HTH.  Btw, these are just gues

[2022-03-15 01:13] tbpassin commented on #2484
If @language is going to accept these other languages, remember to make sure that their values are reflected in the "kind" attribute for the node.  VR3 will thank you!

[2022-03-15 01:17] tbpassin opened #2485 "show-plugin-handlers has many duplicates that should be filtered out"
Example:

[code]

[2022-03-15 03:20] edreamleo commented on #2484
@tangentstorm The ekr-pygments branch (PR #2486) contains an experimental fix for this issue. Please test this branch and report your results.  Thanks.

[2022-03-15 04:24] tbpassin commented on #2483
Got it working:

[code]

You can also do it using _readFile_ and _StringIO_, but this is a little simpler.

Whew! A lot of effort to come up with something basically simple.  Hard when it's all undocumented.  Coming up with that gnxDict was one of the hard parts.  Getting the right import was another.  And assigning the new hidden root node to the new commander was a pure guess.

There must be som

[2022-03-15 10:09] edreamleo commented on #2483
@tbpassin Call c.setChanged(True) to ensure Leo will warn when closing the outline.

But (big oops!), the code above does not read any external files, nor does it call at.rememberReadPath for any of those files. As a result, Leo might not warn (when saving the .leo file) that a dirty external file has not been saved.

It looks like my first answer, based on FastRead().readFileFromClipboard(s), was

[2022-03-15 10:18] edreamleo commented on #2485
@tbpassin The problem probably isn't that there are duplicates. Instead, the problem is likely that the plugins' names aren't being shown.

[2022-03-15 12:29] tbpassin commented on #2483
readFile() works too as I said, as long as the _path_ arg is an empty string.  But there is still no file path for the commander to know about.

I don't think the others take an open file-like object, do they?

[2022-03-15 12:49] tbpassin opened #2488 "External Non-Python File Checking On Save"
One of the really helpful features of Leo, at least for programming, is the way it checks external python files for common errors before saving them.

Leo would be more useful as a general programming IDE if it could do the same for other languages.  I realize that it probably can't make many of the live checks for other languages that it can for Python, but at least it could do some syntax checki

[2022-03-15 13:04] tbpassin commented on #2483
That's right, setting c.setChanged(True) did not cause a warning to be issued before closing the unsaved outline.

[2022-03-15 14:08] tbpassin commented on #2483
I couldn't get the warning on save by doing anything with setting dirty status.  But a little hack works fine - add a space to the end of the top position's body, then remove it.  So here is the current code:

[code]

I suppose that none of the new outlines @settings settings will be activated, but I think that's probably all right.  None of any external files (@file, etc) would have content - whi

[2022-03-15 14:22] #2485 closed

[2022-03-15 14:36] edreamleo commented on #2483
@tbpassin I am tempted to remove the 6.6 milestone, but I won't pull the plug just yet :-)

[2022-03-15 14:45] tbpassin commented on #2483
"p0.setDirty() and c.setChanged(True) should work." They don't, though.  Could it be that some hook needs to be run?

Not only external @file  files, but other external resources - like, say, images that are exist in the file system and are referenced in rst trees - wouldn't be carried over.

Yes, let's remove the 6.6 milestone for now.

[2022-03-15 14:55] edreamleo commented on #2488
@tbpassin An interesting idea. I have no plans at present to do this myself.

[2022-03-15 15:00] edreamleo opened #2489 "The bridge does not always init plugins properly"
The old title: The bridge does not handle nodetags.py properly.

The new code, PR #2492, calls g.openWithFileName instead of bridge.createFrame.

[2022-03-15 16:49] tbpassin commented on #2484
In VR, and mostly borrowed in VR3:

`       def get_kind(self, p):
    """Return the proper rendering kind for node p."""
`
That's what I mean.  I think it's basically what _@language_ is in effect for the page.

I was thinking that the "kind" was returned by higher Leo machinery.  Now that I have looked it up, I see that it's coming from within VR/VR3 themselves, and not something to worry about

[2022-03-15 17:04] edreamleo commented on #2484
@tbpassin Thanks for the clarification.  I'll merge this branch into devel soon.

[2022-03-15 19:59] LewisNeal opened #2490 "unauthenticated git protocol on port 9418 is no longer supported"
Current devel is build 1662f7a7e9.  Running _git pull_ command I see get:

fatal: remote error:
  The unauthenticated git protocol on port 9418 is no longer supported.
Please see https://github.blog/2021-09-01-improving-git-protocol-security-github/ for more information.

The last build downloaded was 0e82a46980.

[2022-03-15 21:13] tbpassin commented on #2483
I solved the problem of letting the commander know the new outline should be saved - by using the right commander with setChanged() - but there was one last problem. The top node was selected but not highlighted in the tree view.  I couldn't see where that happens in the ordinary code to create a new outline.  Then I realized that it's the same as if the tree item had been clicked, and I looked at

[2022-03-16 06:40] LewisNeal commented on #2490
From the github link above it appears that temporary changes first noticed Jan 11 (#2375) are now permanent:
<html><body>

March 15, 2022 | Changes made permanent. We’ll permanently stop accepting DSA keys. RSA keys uploaded after  the cut-off point above will work only with SHA-2 signatures (but again,  RSA keys uploaded before this date will continue to work with SHA-1).  The deprecated MACs, ci

[2022-03-16 09:11] LewisNeal commented on #2490
I updated my .gitconfig file using command:
$ git config --global url."https://github.com/".insteadOf git://github.com/

So now when I do
$ git remote -v
origin  https://github.com/leo-editor/leo-editor (fetch)
origin  https://github.com/leo-editor/leo-editor (push)

The Leo URLs are now in a supported format _https://_ and git pull works.

[2022-03-16 11:34] edreamleo commented on #2490
@LewisNeal Thanks for these comments.  I am going to close this issue. Please reopen if something in Leo must change.

[2022-03-16 11:34] #2490 closed

[2022-03-16 13:36] tangentstorm commented on #2484
Working great for me on the `devel` branch. Thank you so much! :)

[2022-03-16 17:57] tangentstorm commented on #2484
After using it a bit, I've noticed two things:

- the `@language whatever` now gets highlighted even if neither pygments or leo provides the language. Previously, it would fail to highlight the language name if it were unrecognized.
- (more importantly) child nodes don't seem to inherit the language the way they normally do

[2022-03-16 19:12] edreamleo commented on #2484
@tangentstorm Thanks for the continued testing. I'll fix this issue for 6.6.

[2022-03-17 11:23] edreamleo commented on #2484
#2491 contains my latest attempt. The actual "real" change was small. However, I also refactored two three colorizer classes.  See the PR for details.

[2022-03-17 11:23] #2484 closed

[2022-03-17 18:20] edreamleo opened #2493 "Update the documentation for Leo's bridge"
The section of running unit tests from Leo's bridge is out of date.

[2022-03-17 23:52] edreamleo commented on #2493
Fixed at 7fe2cc4.

[2022-03-17 23:52] #2493 closed

[2022-03-18 21:36] edreamleo opened #2496 "beautify-file mishandles "from .""
See PR #2497.
beautify-files turns "from . import" into "from.import"  See npyscreen files for examples.

[2022-03-19 07:15] #2496 closed

[2022-03-19 07:18] #2489 closed

[2022-03-20 05:02] tbpassin opened #2498 "PyQt5 vs PyQt6 differences in QtWebEngineCore"
In LeoQt5 we have:

[code]

Aliasing QtWebEngineCore to QtWebKit has some historical reasons.  And the code goes on to this:

[code]

In Qt6, some parts of QtWebEngineWidgets  have been split off into PyQt6.QtWebEngineCore.
 I encountered this with QWebEnginePage, which for Qt6 is in QtWebEngineCore instead of QtWebEngineWidgets.

In the little project where I discovered this issue, I ended up wit

[2022-03-20 10:04] edreamleo opened #2499 "cff and cfa are identical"
cff should ensure that *all* nodes that contain a match appear as direct children of the top-level organizer node.

See PR #2501. The bug was a cut/paste error.

[2022-03-20 10:07] edreamleo opened #2500 "Improve python importer's handling of declarations"
At present, all declaration nodes have the headline "...some declarations".

Such headlines should be more informative.

[2022-03-20 13:13] edreamleo commented on #2498
@tbpassin Thanks for this issue. I've delegated it to you and assigned it to Leo 6.6.1

[2022-03-20 13:14] #2500 closed

[2022-03-20 17:31] tbpassin opened #2503 "onBodyChanged() Missing"
What happened to `c.frame.body.onBodyChanged`?   I don't find  `body.bodyChanged()` either, although `<< About handling events >>` in leoFrame.py refers to it.  What are we supposed to call for the undoer instead of `c.frame.body.onBodyChanged(undoType, oldSel=oldSel)`?

This has messed up some of my scripts.

[2022-03-20 17:49] tbpassin commented on #2503
Is this the new Undo pattern for body changes?

[code]
Are these changes to the undo pattern documented somewhere?  I suppose I must have seen something about them when they got changed but it went completely out of my memory.

Also, what is the difference between a body change and a group change?

[2022-03-20 18:41] tbpassin commented on #2503
Using the above pattern in my modified script, undoing the changes does work, but I  am seeing log messages like this:

[code]

Is this message claiming that there is something wrong?  If so, what?  Or if nothing is wrong, it would be better not to emit a message.

[2022-03-20 18:48] tbpassin commented on #2503
Turns out that when I use the script to insert to add text to a node, the text gets added.  But when I select a different node and then select the previous  one, the body text has vanished.  Apparently there is something more to the undo pattern, and I don't know what it is.

[2022-03-20 19:03] tbpassin commented on #2503
All right, I got it working, but I think it's weird.  I changed from

[code]

to

`p.b = newtext`

I say it's weird because it's natural to think that both ways of writing to the body would have the same effect so far as an undoer is concerned.  I would think we've got a bug here.

[2022-03-20 20:31] edreamleo commented on #2503
On Sun, Mar 20, 2022 at 2:03 PM Thomas Passin ***@***.***>
wrote:

This is not a bug!  w.insert affects only the text widget. Please see the
docstring for the node p.b property.

See also PR #2252 <https://github.com/leo-editor/leo-editor/pull/2253> (PR
for #1733: remove c.onBodyChanged). Please change any affected scripts.

BTW, from any PR, searching for "is:pr onBodyChanged" will show all the
r

[2022-03-20 21:21] tbpassin commented on #2503
I searched leoPyRef, and of course didn't find onBodyChanged anymore.  Then I looked there for code that had undo and used that as a guide.    I didn't think of searching  PRs.

Is there any reason to use `p.b = newtxt` vs `p.v.b = newtext` in this connection?

[2022-03-20 21:29] edreamleo commented on #2503
On Sun, Mar 20, 2022 at 4:21 PM Thomas Passin ***@***.***>
wrote:

Searching PR's and issues is a useful tool to have.

Please look at the respective definitions of the p.b and v.b properties. As
I mentioned a few minutes ago, the docstring for p.__set__b is important.

Edward

[2022-03-20 22:05] tbpassin commented on #2503
I remembered there was a difference - I must have seen that docstring sometime in the past - but not which way.  But now I'm confused by `v.setBodyString()`:

[code]
If the "s" arg is already a string, why don't we set contentModified and emit the signal?  In the _else_ branch,  what could "s" be if not a string?  Are we expecting a byte array, perhaps?

[2022-03-21 00:45] edreamleo commented on #2503
On Sun, Mar 20, 2022 at 5:05 PM Thomas Passin ***@***.***>
wrote:

I don't remember exactly. Probably somebody wanted this signal for their
plugin.

It's defensive code.

Perhaps.  It doesn't matter much. I wouldn't over-think this code :-)

Edward

[2022-03-21 13:27] jabobian opened #2507 "how to visit unl:// from external app"
I just wondering is it possbile to visit unl from external application using leoserver.
Currently I use AutoHotkey to "WinActivate" Leo, and use minibuffer command (I write a @cmd goto-unl to the leoPy.leo) to handle the unl access. But it is not fluent, as I need to send Ctrl-V and {Enter} to minibuffer. I want some native external unl handler.

[2022-03-21 15:34] tbpassin commented on #2420
Now in devel.

[2022-03-21 23:37] tbpassin commented on #2507
Theoretically it should be easy enough to run a server that listened for a "goto" command on http so that you could enter it into the browser's address bar.  But there is a practical problem - UNLs will usually need url-encoding, and GNXs do not say what outline they are in.

[2022-03-22 02:18] tbpassin commented on #2507
Actually, if you can get the unl or gnx into the clipboard, then you can write a simple Leo command that goes to that address directly from the clipboard.  No need to use the minibuffer at all.  Something like this:

[code]

[2022-03-22 02:42] jabobian commented on #2507
Thanks tbpassin.
What I want is not to click anything in Leo, and let the background unl handler to do the work. For example, I open leo and another app (e.g. OneNote) side by side, and I just click the links in the second app to view the Leo codes.

[2022-03-22 02:44] jabobian commented on #2507
I find it is a not bad approach to define a special hotkey for your "goto-unl-clipboard" command, and I will try it first and let you know progress.

[2022-03-22 03:03] jabobian commented on #2507
@tbpassin,
I just put the following lines in the @command, and it works like a charm.
unl = g.app.gui.getTextFromClipboard()
g.handleUnl(unl, c)

[2022-03-22 03:09] tbpassin opened #2508 "Failure Running cover-all Command"
Running the command printed this to the console:
[code]

[code]

[2022-03-22 03:16] tbpassin commented on #2507
Excellent!  You could also create a command button instead of using a hotkey.  You could even add it to one of the menus.

[2022-03-22 03:35] tbpassin opened #2510 "unloadOnePlugin() Did Not Unload Plugin"
I was experimenting with variations of the mod_http plugin.  I succeeded in loading it using `loadOnePlugin()`.  But the corresponding `unloadOnePlugin()` did not stop it.  Is this because the plugin is a persistent server, or is it a problem with `unloadOnePlugin()`?

Load:

[code]

Unload:
[code]

[2022-03-22 11:25] edreamleo commented on #2508
The cover-all command works for me from within Leo itself and from an separate .cmd file.

Clearly, the message indicates only that there is something wrong with your stylesheet.

[2022-03-22 11:25] #2508 closed

[2022-03-22 11:49] tbpassin commented on #2508
Stylesheet?  What stylesheet is that?  Where would I find out what needs to be in it?

[2022-03-22 14:32] edreamleo commented on #2508
@tbpassin I can't debug this kind of bug remotely. You will have to discover why the arguments are invalid.

The start of the error message `__main__.py__` is suspicious. Perhaps the script that is running cover-all is executing the wrong program ?!?

[2022-03-22 14:36] edreamleo commented on #2510
On Mon, Mar 21, 2022 at 10:35 PM Thomas Passin ***@***.***>
wrote:

There is a known problem with unloadOnePlugin. It's basically impossible to
actually unload a plugin. Iirc, unloadOnePlugin might unregister some
handlers, but that's probably all.

In short, I wouldn't rely on unloadOnePlugin at all.  Sorry, but this state
of affairs is not likely to change.  Maybe 6.6.1 should retire
unloadOnePl

[2022-03-22 14:39] #2507 closed

[2022-03-22 16:55] tbpassin opened #2511 "File Importer Places @language Directive In Wrong Place"
I tried importing a c++ file. The importer decided not to organize the file, and the language and tab width directives ended up at the end of the one and only node:
[code]
This causes the body not to be colorized.  I know this location happened when the importer was rewritten recently.   But it's the wrong place for the language directive (and, I imagine, the tabwidth directive too).  It needs to

[2022-03-22 23:22] edreamleo commented on #2508
@tbpassin This cover-all.cmd is equivalent to 'cover-all':
[code]

[2022-03-22 23:24] edreamleo commented on #2511
@tbpassin Thanks for this report. It's surprising, but should be easy to fix.

[2022-03-22 23:33] #2511 closed

[2022-03-23 09:35] shakfu opened #2512 "minimal footprint request and dependency on _tkinter?"
See PR #2517.

- [x] g.EmergencyDialog should fall back to printing its message if tkinter does not exist.
- [x] general_yes_no_dialog (in leoserver.py) should return 'yes' if tkinter does not exit.

**Original report**

I just tried to `pip install leo` on macOS Catalina using homebrew python 3.9.10 and it broke because of the following:

[code]

Given the requirement for pyqt, qt, and all the ot

[2022-03-23 09:41] edreamleo commented on #2512
@shakfu Thanks for this report.  I'll remove the dependency on _tkinter if possible.

[2022-03-23 10:19] edreamleo opened #2514 "test-all fails during test discovery if _curses has not been installed"
Félix reports the following, which seems reasonable (expected) when _curses has not been installed.

There are many imports of curses/_curses in npyscreen, so changing the npyscreen code itself seems out of the question.
[code]

[2022-03-23 10:27] edreamleo commented on #2514
I am going to mark this issue as "Can'tFix". Devs can install curses, or live with the unit testing error.

[2022-03-23 10:27] #2514 closed

[2022-03-23 12:37] shakfu commented on #2512
Thanks Edward!

[2022-03-23 15:35] tbpassin opened #2515 "pyplot_backend Imports backend_qt5agg Even For Qt6"
Viewrendered installs a qt graphics backend to render @pyplot nodes. But in the imports, it tries to import a qt5 object even if qt6 is being used:

[code]

This is now obsolete.  There is a qtagg backend that handles whichever of qt5 or qt6 you have.  The new imports are

[code]
I have not checked the rest of the code to see if any other similar adjustments need to be made, and I don't know if th

[2022-03-23 16:09] edreamleo commented on #2515
@tbpassin Thanks for this!  Please submit a PR. It should go into 6.6.

[2022-03-23 18:07] tbpassin opened #2516 "Current Devel Showing Many Errors On Opening"
Partial console output:

[code]

[2022-03-23 18:24] tbpassin commented on #2516
This seems to be something that happened to my workbook outline.  I went back to Leo 6.4 and got the same thing happen.  When I opened Leo with a specific outline on the command line, I didn't get any unusual output.  So it must be my workbook.  But I'm darned if I know what.

[2022-03-23 18:24] #2516 closed

[2022-03-23 18:51] edreamleo commented on #2516
@tbpassin `@nonl` is a sign of an ancient outline.

[2022-03-23 18:58] #2499 closed

[2022-03-23 19:13] tbpassin commented on #2516
That was it.  I had found `scripts/leoFindScript.py` and brought it into my workbook to look at it.  I'll purge it out now, and perhaps it should be removed from `scripts` as well.

[2022-03-23 20:55] tbpassin commented on #2516
import-legacy-external-files seems to import it without a hitch.  Yea!

[2022-03-23 21:52] edreamleo commented on #2516
@tbpassin Glad you found the command.

[2022-03-24 02:42] tbpassin commented on #2515
This seems to be a little tricky.  I got the imports working, but nothing appears on the drawing pane except the toolbar.  I am going to have to dig deeper.  I know the existing code used to work, and I even got it, slightly modified, working with VR3 a year ago.  I was able to get both VR and VR3 to do @pyplot nodes, and even got each one to hide and show itself again.  The only problem then was

[2022-03-24 09:29] edreamleo commented on #2512
PR #2517 completes this issue.

[2022-03-24 09:29] #2512 closed

[2022-03-24 09:39] shakfu commented on #2512
Thanks very much for the rapid fix, Edward!

[2022-03-24 09:40] edreamleo commented on #2515
@tbpassin I have just reassigned this issue for 6.6.1. However, I'll consider adding any changes to 6.6 if you can complete the work in a day or two.  I am going to delay 6.6 for about a week.

[2022-03-24 11:57] edreamleo commented on #2512
@shakfu You're welcome. It's good to (mostly) get rid of the tkinter dependency.

[2022-03-24 23:22] tbpassin commented on #2515
One of the changes is that we are now supposed to use MatPlotLib versions of the various QtWidgets.  Apparently they needed this because of differences between Qt5 and Qt6 widgets that MPL was unable to paper over.

So now we have to do things like this:

[code]
Once I get through rippling these kinds of changes through the backend code, we'll have to see if it will work or whether there will be m

[2022-03-25 01:15] tbpassin commented on #2515
All right, I got it working, both for Qt5 and Qt6.  @pyplot nodes plot as expected, and - a nice bonus - Plot Nine plots work too (they use MatPlotLib behind the scenes).

I will need to do some cleanup and more testing, but things look good.

[2022-03-25 01:37] tbpassin commented on #2515
Surprise!  There seems to be no need for the "DummyWindow".  I set it to None, and everything is still working.

[2022-03-25 01:46] tbpassin commented on #2515
Too bad vr has to create a new figure and its canvas each time the pyplot backend is called.  I wonder if there might be a way to save the figure and reuse it?  I also wonder if the old figure gets cleaned up completely, or whether there is a figure leak.

[2022-03-25 02:12] tbpassin commented on #2515
BTW, although supposedly once a @pyplot node has been rendered it is not possible to close VR again, that isn't actually correct.  For example, if you reload the default window layout, the VR pane will go away.  I don't know if it's hidden or destroyed.  You can re-open the VR pane and it will work normally.

I don't know how that works because the workings of the splitter are a mystery to me.  Wh

[2022-03-25 02:26] tbpassin commented on #2515
It occurs to me that I don't know what is the minimum Python version that can work with these ne MatPlotLib classes.  I'll see if I can find out.

[2022-03-25 13:52] edreamleo opened #2519 "Improve app.setIdFromDialog"
See PR #2520 and PR #2523.

app.setIdFromDialog should call sys.exit if the user refuses to supply a valid leoID.

[2022-03-25 15:01] vitalije commented on #2519
I don't think that is a very good idea. I would suggest that in this case Leo should generate random string. Most users, especially new ones, don't have any idea what the leoID is all about, and I believe that there is really any benefit in the ability to choose leoID. It would work perfectly well with any string.

If two or more people work together on some outline, then perhaps it is beneficial

[2022-03-25 15:09] edreamleo commented on #2519
@vitalije I considered, and rejected, these kinds of behaviors.​  The leoID is something that should be descriptive, as the dialog that prompts for them explains.

[2022-03-25 15:11] edreamleo commented on #2519
@vitalije This issue exists because of a request from Félix. This is not the time or the place to re-imagine the role of leoID.

[2022-03-25 21:23] tbpassin commented on #2519
As long as a user never has to later supply an ID that he may not remember, I suppose it's OK.  We never want to have a user locked out of their outlines because of forgetting the user ID.

[2022-03-25 21:24] tbpassin commented on #2515
Resolved by PR https://github.com/leo-editor/leo-editor/pull/2524

[2022-03-25 21:34] edreamleo commented on #2519
@tbpassin The worst that could happen is that Leo would again prompt for an id after the user mistakenly deletes leoID.txt (don't ask me how or why). There is never any need to remember anything: any id will do.

[2022-03-26 22:51] tbpassin opened #2525 "Qt Version Conundrum"
I have just installed PyQt6.2.4.  I can verify the version by running this bit of code in a node with CTRL-B:

[code]

However, the log pane reports

[code]

There is no directory on sys.path that has a 6.2.3 version.  How is it possible that the two would be different?

[2022-03-27 00:07] tbpassin commented on #2525
Looks like it's a Qt buglet.  Leo gets the version to print to the log pane at startup from  `QtCore.QT_VERSION_STR`,  which is returning 6.2.3.  At the same time, `QtCore.qVersion()` is returning 6.2.4.  Huh!  6.2.4 is what is actually installed.

Just for fun, I changed the startup message to include both of them at the same time, with this result:

`PyQt version 6.2.3 -or - 6.2.4`

Funny that `

[2022-03-27 00:09] boltex commented on #2519
@tbpassin @vitalije

Just to reassure that this is a small change, and not a behavior breaking change: At very worst, this only changes behavior if used via leobridge: it would make Leo use an id string of  'None' for the current running session, without saving it to .leoId.txt file, if not found and not provided. So it's pretty safe and benign.

In other case, out of leobridge utilization, 'stand

[2022-03-27 00:24] tbpassin commented on #2525
I would say that `qVersion()` ought to be more reliable.  _PYQT_VERSION_STR_ is declared in a .sip file, which IIUC is a template for constructing the pyqt wrapper.  `qVersion()`, though, is an actual c++ function in Qt itself.  So it returns what QtCore thinks is the version.  That should be more authoritative.

What do you want to bet that someone said "The API hasn't changed so we can use the s

[2022-03-27 00:38] tbpassin commented on #2519
"It's a great honor to collaborate with such famous leonistas as you two!"  \*cough\*, \*choke\*, \*sputter\* (speaking only for myself, of course!).

It seems that it will be all right.  My concern has been that either someone forgets their id and then can't even open Leo to access their own outlines, or that because of some system or user error that id file gets clobbered, with the same result.

[2022-03-27 09:58] edreamleo commented on #2525
@tbpassin Thanks for this!  Please file a PR. I think this issue can go into 6.6.

[2022-03-27 10:20] edreamleo commented on #2519
Fixed by #2523.

[2022-03-27 10:20] #2519 closed

[2022-03-27 11:53] edreamleo opened #2527 "beautify npyscreen files"
It's annoying to have these files not beautified.

The alternative would be to have `@nobeautify` to be heritable, but imo that's not a good idea.

[2022-03-27 11:56] edreamleo opened #2528 "Review leoBackground.py"
See PR #2537.

The legacy code processed events only when pylint produced output.

The new code is much more responsive, but sometimes *all* output disappears.

Leo's mypy command doesn't use the BPM, which may be a problem.

[2022-03-27 11:57] edreamleo opened #2529 "Leo's beautify-files command is too verbose"
The command should only print messages to the console about changed files.

[2022-03-27 14:41] tbpassin opened #2532 "Log Pane deleteTab() Does Not Delete Underlying Widget"
The Log Pane is a QTabWidget.  To delete a tab, the Leo method deleteTab() calls the QTabWidget's removeTab() method.  According to the Qt docs, this method does not delete the "page" widget.  This "page" widget is the one the that is actually visible in the tab.

deleteTab() also does not remove the tab name from the tab dictionary, log.contentsDict.

Doing a tab removal this way would be helpful

[2022-03-27 15:34] tbpassin commented on #2532
After a little more experimenting, it seems that with deleteTab(), the pane loses the reference to the display widget.  It so, then there is probably a problem of either the python or the c++ object not getting destroyed.

The Qt docs say that when a tab is created the page widget's ownership gets passed to the tab widget.  So the tab widget would ordinarily to responsible for deleting the page.

[2022-03-27 16:53] edreamleo opened #2533 "Minor beautifier problems"
- [ ] `*args` has a blank between `*` and `args` at the start of a lines.
    For example: wgfilenamecombo.py, line 18.

- [ ] `from .module import x` beautified as `from . module import x`
    This occurs in several files, including wgcheckbox.py, line 8.

[2022-03-27 17:29] edreamleo commented on #2532
This present behavior may be intentional.  I have a dim recollection that old code may have reused the page.

I would prefer not to change the code unless there are demonstrable problems with it.

[2022-03-27 17:40] edreamleo commented on #2532
@tbpassin On second thought, I can understand why you may be concerned with this issue.

I have delegated this issue to you, and tentatively assigned to to 6.6.1. I will leave it to you to submit a PR. Any such changes must be tested thoroughly.

[2022-03-27 18:06] tbpassin commented on #2532
My thinking right now is to write a new method for deleting a tab - IF we can figure out something better to do - but to leave the existing method as is.  That's in case some existing code expects it to be exactly this way.  Future code could start using the new method.

[2022-03-27 19:14] vitalije commented on #2519
@tbpassin the value of `leoID` isn't very important for starting Leo. As Edward have said any value will work.
The only reason it exists is to reduce the possibility of having two different nodes with the exactly same `gnx`. Theoretically speaking this can happen if two different users with exactly the same `leoID` create a node at exactly the same time each. Of course those two users have to work

[2022-03-27 21:43] edreamleo commented on #2519
@vitalije Thanks for your comments. I agree with them all.

[2022-03-27 21:44] edreamleo commented on #2532
@tbpassin Sounds like a good plan.

[2022-03-28 12:19] LewisNeal opened #2536 "show-buttons command. ValueError: too many values to unpack (expected 2)"
See PR #2547.

The show-buttons command is giving this traceback:

_Leo Log Window
Leo 6.6-rc1-devel, devel branch, build 55a9ae46b0
2022-03-27 09:26:48 -0500
Python 3.10.4, PyQt version 6.2.3
Windows 10 AMD64 (build 10.0.19044) SP0
read outline in 0.19 seconds
Traceback (most recent call last):

  File "N:\git\leo-editor\leo\core\leoGlobals.py", line 285, in new_cmd_wrapper
func(self, event=event

[2022-03-28 15:24] edreamleo commented on #2536
@LewisNeal Thanks for this report. It's too late to fix for 6.6.

[2022-03-28 16:05] tbpassin opened #2538 "CNTL-click on gnx Navigates To Its Node?"
`g.openUrlHelper()` is invoked when the user clicks on a UNL, URL, or section reference in the body.  I would like to add the GNX to the special forms that are recognized by this method.

The following regex will reliably identify when a line contains a GNX.

[code]

The main use case at present is to support my proposed "zettel-kasten" system, which uses GNXs as cross links between note cards.  C

[2022-03-28 16:50] edreamleo commented on #2538
@tbpassin Go right ahead with the PR.  I'll merge it into devel after 6.6 is released.

[2022-03-28 17:07] tbpassin commented on #2538
Thanks, will do.

[2022-03-28 18:40] tbpassin opened #2539 "Fix new pylint warnings"
**EKR**: Upgrading to python 3.10 results in more warnings.  I'll fix them all.

pylint found two instances of this type of warning in LeoGlobals.py:

` W1113: Keyword argument before variable positional arguments list in the definition of __init__ function (keyword-arg-before-vararg)`

I am not sure if this could potentially cause a problem or not.  If not, we could clean it up for 6.6.1.  If it

[2022-03-28 19:43] edreamleo commented on #2539
@tbpassin 6.6 is frozen. It can wait until 6.6.1.

I don't see this pylint warning. What function is the complaint about?

[2022-03-28 20:20] tbpassin commented on #2539
I just updated my pylint version yesterday.  Maybe that has something to do with it.

`C:\Tom\git\leo-editor\leo\core\leoGlobals.py:2266:4: W1113: Keyword argument before variable positional arguments list in the definition of __init__ function (keyword-arg-before-vararg)`

Hmm, I thought there were two, but now I only see this one case of it.  It's the __init__ for `class TracingNullObject`

[2022-03-28 20:24] edreamleo opened #2541 "Support new python 3.10 ast nodes"
See PR #2553 and PR #2558.

test_leoAst.TestTokens.test_visitors_exist fails because leoAst.py does not know about the new "match" statement.  See:

- [PEP 634](https://peps.python.org/pep-0634/)
- [What's new in Python 3.10](https://docs.python.org/3/whatsnew/3.10.html)
- The documentation for the [ast module](https://docs.python.org/3/library/ast.html).

[2022-03-28 21:52] edreamleo commented on #2539
@tbpassin I just install Python 3.10, and I see many new warnings.  I'll fix them all.

[2022-03-29 02:51] tbpassin commented on #2539
I'm still on 3.9x, but your new version probably got you the newest version of pylint, too.  Yes, I saw a lot more warnings that I didn't mention, but many or most of them just need to be disabled.

[2022-03-29 06:59] edreamleo opened #2543 "Deprecate IdleTime class and g.IdleTime function"
qt_idle_time.py defines the class.

~~This class is an absurdly complicated wrapper around QtCore.QTimer.~~

Never mind. On second look g.IdleTime is useful enough.

[2022-03-29 07:00] edreamleo commented on #2539
@tbpassin I agree. I'll just disable the warnings.

[2022-03-29 14:12] edreamleo opened #2546 "Ctrl-click a x.py should find the corresponding @<file> node"
OMG: How did we ever live without this?!?

[2022-03-29 16:10] tbpassin commented on #2546
Do you mean that if a body line contained the space-separated string _fancy_plugin.py_, then CTRL-Clicking it should cause the selected node to change to the _@file fancy_plugin.py_ or _@clean  fancy_plugin.py_ node in that outline?  Sounds good to me.

It would take a regex that wouldn't match on a url, gnx, unl, or << section reference >> by mistake.  That sounds doable.

[2022-03-29 16:51] tbpassin opened #2548 "Tree And Body Should Scroll With Swipe on Touch Screens"
It's very annoying to switch to a tablet from my computer, and find that the tree and body don't scroll when I swipe on them.  I suppose it's a Qt thing, but I wonder if there's a way to make this happen.

[2022-03-29 21:46] edreamleo commented on #2546
On Tue, Mar 29, 2022 at 11:10 AM Thomas Passin ***@***.***>
wrote:

Yes.

Happily, the task is easier than that. openUrlHelper does all the work, but
only if none of the other cases apply.

I've just now pushed the code. See PR #2549
<https://github.com/leo-editor/leo-editor/pull/2549>.

Edward

[2022-03-29 21:56] tbpassin commented on #2548
Hmmm, we'll see.

[2022-03-29 21:57] tbpassin commented on #2546
I figured you'd pump this one out fast.

[2022-03-30 12:45] LewisNeal opened #2552 "File with new node is not seen as changed"
Create a new node in a Leo file. Select File>Close and Leo closes the file with no Save Yes/No dialog.

Reproduce with test script:

_g.es("Test creating a new node")
node_name = 'new node A'
p = c.p.insertAfter()  # insert after current node p.
p.h = node_name  # rename the Headline.
c.selectPosition(p)  # select node position and move to it
c.redraw()_

Body text is required to trigger the Save

[2022-03-30 12:52] edreamleo commented on #2552
This is a programming mistake.  p.insertAfter (and similar position methods) does not (and must not!) set the outline's "changed bit".

To match what is likely your expectations, so:
[code]

[2022-03-30 12:52] #2552 closed

[2022-03-30 21:13] LewisNeal commented on #2552
Thanks. Using _c.setChanged()_ gets Leo to see the file as changed.
Can you explain why after I create the node and then change it's name with _p.h = node_name_ the outline is not seen as changed?
Is _p.h_ a position method?

[2022-03-31 08:30] edreamleo opened #2554 "Simplify the TokenOrderGenerator class"
~~Aha: a method is a generator if it, or any of its helpers, contains a "yield" or "yield from" statement.~~
~~So helpers should be able to contain (almost) all "yield from" statements.~~

Apparently not.  This whole idea appears doomed.

Simplify TokenOrderGenerator class as follows:

- [ ] Remove all parent/child links. ~~Aha: threading links do not help.~~
  **Wrong**: The TokenOrderTraverser c

[2022-03-31 09:40] edreamleo commented on #2554
There seems to be no way to eliminate all the "yield from" statements!

[2022-03-31 09:40] #2554 closed

[2022-03-31 18:14] edreamleo opened #2555 "Use recursive decent instead of generators in the TokenOrderGenerator class"
See PR #2556.

#2554: suggests simplifying the TokenOrderGenerator class while retaining generators, but this approach won't work.

Instead, using recursive descent *is* perfectly reasonable, for several reasons:

- The standard ast.walk function uses recursive descent.
- The standard recursions limit (sys.getrecursionlimit() report 1000 on my system) should be enough to handle all of Leo's files.

[2022-03-31 18:21] edreamleo commented on #2528
Running pylint on a new version of leoAst.py shows that the output can still block.

[2022-04-01 12:18] #2555 closed

[2022-04-01 12:31] #2539 closed

[2022-04-01 12:31] #2546 closed, assigned to edreamleo

[2022-04-01 12:31] #2536 closed

[2022-04-01 12:32] #2529 closed

[2022-04-01 12:32] #2527 closed

[2022-04-01 12:33] #2525 closed

[2022-04-01 12:33] #2515 closed

[2022-04-01 12:35] #2538 closed

[2022-04-01 13:26] #2528 closed

[2022-04-01 13:28] edreamleo opened #2557 "Running Leo's pylint command blocks pylint output"
That is, #2528 (merged into devel) has problems.

[2022-04-01 17:49] tbpassin opened #2560 "Pylint Not Working On Current 6.6.1"
Pylint seems to do nothing.  It returns control to Leo immediately with no output.

[code]

When I started using the latest version of Leo, I got a message about pylint using a new directory and not needing a previous  .d file.  However, I don't see a new directory for pylint  in my .leo directory.

[2022-04-01 19:36] edreamleo commented on #2560
@tbpassin Hmm. Not sure what that is about.  I've just fixed #2557. Please use the latest devel.

Please reopen *this* issue if problems remain.

[2022-04-01 19:36] #2560 closed

[2022-04-01 19:37] #2557 closed

[2022-04-02 00:34] #2541 closed

[2022-04-02 10:30] edreamleo opened #2564 "Investigate mypy suppression in leoAst.py"
See PR: #2568.

Various type:ignore suppressions may hide bugs.  In particular:

- The type of token.value should be Union[int, str], but mypy *rightly* complains.

[2022-04-02 10:33] edreamleo opened #2565 "Make Fstringify and TokenOrderTraverser classes self contained"
They can *call* TOG.visit(root) rather than being subclasses of TokenOrderGenerator.

[2022-04-02 10:33] edreamleo opened #2566 "Create a stand-alone function to insert parent/child links in ast trees."
Should be straightforward now that recursive-descent is allowed.

**Update**: not necessary for leoAst.py. The parent/child links are essential for the TokenOrderGenerator class, and that's all that matters.

[2022-04-02 11:35] #2566 closed

[2022-04-02 11:37] #2565 closed

[2022-04-02 12:54] #2564 closed

[2022-04-02 22:37] tbpassin opened #2570 "URL Recognition For Inline URLs Not Precise Enough"
For CTRL-clicking on URLs contained in body text, the current identification method does not correctly recognize the end of some URLs.  A specific example is a URL written in RsT syntax:

[code]

The URL highlight starts correctly at "h" in _http_, but overruns the end and includes the trailing non-alphabetic characters.  CTRL-clicking this URL will not send the browser to the intended address.

[2022-04-03 10:20] edreamleo opened #2571 "contract-all doesn't contract all nodes"
See #2572. c.contractAllHeadlines now clears v.expandedPositions for all vnodes.

In some cases `@file` nodes remained expanded after contract-all. Annoying.

[2022-04-03 18:52] #2571 closed

[2022-04-04 04:30] tbpassin commented on #2570
A pointer to where these highlighted, clickable URL links are inserted into the body would be helpful.  So far I haven't found it in LeoPyRef.

[2022-04-04 13:57] edreamleo commented on #2570
On Sun, Apr 3, 2022 at 11:30 PM Thomas Passin ***@***.***>
wrote:

See LeoQtLog.put.  The road to this call can be long.

For debugging, you might put g.trace(g.callers(6)) at the start of this
method.

Edward

[2022-04-04 17:54] edreamleo commented on #2570
@tbpassin Well done. The url code is complicated, no doubt about that.

[2022-04-04 18:02] edreamleo opened #2574 "VR3 erroneously complains that nbformat has not been installed"
But I have installed it. pip list says: nbformat 5.2.0
[code]

[2022-04-04 18:27] tbpassin commented on #2574
Looks like a line got blipped out by mistake.  Please add it back and see if the problem is resolved:

[code]

[2022-04-04 19:42] tbpassin commented on #2570
Good grief --- there are *two* places that define _url_regex_, and one is applied at one point and the other is applied an another point in the url handling process.

It was driving me nuts because I got the syntax highlighting working but the dispatch to the browser was not.

I'll have to think if I'd recommend using the same object both places.

[2022-04-04 22:31] tbpassin opened #2575 "URL Colorizing Color Does Not Respect Theme's Setting"
Leo themes try to set the color of URLs in body text using a color specifier
`@color  url_color = <color>`.  However, changing this setting does not actually change the URL highlight color.  The default purple color does not work well with some themes, especially dark ones.

The URL highlight color can be changed with an ordinary non-theme setting `@string url_color = <color>`.  This is undesirabl

[2022-04-04 22:53] tbpassin commented on #2570
I just submitted PR https://github.com/leo-editor/leo-editor/pull/2576 for this.

[2022-04-04 23:05] tbpassin commented on #2575
I take it back.  I had changed the color in one theme outline, but it turned out I had actually been using a different one.  The setting does work when I change it in the theme I'm actually using.

I'm closing this one.

[2022-04-04 23:05] #2575 closed

[2022-04-05 11:41] edreamleo opened #2578 "Beautifier does not handle files containing tabs properly"
The file leo/scripts/leoFindScripts.py, generates messages such as:
[code]
Also, the beautifier destroyed files with 3-space indentation.

[2022-04-05 11:42] edreamleo opened #2579 "Beautify all .py files within Leo"
See PR #2580.

This is a test of the --recursive command-line argument to leoAst.py (Leo's beautifier command).

This issue is not very dangerous. Leo's test_syntax unit test verifies that no files contain syntax errors.

[2022-04-05 15:19] #2579 closed

[2022-04-05 20:27] #2578 closed

[2022-04-05 20:32] edreamleo commented on #2574
@tbpassin Your suggested change does not work. Furthermore, setting nbformat to True would shadow the actual import. pylint should complain, and anyway shadowing an import is bad style.

[2022-04-05 23:01] tbpassin commented on #2574
Ah, I forgot that was the actual name of the import and not just a flag.  Hmm, my system does not emit that message.  Just to be complete, can you successfully import nbformat from a non-Leo python session?  I assume you are using your new Python 3.10 install, is that right?

Here's what mine looks like:

[code]

What is the exact message you have been getting?  There are two places in the code th

[2022-04-06 00:24] edreamleo commented on #2574
On Tue, Apr 5, 2022 at 6:01 PM Thomas Passin ***@***.***>
wrote:

Correct. Clearly, the following import fails:

from nbconvert.exporters import HTMLExporter

I do not see the expected file, and I have not yet found a way to install
nbconvert/exporters.

Here's what mine looks like:

Name: nbformat
Version: 5.2.0
Summary: The Jupyter Notebook format
Home-page: http://jupyter.org
Author: Jupyter De

[2022-04-06 02:16] tbpassin commented on #2574
HTMLExporter is in _Lib\site-packages\nbconvert\exporters\html.py_.  If you don't have nbconvert, that would be the cause of the problem.

I am ignorant as to whether installing nbformat also installs nbconvert or not.  Maybe not, since that pip display  doesn't say that nbformat requires it.  Aha, turns out that it's nbconvert that requires nbformat, not the other way around:

[code]
It seems to

[2022-04-06 12:15] tbpassin opened #2585 "Viewrendered Plugin Is Not Displaying @Jupyter Nodes"
I don't see any error messages, though.  This applies to both http: and file: sources.

Even though VR uses a QTextBrowser and not a QWebEngineView, I would have expected to see *something*.

[2022-04-06 18:19] tbpassin opened #2586 "Still No Output From Pylint"
See PR #2589 and PR #2590.

With the new PR, the BPM *waits* (via proc.communicate) for all output if BPM.wait is True.

@tbpassin I expect more work is needed, but I wanted to merge PR #2590 right away. Please test devel with wait set to both True and False.

[2022-04-06 19:24] tbpassin commented on #2586
Yesterday, I think it was, I did get output on a tiny @file, just a few lines long.  I immediately ran it on VR3 and got no output.

Today, I got no output on a file of about 10 or 15 lines, and got no output.  I also got no output on Freewin.

Leo does not block when I run pylint, and I do get the command name echoed to the console, but not to the log pane.  I never see a message that pylint is f

[2022-04-07 12:04] tbpassin commented on #2574
fixed in devel.

[2022-04-07 12:04] #2574 closed

[2022-04-07 12:04] tbpassin commented on #2570
done, in devel.

[2022-04-07 12:04] #2570 closed

[2022-04-07 12:05] #2503 closed

[2022-04-08 04:25] tbpassin commented on #2586
The problem is definitely in the background process manager.  It's getting to this step at the bottom of the start_process node where it invokes _open_process()_, which is deffed this way::

[code]

For this call, _shell_ == False.  But according to
[How to use `subprocess` command with pipes](https://stackoverflow.com/questions/13332268/how-to-use-subprocess-command-with-pipes):

"To use a pipe w

[2022-04-08 08:22] edreamleo commented on #2586
@tbpassin Looks like a breakthrough, Thomas.

Imo, there are no serious security implications to setting shell = True in the BPM. If someone has access enough to call LeoQtLog.put then they can do anything.

[2022-04-08 10:43] edreamleo commented on #2586
Arrrgh. I have managed to completely screw everything. My apologies to all.

[2022-04-08 11:34] edreamleo commented on #2586
PR #2590 sets the wait switch to True. This should ensure that all output is captured, at the cost of hanging Leo while pylint runs.

@tbpassin Let's test this mode to see if it actually work. If so, we can then see if we can solve the hanging problem.

[2022-04-08 11:54] tbpassin commented on #2586
I agree about the security question.  If attackers could mess with those things, there are more serious and direct bad things they could do without needing to mess wiht Leo.

[2022-04-08 11:55] tbpassin commented on #2586
What branch is that on?

[2022-04-08 12:15] tbpassin commented on #2586
I don't see where the output is ever supposed to get out of the pipe and back into Leo to be formatted and displayed.  It should happen here in pylint.run:

[code]

It seems to me that either the call that runs pylint should be an async/await kind of operation, or if that's not possible it should be done on a separate thread.  If not, how is control ever going to come back to the right place for f

[2022-04-08 13:00] tbpassin commented on #2586
This S.O. thread may be very relevant:

[Non Blocking Subprocess,call](https://stackoverflow.com/questions/16071866/non-blocking-subprocess-call)

[2022-04-08 13:11] tbpassin commented on #2586
Another useful discussion: [PyQt: How to open a program with python without freezing](https://python-forum.io/thread-20474.html)

[2022-04-08 13:21] edreamleo commented on #2586
@tbpassin Please reopen as necessary.

[2022-04-08 13:40] tbpassin commented on #2586
With the latest changeset, I do not get any output from pylint unless I set `self.wait = True` in `bpm.start_process()`.  So this changeset will not work for anyone running pylint who does not want to go in and change the value of _self.wait_.

[2022-04-08 14:31] tbpassin commented on #2586
Why wouldn't this be the Leo-esque way to do it?

pseudo-code:
[code]

I don't know the mechanics of setting the idle time hook on a callback, and I know you know them very well.  Otherwise I'd have tried it before posting this message.

[2022-04-08 15:14] edreamleo commented on #2586
@tbpassin Thanks, Thomas, for your interest and work on this issue. Everything works for me, so it's hard to say what is going on. I'm going to ask for more testers in devel.

[2022-04-08 15:57] tbpassin commented on #2586
I just fetched the latest changeset in devel, and still I get no blocking but not pylint output.

[code]

I see that _wait_ get set to False in bpm.init().  So it's a class variable, not even an instance variable.  Unless bpm is a singleton class, isn't that asking for trouble (not that it's an issue for the pylint problem)?

On my system, bpm.wait = false doesn't give output, True does, with bloc

[2022-04-08 18:28] edreamleo commented on #2586
@tbpassin The BPM is a singleton, so I don't think there is a problem.

[2022-04-08 21:39] tbpassin commented on #2586
Well, progress. The check_process() method polls the pylint process for completion but never gets it:

[code]

After I had let it run for about 6000 seconds, there had still been no output and the task was still visible in taskmanager, though shown as using no CPU.  When I manually killed the pylint task with the Windows taskmanager, then the pylint output was printed to the log pane.

[2022-04-08 22:55] tbpassin commented on #2586
From reading, if the output pipe fills up, the process might always return None when polled.  Not sure how or if this applies here.

[2022-04-09 01:01] edreamleo commented on #2586
@tbpassin Thanks Thomas. You may have put your finger on the problem. I have a half memory of trying to read the pipe while the process is running, which one might think would cause the pipe not to fill up, but iirc that didn't work.

You've given me something to chew on.

BTW, how much output did you finally see in the log pane?  Can you send me a file that creates that much output?

[2022-04-09 01:22] tbpassin commented on #2586
I'm running it on vr3.  There are a lot of lines about not being able to find Qt objects - we've seen those before.  I just tricked it into telling me how many characters it's returning by putting a self.pid.stdout.read() in `check_process()`.  That blocked, but it returned 15534 characters for the output up to that point.  So it was at least that long.

[code]

I have found lots of complaints onl

[2022-04-09 01:34] edreamleo commented on #2586
@tbpassin Potential breakthrough. Quite by accident I stumbled upon [this example](https://docs.python.org/3/library/venv.html#an-example-of-extending-envbuilder) from the venv module. It creates reader processes in separate threads.

I'll play with these ideas.

[2022-04-09 01:35] edreamleo commented on #2586
@tbpassin I'm pretty sure messing with the polling loop won't work.

[2022-04-09 01:39] tbpassin commented on #2586
I just read that if you use threads here, you tend to end up with zombie threads once the pipe is done.

[2022-04-09 01:44] tbpassin commented on #2586
I found this on Microsoft docs:

"To write to the pipe, use the pipe's write handle in a call to the [WriteFile](https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-writefile) function. The WriteFile call does not return until it has written the specified number of bytes to the pipe or an error occurs. If the pipe buffer is full and there are more bytes to be written, WriteFile

[2022-04-09 01:55] tbpassin commented on #2586
I tried running devel with my old Python 3.7 version.  Either because it has an older version of pylint, or it used the old rcfile location, it found only one line to warn about, and it completed normally as expected.

I'd say this more or less confirms that it's large outputs that cause the trouble.  Perhaps the default pipe size is capped at 64k in my version of Windows.  I haven't been able to

[2022-04-09 02:02] edreamleo commented on #2586
@tbpassin Really? Replacing pipes with (temporary) files?

Hmm. Maybe it's a blind spot on my part.  It's worth a try.

[2022-04-09 02:29] tbpassin commented on #2586
Wait a bit to try it.  I may possibly have a solution that doesn't need files.  Let me fuss with it a bit more first.

[2022-04-09 02:59] tbpassin commented on #2586
I think I have a solution.  In the check_process loop, I put in a readlines(16).  That only blocks until pylint starts pumping output. read() or readlines() would block, but with a size hint, they don't need to wait for more output.

I collect all those `readlines(16)` lines and combine them with the lines gotten after poll() returns.  "16" seems to be a good number because pylint never seems to p

[2022-04-09 03:48] tbpassin opened #2591 "Pylint Command Reruns Previous File Checks"
If I run pylint against file A, and then run it against file B, the second command checks both file A and file B.  A third run against file C checks all three.

I don't think this was intended.

[2022-04-09 07:38] edreamleo commented on #2586
@tbpassin Hmm. But what if there is no output. Now isn't pylint going to block Leo until pylint finishes?

[2022-04-09 13:36] tbpassin commented on #2586
Well, yes, I suppose it would.  I didn't find any large files in the Leo codebase that didn't generate lots of pylint warnings, so I went to vr3 and disabled all the warning type that were coming up.  There were only four of them.

And yes, it mostly blocked, with a few short periods of not being blocked.  In addition, I imagine that pylint finished more quickly since it didn't have to check for t

[2022-04-09 16:56] edreamleo commented on #2586
@tbpassin Good find, Thomas. The link you provide looks similar to the code in the venv docs.

I'd like to play with code, unless you want to claim the "first play" rights by virtue of you having found the code.

[2022-04-09 17:11] tbpassin commented on #2586
No, please go right ahead.  I think this is really your baby, since you tried to get non-blocking pylint working in the first place.  It seems to me that the only use case would be if one wanted to run a series of external files through pylint - I at any rate don't mind very much waiting the minute or so of blocking for any one file.  Your machinery is set up to handle a series of pylint or other

[2022-04-09 17:13] edreamleo commented on #2586
@tbpassin OK, I'll forge ahead. Not sure about async/await.

[2022-04-09 17:41] tbpassin commented on #2586
I can see the bare bones of how to do it with threads.  The problem comes about in check_process.  If we do nothing, the pipe may fill up and stall.  If we read it to prevent stalling, then Leo may block.  So we just have the thread do what check_process does.  I would think that it could set up its own timer and callback, and that could also block for all we care.

When the pylint process finishe

[2022-04-09 19:49] edreamleo commented on #2586
I think I agree with most of what you are saying. I have a plan.  We'll see how it works.

[2022-04-09 20:53] edreamleo commented on #2586
@tbpassin Please see PR #2592. The new code is dead simple.  The Aha, we can call proc.communicate *after* the process has finished. This works for me. There should be no danger of hanging Leo.

The question is, can the process ever block?  I'm not sure why it would, but we shall see.

**Note**: I *really* do not want add a new user setting telling whether to call proc.communicate immediately, whi

[2022-04-09 21:31] tbpassin commented on #2586
This can't work.  The pipe will still fill up and stall the pylint process. It was one of the first things I tried yesterday, actually.  I've just verified this running your new devel branch on vr3.  I never get the output, and the new pylint process stalls and hangs around using no cpu, as shown by the Windows task manager.  As soon as I killed the pylint process with task manager, (some of) the

[2022-04-10 00:51] edreamleo commented on #2586
As I said in the discussion group, I now have a proper test. Imo, there is no simple solution to blocked pipes, except to call proc.communicate once, just after creating the separate process.

So I have given up, for now, and set wait=True. This appears to work.

Aha: there is an entirely new approach: just run pylint (or mypy) *outside* of Leo, and then find some way to copy the output to the log

[2022-04-10 02:23] tbpassin commented on #2586
Yes, I thought of that too, and it does seem workable.  I was saving it in case we came to another solution.  It should probably be run using POpen or it will probably end up blocking too.

[2022-04-10 04:14] tbpassin commented on #2586
OK, I have a working, non-blocking threaded solution.  The POpen process is checked in a separate thread.  When this thread is done, and the pylint output collected, it stores the collected lines in a bpm variable.  On the timer thread, the called task checks the variable to see if it is not [].  If it has contents, then it puts those contents to the log pane.  Writes to and reads from the variabl

[2022-04-10 08:50] edreamleo commented on #2586
@tbpassin When I said "just run pylint (or mypy) outside of Leo" I was thinking "run pylint (or mypy) as usual, from a .cmd file. These never block.

[2022-04-10 09:12] edreamleo opened #2593 "Create clickable links when copying text into the log pane"
See PR #2596.

**Motivation**: It is sometimes easier to run pylint and mypy entirely outside Leo. Rather than rerunning pylint or mypy *inside* Leo (to get clickable links) it would be more convenient to copy any errors from the console to Leo's log pane.

The paste code will match each pasted line against a list of regexes, creating a clickable link when a regex matches.

As a security precautio

[2022-04-10 09:18] edreamleo commented on #2586
@tbpassin Congratulations. You may have rescued the BPM. I'll look forward to your PR.

The acid test will be the responsiveness of Leo. If it's acceptable, I'll accept the PR. Otherwise, I'll deprecate the BPM.

I have just created #2593, which suggests that copying text into Leo's log window will automagically create clickable links.  Devs could run (using scripts) pylint or mypy in separate con

[2022-04-10 09:21] edreamleo commented on #2591
@tbpassin I've never seen this behavior. Let's see what effect proposed changes to the BPM have.

[2022-04-10 12:05] tbpassin commented on #2591
On retrying this, I didn't get a rerun of previous results.  The difference that I had removed the duplicate line printing from `bpm.end()` (it duplicated the output lines that ran already in `check_process()`).  I don't know for sure if that made the difference because I don't see how those lines in end() would have retained the output from the previous run.

[2022-04-10 12:10] tbpassin commented on #2591
I had the same experience as I implemented the threaded bpm processing.  I would get a repeat output from the previous run.  I removed a second set of output lines from bpm.end().  Then I didn't get the duplicates any more.  Here are the removed lines:

[code]
It looks as if the bpm design had changed a bit, because there were similar lines in check_process().  One puzzle for me is why these comme

[2022-04-10 12:22] tbpassin commented on #2586
Was this the intended work flow for the bpm?

1. User starts pylint on one file;
2. While that task is still running, user starts pylint on a second file;
3. repeat for more files.

I'm not sure how helpful that would be, since the results for a previous run would scroll up out of sight when the later ones come in.  In my experience, one needs to spend time - maybe a lot of time - checking out pyl

[2022-04-10 13:48] edreamleo commented on #2586
@tbpassin Yes, that was *one* intended workflow. I might use this when not expecting any complaints from pylint. The queue-related code in the BPM is intended to honor various delayed requests. But your innovations are paramount.

[2022-04-10 13:55] edreamleo opened #2594 "Allow mypy command to run without blocking Leo"
See PR #2599.

[2022-04-10 14:58] tbpassin commented on #2586
I've implemented the changes and they work like a charm.  I'd like you to test the branch on my fork, and also do some code review.  This changeset has some diagnostic print statements which I'd remove before a PR.

I am able to run pylint on every file in the Qt-only plugins tree and continue editing and navigating in Leo while they are all getting checked (with lots of pylint messages), and Leo

[2022-04-10 15:05] tbpassin commented on #2586
You may want to check my implementation with mypy.  I have only ever checked it with pylint.

[2022-04-10 15:09] tbpassin commented on #2594
Assuming that my changes to bpm work as well as I think they do, this proposal seems like it would add complexity for no real value to a user.

[2022-04-10 15:47] tbpassin commented on #2586
Turns out that I see stalled loops sometimes for files that do have pylint warnings.  I don't really know why that is.  But the loop breakout mechanism handles those cases perfectly, so I don't feel inclined to go digging into it any further.

[2022-04-10 15:52] tbpassin commented on #2586
I considered and discarded two design choices for the threaded process checker:

1.  Having the threaded process start the actual POpen process;
2.  Having the threaded process put the results to the log pane.

I rejected those ideas because I thought the thread should do only one thing, which is to check for completion.  I knew how to pass the results back to the bpm, so there was no need to have

[2022-04-10 17:34] tbpassin commented on #2586
Ha!  I used  `if not self.pid.poll():`  but I should have used `if self.pid.poll() is not None:`.  Making this change cleared up all those cases where we seemed to be missing the poll() change.  I'll leave the protective loop-breakout code in place as a backup, but it doesn't seem to ever get hit any more.

[2022-04-10 17:44] tbpassin commented on #2586
Oops, that should have been `if self.pid.poll() is None`!.  This way we get the previous behavior with the pylint output coming in during the loop.  Aparently with the test inadvertently reversed the loop was skipped but we still waited for the task to be finished in the line

`        lines.extend(self.pid.stdout)`

This, however, didn't stall with a full pipe.  Why not, I don't know since it did

[2022-04-10 18:11] tbpassin commented on #2586
Doh! This is the perfect place to use communicate().  It will block the thread but that's why we created the thread in the first place.  So the whole thread function becomes only this:

[code]
It works perfectly.

Please try this version in my github fork.  The changeset is

`e55c0b27c9479868a07439c5cb21fde32cbcf418`

There is still some blocking, but it only occurs while the pylint output is actu

[2022-04-10 19:55] edreamleo commented on #2594
@tbpassin You may be correct. I do, however, review the existing code in light of existing developments.

[2022-04-10 19:57] edreamleo commented on #2586
@tbpassin Looks like great work. I'll test it myself today.

[2022-04-10 20:20] edreamleo commented on #2586
@tbpassin Just tested the code. It seems to work. Please do create a PR.

A cleanup.  In ekr-hang5, check_processed has been "flattened" as follows:
[code]
I would like you to use this as a "template". So I'm *guessing* that would give you:
[code]
Another cleanup.  I have deleted data.number_of_lines everywhere.

Finally, don't worry about mypy. I can always tweak that after merging the PR.

[2022-04-10 20:32] tbpassin commented on #2586
I actually don't use check_process at all and will remove it for the PR.  The threaded equivalent is now so simple that I don't think anything can be taken away.  But I'll look and see what I can apply elsewhere.

[2022-04-10 20:54] edreamleo commented on #2586
@tbpassin Even better!

[2022-04-10 21:24] tbpassin commented on #2591
This problem has been eliminated by the recent background process manager PR, https://github.com/leo-editor/leo-editor/pull/2595.  Once it has been approved, I will close this issue.

[2022-04-10 22:08] edreamleo commented on #2586
Closed via PR #2595.

[2022-04-10 22:08] #2586 closed

[2022-04-10 22:09] edreamleo commented on #2591
@tbpassin I'm closing this issue for you :-)

[2022-04-10 22:09] #2591 closed

[2022-04-11 03:03] edreamleo commented on #2594
@tbpassin I have changed the title of this issue and clarified the idea in the first comment of this issue.

[2022-04-11 03:31] tbpassin commented on #2594
Yes, I took a look at the mypy setup, and it is a bit of a mess in terms of refactoring to the new bpm system.  I would suggest refactoring so that there is a mypy.run() or a run_mypy() method so that the mypy processing looks as similar to the pylint processing as possible.  All the pylint processing code for retrieving the output, computing the links, and outputting to the log pane is now handle

[2022-04-11 10:17] edreamleo commented on #2594
@tbpassin Thanks for these remarks. They are similar to my own thinking. I'll be working on this issue soon.

I'll certainly try to avoid code duplication, but I'm not sure a helper is advisable. Sometimes duplicating code turns out to be the simplest, best, way.

[2022-04-11 10:37] edreamleo opened #2597 "Remove and clean functions in leoGlobals.py"
See PR #2598.

- [x] Remove g.run_unit_test_in_separate_process. It ran unit tests from leoTest.leo.
- [x] Remove g.run_pylint. It hasn't been used for years.
   Remove reference to g.run_pylint from the run function in pylint-leo.py.
- [x] Remove tracing code and kwarg from g.execute_shell_commands.

[2022-04-11 12:18] #2597 closed

[2022-04-12 15:35] #2593 closed

[2022-04-13 11:48] #2594 closed

[2022-04-14 09:36] edreamleo opened #2601 "Annotate most Leo files"
See PR #2604. Waiting until after 6.6.1 to merge into devel.  All work is complete.

This issue is a mass update to more than 90 files, so there new bugs could creep in. Here, I think the risks are justified:

- The changes allow Leo to check almost all of Leo's source files.
- mypy found some real bugs.
- We will test the resulting code for about a month before releasing Leo 6.6.2.

[2022-04-14 09:56] edreamleo opened #2602 "Improve add-mypy-annotations"
See PR #2603.

- [x] Fix bug: use the declared types to annotate args initialized to None(!!!).
- [x] Support DEFAULT pattern in `@data add-mypy-annotations`.
- [x] Support DEFAULT_RETURN pattern in `@data add-mypy-annotations`.

[2022-04-14 11:09] edreamleo commented on #2602
Assigned to 6.6.1 because it fixes a major bug in add-mypy-annotations.

[2022-04-14 11:43] #2602 closed

[2022-04-15 13:56] edreamleo opened #2605 "Retire g.toPythonIndex and related code"
Again, this is all pain and hardly any gain. "1.0" and "end" are easy to transliterate. Not so with "4.24".

[2022-04-16 10:01] edreamleo opened #2606 "Fix crash in add-mypy-annotations"
See PR #2611. Besides two new unit tests, the new code has been tested on qt_text.py.

- [x] Fix one-character blunder in find_arg.
- [x] Add AnnotationError class.
- [x] Special case in find_arg for self=initializer.
- [x] Special cases in do_def for `__init__`, `__repr__` and `__str__`.
- [x] Add two new unit tests

[2022-04-16 10:02] edreamleo opened #2607 "Ctrl-K in log pane puts focus in body pane"
See PR #2613.

[2022-04-16 10:09] edreamleo opened #2608 "Alt-x doesn't work in log pane"
Odd: it now works for me.

[2022-04-16 10:11] edreamleo opened #2609 "Pasting error messages into log panes sometimes doesn't create clickable links"
The only workaround seems to be reloading Leo. The ekr-ann branch contains traces.

The new bpm-status command doesn't show anything amiss.

[2022-04-16 10:26] edreamleo opened #2610 "Add commands to enable/disable/toggle auto collapsing of nodes"
My workflow for adding annotations involves:

- `git-diff` to see the results of `add-mypy-annotations`.
-  expanding all subheads of the resulting tree.

Now I would like to do `goto-last-visible` *without* collapsing any nodes. But I can't do that. Furthermore, I have to be careful about what other operations I do. A `disable-auto-expand` command would help!

[2022-04-16 11:17] tbpassin commented on #2609
what  branch?  i'll see what i can do one-handed.

[2022-04-16 15:11] tbpassin commented on #2609
where is the code that tries to do the pasting?  Can you provide a sample message that failed?

[2022-04-16 17:07] edreamleo commented on #2609
@tbpassin Hey! Great to hear from you.

The branch: ekr-ann. The problem happens when pasting in the log pane, so the relevant code is: LeoFrame.pasteText.  The new special case is:
[code]
so the prime suspect is LeoLog.put_html_links.

The failures are mypy errors. For example:

`leo\plugins\qt_text.py:101: error: Function is missing a type annotation for one or more arguments  [no-untyped-def]`

[2022-04-16 19:22] tbpassin commented on #2609
can you induce the problem with messages that are not mypy errors?  maybe pylint errors?

if you stop getting the links, are the bare messages still getting printed or is there just nothing getting printed to the log?

[2022-04-16 20:28] tbpassin commented on #2609
ok, i was able to reproduce the error - no highlighted link in the pasted text.  i ran mypy to get some errors, copied one line from the console and pasted it into the log pane.  it pasted but no underlined clickable link.

not easy one-handed!

[2022-04-16 20:43] edreamleo commented on #2609
@tbpassin :-) Well done. For me the problem is intermittent. I'm glad you could reproduce it.

[2022-04-16 20:44] tbpassin commented on #2609
funny, i put a print statement at the start of the put_html_links statement and now i'm not getting the error.

    `print('====', s)`

btw, the mypy command is not limiting itself to the one file it's supposed to run against, but runs against many files.  pylint restrains itself just to the one file.

[2022-04-16 21:22] edreamleo commented on #2609
@tbpassin Especially when run from inside Leo, mypy seems to check to much. That's a big reason why I like to run mypy outside of Leo and then paste the messages into Leo's log pane.

[2022-04-16 23:42] tbpassin commented on #2609
it's checking too many files.  can't we graft on the file selection code from pylint ?

[2022-04-17 08:43] edreamleo commented on #2609
@tbpassin Interesting. Yes, it surely should be possible.

[2022-04-17 08:54] edreamleo commented on #2609
@tbpassin On the main issue here, there would seem to be a good quick check. When links do work,  LeoLog.put_html_links puts each line separately to the widget, even if a particular line doesn't match any regex. As a result, put_html_links is noticeably slower than pasting all at one in LeoFrame.pasteText.

But when links don't work, the paste goes quickly, which would indicate that put_html_links

[2022-04-17 09:19] edreamleo commented on #2609
@tbpassin A trace in mypy.run shows that mypy can produce more output when started on a particular file than when started from my script. Here is the script:
[code]
Anyway, I'm not too concerned about this difference :-)

[2022-04-17 09:25] edreamleo commented on #2609
@tbpassin Wow. mypy's caching scheme is mysterious.

When I check qt_text.py from inside Leo, a trace shows that mypy.run is *only* calling mypy for qt_text.py, but changes to other files cause many new mypy warnings.  My workaround is to always use the script shown above, which somehow keeps the messages down.

[2022-04-17 09:39] tbpassin commented on #2609
1. i had noted the incorrect comments but decided to wait for another tome to mention them.
2. i also thought that the regexes weren't firing sometimes  - maybe because of garbage at the start or end of a line - but had not specifically checked yet.  seems like we are having similar thoughts here.

[2022-04-17 10:00] tbpassin commented on #2609
note also that put_html_links is indented under put_nl.  should have no effect but probably not intended.

[2022-04-17 10:27] edreamleo commented on #2609
@tbpassin Thanks for your comments.

- Yes, it seems we are both having similar thoughts.
- I have corrected the comments in the ekr-ann branch.
- put_html_links appears in the expected place in my version of leoSettings.leo.

[2022-04-17 10:29] tbpassin commented on #2609
interesting read - https://blog.zulip.com/2016/10/13/static-types-in-python-oh-mypy/

[2022-04-17 10:31] tbpassin commented on #2609
i just fetched the branch half an hour ago and it was indented in leopyref.

[2022-04-17 10:45] tbpassin commented on #2609
i'm thinking that if you really want to get serious about mypy in leo, give up on python 3.6.  too many features come in at 3.7.  see https://mypy.readthedocs.io/en/latest/runtime_troubles.html

[2022-04-17 11:29] tbpassin commented on #2609
what does this construct mean in the regex?

(.+?)

the ? makes the preceding character optional but that char is a metacharacter already. so i don't understand.

[2022-04-17 12:20] edreamleo commented on #2609
@tbpassin Several comments:

- I wouldn't worry about leoPyRef.leo. It will be updated from my leoPy.leo when releasing 6.6.1.
- `(.+?)` specifies a non-greedy match. This is essential so that the pattern doesn't match too much!

From the [re documentation](https://docs.python.org/3/library/re.html#regular-expression-syntax):

*?, +?, ??

The `'*', '+', and '?'` qualifiers are all greedy; they mat

[2022-04-17 12:22] edreamleo commented on #2609
@tbpassin It's just barely possible that the problem lies in a weird interaction between to-be-pasted text and regexes, but the evidence doesn't seem to support this hypothesis.

[2022-04-17 12:25] edreamleo commented on #2609
@tbpassin I've just reassigned this issue to 6.6.1, which means that I'll put any fix into 6.6.1 *provided* that the fix seems simple enough.  But no pressure: I'm happy to delay the fix into 6.6.2 if necessary :-)

[2022-04-17 12:26] #2606 closed

[2022-04-17 12:51] edreamleo commented on #2609
@tbpassin I've just posted a link to the "static types in python" articles at leo-editor. It's excellent.

[2022-04-17 12:59] edreamleo commented on #2609
@tbpassin re runtime troubles: Ouch! This is only one reasons why #2604 must wait until Leo 6.6.2.

I would really rather not have the code test for python version for all imports of the typing module!

I am not real happy about requiring python 3.7. Python 3.8 was a dud, imo, so I would rather go straight to 3.9.

[2022-04-17 13:01] #2608 closed

[2022-04-17 13:46] #2607 closed

[2022-04-17 14:24] tbpassin commented on #2609
i forgot about non-greedy matches ... only used them a few times.

re versions, for type-checking i could agree but for actually running the code, seems we still have folks who want or need to stay with 3.6 for some time.

[2022-04-17 14:37] tbpassin commented on #2609
--follow-imports=skip reduces a lot of the time and variability running mypy.  sure it reduces checking, but might be worth it in earlier stages..

[2022-04-17 14:37] tbpassin commented on #2609
also see re mypy daemon.

[2022-04-17 15:36] tbpassin commented on #2609
in putting links, the code iterates through all lines and patterns.  if no match, quit;  if match, iterate through all lines and patterns *again*.  seems like we could do with only one double iteration here.

also, once a pattern matches, we could iterate through using just that pattern.  or are you thinking that a block of copied messages might come from more than than one pattern ?  i don't.

[2022-04-17 17:19] tbpassin commented on #2609
what if the pattern didn't start at the start of a line?  right now, you have to capture the start of a line exactly or it may not match.  if the leading "^" were removed there would be a little leeway for an inaccurate copy that inadvertently wrapped around the start.

[2022-04-17 17:40] edreamleo commented on #2609
@tbpassin Comments:

- I agree: we can "decree" that type checking will only happen with Python 3.9+, and only (say) with Qt6. No need to require users to upgrade. So that's (mostly) a non-issue. There may be some mypy-related complications in defining type constants when the version constraints aren't met. I'll investigate today.
- The "double" iteration through lines is not an issue. The first p

[2022-04-17 17:47] edreamleo commented on #2609
@tbpassin Two more comments:
- Yes, `--follow-imports=skip` is worth considering, but in my experience mypy is fast enough without it.
- About your suggestion only to test one pattern in when putting links. This would have essentially zero impact on speed. To the first and second approximations, all of the slowdown in put_html_links comes from the line-by-line calls to LeoLog.put, *regardless* of

[2022-04-17 18:11] tbpassin commented on #2609
that's another thing i was wondering about - why we don't save up all the lines and give them to the log pane at one time.  setHtml() shouldn't care.

currently i'm not missing links so i'm just flailing around with ideas that i can't verify.

[2022-04-17 18:43] tbpassin commented on #2609
strings copied off console, both are found by the regexes running with ctrl-b:

[code]
both strings pasted into log successfully.

one way for it to fail: if the @files aren't found,  then no links.

btw, mypy ``really`` doesn't like leoKeys.py.

[2022-04-17 18:54] tbpassin commented on #2609
the "^" anchor does nothing useful because of the wildcard ``.+`` - i tried wrapping around part of the previous line and the match succeeded - but the wrapped  lead-in would be considered part of the filename ...

[2022-04-17 23:27] edreamleo commented on #2609
@tbpassin Now I'm less sure about what is happening. I just got missing links, but they appeared "instantaneously". How is that possible? I would have sworn that LeoQtLog.put would be slow! I just added a new trace in put_html_links that reports the number of lines if there *is* a match. Maybe that will help.

If I had to guess, it is that sometimes there is a problem with line endings, so only on

[2022-04-17 23:49] edreamleo commented on #2609
@tbpassin I'm pretty sure I know what is happening. Not sure why yet. I put a trace at the end of put_html_links that tells whether any patterns inside the loop match. That trace report True, even though no links were visible. The only non-mysterious way that could happen is if self.find_at_file_node(filename) returns None.  The original code says:
    `# An unusual case, but not worth a message.`