[2016-02-13 15:52] edreamleo commented on #231
On Thu, Feb 11, 2016 at 9:01 AM, John Lunzer <notifications@github.com>
wrote:

I am inclined to leave the existing file named as it is.​

​> ​
What is involved is creating the new rules file

​It's a pretty arcane topic, covered here
<http://leoeditor.com/coloring.html#format-of-colorizer-control-files>, in
the advanced topics <http://leoeditor.com/intermediatetopics.html> chapter.

​> ​
as well

[2016-02-13 16:52] JohnLunzer commented on #231
Point taken about renaming, then just the new one could have the clarified file name, assembly_x86_att.py. And for the current just add the clarification into the comments.

[2016-02-13 17:11] robcrutchfield opened #232 "print-plugins-info fails with error messages"
Selecting print-plugins-info from the Plugins menu generates these
  messages:

  exception executing command
  Traceback (most recent call last):
    File "c:\leo.repo\leo-editor\leo\core\leoCommands.py", line 5120, in doCommand
    File "c:\leo.repo\leo-editor\leo\core\leoGlobals.py", line 1335, in wrapper
    File "c:\leo.repo\leo-editor\leo\plugins\qt_frame.py", line 2773, in fullyExpandLogPan

[2016-02-16 22:30] MrMormon commented on #226
Thanks.

[2016-02-20 20:07] MrMormon opened #233 "Old SourceForge links in http://leoeditor.com/installing.html#installing-leo-itself"
latest stable release (http://sourceforge.net/projects/leo/files/Leo/4.11%20final/)

should be https://sourceforge.net/projects/leo/files/Leo/5.1-final/

[2016-02-25 19:31] tuxlifan opened #234 "hard crash on UnicodeDecodeError"
Hello,

After some years I was looking again at learning Leo and going through the Leo Basics until http://leoeditor.com/slides/leo-basics-step-by-step/slide-010.html when I somehow mistyped and must have pressed multiple keys at once (one of them the 'ü' key on my keyboard with German layout) and then Leo crashed.

Unfortunately I was not able to reproduce the crash so far and I do not know yet e

[2016-02-27 12:30] edreamleo commented on #234
Why did you call this a hard crash.  Did Python itself crash? Did Leo exit?

[2016-02-27 12:35] edreamleo commented on #201
Leo mostly works correctly with the Anaconda distro. I am going to close this particular issue. There are indeed issues with the clipboard, and with hard crashes during shutdown, but this issue is misnamed.

[2016-02-27 12:35] #201 closed

[2016-02-27 12:37] edreamleo opened #235 "Leo does not shut down proprly with Python 3 on Windows 10"
On Anaconda 3.5.1 distribution on Windows 10, Leo hard crashes Python during shutdown. It's more embarrassing than dangerous.

[2016-02-27 12:42] edreamleo commented on #213
Confirmed using the Anaconda3 release, which is specifically geared to IPython, Jupyter, etc. This means that there is virtually no chance that this is an installation issue. It's a real bug in Leo's IPython support.

I probably will not fix this for 5.1.1, but it will be fixed for 5.1.2.

[2016-02-27 12:43] edreamleo commented on #179
Preloading the find pattern completes this issue.

[2016-02-27 12:43] #179 closed

[2016-02-27 12:45] #125 closed

[2016-02-27 13:39] tuxlifan commented on #234
Leo was terminated with SIGABRT (my uninformed guess would be due to interaction of the UnicodeDecodeError with PyQt?) which made the window disappear instantly and lost all non-saved changes (nothing valuable at that point).
I put "hard crash" analogue to how it's used in [moneyguru's changelog](https://www.hardcoded.net/moneyguru/help/en/changelog.html) but I'll be happy to reword it if somethin

[2016-02-27 17:51] edreamleo commented on #235
Fixed at 04571dbb4. All tests pass.

[2016-02-27 17:51] #235 closed

[2016-03-01 21:16] edreamleo commented on #234
Presumably fixed at 29c00a861e.
The new code forces everything to unicode with g.toUnicode.
No way to test the code, but it should work.  Pleases reopen if necessary.

[2016-03-01 21:16] #234 closed

[2016-03-02 22:08] ktenney opened #236 "abbrev-write generates different continuations than used in @data"
When defining abbreviations in a @data abbreviations node,
continuation looks like:
continue;;=line 1
\: line 2
\: line 3

when abbreviations are dumped via abbrev-write they look like:
continue;;=line 1\n line 2\n line 3

I would consider the abbrev-write file more useful if it used the
same continuation convention as in @data nodes

[2016-03-03 04:53] largo84 opened #237 "Session-snapshot-load doesn't load network drives"
Create a session snapshot including a .leo file on a network drive (not mapped to a drive letter). The command, session-snapshot-load will load all files *except* the network drive files.

Session-restore works as expected, no issues.

(Win10 with latest GitHub release, Python 3.4.3 and PyQt 5.4.1)

[2016-03-03 11:03] edreamleo commented on #203
At last I have uploaded the new index.html to Leo's web site.

[2016-03-03 11:03] #203 closed

[2016-03-03 11:39] edreamleo commented on #213
This thread is relevant: [IPython Kernel Connection File Location](https://groups.google.com/forum/#!searchin/leo-editor/jupyter/leo-editor/fZ5nzs7f0iM/ARaTA0iICAAJ)

[2016-03-03 11:44] edreamleo commented on #213
Here is an email from Rafi Bin-Nun 12/21/15:

While I'm able to see IPython variables in Leo and Leo variables in IPython and can't seem to get Leo nodes to execute in IPython. When I hit ctrl-shift-i with a Leo node selected, nothing seems to happen. Is this what's supposed to happen?

in Leo: ctrl-shift-i on node with body:  b =100

in IPython:

    In [23]:  b
    Out[23]: 100

[2016-03-04 14:21] JohnLunzer opened #238 "Chapters enhancements"
Chapters have a few limitations that when combined with clones could help create views:
- Chapters have the same limitation as hoists when switching between nodes. If I switch between clones and one clone is inside a chapter and the other isn't I will lose my chapter view by switching to the clone outside the chapter and then attempting to switch back to the clone inside the chapter.
- Allow any n

[2016-03-04 19:46] SegundoBob opened #239 "cfa fails to find many occurrences of the target string"
In general, cfa finds 0 occurrences.  I've succeeded in getting only one find from cfa:  I ran "cff IPython" and it found six matches.  Then I ran "cfa IPython" and it found one match.  This match was the "Found:IPython" node created by the cff command.

This problem is either trivially easy to cause to happen, or something is really messed up on my system, or I seriously misunderstand how cff and

[2016-03-04 22:17] edreamleo commented on #239
Thanks for the report.  I'll look into it.

[2016-03-05 10:49] edreamleo commented on #233
I just changed this to should be https://sourceforge.net/projects/leo/files/Leo/

[2016-03-05 10:49] #233 closed

[2016-03-05 10:57] #226 closed

[2016-03-05 11:20] edreamleo commented on #232
I can not reproduce this problem on the latest builds. 5.1 final is ancient history now.

[2016-03-05 11:20] #232 closed

[2016-03-05 11:47] #239 closed

[2016-03-05 11:49] edreamleo commented on #239
This was a simple blunder.

[2016-03-06 11:28] edreamleo commented on #217
Leo does not support icondclick events directly, as per note 15 [here](http://leoeditor.com/writingPlugins.html#summary-of-event-handlers).  A recent rev updates plugins.html so it no longer refers to the icondclick handlers in the vim plugin. This was a *minor* documentation issue because the documentation clearly indicate that icondclick events can only be created by the double-click-icon-box co

[2016-03-07 00:41] SegundoBob commented on #239
Thanks.

I confirm that this problem has been fixed.

I tested:
[code]

[2016-03-07 12:06] edreamleo commented on #217
Rev 9ef2b262 fixes all known problems, and simplifies both the code and user interaction.
It works as expected on Ubuntu and Windows 10.
I'm going to close this now. The code is certainly good enough for Leo 5.2.
Please reopen only if serious problems are found.

[2016-03-07 12:06] #217 closed

[2016-03-07 12:07] edreamleo commented on #229
launchLeo-unified.spec now forms the basis of this ongoing project, so this item can be closed.

[2016-03-08 12:21] edreamleo commented on #213
Rev b662e62af9 begins work on this issue. See the checkin log for details.

Most importantly, Leo's --debug option now enables verbose IPython tracing when --ipython is in effect.

[2016-03-08 16:21] edreamleo commented on #213
Recent revs greatly improve logging, issuing warnings even when --debug is not in effect.
For the first time ever, logging makes clear what is happening.
I'll attempt a complete fix asap, but the present code is good enough for 5.2 b1.

[2016-03-08 21:21] #213 closed

[2016-03-08 21:27] edreamleo commented on #213
To recap: The fix was so simple: use all the default arguments to connect_qtconsole.
The preliminaries to the fix were at least as important as the fix itself.
- Modernized the imports.
- Added logging methods.
- Tying Leo's --debug option to more verbose IPython logging.
In short, this has been a super successful project.

[2016-03-08 21:58] tbnorth opened #240 "body won't scroll to end of text"
See this thread:
https://groups.google.com/forum/#!topic/leo-editor/_J3pgNP7VKo
Probably the redraw and scroll issues area related, not sure.
Scroll problem is hard to reproduce but I think you can do it with a long body, with the bottom scrolled off the view, then inserting something with middle button paste or ctrl-V paste, then a keystroke (like Enter).
Will try and find time to git bisect on m

[2016-03-09 01:24] JohnLunzer commented on #240
I can confirm this as a method to reproduce, this was affecting me heavily today.

[2016-03-09 04:13] tbnorth commented on #240
First bisect attempt failed, steps to reproduce require only a few lines not visible at bottom, if more than a few, it doesn't happen.  Second attempt succeeded, coming up where I was afraid it would...

d7fbe36556be7d754d09735eeacbf7c6b31ae668 is the first bad commit
commit d7fbe36556be7d754d09735eeacbf7c6b31ae668
Author: Edward K. Ream <edreamleo@gmail.com>
Date:   Thu Mar 3 04:32:59 2016 -0600

[2016-03-09 11:09] edreamleo commented on #240
Thanks for your work on this, Terry.

Not great news, but let's not give up hope just yet...There may be a way to get everything we want.

[2016-03-09 12:22] edreamleo commented on #240
I am not seeing any problems.  What platform are you on, and what version of PyQt?

[2016-03-09 13:15] edreamleo commented on #240
Terry, or whoever, please send me a .leo file containing detailed instructions about how to see the bug in action, including platform, version of Python and version of PyQt/Qt.  Thanks.

Unless a quick fix can be found, I'll add a g.new_invisibles switch that reverts to the old code when False.

[2016-03-09 14:09] edreamleo commented on #240
66fcf27c44 may fix this bug. It uses a considerably simpler scheme.
It reverts to the old setWrap code.  Almost surely this will fix the wrap bug.
The only question is whether wrapping and invisibles play nice. All appears well.

I'll leave this open for now.  Please report your experiences.

[2016-03-09 15:50] tbnorth commented on #240
I think it's fixed, bit it would be good to get @JohnLunzer  to confirm. Also I wasn't using the invisibles, so I can't comment on the impact on that.

For posterity, seen in both Win 7 and Ubuntu 14.04 with py 2.7 and qt ~4.8.  To reproduce I did

    HOME=/tmp python launchLeo.py

copy / pasted the log message into the body of a node until I had over 120 lines in the body, then scrolled the last

[2016-03-09 16:35] edreamleo commented on #240
On Wed, Mar 9, 2016 at 9:50 AM, Terry Brown <notifications@github.com>
wrote:

​> ​
I think it's fixed, bit it would be good to get @JohnLunzer
<https://github.com/JohnLunzer> to confirm
​.
​
​Thanks, Terry.  And thanks for the recipe for seeing the bug in action.

EKR

[2016-03-09 16:35] edreamleo commented on #240
I'll mark this as closed now.  Please reopen if there are problems.

[2016-03-09 16:35] #240 closed

[2016-03-09 16:44] JohnLunzer commented on #240
I will try to test this today and if not today then tomorrow.

[2016-03-13 03:31] largo84 opened #241 "QMimeData object error"
I get the following error in the terminal window (not the log pane). It seems to happen whenever I copy and paste a block of text. It doesn't appear that I lose any data, but here it is nevertheless.

Data set on unsupported clipboard mode. QMimeData object will be deleted.

Environment: Python 3.4.4, PyQt version 5.5.1, Win10

[2016-03-15 10:03] maguohe opened #242 "@auto-rst open/save error"
I use @auto-rst node,  and wirite non-ascii characters (chinese) in outline.
when open the leo file.  a error log will be report.

[code]

I read the source file and find the problem in the file leo_rst.py .

[code]

but in file leoRst.py : use

[code]

[2016-03-15 15:22] largo84 opened #243 "Bookmarks plugin errors"
Python 3.4.3, PyQt version 5.4.1
Windows 8 AMD64 (build 6.2.9200)

The following errors in the terminal window when loading .leo files with the bookmarks.py plugin enabled:

Traceback (most recent call last):
  File "D:\Synced\github repos\leo\leo\plugins\bookmarks.py", line 426, in minimumSize
    size += QtCore.QSize(2 * self.margin(), 2 * self.margin())
AttributeError: 'FlowLayout' object has n

[2016-03-15 15:52] #243 closed

[2016-03-15 16:32] largo84 commented on #243
That was fast! Works here, thanks!

[2016-03-16 11:12] kilon opened #244 "Unable to run Leo on MacOS yosemite"
I cloned this repo, I installed the dependencies with :

brew install qt sip pyqt

and tried to run Leo but I got this error

setting leoID from os.getenv('USER'): 'kilon'
reading settings in /Users/kilon/git/leo-editor/leo/config/leoSettings.leo
Traceback (most recent call last):
  File "launchLeo.py", line 8, in <module>
    leo.core.runLeo.run()
  File "/Users/kilon/git/leo-editor/leo/core/runL

[2016-03-16 13:39] edreamleo commented on #244
In future, please ask for help before reporting a bug. I have tested this code on Yosemite with the Anaconda installation of Python, which is good for supporting IPython and Jupyter notebooks.

`AttributeError: 'NoneType' object has no attribute 'QFrame'` indicates an installation problem with QtWidgets. You might want to do something like `brew upgrade`, but I'm no MacOS expert.

Anyone else have

[2016-03-16 16:09] edreamleo commented on #244
You can set the `trace` switch to True in leoQt.py.  This will trace the import commands related to Qt.  All of Leo's core, including leo/plugins/qt_text.py, use leoQt.py to do the imports, so to the first approximation the imports in leoQt.py tell the whole story.

[2016-03-18 01:08] edreamleo commented on #244
I am going to close this because it's an installation issue and because we are discussing it on leo-editor.

[2016-03-18 01:08] #244 closed

[2016-03-18 13:12] kilon commented on #244
yes this is an installation problem with brew and QT , it seems the pyQT is not visible by macos default python

[2016-03-18 14:39] edreamleo commented on #244
On Fri, Mar 18, 2016 at 8:12 AM, kilon <notifications@github.com> wrote:

That's good news here. ​ Have you tried installing Anaconda?

Edward

[2016-03-18 14:43] kilon commented on #244
For anyone with similar problem the homebrew instruction for adding PyQT to the import path are wrong. Instead edit
~/.bash_profile

and add this line

export PATH="/usr/local/lib/python2.7/site-packages:${PATH}"

after this leo editor will open with using the default python installation provided by MacOS

There is no need to use Anacoda so no I dont use it.

You may want to put this into your doc

[2016-03-18 15:38] edreamleo commented on #244
On Fri, Mar 18, 2016 at 9:43 AM, kilon <notifications@github.com> wrote:

​Thanks for this.  I'll update the docs.

EKR

[2016-03-18 16:34] kilon commented on #244
my pleasure and congratulations on your amazing work :) :+1:

[2016-03-19 20:24] MrMormon commented on #226
INSTALL.TXT still refers to setup.py. Should that file be archived in dist too?

[2016-03-19 20:54] edreamleo commented on #226
Good catch.  I am going to change the `Installing Leo on Linux` section of INSTALL.TXT as follows:

    You may download Leo's sources in one of three ways, as described at:
    http://leoeditor.com/download.html If the sources are zipped, unzip them
    into a folder in your home directory, say ~/leo-5.2 (or /usr/bin, etc.)

    To gain access to Leo, you have two choices:

    A. Add  ~/leo-5.2

[2016-03-21 19:57] SegundoBob opened #245 "Specifying a new Leo-Editor file on the command line no longer works"
Instead of creating the new file, Leo-Editor opens the "workbook."  This bug exists on the latest Leo-Editor. The first bad commit was:
[code]
Test System:
[code]

[2016-03-22 19:32] edreamleo commented on #245
Thanks for this report.

[2016-03-23 03:43] misdvickysue opened #246 "UNSUBSCRIBE"
I ACCIDENTALLY SUBSCRIBED TO THIS AND I NEED TO UNSUBSCRIBE FROM GITHUB...TY

[2016-03-23 09:44] edreamleo commented on #246
In future, please do not post bugs when asking for help. Afaik, only you can unsubscribe.

[2016-03-23 09:44] #246 closed

[2016-03-23 14:06] tbnorth commented on #246
Heh, not sure someone who accidentally subscribes and posts in all caps would be familiar with afaik (As Far As I Know :-)  @edreamleo - can you remove people from the list at:
https://groups.google.com/forum/#!forum/leo-editor ?

[2016-03-23 15:01] edreamleo commented on #246
On Wed, Mar 23, 2016 at 9:06 AM, Terry Brown <notifications@github.com>
wrote:

​I didn't find a way.

EKR

[2016-03-23 15:22] misdvickysue commented on #246
I FOUND A WAY....THANK YOU

Sent from Yahoo Mail on Android

  On Wed, Mar 23, 2016 at 10:01 AM, Edward K. Ream<notifications@github.com> wrote:   On Wed, Mar 23, 2016 at 9:06 AM, Terry Brown <notifications@github.com>
wrote:

​I didn't find a way.

EKR

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub

[2016-03-29 11:26] edreamleo commented on #156
Rev bdce2b05 succeeds in showing errors to Leo's log and the console window from which Leo was launched.

Still unfinished: print a waning to IPython Qt Console.

[2016-03-30 13:16] jurov opened #247 "@language c breaks goto-global-line"
When I add "@language c" declaration into top node of @file or @clean tree , Goto global line stops working. It sometimes refuses to work even without it, but I haven't figured how else to trigger it.
"@language python" works. This is both in v5.2 and latest master.

In 5.1-final it worked (obv. only with @file) but line numbers were off by 1.

[2016-03-30 13:32] jurov opened #248 "Empty lines in @file/@clean trees"
If you put some empty line(s) in the beginning and/or the end of nodes in @clean tree, they are not consistently output into the generated file. With sample [workbook.leo.txt](https://github.com/leo-editor/leo-editor/files/195591/workbook.leo.txt) , I am getting:
[code]
If there is some stripping going on, is it documented anywhere?

[2016-03-30 14:27] tbnorth commented on #248
Just a note - I thought this might be a duplicate, but failed to find another open bug on this issue.

[2016-03-30 23:09] LewisNeal opened #249 "Leo and Stickynote plugin do not request to save"
When I edit a node using a Stickynote popout window and close the popout window, the node body text updates as expected. But when I close the leo tab there is no request to save the file.
Also when I directly close the visually updated leo file tab, there is no recognition that the file is edited and no confirmation request to save the file.

Leo Log Window
Leo 5.3-devel, build 20160327164927, Sun

[2016-03-31 15:18] #156 closed

[2016-03-31 15:26] edreamleo commented on #156
The new code prints the same messages to the Qt Console as are printed to Leo's log pane.

**Notes**:

1. There is no obvious traceback object available anywhere. This is annoying, but it should not be a huge problem, because the offending code is in the .leo file. I am going to ask stack overflow...

2. While IPython is executing, sys.stderr goes to IPython's Qt pane, while sys.__stderr__ goes to

[2016-03-31 18:14] edreamleo opened #250 "equal-sized-panes should resize viewrendered pane"
[Initial discussion](http://groups.google.com/group/leo-editor/browse_thread/thread/583bc0a31a6c7979) was in June, 2011.

[2016-03-31 19:19] tbnorth commented on #250
Glad this is assigned to you ;-) I can't think how equal sized panes wouldn't resize vr.

[2016-04-01 21:24] edreamleo commented on #249
A call to p.setDirty() should do the trick.

[2016-04-01 21:59] edreamleo commented on #248
Everything works for me as expected, with my settings, on your test file.

As with @shadow, there may be glitches when updating the outline from changes made externally. These changes will "take" when you save the .leo file. As I have just verified, Leo's "Recovered Node" logic shows where all such external changes happen.  You must then verify that the "boundary lines" are where they should be, m

[2016-04-01 22:01] edreamleo commented on #248
I am going to close this.  Please reopen if you can demonstrate the bug more plausibly.

[2016-04-01 23:19] jurov commented on #248
I have no idea what was different on your side, please specify what "works as expected" and "plausible demonstration" mean? Namely, did you get same output file I quoted, or something else? And is that one correct or not?

I now retried it on a computer where Leo was not installed,
1. cloned git repository and ran it from master branch.
2. downloaded the sample workbook.leo.txt, renamed to workboo

[2016-04-01 23:20] edreamleo commented on #248
[Here](https://github.com/benzolius/leo-scripts/blob/master/correct_empty_lines.py) is the script I mentioned above.

[2016-04-01 23:23] jurov commented on #248
But again, there was no updating from disk whatsoever, I don't get what is there to "correct". I created the clean tree in Leo!

[2016-04-02 19:52] edreamleo commented on #156
ecc0270 looks like a complete solution. See [this discussion](http://stackoverflow.com/questions/36337983/how-to-get-sys-exc-traceback-form-ipython-shell-run-code/36375305#36375305) on Stack Overflow. For the first time, this issue looks completely resolved.

[2016-04-03 09:40] edreamleo commented on #241
I don't see this with:

    Python 3.5.1, PyQt version 4.8.7
    Windows 10 AMD64 (build 10.0.10586) SP0

I wonder whether this is yet another PyQt 5 problem?

[2016-04-03 09:47] edreamleo commented on #248
@jurov I'll reopen this.  Didn't mean to upset you :-) I do think that this is some kind of misunderstanding.

[2016-04-03 10:14] #245 closed

[2016-04-03 10:19] edreamleo commented on #238
I had forgotten this request when I wrote [this](https://groups.google.com/d/msg/leo-editor/-mv2x_6TAdM/Bgntt7b9AgAJ). As explained there, and a reply to your email, I think less is more, especially since it's possible to move @chapters nodes anywhere.

For this reason, I am going to close this item.  Feel free to continue the discussion.

[2016-04-03 10:19] #238 closed

[2016-04-03 12:38] edreamleo commented on #249
Fixed at 067fc23fdfe. From the checkin log:

    This plugin has major problems, which I'll leave it to the original author to fix:

    1. The insertion point is not visible in the popup window.
    2. The window has no menu, so one must use alt-space c to close it from the keyboard.
    3. Closing the window changes text, but this is not undoable.
    4. Encryption does not work for Python 3.

I

[2016-04-03 12:38] #249 closed

[2016-04-03 14:57] #242 closed

[2016-04-03 17:46] edreamleo commented on #247
Fixed at cd6c5995c, with a new unit test.

[2016-04-03 17:46] #247 closed

[2016-04-03 18:04] edreamleo opened #251 "goto-global-line is inaccurate with @clean"
The same behaviour is seen with both both python and c language.

Looks like a duplicate of #221. I'll attend to both here.

[2016-04-03 18:37] jurov commented on #248
Thanks. Actually, reading back is funny too, if I add empty lines into the /var/tmp/tmp2.txt file so that line5 and line8 are really 5th and 8th, and read it back, there are superfluous newlines in @clean tree.

[2016-04-03 22:01] edreamleo commented on #221
Fixed at 900715c5.

[2016-04-03 22:01] #221 closed

[2016-04-03 22:01] edreamleo commented on #251
Fixed at 900715c5.

[2016-04-03 22:01] #251 closed

[2016-04-03 23:06] largo84 commented on #241
I don't recall seeing this on my work system, which is still on PyQt4 as I recall. I'll double-check when I get back to the office.

[2016-04-04 10:33] edreamleo commented on #241
Rev fb67b39 contains an **experimental** fix.  Tested successfully with PyQt4 (only) with Python 2 & 3 on Windows and Ubuntu.  As explained below, I have some hope that the fix will also work with PyQt5, but that remains to be proven.

@largo84 Rob, let me know what happens for you.

Ah, the power of googling...

1. Googling "Data set on unsupported clipboard mode. QMimeData object will be deleted

[2016-04-04 10:52] JohnLunzer commented on #225
I hadn't seen this here... my solution to this has always been to use @language yaml. YAML is a superset of JSON and so in theory the YAML highlighting rules should highlight JSON completely. That said Leo still doesn't automatically recognize JSON files.

[2016-04-04 10:57] JohnLunzer opened #252 "goto-next clone activate chapter view"
Please reference this thread - https://groups.google.com/forum/#!topic/leo-editor/K81S8ASkKm8

The bulk of the request is to make a change so that goto-next clone activates the chapter view of the nearest enclosing chapter.

[2016-04-04 12:04] edreamleo commented on #237
There is/was a related issue about @file not handling network designations properly. Afaik, that was never resolved.

[2016-04-04 12:09] edreamleo commented on #237
Have you tried forward slashes, as recommended [here](http://stackoverflow.com/questions/12730025/python-accessing-windows-mapped-network-drive-with-known-url-but-unknown-drive)?

[2016-04-04 12:18] edreamleo commented on #212
@SegundoBob Could you please re-send the files to me at edreamleo@gmail.com.  I don't see them anywhere in my in-box.

[2016-04-04 12:48] edreamleo commented on #129
I'm not sure this is unexpected.  If you want a setting to apply everywhere, you should put it in your myLeoSettings.leo file.  Have you tried that?

[2016-04-04 16:23] JohnLunzer commented on #156
Very very good news indeed.

[2016-04-04 22:15] edreamleo commented on #225
On Fri, Dec 4, 2015 at 12:01 PM, SegundoBob <notifications@github.com>
wrote:

​Sure, that would be one way.

This is a timely discussion because of the recent work supporting Jupyter's
.ipynb files, which have JSON format.  Just this morning I was considering
the way forward:

1. Importing x.ipynb should create ​@auto x.ipynb.
2. The @auto read/write code should special case .ipynb files.

There

[2016-04-05 02:28] #93 closed

[2016-04-05 03:48] misdvickysue commented on #93
How do I delete all of this  github 

Sent from Yahoo Mail on Android

  On Mon, Apr 4, 2016 at 9:28 PM, Edward K. Ream<notifications@github.com> wrote:
Closed #93.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly or view it on GitHub

[2016-04-05 10:56] edreamleo commented on #93
For any bug, click on the unsubscribe in the right panel.

[2016-04-05 11:22] largo84 commented on #237
Well, actually the paths are auto-generated by Leo via session-refresh, -create or -save, so to change the slashes would require manually changing them I suppose. No, I haven't tried that.

[2016-04-05 11:24] largo84 commented on #241
Just a few minutes on the PC last night that has PyQt5 and I didn't see the error, so maybe it's working.

[2016-04-05 11:49] LewisNeal opened #253 "Goto Global line (Alt-G) is inconsistent"
On a small node of 4 lines
Goto global line: 2
the cursor lands at line 3, one line after expected.

On a small @clean node of 4 lines
Goto global line: 2
the cursor correctly lands at line 2, as expected.

Refer to recent issue [251](https://github.com/leo-editor/leo-editor/issues/251)

[2016-04-05 12:02] edreamleo commented on #241
Thanks, Rob, for the confirmation.  I'll close this bug now.  Please reopen if there are further problems.

[2016-04-05 12:04] edreamleo commented on #237
Ok.  I'll look into changing them.

[2016-04-05 12:10] edreamleo commented on #253
goto-global-line goes the node in the *outline* corresponding to the line with the given line number in the *external file*. So the operation you describe is expected.  Furthermore, for external files containing sentinels, there may be several lines in the external file that correspond to the *same* line in the outline.

In short, F11 goto-global-line needs to be improved :-)  I'll leave this bug

[2016-04-05 15:25] JohnLunzer opened #254 "Fast marking"
Use the spacebar to execute a "mark and move to next visible" to make marking feel fast and fluid by always moving you forward and also reduces the amount of keystrokes used.

​I believe by default the spacebar is not bound to anything when the outline pane is active.

Please reference this [thread](https://groups.google.com/forum/#!topic/leo-editor/-mv2x_6TAdM) for more context.

[2016-04-05 15:35] edreamleo commented on #253
Fixed (docstring improved) at 52cf698.

[2016-04-05 15:35] #253 closed

[2016-04-05 15:55] tbnorth commented on #249
Fixed in 52cf694 - it's amazing how long I've been tolerating this nit :-) I'm guessing long ago it worked and Qt changed the requirement to call base class focusIn/OutEvent.

People who choose to avoid using the mouse should know their window manager's window close shortcut. Window managers should have a single key (with modifier) window close shortcut. I use the i3 tiling window manager, and I k

[2016-04-05 15:57] #45 closed

[2016-04-05 15:59] edreamleo commented on #154
Recent work with VR3 closes this item.

[2016-04-05 15:59] #154 closed

[2016-04-05 16:04] edreamleo commented on #176
I am going to close this because it has the wontfix label.

[2016-04-05 16:06] edreamleo commented on #202
I am going to close this, due to several recent improvements:
1. I recommend the Anaconda package for anyone who doesn't use Leo's github repo.
2. Leo now has single-folder installers.

[2016-04-05 16:06] #202 closed

[2016-04-05 16:13] edreamleo commented on #25
I am going to close this because it has the wontfix label.

[2016-04-05 16:13] #25 closed

[2016-04-05 16:14] edreamleo commented on #194
I am going to close this because it has the wontfix label.

[2016-04-05 16:14] #194 closed

[2016-04-05 16:18] edreamleo commented on #113
I'm going to close this because of the clarifying comments.

[2016-04-05 16:18] #113 closed

[2016-04-05 16:21] edreamleo opened #255 "@rst-no-nl to support rST tables"
From: Craig Johnson

I'm trying to use rst tables by using the table markup in the body text,  with one node per table row.  However it seems that the nodes are being preceded with a line-feed even-though @rst-no-head is in effect.

[2016-04-05 16:21] tbnorth commented on #176
:-) you can't add a wontfix label with *absolutely no explanation* and then two days later use that label as a reason for closing :-)

Currently you can't edit long headlines in Leo. There are ways to avoid long headlines in some contexts, but this is a big wart, especially from a newbie perspective. edit-headline-long is not in core yet. If it was, I guess this could be demoted to wishlist, but c

[2016-04-05 16:33] edreamleo commented on #176
I *can* edit arbitrarily long headlines on both windows 10 and ubuntu.  Hit Ctrl-h, then the end key. The text does show the ending text.  Furthermore, scrolling works for me on both platforms.

Would it help if I marked this invalid instead of wontfix?  I can leave this open, but I see nothing wrong with how Leo works.

EKR

[2016-04-05 16:35] edreamleo commented on #249
Thanks, Terry, for your work on this.

[2016-04-05 16:52] tbnorth commented on #176
Aha, progress :-)  so it's a platform specific thing...

[code]
Horizontal scrolling doesn't work for me, it scrolls half a char. when the cursor reaches the start or end of the line, but that's all, no way to see end of line. This is my work system, Python 3/Qt 5 is not an option.
[code]
Ubuntu 14.04 @ home - same problem.

I can't test Py3/Qt5 at the moment because Qt5 doesn't seem to work over

[2016-04-05 17:26] edreamleo commented on #176
On Tue, Apr 5, 2016 at 11:52 AM, Terry Brown <notifications@github.com>
wrote:

​I have PyQt4 everywhere: on Ubuntu and Windows 10 with both Python 2 and
3.  I don't seem to have any PyQt5 test environment.

Perhaps this is a Windows 7 issue.

EKR

[2016-04-05 17:39] tbnorth commented on #176
On Tue, 05 Apr 2016 10:26:13 -0700
"Edward K. Ream" <notifications@github.com> wrote:

I see it in ubuntu as well, but maybe I need to try vanilla no plugin
test environment.

[2016-04-05 17:49] technatica commented on #176
Scrolling works for me on Linux Mint 17.2 KDE.

Leo 5.3-devel, build 20160404090438, Mon Apr  4 09:04:38 CDT 2016
Git repo info: branch = master, commit = ce01e9d81228
Python 2.7.6, PyQt version 4.8.6
linux2

Chris

On Tue, Apr 5, 2016 at 10:39 AM, Terry Brown <notifications@github.com>
wrote:

[2016-04-05 18:45] JohnLunzer commented on #176
Edward, the behavior you're seeing is not being seen universally. I'm on windows7/Python2/qt4 and the behavior you describe after Ctrl+h then end key does not happen. I'm seeing the same thing as Terry describes. If you're not seeing it on Windows 10 then the only conclusion is that it is in fact a windows7 issue.

I also think this bug should be labelled as lvl:medium because it has the potential

[2016-04-05 20:03] edreamleo commented on #176
On Tue, Apr 5, 2016 at 1:45 PM, John Lunzer <notifications@github.com>
wrote:

​How does labeling this bug help us to fix it?​ Perhaps it should be
labelled, "Can't Fix"...

EKR

[2016-04-05 20:33] edreamleo commented on #205
I am going to close this.  Imo, @clean handles doc parts better than I would have expected.

[2016-04-05 20:33] #205 closed

[2016-04-05 20:39] tbnorth commented on #25
I think I may have seen this in Windows today, and I habitually dodge it in linux by launching Leo with
[code]
Maybe it would be better to poke the assignee with a pointed stick rather than add wontfix and then close sometime later because there's a wontfix label.  Or we could create a new label for some of these fiddly things, um, "fiddly" for example, or something else.  Or if you really don't w

[2016-04-05 20:53] edreamleo commented on #132
The original bug report clearly demonstrates that the bug is in the write logic. The .leo file contains:

[code]
As you can see from the given .py file, there are two @+node sentinels for Child, so the read logic is perfectly justified in creating the clones.  This is pretty good news. In general, the write code is the easier to fix.

[2016-04-05 22:07] edreamleo commented on #25
@tbnorth Why not say that "wontfix" corresponds to "fiddly"? And consider yourself poked ;-)

[2016-04-06 00:16] JohnLunzer commented on #176
Mostly the lvl is for book-keeping. For the sake of anyone else that might encounter this issue and to prevent duplicates this issue should probably stay open, perhaps it should be labelled: "Don't know how to fix".

[2016-04-06 03:54] tbnorth commented on #176
I think the problem is the line
[code]
at leo/core/LeoPy.leo#Code-->Qt gui-->@file ../plugins/qt_tree.py-->qtree.Drawing-->qtree.repaint

comment that out, and the problem goes away.  It does cause the display of ellipses at the edge of the tree.  If that's considered undesirable, an alternative is to call w.setColumnWidth(0, 0) just before editing.

commit 4719f3459c3ba35dd562c6c6662b4142b9833d13

[2016-04-06 12:25] edreamleo commented on #132
[This discussion](https://groups.google.com/d/msg/leo-editor/HlVEnP7eg6M/x256dWL0AwAJ) shows that the problem is far more serious than accidental cloning.

The proposed solution: eliminate @+middle sentinels.

[2016-04-06 13:44] edreamleo commented on #132
rev e10a989 appears to fix this bug, completely and safely:

1. The write code no longer writes @+middle or @-middle sentinels. In fact, it double-checks that it doesn't.

2. The read code warns when reading @+middle sentinels, but otherwise is completely unchanged.

3. The new code passes every test I can think of. In particular, LeoPy.leo loads properly without caching, and write-at-file-nodes l

[2016-04-06 13:44] #132 closed

[2016-04-06 13:48] edreamleo commented on #89
This is a duplicate of [#132](https://github.com/leo-editor/leo-editor/issues/132). It arises because of @+middle sentinels, which have just been eliminated.

[2016-04-06 13:48] #89 closed

[2016-04-06 13:50] edreamleo commented on #147
I am going to change the label from wontfix to can'tfix, indicating that we are waiting on a bug fix outside of Leo.

[2016-04-06 14:23] edreamleo commented on #132
Just for the record, this also resolves what is, in essence, a duplicate issue:

[#89: Spontaneous clones when using sections](https://github.com/leo-editor/leo-editor/issues/89)

[2016-04-06 16:24] edreamleo commented on #204
I am rejecting this request for reasons given above.

[2016-04-06 16:24] #204 closed

[2016-04-06 16:43] SegundoBob commented on #132
Your fix appeals to me.

I have verified that now Leo-Editor handles test sectionCausesClone.leo in a reasonable manner.

[code]

But it is unfortunate that Leo-Editor does not display a warning when it changes the tree structure.

In the sectionCausesClone.leo case, the "section" node is moved up one level in the tree.

The other case that I've noticed was when I wanted four or five "section" nod

[2016-04-06 19:01] jknGH commented on #174
Thank you for addressing this wishlist item Edward; I meant to email
you some time ago but didn't get round to it - my apologies.

 Very
Best Regards

 Jon N

On 06.04.2016 17:29, Edward K. Ream wrote:

Closed #174 [1].

the thread.

Links:
------
[1]
https://github.com/leo-editor/leo-editor/issues/174
[2]
https://github.com/leo-editor/leo-editor/issues/174#event-617088150

[2016-04-06 20:24] edreamleo commented on #132
Thanks for this confirmation.  I appreciate it.

I don't believe this can ever change.  The present read code is not simple, and it does honor the data in the external file.  Once can imagine "heroic" attempts to retain existing outline structure, but I've already gone down that road with the ill-fated "View" project.  See:
```leoNotes.txt-->Unused code: do not delete-->leoViews stuff (keep)```
I'

[2016-04-07 03:42] #176 closed

[2016-04-07 05:35] edreamleo commented on #176
Thanks, Terry.  Looks like an elegant fix.

[2016-04-07 10:30] edreamleo commented on #248
@jurov How are we going to resolve this? We could chat on the phone or on irc.

[2016-04-08 01:25] maguohe opened #256 "prompt file changed"
1.  I create  a node @clean main.c ( @auto-rst or @auto-markdown or @file ..... )  and save it.
2.  modify the file main.c with other editor and save it.
3. active Leo editor.  if I want to see the change. I must select "Refresh from disk". menu mannuly.

Can Leo auto detect main.c changed  and show a  pop-up dialog like other editor?

[2016-04-08 03:10] tbnorth commented on #256
Perhaps using the approach of Notepad++, which checks for updates when it regains focus. Leo's already tracking modification times. Only thing is that I suspect typical editors seldom have more than 20-30 files open, whereas leo probably hits triple digits more often.
Cheers -Terry

On April 7, 2016 8:25:10 PM CDT, maguohe <notifications@github.com> wrote:

[2016-04-08 12:29] edreamleo commented on #256
This capability if part of Leo 5.2-final.

[2016-04-08 12:29] #256 closed

[2016-04-08 13:30] edreamleo commented on #254
True.  The following binding should work, but doesn't:
[code]
The binding shows up in the print-bindings tab as:
[code]
but the binding doesn't "take".  This isn't too surprising. The code is baroque.  I'll see if I can get plain key bindings to work in the outline.  Furthermore, it used to be possible to search for headlines using plain keys.  I'll see if that can happen too.

[2016-04-08 13:39] edreamleo commented on #256
To enable this feature, set:
[code]
in myLeoSettings.leo. Perhaps this setting should be True by default.

[2016-04-09 04:49] maguohe commented on #256
it's great .  thanks

[2016-04-09 08:36] edreamleo commented on #256
On Fri, Apr 8, 2016 at 11:49 PM, maguohe <notifications@github.com> wrote:

​You're welcome.

Edward

[2016-04-09 11:08] edreamleo commented on #254
Done at c0478a59. Discussion [here](https://groups.google.com/d/msg/leo-editor/q1XKe4mnW9I/MrY7pNHbBAAJ).

[2016-04-09 11:08] #254 closed

[2016-04-12 16:15] JohnLunzer opened #257 "chapter-select-forward and chapter-select-back"
These would simply switch between chapters as they appear in the list of chapters, going from the current chapter to the next or to the previous.

[2016-04-12 22:45] SegundoBob opened #258 "leoBridge does not work with @auto-md subtrees"
When a Leo-Editor file contains one or more @auto-md nodes, leoBridge does NOT see the same Leo-Editor file contents that the user sees by interactively opening the Leo-Editor file.

For all the nodes in a @auto-md subtree, leoBridge sees the node headline "NewHeadline".

Some ways of looping over the nodes using leoBridge yield too few nodes.

For example, I have a Leo-Editor file containing exac

[2016-04-13 15:46] edreamleo commented on #258
Thanks for the report.  I'll fix it for 5.3-b1

[2016-04-13 16:55] largo84 opened #260 "Errors with ipynb.py importer"
This just showed up today from the latest update. The error is in the terminal window and the log pane. It doesn't appear to cause any problems with my files, though.

leo/plugins/importers/ipynb.py has no importer_dict

This error text shows up 4 times for .leo file that opens (2 times in the log pane).

Environment:
Leo 5.3-devel, build 20160412153848, Tue Apr 12 15:38:48 CDT 2016
Git repo info:

[2016-04-13 18:09] edreamleo commented on #260
Thanks for this.  It's guarded with if nbformat.  If you want to use @auto x.ipynb, you have to install nbformat.  I think pip install nbformat will do.

Hmm.  I think defaulting to an empty importer_dict would do, as would having the code silently ignore the lack of importer_dict.  I'll fix this today.

EKR

[2016-04-13 18:30] largo84 commented on #260
I'm not actually using the importer (don't really know that much about it). That would be good to have a default empty importer_dict and/or simply ignore the warning. Thanks!

[2016-04-13 19:24] edreamleo commented on #260
fixed at b83c079.

The ipynb importer now always defines an importer_dict. If nbformat does not exist, the importer puts the entire file in the parent node's body text.

[2016-04-13 19:24] #260 closed

[2016-04-14 11:13] edreamleo commented on #255
Done at ab9753f and documented at e76d015.

[2016-04-14 11:13] #255 closed

[2016-04-14 11:27] edreamleo commented on #255
The @rst-no-nl headline applies to its entire subtree, so the headlines of the @st-no-nl node itself and all its descendants are comments. Here is the structure of my test file:
[code]
And here are the contents of the nodes:
[code]

[2016-04-14 12:58] edreamleo commented on #255
The name of this directive is now @rst-table.

[2016-04-14 15:52] JohnLunzer opened #261 "exception executing equal-sized-panes"
Not much lead in here. When I try to execute-sized-panes I receive the exception detailed below. I should note, it still does make the split panes equal size.

My setup:
Leo 5.3-devel, build 20160411191235, Mon Apr 11 19:12:35 CDT 2016
Git repo info: branch = master, commit = 9351518184c3
Python 2.7.11, PyQt version 4.8.6
Windows 7 AMD64 (build 6.1.7601) SP1

exception executing command
Traceback

[2016-04-15 12:24] JohnLunzer opened #262 "@bool check_for_changed_external_files may hang on network files"
With the current implementation Leo can become unresponsive in some environments. Implementing the checking logic in non-blocking threads or a separate process could mitigate any negative performance impact.

Additionally, if the Leo window is inactive withhold all notifications until Leo becomes active again.

Please see this Leo conversation for [reference](https://groups.google.com/forum/#!topi

[2016-04-15 13:37] edreamleo commented on #261
I can't reproduce this.  Does it always happen?

[2016-04-15 14:33] JohnLunzer commented on #261
Yes, in all of my outlines. I hadn't been using that command much until recently. I know I've used it long long ago without any issues.

[2016-04-15 15:59] edreamleo commented on #258
There may be an import problem in the bridge.  The createImporterData method in leoImport.py finds importers this way:
[code]
If that fails, the @auto node will contain the entire external file. That will explain the different number of nodes in the files. createImporterData issues a warning, but that may be suppressed in the bridge.

[2016-04-15 15:59] technatica commented on #261
It happens to me as well.

Leo 5.3-devel, build 20160412153848, Tue Apr 12 15:38:48 CDT 2016

Git repo info: branch = master, commit = 84eb80dd2a0f

Python 2.7.6, PyQt version 4.8.6
linux2

exception executing command

Traceback (most recent call last):

  File "/working/leo/leo-editor/leo/core/leoCommands.py", line 5169,
in doCommand
    val = command(event)

  File "/working/leo/leo-editor/leo/c

[2016-04-15 16:06] tbnorth commented on #261
In theory this is a significant problem, in practice it's not, because this is the first time it's come up.

Because of free_layout, *you can not save references to splitters*.

Simple case:
[code]

but that could easily be rearranged to be

[code]

so now a reference to splitter `a` is still valid, but not the splitter you meant.

But more to the point, different rearrangements might delete `a` a

[2016-04-15 16:10] edreamleo commented on #261
Thanks for this overview, Terry.  Could we just convert the splitter ivar to a property that returns c.free_layout.get_top_splitter()?  And perhaps something similar for the splitter_2 ivar?

[2016-04-15 16:11] tbnorth commented on #261
Hah, I always forget about properties :-}  That could be a really neat fix.

[2016-04-15 16:40] edreamleo commented on #261
@tbnorth I'm doing a cff on it now.  Ok, here are the results:

1. Unsurprisingly, the `FreeLayoutController` and `NestedSplitter` classes are safe.  They account for the majority of references to `splitter`.

2. All improper methods are in `qt_frame.py`, in the `LeoQtFrame` and `DynamicWindow` classes.  Specifically, the `LeoQtFrame.divideLeoSplitter?` methods and `dw.setSplitDirection` method re

[2016-04-16 11:48] edreamleo commented on #261
Let's step back a moment. This bug happens as a side effect of Terry's excellent free_layout code, which makes it possible for people to alter the placement of frames.  This has two implications:

1. The free_layout code must implement equal-sized-panes.
2. There may be rare situations in which the equal-sized-panes command becomes meaningless.

My plan is to create flc.equal_sized_panes which wil

[2016-04-16 11:50] edreamleo commented on #258
@SegundoBob Please trace the import statement above are report what you see. You may have to write to sys.__stderr__ to make the trace visible.

[2016-04-16 12:47] edreamleo commented on #261
Oh good.  The following returns a lists of dicts showing the entire splitter organization:
[code]
For example, on my layout:
[code]
This, or perhaps an easier-to-use variant, will form the basis of the new code.

[2016-04-16 13:23] edreamleo commented on #261
Well, this looks easy. The first line of the dump is:
[code]
so it should be possible to define flc.find_splitter_2 and use that wherever dw.splitter_2 is presently used.  This might be None, so a guard will be needed.

[2016-04-16 13:49] edreamleo commented on #261
So easy.  Here are the free_layout getters:
[code]
And here is NestedSplitter.get_splitter_by_name, a much simplified version of ns.get_layout:
[code]
All this code passes simple tests.  The last step will be to use them instead of the hard ivars.

[2016-04-16 15:21] tbnorth commented on #261
Not sure if you can rely on that splitter_2 being there, it exists in the default situation, because NestedSplitter is a drop in replacement for QSplitter, but it can be arranged out of existence.
Cheers -Terry

On April 16, 2016 8:23:33 AM CDT, "Edward K. Ream" <notifications@github.com> wrote:

[2016-04-16 16:42] edreamleo commented on #261
@tbnorth Right. The code above never assumes the splitter exists. Client code must handle the case in which the getters return None.

Also, ns.get_splitter_by_name must call itself recursively to search for splitters. I'll up that fix soon. I hope to have the code ready today.

[2016-04-16 18:40] edreamleo commented on #261
Rev 0ff0b8f completes the first phase of this project. Here is the checkin log:
[code]
I am particularly concerned that there might be problems with reloading saved sessions.  Please report any problems immediately.

The next phase will be to generalize the expand/contract-pane commands.

[2016-04-16 19:23] SegundoBob commented on #258
Is this what you want?

My test case test01.leo is a Leo-Editor file containing exactly one node:

@auto-md test01.md

My file test01.md contains 10 level 1 headings and 1 level 2 heading.

Hence, when I interactively open test01.leo without tracing, I see 12 nodes and none of these nodes has headline "NewHeadline". I see that test01.md has been correctly parsed.  I see all the headlines and bodie

[2016-04-16 22:46] edreamleo commented on #261
Actually, these commands use the newly-corrected methods, so this item can be closed.
Please reopen if there are problems.

[2016-04-16 22:46] #261 closed

[2016-04-16 23:06] edreamleo commented on #216
@rst-table closes this issue.

[2016-04-16 23:06] #216 closed

[2016-04-17 20:27] tbnorth commented on #261
On Sat, 16 Apr 2016 09:42:59 -0700
"Edward K. Ream" <notifications@github.com> wrote:

Sorry I haven't been able to be more responsive during this work.

For not relying on splitter_2 existing, the problem is that if you go
from the initial layout to a custom layout and then back to
"Default", the copy of the initial layout you saved to easily switch to
the initial layout, you get a layout the *lo

[2016-04-18 11:53] edreamleo commented on #248
@jurov Have you tried clearing caches?  Sometimes the cache interferes with updates, leading to bizarre behavior.

I do not believe there is anything wrong with @clean.  In the last several weeks I have created half a dozen or so @clean test files, and they have always performed as expected.  There are also unit tests for @clean. I have used @clean successfully in several external project. Further

[2016-04-18 11:53] #248 closed

[2016-04-18 14:38] edreamleo commented on #129
I am going to close this item. On second reading, the behavior described is the expected behavior.

With some exceptions, including plugins, settings in one .leo file do not affect other .leo files.  If you want settings to apply generally, put them in myLeoSettings.leo.

[2016-04-18 14:38] #129 closed

[2016-04-18 14:42] edreamleo commented on #212
@SegundoBob I haven't received the file.  I can do nothing more until I get them.

[2016-04-18 16:47] SegundoBob commented on #212
I resent them a few moments ago:
Date: Mon, 18 Apr 2016 09:42:29 -0700
To: "Edward K. Ream" <edreamleo@gmail.com>

I just resent what I sent you:
Date: Mon, 4 Apr 2016 08:10:01 -0700

Now with Leo-Editor version 20160321144005, both files display the same.
 That is, there is no interesting difference between the files.

With Python 3, the only difference between the Wikipedia page

[](https://en.w

[2016-04-18 19:25] digulla commented on #216
Can you please add a demo document which shows how to use this node type, especially how a script can access the cells of the table?

Also, I don't see any editor support in the code. Drawing ASCII tables manually is very tedious and error prone. Which is why I suggested to check out treesheets which has an amazing and intuitive table editor.

[2016-04-18 19:41] tbnorth commented on #216
On Mon, 18 Apr 2016 12:25:19 -0700
digulla <notifications@github.com> wrote:

One relatively short route to table editing in Leo would be to leverage
the rich text plugin, use it's table editor and import/export from a
node outside the document tree to a md or rst format in the document
tree.  Depends how fancy you want to get formatting wise, but if it's
just a matter of editing tabular data in a

[2016-04-18 22:11] edreamleo commented on #216
@digulla Here is the test node I used:
[code]
I'm not sure cutting this and then doing paste-node will work.  I'll try it after I post this.

[2016-04-18 22:19] edreamleo commented on #216
Assuming p1 points to the @rst node in the example, p1.subtree() visits all of its descendants. For example:
[code]
As another example, to find all @rst nodes in a tree:
[code]

That's a separate issue, and should be a separate enhancement request. The advantage of the present simple approach is that it supports any of the various styles of creating rST tables. Cutting and pasting separator lines

[2016-04-18 22:22] edreamleo commented on #261
@tbnorth Thanks for reminding me of the problem of splitter names. I'm dithering about whether to reopen this issue. As you say, there is a bug here, but it's not a crasher :-)

[2016-04-18 23:00] ZoomQuiet opened #263 "merge nodes of Recovered Nodes ?"
![screenshot 2016-04-18 17 56 20](https://cloud.githubusercontent.com/assets/22494/14622370/0cb7bf64-058f-11e6-85c9-f3b9e6d6b53d.png)

- as up snapshot
- after srtup `@bool check_for_changed_external_files = True`
- the `Recovered Nodes` quickly appended so much
- suggest :
    - if already exist `Recovered Nodes`
    - the new nodes, can appended the only one `Recovered Nodes`

[2016-04-18 23:38] edreamleo opened #264 "Solution to #261 needs improvement"
#261 is fixed: the crash no longer happens. However, Terry points out that more work remains:

This issue will track the needed work.

[2016-04-18 23:39] edreamleo commented on #261
Dithering over. I've created a new issue to track the additional work that is needed.

[2016-04-18 23:56] edreamleo commented on #212
I'm thinking that this is a variant of #147. If so, it can't be fixed in Leo. The only workaround would be to downgrade PyQt.

Comments, please.

[2016-04-19 00:13] SegundoBob commented on #212
Fine.  I have no opinion about what causes #212 or #147.  I can see that they could easily have the same cause.  Sorry I didn't see this.

[2016-04-19 00:18] edreamleo commented on #258
FYI: The traces contain many references to `<frozen importlib._bootstrap>`. Googling same, leads to [this Python issue](https://bugs.python.org/issue15110). Supposedly, this affects only Python 3.3, but from your report it seems to exist in Python 3.4 as well.

I see you used Sherlock to trace createImporterData. I had intended for you only to trace that one method.  I'll soon up improved tracing

[2016-04-19 00:46] edreamleo commented on #258
Rev bf0af4c attempts a fix by adding plugins/importers and plugins/writers to the list of modules added to sys.path in adjustSysPath (leoBridge.py only). This is probably needed in any case.

However, the real question for SegundoBob is why none of the @auto importers are being found **outside** the bridge. Indeed, LM.adjustSysPath is a do-nothing, deferring all work to g.importModule, which is co

[2016-04-19 10:19] edreamleo commented on #263
On Mon, Apr 18, 2016 at 6:00 PM, Zoom.Quiet <notifications@github.com>
wrote:

should not be completely ignored (by Leo) but can be deleted by you safely.

Edward

[2016-04-19 11:04] edreamleo commented on #258
I just disabled my sitecustomize.py files.  All my tests, including unit tests, still work. So it appears that Leo is able to find @auto importers & writers out of the box.

Rev ead33c8 fixes a crasher in the nodetags.py plugin when running the unit test:
`@test leoBridge init logic`
This test must be run externally.

In short, everything appears to be working properly.  I'll leave the bug open fo

[2016-04-19 15:00] ZoomQuiet commented on #263
On Tue, Apr 19, 2016 at 5:19 AM, Edward K. Ream
<notifications@github.com> wrote:

...

agree, not important, just awoke Leo do what ;-)

can close now ;-)
thanks EKR.

[2016-04-19 17:16] SegundoBob commented on #258
# Leo-Editor Interactive: Python 3 @auto-md now broken, but Python 2 still works

You have broken @auto-md for Leo-Editor interactive using Python 3, but it still works using Python 2.

Now using Python 3 test01.leo puts all of test01.md into the body of the @auto-md node.  There are no errors in the Log pane and no errors to the console.

Now using Python 2 test01.leo has 12 nodes when it is open

[2016-04-19 20:35] JohnLunzer commented on #257
Adding tab-cycling to chapter-select could resolve this enhancement if the tab-cycling were to start from the currently active chapter. This would remove the need for new commands. Discussed [here](https://groups.google.com/forum/#!topic/leo-editor/HeO72ZLwAeo).

[2016-04-19 21:41] SegundoBob commented on #258
# Leo-Editor Interactive: @auto-md now works with both Python 2 and Python 3

I did not change my revision of Leo-Editor.  I don't know what changed.  I only know that when I tried to investigate why @auto-md was failing with Python 3, it had stopped failing.

[2016-04-19 22:20] ZoomQuiet commented on #263
CANCEL for overflow ;-( 放弃/转义/过期....

[2016-04-19 22:20] #263 closed

[2016-04-19 22:29] ZoomQuiet opened #265 "Erratic Scrolling Bug"
## process

- when outline ahd many nodes levels
- body pane will display bottom ScrollArea for control left-right-slide
- so when i slide to right for show the deep nodes

![screenshot 2016-04-19 17 19 19](https://cloud.githubusercontent.com/assets/22494/14657353/0c662fae-0653-11e6-83f5-180db51895fd.png)

- but after any node action, such as jump into other node
- the body pane bottom ScrollArea

[2016-04-20 10:26] edreamleo commented on #265
On Tue, Apr 19, 2016 at 5:29 PM, Zoom.Quiet <notifications@github.com>
wrote:

​> ​the body pane bottom ScrollArea always auto slide left.

Rev ​5235145​ removes a call to setHScroll(0) in qtree.scrollToItem. This
is likely the cause of the problem.  Please report how this works for you.

I noticed this call to setHScroll(0) recently while working on another
issue.  At that time, I wondered whethe

[2016-04-20 10:51] edreamleo opened #266 "A setting to hide the icon bar"
The gui-iconbar-hide command does this, but there seems to be no way (except @script nodes) to do this on startup. In other words, Leo could use an `@bool show-iconbar = True` setting.

[2016-04-20 11:00] edreamleo commented on #258
@SegundoBob Thanks for the report.  bf0af4c8 (two days ago) added plugins/importers and plugins/writers to sys.path in some situations.  It's possible that may have fixed things.

But I doubt it. There are several unit tests that will fail if the @auto importers or writers can't be found. Such tests have not failed recently, indicating to me that @auto has, in fact, been working all along.

I'll l

[2016-04-20 13:46] ZoomQuiet commented on #266
agree so much

[2016-04-20 14:04] ZoomQuiet commented on #265
try the last version:

![screenshot 2016-04-20 09 01 25](https://cloud.githubusercontent.com/assets/22494/14677261/7e8cd294-06d6-11e6-914e-e893ab3a24c0.png)

- same 5.2 stable
- use hostkeys or mouse jump other node
- outline pane auto slide to left

BTW:
Rev ​5235145​  ingore setup

myLeoSettings.leo#@settings-->Windows-->Splitter options-->@string initial_split_orientation = horizontal

the body

[2016-04-20 15:27] SegundoBob commented on #258
I hope you noticed the most important problem:

# leoBridge.controller().openLeoFile() is messed up

Command line
[code]
shows that instead of opening test01.leo, leoBridge tries to open t.leo, e.leo, s.leo, t.leo, 0.leo, 1.leo. That is, bridge.openLeoFile("test01.leo") causes "test01" to be split into individual letters. Perhaps, the change to allow wildcards on the command line is at fault. I tr

[2016-04-20 16:29] edreamleo commented on #258
Oops!

[2016-04-20 16:30] edreamleo commented on #265
Not this issue.

[2016-04-20 16:36] ZoomQuiet opened #267 "initial_split_orientation not work after Rev. ​5235145​"
from [Why outline auto slide left? · Issue #265 · leo-editor/leo-editor](https://github.com/leo-editor/leo-editor/issues/265)

- when i upgrade local leo into github last version
- `myLeoSettings.leo#@settings-->Windows-->Splitter options-->@string initial_split_orientation = horizontal`
- not working, the body pane alwasy as bottom

![screenshot 2016-04-20 11 35 56](https://cloud.githubuserconten

[2016-04-20 16:36] ZoomQuiet commented on #265
issue as [initial_split_orientation not work after Rev. ​5235145​ · Issue #267 · leo-editor/leo-editor](https://github.com/leo-editor/leo-editor/issues/267)

[2016-04-21 09:00] wangzhaohe commented on #267
Leo 5.3-devel, build 20160412153848, Tue Apr 12 15:38:48 CDT 2016
The same problem.

[2016-04-21 13:05] JohnLunzer commented on #265
Please see this [discussion](https://groups.google.com/forum/#!topic/leo-editor/Tlf4FVwDDSY) for a description of various situations which cause this issue.

[2016-04-21 15:31] edreamleo commented on #258
a6f7e5be, cf9d9d3 and f97a27b fix this part of this issue:

[code]

- a6f7e5be: silent=True now suppresses the first two lines. They come from leoBridge.py itself.
- cf9d9d3: importers/ipynb.py no longer issues the warning in the last line.
- f97a27b: `leo-bridge-test.py` shows how to suppress all messages from g.es_print.

I don't recommend killing g.es_print, but the choice is yours.

[2016-04-21 15:38] edreamleo commented on #258
leoBridge has nothing to do with this.  test01.leo contains the argument-handling code in question.

See LM.scanOptions and especially its helper, LM.computeFilesList, for an example of how to parse the command line.

Imo, this closes this issue.

[2016-04-21 15:38] #258 closed

[2016-04-21 17:11] edreamleo opened #268 "cff & cfa should skip @nosearch trees"
Just upped a hack that has cff/cfa search all of unitTest.leo.

~~Instead, an @data node should specify .leo files/headlines to search even if the node contains @all.~~

A new @nosearch directive would be much better.

[2016-04-21 17:36] edreamleo commented on #17
It's easy to kill all output from Leo as follows:

[code]

This suggests that monkey-patching g.es_print and g.es, say in a plugin, would allow flushing or redirecting of all of Leo's output, completely at the plugin's discretion.

[2016-04-21 20:47] SegundoBob commented on #258
I'm sorry for the bug in test01.py that caused me to **mistakenly** think there was a problem with leoBridge.controller().openLeoFile() .

I verified the 3 "silent" fixes in
[code]
I agree with you:  this issue is closed.

[2016-04-21 21:17] edreamleo commented on #258
On Thu, Apr 21, 2016 at 3:47 PM, SegundoBob <notifications@github.com>
wrote:

No problem.  Good things came of this mistake.​

​Thanks for the confirmation.

Edward

[2016-04-22 08:16] edreamleo commented on #237
I'd like to fix this asap.  Please give an example of a path that doesn't work.  Thanks.

[2016-04-22 13:28] edreamleo commented on #268
Completed at 7e832f9.

[2016-04-22 13:28] #268 closed

[2016-04-22 16:23] largo84 commented on #237
I tried again this morning and the odd thing is that session-restore works to load all entries in the @session node, including network paths. However, session-snapshot-load doesn't load *anything*.

I don't really know the difference between session and session-snapshot.

I'll have more time to experiment when I get home this evening.

[2016-04-22 16:47] largo84 opened #269 "Duplicate chapter name (name too long?)"
With all of the recent work on @chapters, maybe this slipped through the cracks. I opened a file that contains two @chapters:

@chapter FSS - Level 1
@chapter FSS - Level 2

When the file opens, I get this error in the log pane:

Error: duplicate chapter name: FSS-Level-

Also, looking in the Chapter drop-down box, I see that the chapter names were converted to the same name: FSS-Level- (spaces re

[2016-04-22 16:51] largo84 commented on #269
Maybe the problem is with the '-' (dash). I shortened the @chapter names to FSS - 1 and FSS - 2 and now I see them in the drop-down box as FSS- and still get the duplicate chapter error.

[2016-04-22 18:13] benzolius opened #270 "Vim keys don't always work after double Alt+Tab"
Strange behavior when I leave Leo (Alt+Tab) after "Insert" on headline node.
When I come back (Alt+Tab) to Leo only the menu works (Alt+F, ...) and the mouse.
Other unusual behavior:
left-arrow, right-arrow changes between Leo documents (like Ctrl+Tab in normal behavior)

Leo 5.3-devel, build 20160412153848, Tue Apr 12 15:38:48 CDT 2016
Git repo info: branch = master, commit = 31bb38803e24
Python

[2016-04-22 19:48] edreamleo commented on #269
On Fri, Apr 22, 2016 at 11:47 AM, Rob Keeney <notifications@github.com>
wrote:

​That's the expected behavior.​

​There's no limit, but numbers were not allowed.  Rev d2c99c1 fixes this.

There is a problem with renaming chapters.  I've put this on the list.

Edward

--
------------------------------------------------------------------------------------------
Edward K. Ream: edreamleo@gmail.com Le

[2016-04-23 01:05] largo84 opened #271 "Auto-completion suggestions from words in document"
Notepad++ (NPP) has several very useful auto-completion features that could make Leo considerably faster and less prone to typing errors. This enhancement request is for Leo to suggest words in the document (the .leo file) that match the first n letters typed (n is configurable).

Groups discussion [here](https://groups.google.com/forum/#!topic/leo-editor/ygGiqDgW8vM).

[2016-04-23 12:30] #269 closed

[2016-04-23 12:33] edreamleo commented on #269
Everything fixed at 076edc4.  Happily, the new code is simpler and more general than ever.

setAllChapterNames is called before doing anything requiring a list of chapter names, so chapters can now be renamed dynamically.  However, when renaming a chapter from x to y, the old chapter-select-x command remains.  That's a nit, because the callback will either get the correct chapter anyway, or issue

[2016-04-23 15:53] edreamleo commented on #264
Hah.  Terry commented somewhere that `free_layout.get_top_splitter().rotate()` might be good enough to handle `toggle-split-direction`.  What he modestly failed to mention is that that `toggle-split-direction` already uses that code, and it works at present. According to `git blame`, Terry updated the code 2014-11-13.

[2016-04-24 20:08] edreamleo commented on #264
Recent revs, ending with 2bec2b7, complete the next phase of this project.

It's not entirely clear how this will work with the sessions machinery, but I'll close this for now.

Please reopen if there are problems.

[2016-04-24 20:08] #264 closed

[2016-04-24 20:47] edreamleo commented on #267
I'm working on this now. The problem is likely in dw.setSplitDirection.  It now uses general code to get splitters, but that doesn't work early in the startup process. I expect to fix this within a day.

[2016-04-24 23:03] #267 closed

[2016-04-24 23:03] edreamleo commented on #267
Fixed at b0b473d. Please reopen if there are further problems.

[2016-04-24 23:44] SegundoBob commented on #267
Thanks.

I verified the fix using revision e89401da4f57.

# Test System
[code]

[2016-04-25 01:16] wangzhaohe commented on #267
It is OK now! Thanks!

[2016-04-25 11:57] edreamleo commented on #264
@tbnorth The heart of the new approach are the `get_main_splitter` and `get_secondary_splitter` methods. Here is get_main_splitter. get_secondary_splitter is similar:
[code]
As you can see, this simply returns the splitter that contains "bodyFrame" widget. It's not clear how this could be generalized, but for most (all?) common layouts this code should suffice.

[2016-04-25 12:29] edreamleo commented on #265
91dc594 restores previous code.  That is, qtree.scrollToItem is now as follows:
[code]
It's not surprising that the w.PositionAtCenter hint caused the reported problems.

[2016-04-25 12:31] edreamleo commented on #237
I've added the "Waiting" label until I get more information about this.

[2016-04-25 13:32] edreamleo opened #272 "Enhancement: optionally delay syntax coloring"
Per [this discussion](https://groups.google.com/d/msg/leo-editor/y8EJQ3py8sc/vPL17cTKCQAJ), it would be good to delay syntax coloring of large nodes, possibly under control of another user option.

The original suggestion was to delay syntax coloring when arrow keys are down. Another would be to delay coloring of large nodes until idle time.

[2016-04-25 13:54] largo84 commented on #237
It appears that it's working. I suggest closing this issue as there isn't a problem loading network paths (not sure why there was a problem previously).

[2016-04-25 15:57] tbnorth commented on #272
On Mon, 25 Apr 2016 06:32:28 -0700
"Edward K. Ream" <notifications@github.com> wrote:

Maybe a useful test would be to prefix all the nodes in an outline
displaying the problem (which I agree exists) with @nocolor, and
checking performance then.  If things are still more laggy than
desired, it might be better to avoid populating the body pane at all
until the up / down keys are released, assuming

[2016-04-25 16:02] tbnorth commented on #264
I think that's fine - the key is not to look for splitters themselves,
which are ephemeral, but the content you're interested in.

[2016-04-25 17:56] edreamleo commented on #237
@largo84 Thanks for the report.  I'll close this now.  Please reopen if need be.

[2016-04-25 17:56] #237 closed

[2016-04-25 18:01] edreamleo commented on #14
There are several ways Leo could insert newlines.  After a specified column, or when the line would exceed the width of the body pane.  On first thought, at a specified column seems more useful.

Comments, please.

[2016-04-25 18:31] JohnLunzer commented on #272
Terry's comment is fully applicable. I did not state this clearly enough in the discussion. @nocolor is not enough. It is a very large part of the slowdown but the larger a node gets the more just its length becomes a big problem. As per my original post in the forum, part of the fix was to empty the body pane **and** not do syntax highlight. So if not populating the body pane means that syntax co

[2016-04-25 19:17] JohnLunzer commented on #265
This is indeed fixed in terms of scrolling, but there remains a slowdown when a chapter other than main is enabled. There is a visual artifact that accompanies this. It is difficult to notice and describe but the node selected before the navigation up or down blinks briefly before the next node is selected. I believe it is this "blink" that is slowing things down.

For a comparison of speeds do a

[2016-04-26 14:38] edreamleo commented on #180
Fixed at dfe0979.  As Terry correctly said, this bug had nothing to do with the bookmarks plugin.  Happily, it also had nothing to do with the select logic—it was a long-standing bug in the NodeHistory class.

As mentioned in the checkin log, the new code embodies an important distinction:
- Selecting a node **changes** the history list: the new node must become the last node in the bead list.
- T

[2016-04-26 14:38] #180 closed

[2016-04-26 14:51] edreamleo commented on #265
On Mon, Apr 25, 2016 at 2:17 PM, John Lunzer <notifications@github.com>
wrote:

​This might be an unnecessary redraw. I'll look into it.

EKR

[2016-04-26 15:01] edreamleo commented on #272
@JohnLunzer @killcolor is what you want.  There is a big performance difference.

However, the larger issue is whether you should ever be using huge body text.  The problem with "big text" is essentially a Qt bug that hasn't been fixed, which means Leo is stuck with it.

[2016-04-26 15:02] edreamleo commented on #272
I have just assigned this for Leo 5.4.  It's too late in the release cycle to mess with this now.

[2016-04-26 15:25] JohnLunzer commented on #272
Agreed, it was not in the 5.3 release plan so should not be include.

[2016-04-26 16:30] JohnLunzer commented on #231
I currently do not see myself having time to complete this any time soon. It is likely a very low priority in the community. Not sure how whether to close or what labels might be added to indicate that it won't be attended to in the foreseeable future.

[2016-04-26 16:51] edreamleo commented on #231
On Tue, Apr 26, 2016 at 11:30 AM, John Lunzer <notifications@github.com>
wrote:

​I suggest simply closing the item.

EKR

[2016-04-26 17:24] edreamleo opened #273 "Qt Bug involving large text nodes"
This issue warns about [a serious Qt bug](https://bugreports.qt-project.org/browse/QTBUG-41153) that affects Leo ~but that can not be fixed within Leo~.

As a result of this bug, Leo's users must be _extremely_ careful not to change body text before Qt has completely loaded it, that is, before the vertical scrollbars in the body pane stop moving.  Changing the text in _any_ way, say by typing any

[2016-04-26 18:47] JohnLunzer commented on #265
Confirmed fixed. No slowdown when inside of a chapter.

[2016-04-26 19:13] #231 closed

[2016-04-26 19:18] JohnLunzer commented on #252
You may also want to add a bug label to this. If both clones are located in the same @chapter node I am still getting knocked out of my chapter to main after a goto-next-clone command.

[2016-04-26 19:38] JohnLunzer commented on #272
After some further usage I have noted that I still see slowdown when I press the up/down key rapidly (rather than holding it down). So checking if the up/down key is being held down is likely not a complete solution.

I am wondering if a simple time delay would do the trick. Starting with 200ms might work without artificially introducing a perceptible delay.

[2016-04-26 23:16] edreamleo commented on #265
@JohnLunzer Thanks for the confirmation.

I am going to keep this open.  There is still one more @chapter bug: Alt-RtArrow in a Chapter can go "too far", resulting in no obvious selected node.  I'll fix this next.

[2016-04-26 23:48] edreamleo commented on #265
On Tue, Apr 26, 2016 at 1:47 PM, John Lunzer <notifications@github.com>
wrote:

​Thanks for the confirmation.

EKR

[2016-04-26 23:55] edreamleo commented on #265
Rev abf1abb fixes the problem with Alt-Arrow, so I'll close this issue.

[2016-04-26 23:55] #265 closed

[2016-04-26 23:57] edreamleo commented on #252
@JohnLunzer I agree. It may as well be called a bug, and it may as well be fixed now, before 5.3-b1.

[2016-04-27 00:16] #252 closed

[2016-04-27 00:17] edreamleo commented on #252
This turns out to be a super enhancement.

[2016-04-27 08:32] digulla commented on #216
Sorry, this isn't at all what I'm talking about. A table editor needs to give me direct access to cell contents instead of a plain text dump of the whole table which I then have to parse myself.

What I talk about is:

[code]

I could accept this answer if you would have an API to start the rST parser and give me the parse tree.

But merely dropping unstructured text into my lap doesn't do.

[2016-04-27 08:57] edreamleo commented on #216
@digulla Interesting ideas.  Please file a new enhancement requests, giving as many details as you can.

[2016-04-27 09:04] edreamleo commented on #250
@tbnorth I think it is possible to detect, say, a pane created by viewrendered3, but it hardly seems worth the effort.  I am going to mark this "wont' do".

[2016-04-27 09:04] #250 closed

[2016-04-27 09:15] edreamleo commented on #152
@technatica Any suggestions about how to create the rST sources?

[2016-04-27 09:20] edreamleo commented on #17
I would rather not touch Leo's existing g.es and g.es_print commands. There is no way to know how people are using them, or modifying them.  Monkey-patching them, as described above, seems like a reasonable solution for use cases such as @SegundoBob describes. For this reason, I am going to mark this "Won't Do" and close this item.  Please reopen if you think this is unwise.

[2016-04-27 09:20] #17 closed

[2016-04-27 09:24] edreamleo commented on #106
I think this would be a good thing for Leo, but I do not seem able to do this.

I am going to mark this item as "Waiting" until such time as somebody competent volunteers to do the job.

[2016-04-27 09:34] edreamleo commented on #270
I'll fix this before 3.5-b1.

[2016-04-27 09:42] edreamleo commented on #273
I am starting to wonder whether there might be better workarounds to this bug. I have only half memories of previous attempts.  Perhaps they were too half-hearted. I've just now targeted this to 5.4 for further investigation.

[2016-04-27 10:50] JohnLunzer commented on #252
Just out of curiosity, why unexpectedly great?

[2016-04-27 12:10] edreamleo commented on #252
On Wed, Apr 27, 2016 at 5:50 AM, John Lunzer <notifications@github.com>
wrote:

I just didn't imaging how cool, and useful, the automatic switch would be.
Even now, there is a jolt of surprise that so seemingly simple a change
should have such a great visual, even emotional impact.

Indeed, one could imaging inserting clones into chapters whose only real
purpose is having Alt-N switch chapters.

E

[2016-04-27 12:16] edreamleo commented on #270
To quote from the checkin log:

[2016-04-27 12:51] technatica commented on #152
My use case is was this:

I was writing an rst document in Leo. I research using Chrome and copy a
selection of text (bold, italic, URLs etc.) and paste it into my document
and have to add in the rst markup. I think "Wouldn't it be brilliant if I
could paste the html snippet from Chrome directly as rst into Leo" and
filed the enhancement request.

The pandoc snippet above also works to create mark

[2016-04-27 14:04] JohnLunzer commented on #252
That's great. I am glad that you are also experience this. When I first thought of this I was excited about what it could do in terms of context switching and like you said the great impact that could have.

It is funny you mention having a clone with the only purpose being to switch chapters. To this extent you could follow a path of clones through chapters, using them as location specific wormho

[2016-04-27 14:57] JohnLunzer opened #274 "Unnecessary dirtying of @<file> nodes when non-@<file> parent nodes are altered."
See [this discussion](https://groups.google.com/forum/#!topic/leo-editor/ypc2q710ThU) for background.

When a non-@\<file> parent node is _altered_ (without moving it) any @\<file> child nodes are recursively set to dirty. The term _altered_ includes: marking/unmarking, modifying headline/body, and deleting a clone.  Non-@\<file> nodes are **not** set to dirty. The implications of this can be sign

[2016-04-27 15:23] edreamleo commented on #252
On Wed, Apr 27, 2016 at 9:04 AM, John Lunzer <notifications@github.com>
wrote:

I think the only thing left related to chapters is

​Please file an enhancement issue.  It's the only way I can keep track of
things.

EKR

[2016-04-27 15:24] JohnLunzer commented on #252
Sure

[2016-04-27 16:50] JohnLunzer opened #275 "clone-marked/copy-marked/move-marked"
Please see [this thread](https://groups.google.com/forum/#!topic/leo-editor/-mv2x_6TAdM) for prior discussion.

The collection of proposed commands:
- clone-marked
- copy-marked
- move-marked

are intended to help replace/improve the old chapter commands:
- chapter-clone-node-to
- chapter-copy-node-to
- chapter-move-node-to

In addition, they are intended to provide a mechanism for multiple-select

[2016-04-27 18:16] edreamleo commented on #152
Thanks for the data.  I've targeted it for 5.4.  No guarantees, though.

[2016-04-27 19:29] largo84 commented on #241
I'm seeing this error again and have for several days. Not sure if it was fixed or for some reason didn't see it. It shows up when I copy and paste text.

Python 3.4.3, PyQt version 5.4.1
Windows 8 AMD64 (build 6.2.9200)

[2016-04-28 04:10] wangzhaohe opened #276 "Focus lost when I had clicked Enter key in Nav text input"
after git pull to Leo 5.3-devel, build 20160412153848, Tue Apr 12 15:38:48 CDT 2016,
Focus lost when I had clicked Enter key in Nav text input

[2016-04-28 04:25] wangzhaohe commented on #276
Now I found that the focus go into the node tree.
I still like the focus in Nav result panel. With This  I can use keyboard to move items, and if I select one ,then click enter key. If I want go to node tree, then clikt ctrl+t.

[2016-04-28 08:04] edreamleo commented on #276
On Wed, Apr 27, 2016 at 11:10 PM, wangzhaohe <notifications@github.com>
wrote:

​Thanks for this report. This new problem is likely the result of the
attempted fix of #270. I'll fix this today.

EKR

[2016-04-28 09:19] #276 closed

[2016-04-28 09:23] edreamleo commented on #276
The new code considers only QtTabBarWrapper objects to be "unusual".  It's still not clear why such objects should be a problem, but they are.

[2016-04-28 19:18] tbnorth opened #277 "tagged node list stops working after node insertion"
When the tags pane is showing a list of nodes with a particular tag, insert a new node at the top of the outline.  Now, clicking on one of the nodes listed in the tags pane no longer jumps to the node. Probably because stored positions have been invalidated. A work around is to select a different tag, then select the first tag again. Presumably this regenerates the a list of stored positions.

[2016-04-29 11:32] edreamleo opened #278 "Create coffeescript importer"
It's a lot easier to do than javascript. It may be a workaround to #128.

[2016-04-29 11:44] edreamleo opened #279 "Revert bugs with tabs"
- Revert moves the reverted tab to the right.
- Leo hangs on close afterward!

[2016-04-29 11:48] edreamleo opened #280 "@data qt-scintilla-styles only works in leoSetting.leo"
The initial report said that this setting doesn't work in myLeoSettings.leo.

Not verified yet.  Not sure who submitted this item.

[2016-04-29 14:12] tbnorth commented on #280
Might have been Zoom.Quiet, not sure.

[2016-04-29 14:53] edreamleo commented on #280
@tbnorth Ok. Thanks.  This may be part of 5.3.

[2016-04-30 12:44] #279 closed

[2016-04-30 12:46] edreamleo commented on #279
The revert command was thoroughly broken, so fixing it was low risk.

[2016-04-30 20:04] edreamleo commented on #280
I am going to close this.  The actual settings mechanism works fine for @data qt-scintilla-styles.  It can be defined in myLeoSettings.leo or the local .leo file.  According to my comments in myLeoSettings.leo, however, the stylesheet may not work properly, no matter where defined.

[2016-04-30 20:04] #280 closed

[2016-04-30 20:09] edreamleo commented on #128
Here are some notes from an [ancient Launchpad item](https://bugs.launchpad.net/leo-editor/+bug/1222947) as discussed [here](https://groups.google.com/forum/#!topic/leo-editor/dmC8iIKlF7g):

Here is the test file::
[code]

[2016-05-01 06:34] ghost opened #281 "The viewrendered plugin is not loaded when using PyQt5 version 5.6.0"
When launching Leo (commit c8ae22b7ccd5) using PyQt5 v5.6.0,
the viewerendered plugin is not loaded.
Here is the traceback:

[code]

However, when launchingthe same Leo c8ae22b7ccd5 from another python installation
using PyQt4 the viewrendered plugin is loaded OK; the traceback is:

[code]

[2016-05-01 07:03] ghost opened #282 "Improve automatic creation of myLeoSettings.leo"
By default, Leo seems to be installed with a settings node called @enabled-plugins in myLeoSettings.leo that is identical to the same node in leoSettings.leo.

In this @enable-plugins node, instructions say that in order to enable plugins other than those already enabled in leoSettings.leo, one should modify the @enabled-plugins node in myLeoSettings.leo.

However, the following inconsistent behav

[2016-05-02 12:49] edreamleo commented on #273
I am going to declare this issue not to be solvable, absent changes in the Qt code. As a result, I am going to remove the 5.4 milestone.

This issue is the real motivation for #272: (optionally delay syntax coloring), which  0dcce11 fixes. Alas, the ultimate source of the delay when selecting large text is **not** syntax coloring, but instead the single call to `self.old_w.setPlainText(self.p.b)`

[2016-05-02 12:53] edreamleo commented on #272
Fixed at  0dcce11. The new code is straightforward.

However, as mentioned in #273, syntax coloring is **not** the cause of the unwanted pause when selecting nodes with large text.  Instead, the delay is due to an apparently unavoidable call to `w.setPlainText`.

[2016-05-02 12:53] #272 closed

[2016-05-02 12:57] edreamleo commented on #281
This is almost certainly an installation problem, specifically a failure to import QtWebKitWidgets.

In future, please ask for help at [Leo's Google Forum](https://groups.google.com/forum/#!forum/leo-editor) before posting bug reports.

[2016-05-02 13:08] edreamleo commented on #282
No.  Leo is installed without any myLeoSettings.leo.  If no myLeoSettings.leo file is found, Leo searches for settings in the local .leo file, and then in leoSettings.leo. This is explained as clearly as possible [here](http://leoeditor.com/customizing.html#search-order-for-settings-files).

Furthermore, the @enabled-plugin setting could be called "cumulative", because once a plugin is enabled the

[2016-05-02 14:24] tbnorth commented on #282
On Mon, 02 May 2016 06:08:23 -0700
"Edward K. Ream" <notifications@github.com> wrote:

The docs. might need tweaking to mention that while the above describes
how Leo searches for existing settings, if you attempt to open (through
the Settings menu) myLeoSettings.leo when it doesn't exist, it's
automagically created with a copy of @enabled-plugins from
leoSettings.leo.  The text in the visible nod

[2016-05-02 14:27] edreamleo commented on #282
On Mon, May 2, 2016 at 9:24 AM, Terry Brown <notifications@github.com>
wrote:

​Thanks for this.  Will do.

EKR

[2016-05-02 18:51] edreamleo commented on #282
On Mon, May 2, 2016 at 9:27 AM, Edward K. Ream <edreamleo@gmail.com> wrote:

​Hmm.  On second thought, I wonder whether the automagic is really a good
idea.  In the present instance it seems to have caused confusion.  And is
copying *all* of leoSettings.leo really a good idea?  And where should Leo
create myLeoSettings.leo?

Edward

[2016-05-02 19:31] tbnorth commented on #282
On Mon, 02 May 2016 11:51:05 -0700
"Edward K. Ream" <notifications@github.com> wrote:

I think automatically creating the file is worth keeping.  We could add
a popup to tell the user it was just created if we wanted it to be more
obvious.

Without automagic creation, the new user must correctly layout a Leo
settings file.

  @settings
    @enabled-plugins
    @shortcuts

etc. before they can chan

[2016-05-03 11:16] edreamleo commented on #275
Rev fed7e2c completes this item.

- Improved clone-marked-nodes and move-marked-nodes.
- Added copy-marked nodes.

These commands work as follows:

- They create an organizer node after c.p. That's not always possible for move-marked-nodes, in which case the organizer node becomes the last top-level node).

- They find all marked nodes, regardless of chapter, and leave the presently selected chapt

[2016-05-03 11:16] #275 closed

[2016-05-03 12:14] LewisNeal commented on #281
It may well be an installation problem with PyQt5 importing QtWebKitWidgets but it has known effects on 2 plugins, including viewrendered which is a recommended plugin and enabled by default.
Currently the Leo install guide states: "You may download PyQt4 or PyQt5" and does not report this as a 'known' problem with PyQt5.
Would it be better to leave this issue open until it is understood better an

[2016-05-03 14:22] edreamleo commented on #281
I'll reopen this issue while we sort out the PyQt5 imports.

[2016-05-03 14:28] edreamleo commented on #281
From Sami J:

EKR: Thanks for these comments. I agree. Something must be done.  I am not amused by Qt's gratuitous changes to imports that will surely break existing code.  It's amateurish and unnecessary.

[2016-05-03 14:30] edreamleo commented on #282
I am going to reopen this so that we can deal with the user interface questions.

[2016-05-03 14:34] JohnLunzer commented on #275
Awesome work. Have been testing and thus far have not run into any bugs/crashes.

Is it necessary to use an organizer node? My concern is that in my test cases the organizer node is cumbersome. To match the original enhancement request I have to perform two extra commands, ```demote``` followed by ```delete-node```, to place the marked nodes after ```c.p```. My intuition is that people using these

[2016-05-03 14:48] edreamleo commented on #275
On Tue, May 3, 2016 at 9:34 AM, John Lunzer <notifications@github.com>
wrote:

​Thanks.​

​> ​
Is it necessary to use an organizer node?

​Theoretically no.  Practically yes.

Without an organizer node it becomes difficult to undo the command.  It is
also difficult to see at a glace what the command actually did.​

​Yes, there are use cases where the two extra keystrokes are inconvenient,
but ther

[2016-05-03 14:56] tbnorth commented on #281
On Tue, 03 May 2016 07:22:01 -0700
"Edward K. Ream" <notifications@github.com> wrote:

But see Sami's recent comments on the list, looks like it might be a
QtWebKit -> QtWebEngine transition issue, rather than simply import
names.

[2016-05-03 15:25] JohnLunzer commented on #275
I think you are just going to have to live with the present code. The
problems with undo/redo are difficult enough as they are...

Understood. I thought there might have been a good practical reason for this decision.

Out of curiousity, I am trying to make ```@command clone-marked-nodes-flat``` here is my body:
[code]
But it's not working, it keeps deleting the organizer node... there seems to be

[2016-05-03 16:28] edreamleo commented on #275
On Tue, May 3, 2016 at 10:25 AM, John Lunzer <notifications@github.com>
wrote:

Don't you want promote instead of demote?  If that doesn't work, remember
that you can call the actual commander methods rather than using
simulateCommand.

EKR

[2016-05-03 17:21] JohnLunzer commented on #275
Silly me! Promote is what I wanted. Misread my keybinding (my only point of reference).

Here is my final ```clone-marked-nodes-flat``` command:
[code]

This mostly matches the described behavior of the original enhancement request, it's not quite a perfect match to mimic the regular copy/cut/paste/clone behavior.

[2016-05-04 10:09] edreamleo commented on #32
This issue appears complete at rev 1603621.

[2016-05-04 10:09] #32 closed

[2016-05-04 10:23] edreamleo commented on #32
**Documentation**

There are two ways to access these commands:

1. Using the general import-files command, via the minibuffer or the File:Import File menu.  This opens a dialog that picks the proper importer based on the file's extension.  mm.html files get the FreeMind importer. csv files get the MindJet importer.

2. If these conventions don't suit you, you can use specific import-free-mind-fil

[2016-05-04 11:49] edreamleo commented on #225
I think the proper way is to support @auto importer & exporter for .json files.

In general there are no standard json keys, but that doesn't matter for @auto x.json. The @auto exporter will define keys used by the importer.

Somehow I have possession of example .json code. I'm using that now to create the importer/exporter.

[2016-05-04 13:03] edreamleo commented on #225
I've changed the name for this item to better reflect my plans.

[2016-05-04 15:31] edreamleo commented on #225
Rev 2e8d9df appears to complete this item.  From the checkin log:

Please reopen if there are problems.

[2016-05-04 15:31] #225 closed

[2016-05-04 15:35] gatesphere commented on #225
https://github.com/leo-editor/leo-editor/commit/2e8d9df4bb39f4017d308e5bcaa9c5f0ff07e054#diff-333f869556a69fddfd15aac3a71f2e53R3

Might want to update that docstring :)

On 5/4/2016 11:31 AM, Edward K. Ream wrote:

[2016-05-04 19:11] edreamleo commented on #225
@gatesphere I see nothing wrong with the docstring. Everything has been surprisingly easy, even if there was a small glitch with clones.

[2016-05-04 19:38] gatesphere commented on #225
@edreamleo It's super minor, but the docstring for '@file writers/json.py' reads:

'''The @auto write code for vimoutline (.otl) files.'''

Presumably you meant:

'''The @auto write code for JSON files.'''

[2016-05-04 19:41] edreamleo commented on #225
Done.

[2016-05-04 20:40] edreamleo commented on #236
I am going to close this. Rev 1b2536c2 provisionally removes the abbrev-* commands in question.

[2016-05-04 20:40] #236 closed

[2016-05-05 21:01] JohnLunzer opened #283 "Show global line number in lower left status bar"
It would be useful to show the global line number in the lower left status bar, there appears to be plenty of room.

Reference the forum [post](https://groups.google.com/forum/#!topic/leo-editor/-tFrCflsY24).

[2016-05-06 12:59] edreamleo commented on #278
3b6b75ae completes the first draft of this project.

@auto js2coffee.coffee passes round-trip tests.

I'll leave this open for awhile, while others experiment with this. The code is quite different from other importers, but the write code is the standard @auto write code.  That is, there is no
`plugins/writers/coffeescript.py` file.

[2016-05-06 15:47] edreamleo commented on #282
I have just changed the title of this issue. I plan to follow Terry's advice to the letter.

[2016-05-06 15:54] edreamleo opened #284 "More flexible imports for .json files"
[Original discussion](https://groups.google.com/d/msg/leo-editor/k0TS8JGxNiA/GleSjF2lAgAJ)

A helper class, JSON_Import_Helper (jih) would contain all the general code. You could say that this helper class is conceptually similar to the RecursiveImportController class.

Client scripts would tell the jih class what elements are to create outline structure, which elements should be ignored, and whic

[2016-05-06 15:55] edreamleo commented on #284
This item will have low priority until someone tells me that it would actually be useful, so at present it will not be targeted to 5.4.

[2016-05-06 16:31] tbnorth commented on #284
On Fri, 06 May 2016 08:55:49 -0700
"Edward K. Ream" <notifications@github.com> wrote:

I think I understand how it would be useful, but I also think you're
right in thinking it would need a helper class to actually handle each
specific case.

There's a parallel in the xml_edit plugin, which import and exports XML
in Leo, with namespace and attribute support, and making maximum use of
Leo's tree to

[2016-05-08 03:12] calvertvl commented on #14
Nearly all other text editors--if they offer this feature--use the specified column method, as far as I am aware. Normally it is described as wrap or rewrap, which comes into conflict with the `@wrap`/`@nowrap` directives in Leo.

I think terminology may be the biggest issue here.

For clarity, when I refer to wrap/rewrap below I am describing the insertion of newlines, or removal and re-insertion

[2016-05-10 13:54] edreamleo opened #285 "A Windows installer that just associates Leo with .leo files"
This is another think I learned while moving to a new Windows 10 machine. Unlike Windows 7, there is no easy way to associate .leo files with Leo.  It looks like you have to use regedit.

The idea will be to create a stripped-down version of Leo's Windows installer that simply makes the associations.  I'm working on it now...

[2016-05-10 18:15] edreamleo commented on #285
Done at 66dcac4664.
There may be some features that I want to back port to the full installer...

[2016-05-10 18:15] #285 closed

[2016-05-11 10:10] Sekenre opened #286 "@rst-preformat directive is formatted into headline"
Hilariously it depends on which headline is highlighted when running the rst3 command!

Please see the attached files for a worked example. Remember the output of the rst3 command changes based on which headline is selected.

Examples:
* [rst-preformat-test.leo.txt](https://github.com/leo-editor/leo-editor/files/259042/rst-preformat-test.leo.txt)
* [test.html.txt](https://github.com/leo-editor/leo

[2016-05-12 10:39] benzolius commented on #270
Thanks Edward,

Is much better, but unfortunately there is still some strange behavior (though is not very disturbing):

"Insert" on headline node
(Alt+Tab)(Alt+Tab)

The same effect: only the menu works (Alt+F, ...) and the mouse

After (Alt+Tab)(Alt+Tab) again or using (Alt+F, ...) and the mouse, then it works nearly normally.

Only the vim-mode keys doesn't work on headlines.
But after I enter

[2016-05-15 23:41] largo84 commented on #241
How do I reopen this bug?

[2016-05-16 11:43] edreamleo commented on #241
On Sun, May 15, 2016 at 6:41 PM, Rob Keeney <notifications@github.com>
wrote:

​If you log in there probably will be a "reopen" button on the bottom of
the page.

I just reopened it.

EKR

[2016-05-18 17:42] SegundoBob opened #287 "Documentation: c.frame.body.bodyCtrl replaced with c.frame.body.wrapper"
This scripting documentation needs to be updated:

[http://leoeditor.com/scripting.html#c-frame-body-bodyctrl](url)

This documentation has been incorrect for several years.

I believe the revision that made this change is:
[code]
I'm unsure because my first two attempts to use git auto bisect claimed that other revisions that were in fact good, were the first bad revision.  Perhaps the test progr

[2016-06-11 21:52] Luxoboy opened #288 "Shortcut defined in myLeoSettings.leo does not override default setting"
Hello there,

I'm very frustrated by an issue I don't understand: I cannot override the shortcut for the clone-node command.

I have a very simple myLeoSettings.leo file saved under HOME/.leo, with a node `@settings/@keys/@shortcuts` which contains:
`clone-node = Shift-Ctrl-m`
However, I simply cannot get it too work.
I tried changing the shortcut in the default settings file and it does work.
I c

[2016-06-13 16:02] edreamleo commented on #288
Shift-Ctrl-M is equivalent to Shift-Carriage-Return.  Not sure if this special case might cause problems or conflicts with other settings.

In general, when dealing with settings problems, the first place to start is with the print-bindings command.  This will tell you what each key is bound to, and which settings file created the binding.

HTH.  I'll leave this open for now, but you haven't yet c

[2016-06-14 19:56] Luxoboy commented on #288
I have tried other key combinations and none have worked.

I checked the bindings and it does not get printed.

I tried to override another command and it didn't work either.

The fact that I managed to get it working right away on Windows really points toward a Linux-related issue I would think.

[2016-06-16 16:23] edreamleo opened #289 "Leo crashes with unusual combination of @clean and .leo file"
Reported by Laurent Steffan, lmsteffan@gmail.com

Given this external file:

[code]

And this .leo file:

[code]

Let me make this clearer: the original body text of the top-level node is:

[code]

Leo crashes with the message "AssertionError: newLevel == oldLevel + 1" generated in at.changeLevel.

This is an interesting, worthy, bug, not necessarily because it will be hard to fix, but because it

[2016-06-16 18:35] Luxoboy commented on #288
Update: tried to modify directly the shortcut in the global settings file. It worked straight away (with Ctrl-Shift-M). The issue is specifically about loading settings in myLeoSettings.leo then.

[2016-06-16 19:07] edreamleo commented on #288
On Thu, Jun 16, 2016 at 1:35 PM, Anthony Correia <notifications@github.com>
wrote:

​I suspect that Leo is not using the myLeoSettings.leo that you expect.

What is the path to myLeoSettings.leo reported by Leo in the log pane on
startup?

Do you see any entries marked 'M' in the print-bindings command?
​
Edward

[2016-06-16 23:03] SegundoBob opened #290 "Allow selecting and copying from the Nav pane"
A few minutes go I used the Nav pane (quicksearch.py) to find all instances of references to an object in my code that I would like to eliminate.  The search results were great.  So great that I needed to think about them and annotate them and use them for hours in revising my code.  I tried everything I could think of to copy the results, but I failed.

In general, Leo-Editor is very good about a

[2016-06-17 13:20] edreamleo commented on #289
I said earlier that this was an interesting, worthy, bug.  Here are the reasons:

Point 1: This bug doesn't happen with `@file` instead of `@clean`.  However, when reading the file, the outline (with `@file`) becomes:

[code]

That is, the section reference gets transferred to a new line.  The so-called "new" sentinel scheme does not use `@nl` and `@nonl` sentinels, so there is no way to suppress

[2016-06-17 13:29] edreamleo commented on #289
Rev 014b763 makes the change discussed above. I'll leave this issue open until I study the code further and document what I find here.

[2016-06-17 14:57] tbnorth commented on #290
On Thu, 16 Jun 2016 16:03:25 -0700
SegundoBob <notifications@github.com> wrote:

I think John Lunzer was working on that most recently, but a regular
copy / paste type operation there might be tricky.  Even if the styling
disguises it, I think that's a list widget, which are not usually
widgets which allow copying of their text, in any context.

Probably easier to add a command "copy results to cl

[2016-06-17 20:31] Luxoboy commented on #288
When launching Leo, here is the trace in the log pane:
`reading settings in /home/anthony/.leo/myLeoSettings.leo`
I can confirm it is the file I put the overriding shortcut in.

There is no entry marked 'M' in the print-bindings command.

Thanks!

[2016-06-18 18:06] SegundoBob commented on #290
Terry,
I think you are correct that a straightforward select and copy would be difficult or impossible to implement.

The results text that I want is in a QListWidget.

Here is a simple script that can be executed by Ctrl-B to copy the results text to the log pane where it can be selected and copied to the clipboard.  This script also shows that it is not necessary to make an off-display copy of t

[2016-06-27 16:03] jurov commented on #289
If <<node reference>> is mixed with other text on one line, can Leo please output a warning that it won't work on reading? It is probably one of the first creative things people try with node references, at first it appears to work but breaks badly when rereading external change.

[2016-06-28 16:16] edreamleo commented on #289
@jurov I agree, something should be done.  I'm surprised at the present behavior, which happens even with @file, so the @clean update algorithm is not (entirely) to blame.  I suspect that Leo handled section references differently (and better) with old-style sentinels, but the advantages of new-style sentinels far outweigh the problem under discussion.

The workaround is to do, for example, someth

[2016-06-30 10:52] mystica555 opened #291 "mod_autosave.py does not always save ; odd visual glitching while saving"
I need autosave because there is no sort of "saved session state" like there is with Sublime 3 / notepad++ / et al.  (The "saved session" is nothing but a window list; it does not contain the contents of any un-saved buffers and any metadata. Please compare to how sublimetext saves a session, where the session file contains the full contents of any unsaved-yet-modified buffers)

(these, you simply

[2016-06-30 11:28] mystica555 commented on #291
Well, i've confirmed that the focus being set is because it definitely changes focus on saving...

Is there any way to avoid this at all? Why does the focus have to change?

Removing ' and (isBody or isTree)'  allows for the proper 'always saves' action.

[2016-06-30 11:51] mystica555 commented on #291
I can explain the visual glitching more, because it finally affected me when I was typing a headline.

If I am modifying the text of a outline headlne, and the autosave happens, my insertion pointer goes away and I am not longer editing the headline.

Somehow this has got to be changed to not snap viewports when saving and not disrupt the insertion pointer _at all_ while autosaving.

[2016-06-30 12:14] mystica555 opened #292 "find-all commands collapse outline"
In your "My last lecture. Part 1: Why Leo is noteworthy" post in October, you enthusiastically mention:
"Leo is a superb browser for code and data. Unlike many other folding editors, Leo remembers which nodes were expanded when you last saved an outline. This is surprisingly important. And Leo's clones let you organize any data as you want, even if all folds are collapsed."

This seems to be impli

[2016-06-30 16:24] tbnorth commented on #292
On Thu, 30 Jun 2016 05:14:20 -0700
mystica555 <notifications@github.com> wrote:

Try changing this setting to False

@bool collapse_nodes_during_finds = True

Cheers -Terry

[2016-07-04 13:25] edreamleo commented on #292
@tbnorth Thanks for your comment.  I think the find-all and clone-find-all commands probably should temporarily set this setting to False.  I can't think of a use case where collapsing the outline in such situations is useful or expected.

[2016-07-04 13:42] #292 closed

[2016-07-04 13:43] edreamleo commented on #292
Imo, no new setting is needed, though one can image a setting that controls collapse for find-all and clone-find-all commands.  In practice though, the existing setting will likely suffice.

[2016-07-05 00:38] edreamleo commented on #291
Not sure if it's possible to restore editing in the headline.  It's a tricky special case.  I'll look into it.

[2016-07-05 06:32] mystica555 commented on #291
To me, an outsider without the long time of knowing the code as you do, I
end up wondering why the save functionality has any sort of GUI updating
done at all.. I'd assume/expect saving to be a background thread with no
side effects on GUI state, whereas a foreground GUI thread would be
entirely separate.

Is this at all possible with the code as it is now?

On Mon, Jul 4, 2016 at 6:38 PM, Edward

[2016-07-05 14:44] tbnorth commented on #291
On Tue, 05 Jul 2016 07:20:47 -0700
"Edward K. Ream" <notifications@github.com> wrote:

Good point, analogous to removing the '*' on a file name many apps
(incl. Leo) use to indicate a modified file, but per node.

OP's issue was save (triggered by autosave) knocking focus about.  I
know how tricky some of the focus special cases are - I wonder if the
simplest way to address that might be to skip t

[2016-07-05 14:54] edreamleo commented on #291
On Tue, Jul 5, 2016 at 9:44 AM, Terry Brown <notifications@github.com>
wrote:

​I agree.​

I'm sure you know Qt can tell you want the focused widget is, I used

​I alluded to this obliquely in another reply.  It should be possible, but​
 it's not something that is suitable for a student of the Leo Code Academy
:-) I am going to fix this bug next. It's on the list for later today.

Edward

[2016-07-06 08:01] benzolius opened #293 "Using vim mode, Leo is not responsive in the body pane for while"
I have a very small Leo file: 3 headlines and 1 body with 140 lines.
When navigating in the body (up, down, page-up, page-down), my cpu gets 100% usage and Leo becomes unresponsive.

In myLeoSettings.leo:

@bool enable-abbreviations = True
@bool vim-mode = True
@bool check_for_changed_external_files = True
@int qt-cursor-width = 3
@color body-sel-bg = black

Leo 5.4-devel, build 20160412153848, Tu

[2016-07-06 13:46] edreamleo commented on #293
Please copy the .leo file here so that I can investigate.

[2016-07-07 07:59] benzolius commented on #293
Thanks Edward,

Now I disabled:
@@bool check_for_changed_external_files = True

but doesn't solve the issue.

I can reproduce it on any file which contains a body with 140 lines, here is a test file:

`<?xml version="1.0" encoding="utf-8"?>

<leo_file xmlns:leo="http://leoeditor.com/namespaces/leo-python-editor/1.1" >
<leo_header file_format="2" tnodes="0" max_tnode_index="0" clone_windows="0"/>
<

[2016-07-17 14:34] digulla commented on #216
After thinking some more about this, I think my initial ideas was ... bad.

The correct solution is using nested nodes like so:

    @table ...options...
         @row ...options...
            @cell ...options...
            content...

that is using the natural nested structure of Leo to represent the table as a nested tree. That way, I can easily shift cells and rows around. Moving columns is a

[2016-07-22 18:31] #277 closed

[2016-07-22 18:36] gatesphere opened #295 "Enhancement request: after-headline-edit hook"
There is no hook for when a headline edit is complete.  There is 'headkey2' but that fires after each keypress, leading to situations where a potentially intensive hook would be fired multiple times in rapid succession, rather than at the end of headline edition.  There are ugly workarounds, but this could be helpful to have.

[2016-07-22 18:43] gatesphere opened #296 "Enhancement request: private plugin directory"
Some Leo users/developers have custom plugins that they might not wish to share to the main repo.

I suggest a leo/plugins/custom directory (and associated __init__.py file) be added to the repo, with its contents explicitly untracked by .gitignore.  This would allow any custom plugins to be included in that directory on a per-installation basis, and developers wouldn't need to be concerned about

[2016-07-25 02:09] tbnorth commented on #296
On Fri, 22 Jul 2016 11:43:48 -0700
Jacob Peck <notifications@github.com> wrote:

Does the directory even need to exist in the repo. - sounds like all
you really need is the .gitignore entry?

But more to the point - I think Leo already searches ~/.leo/plugins -
does that fill the need?

Cheers -Terry

[2016-07-28 20:43] edreamleo commented on #277
On Fri, Jul 22, 2016 at 1:31 PM, Jacob Peck <notifications@github.com>
wrote:

​Thanks, Jake.

Edward

[2016-07-30 07:36] makefool163 opened #297 "Some Improve for author"
I user leo to write python code a long time. More thank for leo's creator.
Sometime when I split one function to one or more childnode (outline), and I DO MUST make more tab in each line in childnode. How I want a directives to define number of tabs when tangle the code, so I can not use a lot of tabs in every line in childnode. Thank very much.

[2016-07-30 08:07] makefool163 commented on #297
sorry. I find it work. Just add proper tab in section name can make all text in proper tab.

[2016-07-30 08:07] #297 closed

[2016-07-31 10:29] LewisNeal commented on #281
An update which affects resolution of this PyQt5 v5.6 issue:
PyQt5 v5.7 has been released and instructions for installation are at http://pyqt.sourceforge.net/Docs/PyQt5/installation.html
The .exe files are no longer provided. PyQt5 now uses wheel files which apparently are a new standard of python distribution. Read more about them at http://pythonwheels.com/

[2016-08-02 12:22] edreamleo commented on #295
On Fri, Jul 22, 2016 at 1:36 PM, Jacob Peck <notifications@github.com>
wrote:

​I am going to get back to programming today.  I'll look at this first.

EKR

[2016-08-02 13:17] edreamleo commented on #295
Fixed at aca8d41. See the checkin log for details.  The main change was adding a 'changed' item to the keys dictionary.

[2016-08-02 13:17] #295 closed

[2016-08-03 14:44] edreamleo commented on #296
I looked at the code last week, and all that I can say at present is that I have no idea whether Leo already searches for plugins in ~/.leo/plugins.  I'll take another look today. The code is too complicated for my liking...

[2016-08-03 19:28] digulla opened #298 "UnicodeDecodeError when typing Unicode characters in body"
Leo 5.4-devel, build 20160412153848

Type this in the body

    «»

to get this exception

[code]

Note: On my keyboard, those symbols are on AltGr-X and AltGr-Y. Cut&paste won't work.

[2016-08-03 20:57] karstenw commented on #298
On which platform?

On OSX 10.6 with

Leo 5.4-devel, build 20160412153848, Tue Apr 12 15:38:48 CDT 2016
Git repo info: branch = master, commit = 17b8e4d91f22

I can insert (after deactivating alt-q and alt-shift-q shortcuts; that's where those chars are on osx)

«»

and testing further

«»
äöü»„‰¸˝ˇÁÛÛÁÛØ∏°’ÆŒﬂˆıÓÌÏ™ÍÅ‡ÙÇ◊‹›˘˛÷—

without any errors.

On 03.08.2016, at 21:28, digulla wrote:

[2016-08-05 06:48] user-HR commented on #298
I fixed that one by altering the line mentioned in your log:

< word = g.toUnicode(prefix) + ch

should be fixed in recent versions, just pull and you should be fine

Am 03.08.2016 um 21:28 schrieb digulla:

[2016-08-06 09:53] digulla commented on #298
Yes, I can confirm that.

[2016-08-06 09:53] #298 closed

[2016-08-08 23:11] edreamleo commented on #298
Thanks to all that contributed to the fix.

I did a cff on the following regex: `toUnicode(.*)\+`

There were only two matches.  One for this bug, another for this line:

```chars = [g.toUnicode(ch) for ch in (string.ascii_letters + string.digits)]```

So it appears this bug won't happen again.

[2016-08-11 23:58] mystica555 commented on #291
I have at least a related issue with autosave:
The autosave interval as loaded in the settings, does not repopulate when the setting changes inside an open file, not even when closing and reopening the file.

It seems only a close and relaunch of leo, allows the new autosave interval to be recognised and acted upon.

[2016-08-12 00:08] mystica555 commented on #291
also can you please change the bit of code that makes certain whether the body is active or not, and simply just save after (interval) as i often edit in leo, have autosave set for 5 seconds to prevent so much typing jitter, and then in all new git codebases without my change, it ends up not saving once im in a router or ssh session to a server.

[2016-08-16 22:57] LewisNeal opened #299 "Leo loads a deleted file"
A [deleted](https://groups.google.com/forum/?fromgroups#!topic/leo-editor/gYfw-baH0Tc) file say sample.leo is still loaded by Leo via Recent Files>0 sample.leo

Leo is reading ".leoRecentFiles.txt" which has a record of sample.leo and proceeds to create a new file.
Preferred response would be to present a message 'file not found', 'sample,leo not found' or similar.

Perhaps Leo should delete no-lo

[2016-09-01 21:39] mfeif opened #300 "Crash on MacOS py3.5, PyQt5"
I've just installed Leo; the same thing happens from the git repo and the latest master:

[code]

I tried to open the Global settings. But it happens if I try and open other nodes, like the rst3 node in the outline that opens by default.

It seems related to Qt; I installed Qt via pip3 just today. I'll attach a crash dump from the OS.

I realize that it's very likely that this isn't Leo's fault, b

[2016-09-01 21:39] mfeif commented on #300
Crash dump from the OS:
[code]

[2016-09-02 00:17] edreamleo commented on #300
If I were you, I would simply take the crash as saying that Qt was not installed properly.  The dump tells me nothing.

[2016-09-02 00:17] #300 closed

[2016-09-02 03:02] mfeif commented on #300
I installed it properly: pip3 install PyQt5.

Nothing exotic or special.

[2016-09-02 12:04] LewisNeal commented on #300
Matt,

Have you tried disabling various plugins? When running PyQt5 v5.7, I disable these plugins:
graphcanvas, richtext, livecode, and viewrendered3 so the log is free of tracebacks. I'm on windows 10 though, not MacOS.

[2016-09-02 16:13] mfeif commented on #300
I haven't; I can't get that far; if I try and open the plugins configuration method in Leo, it crashes.

I simply downloaded leo, and pip'd the requirements... and I can't use it for more than 10s before a crash.

I find this to be a bug; perhaps it's a documentation bug (because it's not a valid install method?) I understand that it may be PyQT's fault or even Qt's fault. But right now, if one fo

[2016-09-02 19:07] lonetech opened #301 "Log window doesn't get line separators"
Running leo from git on Windows using Anaconda 3 Python installation, the log window doesn't separate lines for most messages, only the initial version printing. This makes it quite impractical to see what issues occur. Example below.

[2016-09-05 01:06] ktenney commented on #300
theres a command line switch to prevent plugins from loading
$ leo --no-plugins

On Fri, Sep 2, 2016 at 11:13 AM, Matt Feifarek <notifications@github.com>
wrote:

[2016-09-08 14:52] mfeif commented on #300
Thanks! In my case, that looks like:

`python3 launchLeo.py --no-plugins`

But still crashes.

[2016-09-16 14:23] tbnorth opened #302 "revert to saved doesn't reset external file change monitoring?"
Don't have time to confirm right now, but seems revert to saved, which reloads the whole outline, doesn't reset the external file change monitoring (timestamps?) so that editing and saving an `@<file>` after the revert triggers spurious warnings about the file being modified externally.

[2016-09-17 09:09] #299 closed

[2016-09-17 09:46] #302 closed

[2016-09-17 09:49] edreamleo commented on #302
Not tested much.  The fix was a single line.

[2016-09-17 10:02] LewisNeal commented on #299
The fix works well, thanks Edward.

[2016-09-17 10:26] edreamleo commented on #301
This doesn't happen for me, and we can be pretty sure that it doesn't happen for other people either because the log window would be unusable for anyone with your problem.

Clearly, something very strange is happening with your build.

Rev 50b1043f changes LeoQtLog.put slightly.  See if that helps.

If not, set trace = True in LeoQtLog.put (search for it in the headline) and report your results.

[2016-09-17 11:21] edreamleo commented on #274
I am going to remove the "bug" label from this.  Imo, marking descendant @<file> nodes dirty is the safest course of action, because the changed ancestor node may affect descendant nodes.

This is a debatable point, but I think there are enough reasons for the present operation not to call this an actual bug.  Once could imagine a setting that modifies the present behaviour, but I would rather not

[2016-09-17 11:21] #274 closed

[2016-09-17 11:47] #287 closed

[2016-09-17 11:56] edreamleo commented on #299
On Sat, Sep 17, 2016 at 5:02 AM, LewisNeal <notifications@github.com> wrote:

​> ​
The fix works well, thanks Edward.

​You're welcome. Thanks for the confirmation.

EKR

[2016-09-17 17:13] edreamleo commented on #241
This error appears many times when running unit tests with PyQt5.  That should make it easier to fix.

[2016-09-17 18:24] edreamleo commented on #218
Alas, this bug interacts with #241.  With PyQt5 the following reasonable code in LeoQtGui.setClipboardSelection generates a spurious warning message:

[code]

The workaround is not to execute this code with PyQt5, but in effect that reopens *this* bug.

[2016-09-17 18:52] edreamleo commented on #241
Fixed at rev 252d1f1.

Created new LeoQtGui.setClipboardSelection method, which at present does nothing for PyQt5.
This appears to be the only way to avoid the following message:

    "Data set on unsupported clipboard mode. QMimeData object will be deleted."

[2016-09-17 18:52] #241 closed

[2016-09-17 18:57] edreamleo commented on #281
I am going to close this, as viewrendered works with PyQt5 on both Ubuntu and Windows 10.  There are many remaining problems with the VR plugin, which I'll discuss in a new issue.

[2016-09-17 18:57] #281 closed

[2016-09-17 19:00] edreamleo opened #303 "The VR plugins should be merged"
There are three separate VR plugins at present.  This is a coding nightmare, and several bugs are the result.  The VR3 plugin is intended to have all features in VR and VR2 plugins, with settings to choose the mode of operation.

However, all that must be done for Leo 5.4 is to ensure that the VR and VR2 plugins work properly on both Linux and Windows.

[2016-09-17 19:05] edreamleo commented on #301
I am going to close this for now.  I do not believe this is an actual bug.  Something weird, like an installation problem, is going on.

[2016-09-17 19:05] #301 closed

[2016-09-17 19:47] edreamleo commented on #303
It looks like VR does not handle Python text properly.  When this happens, the Plugins menu descriptions are also not rendered properly.

[2016-09-18 01:20] edreamleo commented on #291
Rev 20f012e solves the most pressing problems in a very simple way.  No save is done if focus is in any QLineEdit widget, which includes the minibuffer and all edit widgets.  I think this will suffice for almost everyone.

In addition, the plugin always waits the full "interval" period after an outline is first changed before doing an autosave.  This was not true in the past.  The full delay gives

[2016-09-18 01:39] edreamleo commented on #291
The time.clock() method is not suitable on my Ubuntu machine.  I'll attempt a fix asap.

[2016-09-18 02:46] edreamleo commented on #291
Rev ed36789 fixes the Ubuntu problem by changing time.clock() to time.time().  Works on both Windows and Ubuntu.

[2016-09-18 02:46] #291 closed

[2016-09-18 02:52] edreamleo commented on #270
I just saw that the problem happens in vim mode (@bool vim-mode = True).  Presumably the Alt-Tab (Focus-out) logic leaves vim mode in a strange state.

[2016-09-18 10:55] edreamleo opened #304 "QtWebEngine warnings with Qt5 on Windows 10"
On Windows 10, I typically see warnings like this on startup:
[code]

These happen even when the VR plugins are all disabled.

Restarting the computer removes these warnings.   Ctrl-clicking on a url in Leo brings back the warnings.

[2016-09-18 11:21] #270 closed

[2016-09-18 11:36] edreamleo commented on #270
LeoQtGui.onActivateEvent now calls vc.on_activate.  It seems to work well enough. Please reopen if there are further problems.

[2016-09-18 11:54] edreamleo commented on #293
I don't see any problems on my machines, except possibly for delays caused by syntax coloring.

You might want to add @killcolor directives for large text.

I'll close this now.  Please reopen if @killcolor doesn't help.

[2016-09-18 11:54] #293 closed

[2016-09-18 15:26] edreamleo commented on #288
Please send your myLeoSettings.leo file to me at edreamleo@gmail.com  The problem likely lies there.

I am going to close this item for now.  I'll reopen if your myLeoSettings.leo file convinces me that there is a real problem.

[2016-09-18 15:26] #288 closed

[2016-09-18 16:35] #266 closed

[2016-09-18 16:58] edreamleo opened #305 "Settings for menu and button text have no effect on Ubuntu with PyQt5"
All is well on Windows, and on Ubuntu with Python2 and PyQt4.

The too-small fonts are hard on my old eyes.

[2016-09-18 17:01] edreamleo commented on #266
Rev 143dc2a added support for @bool show_iconbar, and rev a0615f38 added same to leoSettings.leo.

[2016-09-19 13:59] edreamleo commented on #304
Restarting the computer removes these warnings.  They may have been a strings edge case after I installed PyQt5.  I'll move the Ubuntu warnings to a new issue and close this.

[2016-09-19 14:00] edreamleo opened #306 "Ubuntu/Py3/PyQt5 warnings re: SUID sandbox"
On Linux, I see warnings about running without the SUID sandbox. Happens only with PyQt5 and Python 3.

[2016-09-19 14:01] edreamleo commented on #303
The VR and VR2 plugins must be fixed before Leo 5.4 b1.  Merging the plugins might be delayed until 5.5.

[2016-09-19 14:59] edreamleo commented on #306
A bit of googling leads to [this page](https://chromium.googlesource.com/chromium/src/+/master/docs/linux_suid_sandbox_development.md).  I'm not sure what can or should be done.  Perhaps a FAQ entry would be appropriate, but this is really a Linux installation issue.  You could also call it a Qt issue...

I am going to close this for now.  There seems that there is nothing for Leo to do.

[2016-09-19 14:59] #306 closed

[2016-09-19 15:59] #305 closed

[2016-09-19 16:32] edreamleo commented on #304
Drat.  The warnings are back.

[2016-09-19 16:35] edreamleo commented on #289
I am going to split this issue into two parts:

1. The issue with crashes appears to be fixed.
2. The issue re: warnings for section references with leading or trailing text should be considered an enhancement.

I'll close this issue and create another asking for warnings.

[2016-09-19 16:35] #289 closed

[2016-09-19 16:38] edreamleo opened #307 "Leo should warn if a section reference does not appear alone on a line"
This is an enhancement request related to #289.

@jurov says: If << node reference >> is mixed with other text on one line, can Leo please output a warning that it won't work on reading?

[2016-09-19 17:06] technatica opened #308 "Embed iPython into log window as in python_terminal.py plugin"
This would be so helpful for me as I learn python/Leo.

[2016-09-19 17:09] technatica opened #309 "Add support for Jedi autocompletion"
I would love to peek over the shoulder of a programmer who could take this on. It will be interesting to see what the developers of Jedi consider to be "easy" when it comes to embedding their project into an editor/IDE.

**Status**

- The following comments showed how I prototyped this project.
  All future work will be done in leoKeys.py, without being reported here.
- Added `@use_jedi` setting.

[2016-09-19 18:21] technatica opened #310 "Create new file in right-click in file tab in UI"
The headline says it all.

The model would be any Qt application (like konsole and kate for example).

[2016-09-19 19:20] edreamleo commented on #304
I've just asked the Qt people for help [here](https://forum.qt.io/topic/71413/cache-warnings-on-windows-10-pyqt-5-7-after-clicking-url-s-in-a-qtextbrowser).

[2016-09-20 14:46] edreamleo commented on #304
Strange.  I get these warnings with some .leo files, but not others.

One way to get rid of the warnings is to delete the contents of the folder
~\AppData\Local\python\QtWebEngine.

And now I can't the message even after clicking a url in Leo.

[2016-09-20 15:44] #286 closed

[2016-09-21 14:46] technatica commented on #308
Cancel this. You already did it. Running launchLeo.py --ipython gives me what I wanted, which is an interactive scripting platform that allows me to write python in Leo and watch it execute in Jupyter console.

I have been reading through the code/docs/*.txt etc. and saw a couple of places where ipython was causing grief and thought I would encourage you. :-) But it looks like you guys got it done

[2016-09-21 14:54] edreamleo commented on #303
Recent work fixes several relatively minor bugs in the VR plugin.  Merging the various VR is not urgent, and will be delayed until Leo 5.5.

[2016-09-21 15:16] #308 closed

[2016-09-21 18:20] edreamleo opened #311 "Simplify how code uses k.getArg"
One of the ugliest features of Leo's code base is how it gets arguments interactively.  The typical pattern is:

[code]

The following pattern would be simpler, and should be feasible:

[code]

That is, it k.getArg would handle all the state-related machinery, thereby greatly simplifying client code.  Similarly, k.get2Args would call the callback with two arguments.

[2016-09-21 20:46] edreamleo commented on #303
I have changed my mind, as explained [here](https://groups.google.com/forum/#!topic/leo-editor/s5aBTAq_g2M). As a result, I am going to close this item and move the vr3 code to the attic.

[2016-09-21 21:01] edreamleo commented on #283
This could easily slow Leo significantly.  To prevent that, Leo would have to compute the line number of the first line of p.b whenever p is selected.  That would be non-trivial.

[2016-09-22 09:31] Sekenre commented on #286
Awesome, thanks!

[2016-09-22 10:35] edreamleo commented on #286
On Thu, Sep 22, 2016 at 4:31 AM, Sekenre <notifications@github.com> wrote:

​You're welcome.  Thanks for the confirmation.

EKR

[2016-09-22 14:22] edreamleo commented on #283
This command is especially ugly because changes to any node invalidates the computed file offsets in all following nodes.  Ditto for any tree insertions, deletions, rearrangements.

Hmm.  The more I think about this, the less I like it. The goto-global-line (Alt-G) command handles the most important use case: determining which line in an outline corresponds to a line given in an error message.

I'

[2016-09-22 14:38] edreamleo commented on #283
Rev d7a8c39 completes work on this project for now.

I expect that there will be no way forward, so I am going to add the Won'tDo label and close this item.

Please reopen if you know of a way around the problems I have described.

[2016-09-22 14:38] #283 closed

[2016-09-22 15:22] edreamleo commented on #304
Good news. The warnings happen only if a version of Leo running PyQt5 is already open.  Apparently, PyQt5 is holding the Python cache open even when Leo is not active.

So the workaround is to open leoPy.leo with Python 2, and do testing with Python 3.  Not great, but much better than seeing the dashed warnings.

[2016-09-22 17:22] edreamleo commented on #304
Rev 69c3201 is a better workaround.  It leaves leoQt.py unchanged.  The viewrendered.py and bigdash.py plugins now use QTextBrowser widgets instead of QWebView widgets.  Apparently, instantiating a QWebView holds the cache open.

I am going to close this, but mark it Can'tFix and Waiting, to show that the workaround can be removed only after Qt5 issues a fix.

[2016-09-22 17:22] #304 closed

[2016-09-22 18:29] edreamleo commented on #306
More googling leads to this [bug report](https://bugreports.qt.io/browse/QTBUG-54225). It may be fixed in Qt5.7.1.

[2016-09-22 21:10] edreamleo commented on #303
There is an easier way to merge the vr and vr2 plugins: just add some of the vr2 commands to vr, *without* using QWebView.  This should be straightforward.

[2016-09-23 00:20] JohnLunzer commented on #283
Thank you for looking into it, too bad about the performance, we'll survive without I suppose ;)

[2016-09-23 15:21] edreamleo opened #312 "Allow plugins to disable other plugins"
We don't want to change how Leo handles `@enabled-plugins` nodes.  Any such changes would be inconvenient for existing users.

However, we want the vr2 plugin, if enabled and successfully loaded, to be able to disable the vr plugin. This should be possible regardless of whether vr2 is enabled in myLeoSettings.leo or the local .leo file.

The plugins manager already has the unloadOnePlugin method.

[2016-09-23 15:34] edreamleo opened #313 "vim-open-node opens file instead of just node"
From Kent:

Leo Log Window
Leo 5.4-devel, build 20160412153848, Tue Apr 12 15:38:48 CDT 2016
Git repo info: branch = master, commit = fc2770230b70
Python 3.5.1, PyQt version 5.5.1
linux

[2016-09-23 15:49] edreamleo opened #314 "Support QDocWidget"
Originally suggested by Terry Brown.

[An animated demo](https://woboq.com/blog/qdockwidget-changes-in-56.html)

This might reduce/eliminate the need for the Easter Egg interface.  Or not.

[2016-09-23 17:52] edreamleo opened #315 "Investigage regex-based parsing for importers"
At present, imports set arcane switches for the scanHelper method in order to customize parsing.  It may be that using regex patterns would be more natural.  Or not.

[2016-09-23 18:39] #278 closed

[2016-09-23 19:11] edreamleo commented on #315
Actually, the coffeescript importer already uses regex expressions to simplify the scan method.

[2016-09-23 19:12] #315 closed

[2016-09-23 20:14] edreamleo opened #316 "xml (html) parser ignores section tags"
https://groups.google.com/d/msg/leo-editor/0TIUeoY2X0A/r6uZaV02AgAJ

Reported by Rob (Largo84), and confirmed by EKR. With this `@data import_html_tags` setting:

[code]

Leo does not import this file well:

[code]
The `<section>` tags *are* parsed, but the `</section>` tags are in the following nodes.

[2016-09-23 20:42] edreamleo commented on #316
I am going to close this. It appears that the example has confusing syntax.

The opening section tags in the example file should end with `>` instead of `/>`. As a result, Leo's importer doesn't scan for the closing `</section>` tag.

[2016-09-23 20:42] #316 closed

[2016-09-24 03:59] largo84 commented on #316
I see that now, sorry I missed that before posting the issue.

[2016-09-24 09:07] edreamleo commented on #316
On Fri, Sep 23, 2016 at 10:59 PM, Rob Keeney <notifications@github.com>
wrote:

​No problem.  I left this issue for far too long.

EKR

[2016-09-24 10:35] LewisNeal opened #317 "Viewrendered pane loses live-render feature"
To observe open leo file, and run vr.
The vr pane opens, attached to leo, and not floating.
Hover over a splitter, 'right-click> remove 1 Right'. The vr pane closes.
Now run vr again, and the vr pane opens in a floating window. However this floating window is static, and does not live-render.

Closing the file and re-opening does not restore the live-rendering. You need to close Leo completely and

[2016-09-24 11:14] edreamleo commented on #312
After more thought, I think this is a bad idea. It assumes that plugins can know the order in which Leo loads them, but that isn't so.

Furthermore, the vr and vr2 plugins load as expected in the following scenarios:

- leoSettings.leo enables vr (in an `@enabled-plugins node`).
- myLeoSettings.leo enables vr2.
- ekr.leo enables vr.
- test.leo enables neither plugin.
- test2.leo enables both plugi

[2016-09-24 11:14] #312 closed

[2016-09-24 15:49] edreamleo commented on #304
Recent revs instantiate the QWebView only when true html rendering is needed.

This seems to reduce warnings.

[2016-09-24 16:02] edreamleo commented on #303
I am going to close this item.  A real merger is probably not desirable.  Instead the vr plugin should get some of the commands and settings from the vr2 plugin, without vr2 gui additions.

[2016-09-24 16:02] #303 closed

[2016-09-24 16:04] edreamleo opened #318 "Add vr2 settings and commands to vr plugin"
This is a lightweight version of #303. Instead of duplicating the vr2 gui, the vr plugin needs only to support some vr2 commands and settings.  Unlike a full merge of the code, this should be a straightforward project.

[2016-09-24 20:55] technatica opened #319 "Enhancement - Alternate way to deal with font sizes"
I have spent a bit of time looking into smaller IDEs and editors for python to see how they handle things.

http://pyzo.org is an interesting project that I have been using as a platform for learning python. They handle font sizes using a Zoom instead of point sizes. It is immediate and eliminates a large amount of complexity for the end user and the programmers.

This lightweight IDE is written i

[2016-09-25 08:24] edreamleo commented on #14
Rev 8ae11ae adds experimental support for auto indentation for programming.  The only new code is in the newPlainChar method in leoEditCommands.py. Let me know what you think.

When the new setting `@int autojustify`  is greater than zero, Leo will insert a newline before the present word if it would exceed the given column number. A newline is added only if the user is typing at the end of a line

[2016-09-25 08:30] edreamleo commented on #14
I already don't like this feature.  It would take AI to know how to split lines properly.

For example, the user will want to insert comment delims when extending comments.

[2016-09-25 12:44] tbnorth commented on #14
My guess is the OP wanted this for prose, not code.  I'd like it for prose too - my experiments weren't very successful when I tried it though (some time ago).  It should certainly be possible.

[2016-09-25 13:11] edreamleo commented on #14
On Sun, Sep 25, 2016 at 7:44 AM, Terry Brown <notifications@github.com>
wrote:

​Have you tried reformat-paragraph and unformat-paragraph?  I use them all
the time.

EKR

[2016-09-26 18:43] tbnorth commented on #314
See https://github.com/leo-editor/snippets/blob/master/examples/layout/qtdock.py

[2016-09-26 18:50] tbnorth commented on #14
Yes but that's intrusive, having to hit something at the end of every para., other than return, to type fixed width text, or letting the window wrapping handle it until you're done typing, then go back and reformat all the paras.

[2016-09-29 20:11] gazikamel commented on #319
NICE

[2016-09-30 10:39] edreamleo commented on #319
On Sat, Sep 24, 2016 at 3:55 PM, Chris George <notifications@github.com>
wrote:

​Thanks for the link.  It does look interesting.

​Did you know you can zoom body text at any time in Leo with Ctrl-+ and
Ctrl-- ?​

​A gui isn't flexible enough to handle all of Leo's settings.  I tried such
an approach in the past and it was a failure.

​Yes, it's cool.​  Apparently pyzo uses yoton
<http://yoton.rea

[2016-09-30 14:39] technatica commented on #319
I have since settled on Spyder/Conda to teach myself python/pyqt. Having multiple ipython environments baked in is handy as it is difficult to find tutorials and examples that exactly match the python version/pyqt version that I have installed. It allows me to pair up the tutorial and the environment (Conda) and work with their code/examples in Spyder/ipython.

What initially interested me about p

[2016-10-01 11:51] edreamleo commented on #318
I'm going to close this.  The recent work with `@pyplot` support is enough for now.

Imo, we can leave both the vr and vr2 plugins as the are for the foreseeable future.

[2016-10-01 11:51] #318 closed

[2016-10-01 14:21] edreamleo commented on #319
On Fri, Sep 30, 2016 at 9:39 AM, Chris George <notifications@github.com>
wrote:

Egg interface.  Terry and I agree that using QDocWidget would simplify the
interface.

Is there any other part of Leo's UI that see​ms complex to you?

EKR

[2016-10-01 17:10] tbnorth commented on #319
On Sat, 01 Oct 2016 07:21:14 -0700
"Edward K. Ream" <notifications@github.com> wrote:

Actually the style sheet handling that indirectly is involved in font
zooming is /complex/, maybe with some better comments / docs. we can
have it not seem too /complicated/.  There's a payoff for the
complexity in terms of the @my_favorite_color substitution in
stylesheets etc.

Cheers -Terry

[2016-10-02 12:40] ktenney commented on #319
Jumping in, completely out of context:

I think there are too many items on the Leo main menu,
they look a bit like 'kitchen sink', daunting. Do others find
themselves using many commands from these menus?

Maybe move more into subtrees, so at first glance they
look simple and inviting.

I also wonder how many of the default bindings are used in
the wild, When I've looked into custom bindings, I f

[2016-10-03 12:05] edreamleo commented on #319
On Sun, Oct 2, 2016 at 7:40 AM, Kent Tenney <notifications@github.com>
wrote:

​I only ever use commands in the File menu, and even that is not an optimal
way to use Leo.  Imo, the menus exist almost exclusively to remind people,
especially newbies, what commands exist.  But to actually *use* those
commands it is much better to access them through the minibuffer.

Maybe move more into

​We want to

[2016-10-04 11:40] edreamleo commented on #128
I have some ideas about splitting js into reasonable pieces. I'll be trying them out soon.

[2016-10-04 17:09] SegundoBob opened #320 "QUrl assertion fails for all uses of leoBridge"
I ran into this a month or two ago and worked around it by commenting out the assert.  It seems to happen every time leoBridge is used to open a Leo-Editor file.  That is all qurl.py does:

# qurl.py
[code]
# run output for Python 2 and Python 3
[code]
# Leo-Editor Version:
Leo Log Window
Leo 5.4-devel, build 20160722143100, Fri, Jul 22, 2016  2:31:00 PM
Git repo info: branch = master, commit = b8

[2016-10-09 09:49] edreamleo commented on #128
The new scanner is a complete success, as discussed [here](https://groups.google.com/forum/#!topic/leo-editor/IEFWzv9p0jc), with code-level details [here](https://groups.google.com/forum/#!topic/leo-editor/qE6bmlLisBg).

I'll be working on further improvements, especially allow section references in imported code, but this item can be close.

[2016-10-09 09:49] #128 closed

[2016-10-09 09:57] edreamleo opened #321 "Allow section references in imported code"
The new javascript importer can optionally generate code containing section references.  Alas, the ``@auto`` **write** code does not support section references.

In some cases, perhaps, the write code should ignore lines that **look** like they contain section references, but it's sad to make this the default behavior.  Instead, a setting should permit the `@auto` write code to honor section refer

[2016-10-11 14:03] edreamleo opened #322 "Rewrite importers as they become needed"
The new javascript importer is a template for other importers.  This issue describes what would be done.  As such, is an information item as well as an enhancement request. Much of the following has been taken from [this discussion](https://groups.google.com/forum/#!topic/leo-editor/Ct3ZKqTo_KE) on leo-editor.

Most of the code resides in the `JavaScriptScanner` class, and its helpers, the `Block`

[2016-10-11 15:21] edreamleo commented on #321
Completed at 083234ac.  This was a straightforward change.

The setting `@bool allow_section_references_in_at_auto = False` enables this feature.  The default must be `False`, to ensure that legacy outlines work as before.

**Note**: the javascript importer now generates section references if and *only* if this setting is True. The setting `@bool js_importer_gen_refs` is no longer used.

All unit

[2016-10-11 15:21] #321 closed

[2016-10-11 17:57] #320 closed

[2016-10-11 17:58] edreamleo commented on #320
Rev 497eb0c removes this assert statement. Pyflakes is happy with both Python 2 and 3, so I don't see any need for the assert.

Please reopen if problems remain.

[2016-10-11 22:59] edreamleo commented on #262
Rev 4373f88 attempts to fix #262 by checking at most one commander during idle time.

This approach could be extended by checking only one @<file> node at idle time, but that might result in long delays between checks of an @<file> node.

Please let me know if the fix works for you.

[2016-10-12 13:29] #313 closed

[2016-10-12 13:43] edreamleo commented on #313
From  26296c1:

1. vim.open_file now bypasses the core's open-with logic. This ensures that the vim settings are used, so it should be safe. Simplified other VimCommander methods in minor ways.

2. Simplified ExternalFilesController interfaces by changing d arg to ext arg in efc.create_temp_file, efc.clean_file_name and efc.legacy_file_name. This is an important simplification: the old code was wa

[2016-10-14 09:00] edreamleo opened #323 "<Alt-x>help-<tab> sometimes shows too much"
`<Alt-x>whatever` should initially show only the largest _common_ prefix of all commands that start with 'whatever'.  Instead, sometimes a complete command is shown instead.  This is confusing and inconvenient: to show all items the user must backspace over text.

I won't delay Leo 5.4 b1 for this, but it should be fixed for 5.4 b2/final.

[2016-10-14 15:50] edreamleo commented on #323
Rev aea45cb1 and earlier revs fix this, and in addition greatly simplifies the code.  The first key simplification was to have `ga.do_tab` and `ga.do_back_space` defer completely to `ga.do_tab_cycling`.  After that, I could concentrate solely on `ga.do_tab_cycling`.

Previously, `<alt-x>help<tab>c<tab>` would yield: `help-for-abbreviations` (!)

[2016-10-14 15:50] #323 closed

[2016-10-15 04:34] edreamleo commented on #282
Fixed at c68fabeb52.

I updated the docs.  More importantly, Leo now puts up a yes/no dialog asking the user whether they want to create myLeoSettings.leo in the particular directory. This allows the user to cancel the automatic creation of the file.

As I was testing this, I see that myLeoSettings.leo is actually created in a new (dirty) Leo tab, so the user can decline to save the created myLeoS

[2016-10-15 04:34] #282 closed

[2016-10-15 11:10] edreamleo commented on #309
Jedi looks very interesting.  I've just set 5.5 as a milestone.  Not sure how you can "peek over my shoulder" while I work on this, but I'll try to keep a log here about what I do, and why.

[2016-10-15 11:11] edreamleo commented on #296
I'd like to resolve this in the 5.5 release.  The first step will be to document what already happens.

[2016-10-15 11:13] edreamleo commented on #271
This may become part of #309.  I'll leave it open for now, and target this for 5.5.

[2016-10-15 11:18] edreamleo commented on #174
I am going to close this.  Both the OP and I agree that there is no real need for this.

[2016-10-15 11:18] #174 closed

[2016-10-15 11:23] edreamleo commented on #152
This feature can degrade (or be disabled) if pandoc is not available.  With Anaconda (the recommended way to install IPython/Jupyter), it takes seconds to install.

This is on the list for 5.5.

[2016-10-15 11:25] edreamleo commented on #106
I'll give this another try after Leo 5.4 final goes out the door.

[2016-10-15 11:26] edreamleo commented on #62
Not sure how feasible this is, but I'd like to resolve this one way or the other for 5.5.

[2016-10-15 11:28] edreamleo commented on #55
This would be the effect, anyway.

[2016-10-15 11:35] edreamleo commented on #41
The Jedi completer may be able to do this.  I'll put this on the list for 5.5, to keep this item in view, but it won't likely happen unless Jedi can do it.

[2016-10-15 11:47] edreamleo commented on #322
**Note**: The new scheme is not needed for the ipynb importer because that importer uses Python's standard [json module](https://docs.python.org/2/library/json.html) to convert the input text to a dict.

[2016-10-15 11:49] edreamleo commented on #319
There are multiple issues/requests in this item.  I'll separate them and deal with them individually for 5.5.

[2016-10-15 11:52] edreamleo commented on #20
I am going to close this issue.  quickstart.leo renders it moot, imo.

[2016-10-15 11:52] #20 closed

[2016-10-16 22:54] edreamleo opened #324 "How to install Anaconda"
This info is out of date.  Please see the [Anaconda installations instructions](https://docs.anaconda.com/anaconda/install/).

The latest version of Anaconda is [here](https://www.continuum.io/downloads). Older versions are [here](https://repo.continuum.io/archive/).

Install the 32-bit version of Anaconda. pyenchant does not work with 64-bit installs.
- The 32-bit and 64-bit versions of Anaconda

[2016-10-16 23:16] edreamleo commented on #324
Oh yes.  There is a problem with pyinstaller, as described [here](https://github.com/pyinstaller/pyinstaller/issues/1781). The workaround is to downgrade setuptools to 19.2:

`pip2 install setuptools==19.2`
`pip3 install setuptools==19.2`

[2016-10-19 20:16] edreamleo commented on #311
Rev 3779c84 completes this item.

[2016-10-19 20:16] #311 closed

[2016-10-22 02:13] edreamleo opened #325 "Use @g.command to define more commands"
This project has been abandoned after substantial work in the "commands" branch. This branch will remain indefinitely in case I change my mind.

My conclusions:
- `@cmd` is best for commands based on methods.
- `@g.command` is best for commands based on functions.
- g.cmd_instance_dict is a clever solution to an otherwise intractable problem, namely giving the decorator access to the proper instan

[2016-10-22 02:27] edreamleo commented on #325
The following unit test will ensure that no Commands attributes are lost as they migrate outside leoCommands.py.
[code]

[2016-10-23 12:17] LewisNeal opened #326 "Graphcanvas plugin can crash Leo"
First select a node in the graph pane, drag it around to reposition it in the pane, then select the colour block, Leo instantly crashes.

Leo 5.4, Sun Oct 23 14:28:55 2016
Git commit: d7a90c09
Python 3.5.2, PyQt version 5.7.0
Windows 10 AMD64 (build 10.0.14393) SP0
[snip]
Traceback (most recent call last):
  File "N:\git\leo-editor\leo\plugins\graphcanvas.py", line 163, in <lambda>
    u.btnColor.

[2016-10-23 14:53] #326 closed

[2016-10-23 15:58] edreamleo commented on #325
I am going to abandon this issue, and close it now.

The fundamental problem with this project is compatibility with existing code.  Existing code includes Leo's core and plugins. But existing code also includes user scripts and plugins, _including scripts and plugins that we know nothing of_. Breaking **any** existing code **must not be allowed**.

Happily, there is simple and good way forward. W

[2016-10-24 00:49] edreamleo opened #327 "Create a way to unbind bindings in leoSettings.leo"
There is a hole in Leo's key-binding machinery. Afaik, there is no way to declare, say in myLeoSettings.leo, that a particular stroke should be treated as a plain key.

The typical key binding has the form:

`command-name = stroke`

The `do-nothing` command is not what we want. It eats the stroke entirely.

The setting `command = None` should remove any existing bindings to `command`.

[2016-10-24 09:10] karstenw commented on #327
I think the magic should happen when:

```command-name = None```

is assigned.

That was what I expected would happen.

[2016-10-24 11:25] edreamleo opened #328 "Allow pylint to in background without waiting"
At present, it is better to run pylint in the background *with* waiting, so that results are not intermixed. However, if we are checking several files, it would be better to run *without* waiting so that Leo doesn't hang.  This could be done without confusion provided that we have pylint check only one file at a time.

The strategy:
- Create a global list of files to be checked by pylint, say `g.p

[2016-10-24 13:56] edreamleo commented on #325
P. S. The existing code not how I would do things today.  But remember, decorators did not exist in 2001.  So we are "stuck" with the present organization of existing commands.  _We should learn to live with, even appreciate, such legacy code._  Trying to clean up this code is asking for big trouble.

[2016-10-24 14:59] edreamleo commented on #327
@karstenw Thanks for this comment. It's a reasonable thing to expect.  It may be tricky, but I'll try to make it happen.

[2016-10-24 15:17] edreamleo commented on #106
**How to compute sha256 hash**

http://stackoverflow.com/questions/32673943/how-to-update-homebrew-sha256

After editing the formula, you can run:

    brew fetch your-formula --build-from-source

to fetch the tarball and display the new checksum.

If you've already downloaded the tarball somewhere, you can calculate the hash with:

    openssl sha256 < some_tarball.tar.gz

or:

    shasum -a 256

[2016-10-25 14:28] edreamleo commented on #106
**Status report**:  I worked several hours yesterday on a new formula.  It may turn out to simple.

The top-level leo-editor folder can go _anywhere_.  There there seems to be no need for the formula put the folder in `lib/site-customize`!  Wherever it goes, we want the formula to put a symlink on the desktop (or in the home folder), which when double-clicked will execute `python launchLeo.py`.

T

[2016-10-25 14:36] ludwigschwardt commented on #106
Brew already installs all the package files in its cellar in e.g. /usr/local/Cellar/leo/5.4, so I find that the natural place to find the Leo files.

On top of that I would just make launchLeo.py a normal executable script in /usr/local/bin via the Brew machinery, so that the user does not need to know where it is - it's on the path!

The symlink is then an icing on the cake. What about an App-lik

[2016-10-25 15:10] edreamleo commented on #106
@ludwigschwardt Thanks for these comments!  Not sure I know enough to put them in action.  Here is what I had last night:
[code]
Some questions for you:

1. How should the formula install Leo in the regular place?
2. How should the formula create the symlink you suggest?
3. Is the test section bogus if leo already is installed on the user's system?

I think we may be close.

[2016-10-25 15:21] edreamleo commented on #106
Progress!  Just guessing, I changed:
[code]
to:
[code]
and now the build works:
[code]
More importantly, the following opens Leo:
[code]
So it seems that question 1 is answered.  That still leaves:

2. How should the formula create the symlink you suggest?
    Maybe the symlink exists in a "regular" spot, but I have no idea what this does:

    `ln_s "#{bin}/launchLeo.py", "#{bin}/leo"`
3. Is the

[2016-10-25 15:26] edreamleo commented on #106
Again, just guessing (I'm a complete MacOS noob), I found launchLeo.py in `/usr/local/bin`  And, hurray!, the following works:
[code]
So now we are down to the last question:

3. Is the test section bogus if leo already is installed on the user's system?

We may be getting close to creating a Tap and issuing a PR.

[2016-10-25 15:42] edreamleo commented on #106
@ludwigschwardt Your comments have made everything much clearer.

When running the brew Leo, Leo's log pane shows:
[code]
So `/usr/local/bin/launchLeo.py` actually launches `/usr/local/Cellar/leo-editor/5.4.1/bin`. At last things are starting to make sense.

Many thanks for your help.

[2016-10-25 15:54] edreamleo commented on #106
Before I forget, [this homebrew tutorial](http://formalfriday.club/2015/01/05/creating-your-own-homebrew-tap-and-formula.html) has been very helpful. I'll be using it next while I try to create the PR.

The other difference from two years ago is that whenever I have a question I google it.  It's amazing how easy this usually is.

[2016-10-25 20:31] ludwigschwardt commented on #106
In my incarnation of the formula I just made ```launchLeo.py``` executable and then added a symlink called ```leo``` so that I could really just run it on the command line as ```leo```. No need to remember the path to it :-)

I still wonder if we can attach a ".app bundle" or some such thing to turn Leo into a proper app which can then be linked via ```brew linkapps```. Then it will appear in /App

[2016-10-25 22:39] edreamleo opened #329 "Move selfInsertCommand into leoKeys.py"
`c.editCommands.selfInsertCommand` (and all its helpers) belongs in `leoKeys.py`.

**Update**: True, but the selfInsertCommand method calls a cascade of methods in editCommands.py, so there is no good "stopping point".  Any of these cascaded changes could cause compatibility problems, so this issue must be abandoned.

~~These methods can probably migrate from the `EditCommandsClass` class to the `

[2016-10-25 23:13] edreamleo commented on #329
Rev 3efc815 removes the self-insert-command.  I'll close this item now.  As mentioned above, nothing further can be done.

[2016-10-25 23:13] #329 closed

[2016-10-25 23:22] edreamleo opened #330 "Remove obscure Emacs commands"
As noted in LeoDocs.leo, the following commands are obscure enough that _they aren't even documented_. They appear in an @rst-ignore node:

[code]

Like the `buffer-*` and `register-*` commands, and the `how-many` command, these commands are relics from Emacs.  There is no reason to keep them: Leo's scripting features surely supersede these.

Furthermore, the number commands probably conflict with

[2016-10-26 03:33] shizhaojingszj opened #331 "can @clean parse a perl script?"
Is there any plan to enhance the support for perl scripts?
I am newbie to leo-editor, I want to learn other people's code using leo-editor.
Python support is great, though perl is not.
The following is what i posted on [google groups](https://groups.google.com/forum/#!topic/leo-editor/jtYLG8pZyd0):

I have been using leo for a while and find it great to import and reorganize a python script.
Howev

[2016-10-26 14:43] edreamleo commented on #328
Completed at f43832d.  How did we ever live with hanging Leo?

The new code is straightforward. All changes to the module-level globals happen in the main process, so there is no chance of race conditions, and no need for inter-process locks, etc.

Added the pylint-kill and kill-pylint commands to terminate the background processes.

checkerCommands.py contains all the code.  At present, it uses t

[2016-10-26 14:43] #328 closed

[2016-10-26 15:05] edreamleo commented on #330
[This post](https://groups.google.com/d/msg/leo-editor/udsN3yvJzgk/ZhZoA6qSCQAJ) discusses removing Leo's macro commands.  I would like to do that, but there is no way to know for sure whether anybody is using them.

[2016-10-27 10:41] edreamleo opened #332 "Create perl importer"
A perl importer is now feasible now that importers scan code line-by-line rather than character-by-character. I'll get to this asap.

[2016-10-27 15:35] edreamleo commented on #331
On Wed, Oct 26, 2016 at 8:35 PM, Edward K. Ream <edreamleo@gmail.com> wrote:

​#332 <https://github.com/leo-editor/leo-editor/issues/332> is that
request. I'll get to this asap.

EKR

[2016-10-27 15:46] edreamleo commented on #331
On Tue, Oct 25, 2016 at 10:33 PM, meng zhao <notifications@github.com>
wrote:

​That would require a perl importer.​ This is easier now that importers
import code line-by-line rather than character-by-character. This new
approach makes writing a javascript importer possible without knowing much
of anything about javascript.  The same approach should work well for perl.

Please file an enhancement

[2016-10-27 15:50] edreamleo commented on #332
Rev 65375b3b passes simple `@auto` tests for perl.  More testing is needed.

Please reopen this issue if problems appear.

[2016-10-27 15:50] #332 closed

[2016-10-27 16:03] edreamleo commented on #331
On Tue, Oct 25, 2016 at 10:33 PM, meng zhao <notifications@github.com>
wrote:

​> ​
Is there any plan to enhance the support for perl scripts?

​Rev b27084d adds a perl importer. You should be able to do this:

   @auto x.pl

EKR

[2016-11-03 18:34] technatica opened #333 "Render asciidoc and pandoc in VR pane"
I have been searching for a Sphinx editor with preview, with little success.

**EKR**: There is no such thing as a Sphinx editor.  Sphinx uses reStructuredText as its markup language. So what you want is a rST editor.

Leo's VR pane already creates a live view of rST. [This post](https://groups.google.com/d/msg/leo-editor/hwE6ZRnjjxc/auevhMIzBwAJ) discusses how to use external programs such as asc

[2016-11-04 06:08] edreamleo commented on #333
Thanks for the link.  The project looks well worth doing.

[2016-11-08 15:18] edreamleo opened #334 "Simplify Leo's importers as much as possible"
Simplifying Leos importers is crucial so that future devs can add importers and fix existing importers.

This issue will continue previous engineering notebook posts.  All are welcome to comment.

- Nov. 4: [ENB: Leo's line-oriented importers: the last collapse in complexity](https://groups.google.com/forum/#!topic/leo-editor/lm0x1pDZFy8)

- Nov. 6: [Important documentation for devs: Leo's new imp

[2016-11-08 15:51] edreamleo commented on #334
The typescript importer refutes that notion expressed in the [middle-of-the-night post](https://groups.google.com/forum/#!msg/leo-editor/lm0x1pDZFy8/TkY-UfDTBAAJ) that nothing simpler than the state-scanner code can be imagined.  There are at least four ways that the present code base can be simplified.

1. For at least some languages, including python, rescanning may be _significantly_ simpler th

[2016-11-08 16:08] edreamleo commented on #334
**A note on testing**

The code base will be under considerable flux, but all should be well as long as all unit tests pass with the appropriate switches in their "legacy" positions.

Doing the work in a separate branch _just delays the inevitable_. Indeed, once all my tests pass, I will be relying on problem reports from users to find _all_ further problems.  Pushing the new code base _immediatel

[2016-11-08 16:27] edreamleo commented on #334
**p.b is a huge performance bug**

The old code runs unit tests quickly.  The new code can cause Leo to hang for _seconds_.  At first I thought Leo had hanged, but then it started up again...

Alas, `p.b` concatenates larger and larger strings.  As a result, it is an `O(N**2)` algorithm.  In contrast, concatenating strings to a list is an `O(N)` algorithm.

Last night I attempted to concatenate li

[2016-11-10 10:12] edreamleo commented on #334
**i.is_ws_line**

This is a one-line predicate that is crucial conceptually, and greatly clarifies the code in several places.

It returns True if the line is either blank or contains nothing but leading whitespace followed by a single-line comment.  v2_gen_lines must put such lines in the existing block, *regardless* of their indentation.

[2016-11-10 21:58] edreamleo commented on #334
Until today, I have always tested for an empty string using not s.strip().  But Doh, this is an unnecessary stress on the GC.  `s.isspace()` much faster and more pythonic.

Rev 2de4669c replaces `(id).strip()` with `not id.isspace()` everywhere in the Import class, removing `not not` in two or three places.

This regex makes the substitution safely:

      Find:   ([\w_\.]+)\.strip\(\)
      To:

[2016-11-10 23:19] edreamleo commented on #334
@tfer Tom's [importer proposal](https://groups.google.com/d/msg/leo-editor/Ct3ZKqTo_KE/78R-I4-UAwAJ), first suggested that the importers be organized as a pipeline.  At first, I dismissed that suggestion, but in fact Tom's suggestions have been marinating in the back of my mind ever since.  Thank you, Tom! Leo's great new importers owe a lot to you.

The new Importer class now clearly *is* a pipel

[2016-11-11 15:47] edreamleo commented on #334
**Importer API for setting body text**

As of 6dbeb6a, all code in stages 1, 2 and 3 *must* use the following API to change body text. It is easier, faster than setting p.b to strings.  And it stresses the GC much less.
[code]

[2016-11-11 22:00] mystica555 opened #335 "Recent Leo freezes upon startup after multiple ctrl-c"
As posted in the forum, but with no reply at all (I'd have hoped someone atleast would say "same here" or "nope not for me") I'm experiencing freezing issues with Leo.

This affects 5.4 release as well, but not a 5.4 beta git pull, from July:
Leo 5.4-devel, build 20160722143100, Fri, Jul 22, 2016  2:31:00 PM
Git repo info: branch = master, commit = aca8d416ec35
Python 2.7.10, PyQt version 4.8.7
li

[2016-11-11 22:27] tbnorth commented on #335
On Fri, 11 Nov 2016 14:00:49 -0800
Mike Hodson <notifications@github.com> wrote:

Hi Mike,

Saw your video, very odd.  Not seeing it with current Leo in Ubuntu
16.04 or Win 7.

Any difference if you launch Leo via

HOME=/tmp python launchLeo.py

?  Also how does Python 3.x go, if that's not too inconvenient to test?

Cheers -Terry

[2016-11-12 00:44] technatica commented on #335
I just completed a complete reinstall of OS and Leo.

No problems running the bleeding edge Leo on python 3.5.2 and PyQt 5.6.0 in
an Anaconda install with a LXQT desktop environment. I will test your
configuration (Python 2.7.10, PyQt version 4.8.7) when I setup my python2
environment later.

Have you tried upgrading python to 2.7.12? Or is there a requirement for
that version of python?

Chris

O

[2016-11-12 15:32] edreamleo opened #336 "Optionally store lists of strings in vnodes"
The new Importer class stores all intermediate results in v._import_lines.  This is *hugely* more efficient than repeatedly calling `p.b = p.b + s`.

Similarly, a `p.lines` (and `v.lines`) properties would be useful.  Instead of doing:

    p.b = ''.join(result)

the code could just do:

    p.lines = result

In some cases, this could eliminate some *large* temporary strings.

The `p.b` and `p.lin

[2016-11-12 15:47] edreamleo commented on #335
On Fri, Nov 11, 2016 at 4:00 PM, Mike Hodson <notifications@github.com>
wrote:

​Sorry for the delay in responding.  I haven't had a chance to look at this.

Clearly, Leo does *not* typically freeze during startup.  It it did,
everyone would be screaming.

The title of this post doesn't mention that you must hit Ctrl-C multiple
times. I suspect people looked at the title and thought, "no, that can

[2016-11-12 15:59] edreamleo commented on #334
**Almost all importers will work the same way**

After the old importer classes are retired, almost all importers will be subclasses of the Importer class, except for the following:

1. json.py, and .ipynb.py. In both cases, the incoming text is a json dict, so normal import code is out of the question.

2. ctext.py.  The importer is very simple.  It doesn't need to be a subclass of Importer.

[2016-11-12 18:13] mystica555 commented on #335
Hi Edward,

I'll try bisecting later today, considering I don't have to -recompile-
every bisect like I did with LEDE to fix my Wifi, it'll be a much happier
and shorter process for me!

Thanks,

Mike

On Sat, Nov 12, 2016 at 8:47 AM, Edward K. Ream <notifications@github.com>
wrote:

[2016-11-13 11:56] edreamleo commented on #334
**All scan_line methods will be table-driven**

The [coffeescript.scanner](https://github.com/leo-editor/leo-editor/blob/master/leo/plugins/importers/coffeescript.py) is an example of the nifty new pattern.  Search for `v2_scan_line` and its helpers, `in_table`, `out_table` and `scan_table`.

Here is the heart of v2_scan_line:
[code]
The tables returned by `in_table(context)` and `out_table()` *de

[2016-11-13 12:15] edreamleo commented on #334
**Python may need to handle *all kinds* of brackets**

I'm not sure that the present python code can be made to work without understanding the nesting levels of parens, curly-brackets and square-brackets. Consider this code from `@test python comment after dict assign`:
[code]
This *is* valid code, no matter *what* kind of indentation is used in the dict.

I would rather not have the python scanne

[2016-11-13 18:25] technatica commented on #333
http://pymolurus.blogspot.ca/2012/01/documentation-viewer-for-sphinx.html

Another way of approaching the matter. I like the standalone 128 lines of code PyQt web browser he uses for the output. Both of these tools run under python2/pyqt 4.8.7.

[2016-11-14 14:01] edreamleo commented on #334
**The python scan table**

Here is the latest. It's crucial that backslash/newline is _not_ a context.  If it were, we would need a stack of contexts to restore the state if \(newline) occurred in another context.
[code]

[2016-11-14 14:05] edreamleo commented on #334
**i.scan_table**

Here is the latest, stripped of tracing code. Note the hack for *recognizing* backslash. It's likely that `i.scan_table` will have to add a bs-nl flag to returned tuple.  For sure, "bs-nl" can not be context!
[code]

[2016-11-14 15:59] edreamleo opened #337 "Extend Leo's kill buffer commands"
See [this thread](https://groups.google.com/d/msg/leo-editor/odV3sXp1Hlo/Se8y1d3IBwAJ) on Leo-editor.

It might be best to have Ctrl-K work more like Emacs.

- [Emacs kill ring](https://www.gnu.org/software/emacs/manual/html_node/emacs/Kill-Ring.html)
- [Earlier kills](https://www.gnu.org/software/emacs/manual/html_node/emacs/Earlier-Kills.html#Earlier-Kills)
- [Yanking](https://www.gnu.org/softwa

[2016-11-14 20:28] edreamleo opened #338 "Create a browser-based gui for Leo"
From [this thread](https://groups.google.com/d/msg/leo-editor/ySwjUw_cA2k/qWjEA16zBQAJ) on leo-editor.

Flex makes it possible to run Leo from a server such that Leo's gui will appear in a browser.

Chris George says:

**hello_world.py**

[code]
starts a server:
[code]
that serves a page that looks [like this](http://flexx.readthedocs.io/en/stable/ui/examples/example57d19e3d2e848cca1e3922b7d896c87

[2016-11-15 22:28] edreamleo commented on #338
Flexx has an extremely simple way of laying out elements in a page.  For example, the [box layout class](http://flexx.readthedocs.io/en/latest/ui/box.html) and the [box layout example](http://flexx.readthedocs.io/en/latest/ui/examples/boxes_src.html#boxes-py). This simplifies layout like python simplifies programming.

[2016-11-18 09:12] ludwigschwardt commented on #106
A new development...

The `pyqt` formula and soon the whole Qt4 edifice will be shipping off to the Homebrew boneyard... More info in Homebrew PR [#1705](https://github.com/Homebrew/homebrew-core/issues/1705). It appears that Qt4 has reached end-of-life in December 2015, nearly a year ago now, and the writing is on the wall. Qt5 is the only option going forward.

Since `leo` depends on `pyqt` it w

[2016-11-18 10:27] edreamleo commented on #106
On Fri, Nov 18, 2016 at 3:12 AM, Ludwig Schwardt <notifications@github.com>
wrote:

​There is no effort at all for Leo.  Leo can use either Qt4 or Qt5.  That's
the purpose of the leo.core.leoQt module.​

Some plugins may not work with Qt4, but that should not affect the homebrew
formula.

Edward

[2016-11-19 09:01] edreamleo commented on #334
**When context does, and _doesn't_ matter**

As discussed [here](https://groups.google.com/d/msg/leo-editor/CfssSVPXDfg/rQq4n69bCQAJ), the *client* code that uses `i.v2_scan_line` can (usually) ignore context!  This should simplify `x.v2_gen_lines` and the various ScanState classes.  Indeed, ScanState classes will defined a `state.level` method that returns either an int or a tuple of ints.  With

[2016-11-20 09:05] edreamleo commented on #334
**Status Report Nov. 20, 2016**
Yesterday, the code passed a major milestone: all importers use a *single* code generator, `i.v2_gen_lines`.

In particular, the python and coffeescript importers no longer override `i.v2_gen_lines`.

There were some tradeoffs involved, discussed in the lengthy [checkin log](https://github.com/leo-editor/leo-editor/commit/2690d44e26a966f8d968166160c6f4b3910c8d47).

[2016-11-23 07:56] edreamleo commented on #334
**xml_i.undent**

The xml version of undent is a conceptual breakthrough.  It regularizes *all* leading whitespace in a node, putting a *standard* indentation before `@others`.  Perhaps it should be the default for all non-strict languages...
[code]

[2016-11-24 15:06] edreamleo opened #340 "Enhancement: reload-abbreviations"
The reload-abbreviations command would allow a dev to modify a test;; abbreviation *without* reloading the local .leo file.

This enhancement, combined with recent Aha's, will make Leo a much better platform for test-driven design. ~~It is hard to overstate the importance of this.~~ Actually, cut/paste of unit tests preambles is good enough.

[2016-11-24 16:57] edreamleo commented on #340
**Update**: reload-abbreviations would be good to have, but `@button` nodes would support test-driven design in Leo even better than a test;; abbreviation. Full details [here](https://groups.google.com/d/msg/leo-editor/_4TNCZt6-cA/TeW5yGIUCwAJ).

For this reason, I have removed the "Important" label from this issue

[2016-11-25 18:07] tbnorth opened #341 "Markdown import tripping on ```"
1d16f9c1e - using @auto-md to load a file (its extension is .Rmd, we should probably recognize that as an alias for .md), import looks good until hitting blocks like:

[code]

The `​``python part stays in the correct node (with "stuff here"), but then a new node's started.

Be careful copy pasting this, I used `\<zero-width-space>`` to get \``` into a \``` block in GitHub markdown.

[2016-11-26 23:00] tbnorth commented on #341
Bug still in 55e5372c

[2016-11-27 18:55] edreamleo commented on #341
​​
On Sat, Nov 26, 2016 at 5:00 PM, Terry Brown <notifications@github.com>
wrote:

The timing your email is perfect. Before I got bogged down in other
matters, I had been planning to simplify several importers, including
markdown, by using multi-line regex patterns.  This implies scrapping
line-by-line scanning​.

The idea is simple.  For languages (file formats) without strings or
comments, there

[2016-11-27 23:59] edreamleo commented on #341
The ``` syntax part of google's markdown syntax, but not the [official markdown syntax](https://daringfireball.net/projects/markdown/syntax). So this is an enhancement request, not a bug report. Having said that, this is a time to add that support.

[2016-11-28 00:01] edreamleo commented on #341
Rev 5f048e49 fixes the scanning problems.

[2016-11-28 00:29] #341 closed

[2016-11-28 00:30] edreamleo commented on #341
Fixed at d2141be.  Please reopen if there are further problems.

[2016-11-28 03:14] tbnorth commented on #341
On Sun, 27 Nov 2016 15:59:48 -0800
"Edward K. Ream" <notifications@github.com> wrote:

Excellent, thanks, it seems to be working well now.

You're absolutely correct that the ``` syntax is not part of
`daringfireball` markdown, but I guess that raises the question, where
is vanilla markdown used?  I'm guess GitHub and stackoverflow are two
of the biggest users of md, and they both use ```.  I'd ar

[2016-11-28 13:05] edreamleo commented on #341
On Sun, Nov 27, 2016 at 9:14 PM, Terry Brown <notifications@github.com>
wrote:

Excellent, thanks, it seems to be working well now.

​Glad to hear it.  Imo, it's reasonable to support ```.

EKR

[2016-11-28 15:02] JohnLunzer commented on #340
These are the three nodes where I have my abbreviations.
[code]
Is it from these three nodes that it is reloading from? Additionally will it reload from myLeoSettings.leo as well as from the local settings? Ie, will it act the same as if you were launching Leo?

[2016-11-28 17:34] tbnorth opened #342 "@auto and @auto-md not equivalent for .Rmd file"
78413a4

Create a headline `@auto mydoc.Rmd` and do `refresh-from-disk`.  It looks ok to me, but Leo inserts @ignore.

When I remove @ignore and write, the written version has no headlines, although that doesn't seem to happen if I use @auto-md instead of just @auto, and yet plain @auto is recognizing .Rmd as markdown for import.

The insertion of ignore seems to go away with @auto-md.

Also, if I

[2016-11-29 18:45] edreamleo commented on #342
Thanks for this report. These issues probably also apply to the leo_rst importer.  I should be able to resolve these soon.

[2016-12-01 17:24] tbnorth commented on #342
Just for completeness, at dd0e3fe3a I'm seeing the error report for @auto-md, I thought it was only coming up with @auto before, might be wrong:

[code]

[2016-12-02 12:36] edreamleo commented on #334
Rev ceb9917 retires basescanner.py.  It now resides only in the attic, leo/doc/leoNotes.txt.
Rev 0183fd7 removes the v2_ prefix everywhere in the code.  I'll keep them here...

Still to do:
- C and Java: Backtrack to find start of signature line. Some headlines are/were empty (or None, None)
- Python: Rewrite python.findClass, used by two obscure commands.

[2016-12-02 13:32] edreamleo commented on #342
There is a much worse problem with the present markdown import code: it confuses the `-` convention (for headlines) with `-` used in lists!

As always with importers, there are two parts to the problem:

1. How the importer reads files created *outside* of Leo.
2. How the importer reads files written by the corresponding writer plugin.

Clearly, the `-` conventions must be scrapped, or modified.

[2016-12-02 16:11] xgid opened #343 ""Exception creating path" error when evaluating a path with accents in a @clean expression"
I've just installed the current version 5.4 and found a problem with @clean path expansion in Windows when the path name has any accent (Latin-1 characters).

I was following the docs about [path expressions](http://leoeditor.com/directives.html#path-expressions) and created an `@clean` node with this headline:
[code]

and a body like this:
[code]

Then, when trying to save the file, the log shows

[2016-12-02 17:28] xgid commented on #343
Another interesting observation: the workaround I applied was to create a symlink `C:\sw` pointing to `C:\Software y computación` and then opening the original .leo file from that new path, without needing to move it arround. That worked and the resulting `C:\sw\Python\IDEs\Notas sobre Leo.md` file was correctly created when saving the .leo file.

But interestingly, when I open the .leo file **fro

[2016-12-02 17:44] xgid commented on #343
After trying to reproduce it again to give the full Log for the first attempt to create the file in the original path with accents, I cannot see the "exception creating path" message anymore, but this is the whole log:
[code]

Any other info I may provide, just tell me.

[2016-12-04 00:20] edreamleo commented on #334
I am going to close this issue now.  The code certainly is simpler than I ever dreamed it could be.  The [documentation](https://github.com/leo-editor/leo-editor/blob/master/leo/doc/importers.md) is complete. There are a few items left on the to-do list in `leoToDo.txt`, but they will not affect the general code in any way.

[2016-12-04 00:20] #334 closed

[2016-12-04 11:22] edreamleo commented on #342
at.createWritersData is being called way too often.  Instead, Leo's startup code should create the import tables.  There are other problems, revealed by recently-failing unit tests. This issue is moving to the top of the priority list.

[2016-12-05 16:09] tbnorth commented on #342
Update Leo to
Leo 5.4, Mon, 5 Dec 2016 05:00:52 -0600
Git commit: after 48242838

@auto-md NNNM_manual.Rmd read fine

Changed to @auto NNNM_manual.Rmd and did refresh from disk:

[code]

I wonder if that's a refresh from disk error (cache) rather than an importer error?  Just intruding when I'm trying to describe what I'm seeing here.

Still losing all the headlines writing with just @auto, not @a

[2016-12-05 18:01] ar-jan opened #344 "@string view-rendered-default-kind not functional"
Hi, I have some trouble getting markdown rendering to work as I would like.

The first thing I tried is to have a `@settings` node with a child `@string view-rendered-default-kind = md`. Now when I create a node with some text, when I do `vr-update` I do get a markdown rendering, but not any live updating of the ViewRendered pane.

If I create a tree with `@language md` in the body of the top node

[2016-12-06 16:03] edreamleo commented on #344
On Mon, Dec 5, 2016 at 12:01 PM, Arjan <notifications@github.com> wrote:

Is it possible to get this live updating behavior with a document-wide

​I see the behaviour you describe.  Please file an official bug report here
<https://github.com/leo-editor/leo-editor/issues>.

​EKR

[2016-12-06 16:14] edreamleo commented on #344
Searching shows that default_target_language is used nowhere in Leo, so the corresponding setting is surely useless. The fix may not be straightforward, but surely it is needed.

[2016-12-06 16:22] edreamleo commented on #343
On Fri, Dec 2, 2016 at 10:11 AM, XGiD <notifications@github.com> wrote:

Try using g.os_path_abspath instead of os.path.abspath.  Leo's g.os_path_x
wrappers exists to work around Python 2.x unicode problems.

Please let us all know whether this works.

Edward

[2016-12-07 11:51] edreamleo commented on #331
I am going to close this.  Please reopen if there are problems with the new perl importer.

[2016-12-07 12:45] edreamleo opened #345 "The head-to-prev/next-node commands are broken"
A reminder to myself.  These commands depend on a rewrite of Py_Importer.find_class.

These are minor commands, and so is this issue.

[2016-12-08 10:33] edreamleo commented on #342
On Mon, Dec 5, 2016 at 10:09 AM, Terry Brown <notifications@github.com>
wrote:

​Good.  That bypasses the dubious test in the leoAtFile​.py read logic.

​21b09ed​

​adds .Rmd to the list of list of extensions presumed to be markdown
extensions.  Does that result in @auto working for .Rmd files?

EKR

[2016-12-08 10:37] edreamleo commented on #340
@data abbreviations-subst-env
@data abbreviations
@outline-data tree-abbreviations

Good question.  I haven't given this issue much thought recently.  I guess the safest answer is to say that Leo will do whatever is needed to make reload-abbreviations "just work".

I think the answer must be "yes".  This will slow down the operation of the command, but that's a small price to pay not to surprise a

[2016-12-12 18:28] tbnorth opened #346 "python importer places @others incorrectly"
See https://github.com/tbnorth/gdalcomp/blob/15f0b6f/gdalcomp.py#L29,

[code]

is importing this as:

[code]

this indents the entire remainder of the program, rather than just the `def exec_` block. Which would cause the code to do nothing in Py3, humorously it doesn't really impact it in Py2.

[2016-12-12 19:26] xgid commented on #343
Thanks for your answer. It did'nt work. With the new expression, the log is this other one:
[code]

[2016-12-12 19:57] JohnLunzer opened #347 "Python parsing/reading bug and syntax error bug"
On current master:

If you clone this repo: https://github.com/scopatz/xo you'll see the program located entirely within xo.py.

When I create an `@clean xo.py` and then do a `refresh-from-disk` command to load in and parse the file (this is how I normally add new files) several functions are read in as section references.

On line 958 there is a lambda function defintion:
[code]

Now, if I move t

[2016-12-12 22:07] dreftymac opened #348 "XML CDATA Sections not preserved on round-trip save"
## Context

![context000](https://cloud.githubusercontent.com/assets/4074354/21118726/0313e2a8-c074-11e6-8b90-859d091ef4b5.png)

## Scenario

* User creates a leo file in the leo GUI.
* User then opens the leo file in a plain old text editor like Vim.
* User then adds a CDATA section to an t element in a tnodes section.
* User then re-opens the file in leo GUI and saves the file

## Problem

* Upo

[2016-12-13 12:00] edreamleo commented on #347
I encountered exactly this problem myself, with similar workaround.

If there is a bug here, it is that the lambda doesn't become part of preceding node.  I'm agnostic about how easy this would be to fix.

[2016-12-13 12:07] edreamleo commented on #346
Thanks for this report.  Fixing this may require a major revision to the python importer, namely keeping track of indentation explicitly.  Clearly, this is possible: the old importer did it.

[2016-12-15 23:24] edreamleo commented on #348
Thanks for this report.  Leo uses the [xml.sax](https://docs.python.org/2/library/xml.sax.html) parser, so presumably this is a bug in the cdata handler.  I'll look into this asap.

[2016-12-16 16:04] JohnLunzer commented on #274
Sorry to resurrect this. After some time with this I agree with you because this case is often an exception. A compromise to this is to use p.clearDirty() on affected nodes. A button/command can easily be added to p.clearDirty() on all nodes in a sub-tree.

[2016-12-16 18:17] edreamleo commented on #262
I am reopening this issue and marking it as a bug because of [serious problems when using network drives](https://groups.google.com/forum/#!topic/leo-editor/bRm5LqdKaQM).

[2016-12-16 19:18] tbnorth opened #350 "themes not working as documented"
Using HOME=/tmp python launchLeo.py to operate in a clean environment, pasting a theme node from leoSettings.leo to my local settings doesn't enable the theme.  Not surprising as they don't contain @data qt-gui-plugin-style-sheet nodes.  Original theme machinery has a button to build that node from the Leonine tree based representation of the theme.

[2016-12-16 21:33] edreamleo commented on #347
Aside. Regardless of `auto` problems, I recommend the following workflow:

1. Change `@auto` to `@file`.
2. Create a git repo for xo.py.

After the first few commits, all changes will be the ones you made. You don't care about Leo sentinels, so there is no need to avoid them.  I'll be doing exactly as I suggest as I study xo.py.

EKR

[2016-12-17 11:14] edreamleo commented on #346
The strategy for fixing this bug is likely to be to duplicate the old importer's code generation logic in the new importer.  Again, this is clearly possible, but may take considerable effort.

[2016-12-17 11:21] edreamleo commented on #262
Rev 2a0eca1: set the default setting for @bool check_for_changed_external_files to False. The comment in the body text of the setting's node references this issue.

Given the potential severity of this bug, I think it's important that people must explicitly enable this feature. It will prevent future reports that Leo has become broken.

[2016-12-17 11:56] edreamleo commented on #348
[This page](https://docs.python.org/2/library/xml.sax.handler.html#xml.sax.handler.ContentHandler) shows there is no separate cdata handler. Googling "python xml.sax cdata" yields [this page](http://stackoverflow.com/questions/26121303/how-to-read-cdata-from-xml-file-with-python), which indicates that cdata comes in as part of the characters content handler.

Alas, Leo's content handler strips '\r

[2016-12-17 11:56] #348 closed

[2016-12-19 19:51] dreftymac opened #351 "Enhancment Request: rename or alias the @clean directive, and all other directives that accept a <path>"
## Context

* leo editor current version

## Problem

* leo editor now has the @clean directive, and this has the potential to greatly increase the adoption by new users, as already noted elsewhere by @edreamleo.

* the problem is, leo has some attributes that can be counter-intuitive for people who have not followed the editor throughout its lifecycle. These counter-intutive aspects make the edit

[2016-12-21 11:14] edreamleo commented on #351
I am not going to do this directly.  Iirc, Terry has written something that allows the user to define headline abbreviations.

Aliasing is possible, but would add another layer of complexity.

Renaming is not possible, as it would break existing outlines.

[2016-12-21 11:14] #351 closed

[2016-12-21 13:25] tbnorth commented on #351
Not sure the headline abbreviation thing really addresses the OP's idea, although it could make @clean appear as @fileclean when not being edited.  But for newcomers, that might be more confusing than helpful - if they started entering @fileclean.  It's more typical use is to make @clean appear as an icon, a document with a C on it, to reduce screen space use by directives like @clean.  Maybe that

[2016-12-21 15:30] edreamleo commented on #346
Rev 655473b3a fixes several bugs in the python importer.  For the first time the importer is on a sound foundation.  In particular, python_i.end_block ends blocks properly.

[2016-12-22 14:21] edreamleo commented on #346
I am going to reopen this.  There are multiple problems with the present python importer.  I'll fix them immediately.

[2016-12-22 17:52] #346 closed

[2016-12-23 10:42] edreamleo opened #352 "Importer unit tests create both @clean and @file"
When all unit tests are run, unit tests for importers sometimes create `@clean` tree.  When run individually, they create `@file` nodes.  I'd like to know what's going on.

[2016-12-23 10:46] edreamleo commented on #335
I am going to close this item for now.  Please reopen if necessary.

[2016-12-23 10:46] #335 closed

[2016-12-23 18:51] tbnorth opened #353 "Python importer adds section references after decorator"
The Python file that GitHub made me wrap in a .zip file: [winbut.zip](https://github.com/leo-editor/leo-editor/files/671310/winbut.zip)

gets `<<exit_>>` and `<<main>>` references after the @command decorator.

I would expect the decorator to get pushed down into the node, and no section references to be generated.

[code]

[2016-12-23 21:31] edreamleo commented on #353
Thanks for this report.  I'll fix this next.

[2016-12-24 15:17] edreamleo commented on #353
@tbnorth The example file works for me.  Are you sure you are using the latest code? The new code never generates sections references.

[2016-12-24 15:17] #353 closed

[2016-12-24 16:59] tbnorth commented on #353
Very strange, it was definitely doing what I described, but I can't reproduce even going back to d43617d6c81c.  Different machine / OS / config. - I'll make myself a note to retest next week when I'm on the other system.  Stays closed for now of course.

[2016-12-25 10:14] edreamleo opened #354 "Split definitions cause problems for python importer"
A new unit test attempts to import all of Leo's core files.  It fails for 7 files. The old importers likely would have failed as well. The following example, from leoGlobals.py, illustrates the problems:

[code]

The importer can't use a single `@others` because the `else:` statement intervenes. Moreover, it can't use section references whose names are the def names because there are two definitio

[2016-12-25 11:20] edreamleo commented on #354
The old importers fail only for leoTangle.py.  Some new invention is required.

[2016-12-26 09:31] edreamleo commented on #354
**Code generation for old importers**

I have *temporarily  restored the old python importers in order to see how they are able to handle this issue successfully.  The result are interesting.

The old importers generate nodes only for what could be called "top-level" classes and defs *and* any nested classes and defs.  As a result, the old python importers generates the following in leoColorizer.p

[2016-12-28 14:00] edreamleo commented on #354
Options for code generation are limited if section references are not allowed.  We could use the approach taken by the old code generators, or we could special case `if` and `else` statements. The new code generators have a new tool at their disposal: look-ahead patterns.

Here is the acid test, in my present thinking:
[code]

Without section references, the only solution is to split this into two

[2016-12-28 15:25] tbnorth commented on #354
I wouldn't think badly of Leo if only top level definitions got nodes, i.e.
in your example both class definitions end up in one node.  I know that
that's not great readability wise, but the code could have been written

useClass = classA if aTest else classB

with classA and classB being defined at the normal level.

The only reason to define non-trivial classes in an if that I can think of
is ma

[2016-12-28 17:13] edreamleo commented on #354
​​

On Wed, Dec 28, 2016 at 10:25 AM, Terry Brown <notifications@github.com>
wrote:

​That's the way the old importers work.
​

​That doesn't work if the `if` statement is a guard.  For example, one
class may be a subclass of defined in another file which is imported only
if the guard is True.
​

​Alas, it is the *only* thing that could possibly work if long classes are
to be split as expected.​

[2016-12-29 09:51] edreamleo opened #355 "Python 3 bug, now resolved, ruined Leo"
This is an information item about a [Python bug](http://bugs.python.org/issue25778) that can't be fixed in Leo, but has been fixed in Python 3.6.1. The bug affects windows users using Python 3.x on some (not all) versions of Windows 10.  The initial bug report was on leo-editor, [here](https://groups.google.com/d/msg/leo-editor/Q8B0gNeaKfc/-9zTKOgzCQAJ).

[2016-12-29 09:55] edreamleo commented on #355
As stated in leo-editor, rev  2e1137 is a workaround, so I am going to close this issue and remove the "Can't Fix" label.

[2016-12-29 09:55] #355 closed

[2016-12-29 10:39] edreamleo commented on #354
I am a bit daunted by this issue.  Usually when I awake, the solution to the problem I am working on appears.  This morning, however, I awoke with thoughts that no easy solution is possible. That leaves the ugly solutions ;-)

The post pass can't handle this issue because the post pass has no way of knowing which side of the `@others` directive various nodes should be.  Therefore, `python_i.gen_li

[2016-12-29 21:11] tbnorth commented on #354
On Thu, Dec 29, 2016 at 4:39 AM, Edward K. Ream <notifications@github.com>
wrote:

I think that's because the situation is inherently "ugly" :)

I know an editor should support any valid code, but large definitions in
if/then are odd - except for machine generated code, why would they exist?
Are then any examples?  Seems the examples you've given could be addressed
by simply putting everything in

[2016-12-30 11:49] edreamleo commented on #354
On Thu, Dec 29, 2016 at 4:11 PM, Terry Brown <notifications@github.com>
wrote:

As I have already explained, perhaps not too clearly, the following pattern
is used in Leo's core and in several plugins:

[code]
It's no good excusing the importers by saying this pattern is unreasonable.

The old python importer did the bare minimum.  I'd like the new python
importer to do better.

When I awoke this

[2017-01-01 12:42] edreamleo commented on #354
**Status Report**

Experiments yesterday got close, but not close enough.  Just recognizing overindented classes and defs is tricky in the present line-by-line scheme.  I'll give it at least one more shot.  If that doesn't work, the code will have to fully rescan classes and defs.

No matter how classes and defs are parsed, code generation is a problem.  Yesterday I added code to recognize if/else

[2017-01-01 18:25] edreamleo commented on #354
Closed, as of rev 14424de.  Here is the checkin log:

A major milestone.  The python importers correctly import all files in leo/core.

The solution was straightforward: starts_block returns False for a few special cases. In those cases, the python importer does *not* split the class into methods. Perhaps it could be done, by creating artificial nodes, but the result would not be Leonine.

[2017-01-01 18:25] #354 closed

[2017-01-03 11:18] dreftymac opened #356 "Scripting documentation for new users of leoeditor"
## Problem

### Context
* New adopter of leoeditor using the scripting interface for the first time

### Scenario
* using the tutorial-scripting page
* http://leoeditor.com/tutorial-scripting.html

### Issue
* the tutorial introduces a "hello world" example, which is clear and readily understood, even by non-python programmers, immediately after that however, it goes into fairly abstruse territory

[2017-01-03 13:39] tbnorth commented on #356
On Tue, 03 Jan 2017 03:18:53 -0800
Dreftymac <notifications@github.com> wrote:

Abstruse you say...

http://abstrusegoose.com/474

:-)  (scroll down to caption at bottom)

Cheers -Terry

[2017-01-03 15:15] tbnorth opened #357 "@auto whitespace sensitivity, nodes not generated"
When I use @auto to import
<https://raw.githubusercontent.com/tbnorth/sheet_stats/9858ccb/sheet_stats.py>
with

[code]

all the code gets appended to the AttrDict node.  The source has two few blank lines between blocks, e.g. it needs another blank line before `def make_parser()`, but only for aesthetics.  When the extra lines are added, the file imports correctly.

[2017-01-03 17:18] dreftymac commented on #356
Having said that, let me not hesitate to add much congrats and appreciation to both you, Ed and all the others who have contributed to this great software. Hats off to you guys.

[2017-01-04 04:50] rossburnett opened #358 "restoreDescendantAttributes error"
Reading LeoPyRef.leo generates this error:
restoreDescendantAttributes: can not find VNode (expanded): gnx = ekr.20161017044014.1, tref: ekr.20161017044014.1

_Leo 5.4, Sat Oct 22 06:39:42 2016
Git commit: after ff
Python 3.5.2, PyQt version 5.6.0
Windows 10 AMD64 (build 10.0.14393) SP0
reading: C:\Leo-5.4\leo\core\LeoPyRef.leo
reading: @edit load-leo.html_

[2017-01-05 11:01] digulla opened #359 "Leo hangs in LeoQtEventFilter.eventFilter"
When I start Leo, it just hangs. A bit of poking at the code revealed that it receives an endless stream of events. I just added the line `print('eventFilter', obj, event)` in qt_events.py:68 (first line of `LeoQtEventFilter.eventFilter()`):

[code]

I find it odd that the ID of the even object is always the same. Maybe you need to "commit" the event?

Leo 5.3 works for me.

Version info:
[code]

[2017-01-05 12:37] digulla commented on #359
I did a git bisect. This commit breaks Leo for me:

[code]

The culprit is this change:

[code]

The condition is always true, so it will keep calling `on_activate()`

[2017-01-05 12:38] digulla commented on #270
This breaks Leo for me; see #359

[2017-01-05 12:41] digulla commented on #359
I think the root cause is an event loop: `onActivateEvent()` calls `vimCommands.on_activate()` which causes some kind of event. This event triggers `LeoQtEventFilter.eventFilter()` which calls `onActivateEvent()` -> loop.

[2017-01-05 16:27] edreamleo commented on #359
On Thu, Jan 5, 2017 at 7:41 AM, digulla <notifications@github.com> wrote:

​Good work.  I'll fix this today.

Note that setting trace and traceEvent to True in eventFilter will show
exactly what events are being handled.

EKR

​

--
------------------------------------------------------------------------------------------
Edward K. Ream: edreamleo@gmail.com Leo: http://leoeditor.com/
-------------

[2017-01-05 17:30] edreamleo commented on #359
Rev 88cd25c attempts a fix.  As noted in the checkin log, this could cause problems for #270 Vim keys don't always work after double Alt+Tab.

Please let me know whether both issues have been fixed.

[2017-01-06 17:31] edreamleo commented on #357
I am kinda in a state of shock after studying the Pyzo importer/syntax colorer for Leo.  They work together to produce what looks like a 10x+ speedup over Leo's much more complex code.

I'll look at this issue soon, but a complete rewrite of Leo's python importer (at least) may be in the works.

[2017-01-06 18:32] tbnorth opened #360 "python import separates decorator from function"
Although only when the decorator spans multiple lines:

[code]

[code]

[2017-01-06 21:53] edreamleo commented on #358
This is an informational message.

[2017-01-06 21:53] #358 closed

[2017-01-07 14:02] edreamleo opened #361 "Use pyzo code to improve Leo"
This issue should be split into separate issues, but this summary will do for now.

After studying [pyzo ](http://www.pyzo.org/)briefly, four or five areas for improving Leo present themselves. These are likely to be my main focus for 2017.

[ ] **ipython integration**

pyzo defines and uses the [yoton ](https://github.com/pyzo/pyzo/tree/master/pyzo/yoton)client/server library.  Leo will likely us

[2017-01-07 16:10] ranvik14 opened #362 "default_path within @rst-options honoured or ignored depending on the node where rst3 command is executed"
When I use the rst3 command on (or below) the node that defines the `@rst-options` it is honored.

When I use the rst3 command on a node higher up in the outline hierarchy it is ignored.

**Log 1: option honored**

PS C:\Users\Viktor\worklogs> leo wl2017.leo

C:\Users\Viktor\worklogs>C:\Programs\Python36\python.exe C:\Users\Viktor\Programs\Leo-20170106\launchLeo.py wl2017.leo
leoID=VIRA2017 (in C:

[2017-01-07 16:18] ranvik14 opened #363 "Outline "leoPluginRef.leo" is/ seems to be inconsistent on GitHub"
I updated Leo to the latest ZIP-Archive from GitHub

<Log-1>

C:\Users\Viktor\worklogs>C:\Programs\Python36\python.exe C:\Users\Viktor\Programs\Leo-20170106\launchLeo.py wl2017.leo
leoID=VIRA2017 (in C:\Users\Viktor\.leo)
reading settings in C:\Users\Viktor\Programs\Leo-20170106\leo\config\leoSettings.leo

reading settings in C:\Users\Viktor\.leo\myLeoSettings.leo
reading settings in C:\Users\Vikt

[2017-01-07 21:43] edreamleo opened #364 "c.recursiveImport fails when generating @auto nodes"
When importing pyzo, the new python importer fails on 5 files.  The old python importer fails on about 40 files!  The same files fail to import properly, regardless of whether creating `@file` or `@clean` nodes.

[code]
At present, these import problems seem relatively unimportant.

[2017-01-08 11:57] digulla commented on #359
Leo doesn't hang anymore, so #359 is fixed for me.

As for #270, I tried this short test:

Ctrl-T to go to the tree
Insert to create a new node
Alt-Tab to leave Leo
Alt-Tab to go back
Insert creates a new sibling as expected.

Anything else I can test? I'm not aware that I'm using "VIM mode".

[2017-01-08 11:57] #359 closed

[2017-01-09 10:14] edreamleo commented on #356
I like this issue, if only to remind me that the present tutorials need to be revised, somehow.

The pyzo "wizard" (really, a slideshow, available from the help menu), could be a model for all of Leo's revised tutorials.  It's a model both for content (what the user sees) and implementation (a series of docstrings). Like I said, pyzo is a work of genius, and Leo must beg/borrow/steal as much of it