[2014-02-20 11:59] HaveF opened #3 "Import Issues from Launchpad?"
I just notice [a issue which fired by me](https://bugs.launchpad.net/leo-editor/+bug/1222947) was solved by @edreamleo (hi, Edward K. Ream :+1: thanks!).

Has somebody used [github-issue-importer](https://github.com/johnf/github-issue-importer) to import issues before?

I thought it would be convenient to have source code and issues in one place.

[2014-02-20 22:57] maphew opened #4 "Use transparent logo"
HI Terry,  I see the Leo github gravatar is tied to one of your email addresses. I've got a better version for you.

I created a transparent version of the Leo logo, and cleaned it up a bit in the process. See `leo-editor\leo\Icons\SplashScreen_trans.png` for the end product and `SplashScreen.xcf` for the Gimp artwork.

[2014-02-21 03:32] HaveF opened #5 "Making front page of leo-editor more nice"
As we all know, github will render README when it has proper extension(*.rst in our case).
So I just rename the file name, and pull #2 , but @maphew remind me that not the leo way to manage file, and he changed the *.rst already in 96b0560b.

1. After a quick search, I find `dist\leoDist.leo` link the `README.txt`, we also need to change the file there, I suppose.

2. the content of README(like th

[2014-02-21 03:40] #4 closed, assigned to tbnorth

[2014-03-03 14:57] fidel-perez opened #7 "iPython crashes Leo when launching"
Previously reported in the group:
https://groups.google.com/forum/#!topic/leo-editor/gny1MqSd9vQ

When launching Leo with iPython option, it crashes.

For launching it, Im running the following DOS command in Leo Folder:

c:\python27\python launchleo.py --ipython

The exact same command works perfectly with a 2 months old version of Leo. (Leo 4.11 final, build 6240, 2013-11-06)

The console loops

[2014-03-03 17:26] Armagedoom opened #8 "c.redraw shouldnt change Qt multiple selection state"
Leo wipes Qt multiple nodes selection when c.redraw() is called.
This behaviour keeps causing problems, and can happen in different scenarios.
Quoting Terry in this post: http://goo.gl/2nQUN1

"
Create an outline with three top level nodes, A, B, and C

In the body of node A, put

nd = g.findNodeAnywhere(c, "C")
c.selectPosition(nd)
# c.redraw()
g.es(len(c.getSelectedPositions()))

Run (Ctrl-B) th

[2014-03-05 14:23] #7 closed, assigned to nobody

[2014-03-05 15:02] tbnorth opened #9 "tree context menu refresh from disk fails for @auto-rst nodes"
Grabbing some generic rst like http://www.southampton.ac.uk/~fangohr/computing/rst/rst.txt
and putting it in an @auto-rst node - make a trivial change and save, then refresh from disk on the node - it will report errors and insert ignore, but restarting Leo gives a clean read.

Maybe this is related to refresh from disk being broken for @auto files in general?  Anyway, RFD should just say it can't

[2014-03-07 15:19] tbnorth opened #12 "when hoisted, the (alt-)arrow keys can't navigate to the top node"
not sure if this is a bug or intended behavior, but trying to arrow up to the top node to insert a first child under it doesn't work.

[2014-03-10 14:51] tbnorth opened #14 "auto-justify body text"
Leo can wrap or not wrap body text, but this is just a visual rendering relative to the body  editor window size.  It would be nice if Leo could also automatically justify (insert newlines) in text as you type.

[2014-03-17 22:27] SegundoBob opened #15 "Detach file tab causes "Could not parse stylesheet of widget""
I did this test with all plugins disabled, and with some plugins enabled.  The results were the same in both cases.

Start Leo-Editor with the pathname of a file that does not yet exist.
Ctrl-N (new Leo-Editor file)
Right-click on the new file tab and select "Detach".  This causes the "Could not parse stylesheet of widget" to be output to stderr.

$ leomy detach.leo

*\* isPython3: False
Leo 4.11

[2014-03-17 22:35] SegundoBob opened #16 "Detach file tab, close detached file tab, attached file tab reappears."
Is this this desired behavior?  It seems wrong to me.

I did this test with all plugins disabled, and with some plugins enabled.  The results were the same in both cases.

Start Leo-Editor with the pathname of a file that does not yet exist.
Ctrl-N (new Leo-Editor file)
Right-click on the new file tab and select "Detach".
Now close the window created by the "detach."
This causes the "detached" fil

[2014-03-17 23:04] SegundoBob opened #17 "Enhancement request: Flush stdout as often as performance allows."
I have a Bash script that starts Leo-Editor and captures stdout in one file, stderr in a second file, and both stdout and stderr in a third file.

The only problem I have is that redirecting stdout to a file makes stdout buffered.  Consequently, the stdout output has for me always been appended to the file when Leo-Editor terminates. Consequently, it has always appeared that all errors occurred be

[2014-03-18 23:14] #16 closed, assigned to tbnorth

[2014-03-19 23:52] gatesphere opened #18 "leoVersion.py prevents Leo from running when using git checkout to use an old version"
1. `git clone` the repo
2. Choose a commit from some point in Leo's history
3. `git checkout thecommitsha`
4. Start Leo, get the following error:

[code]

This is due to the leoVersion.py code being unsafe.  I introduced this bug, so I'll squash it.

Until then, a workaround:

`git checkout -b oldversion thecommitsha`

That will create a new branch, which will keep leoVersion.py happy.

[2014-03-21 18:19] tbnorth opened #19 "Detaching an outline triggers stylesheet parse errors"
Could not parse stylesheet of widget 0x42dba10

occurs when an outline is detached.

[2014-03-21 20:40] #19 closed, assigned to tbnorth

[2014-03-25 17:35] gatesphere opened #20 "Documentation/examples: using Leo to manage source projects"
Just a suggestion for documentation:

Perhaps Leo should include an example directory which has a small Leo-handled project in it (just a few @file nodes, etc) and an example README.me and .gitignore file for github?

I feel like providing a good basis for the .gitignore (and similar) file is more important now that viewrendered2 is slowly taking over for viewrendered, as vr2 puts leo.html, leo.rs

[2014-03-26 19:05] #18 closed, assigned to gatesphere

[2014-04-05 16:17] SegundoBob opened #22 "Ctrl-F4 only works when the "File" menu is displayed"
print-bindings shows Ctrl-F4 is "close window", but Ctrl-F4 does nothing unless the "File" menu is displayed.  Ctrl-F4 should "close window" at all times.

You can "close window" by hitting Alt-F, Ctrl-F4.  Or by hitting Alt-F, Alt-C, carriage return.

Suggestion, drop the C shortcut for "close window" in the "File" menu.  Then C will be the shortcut of only one action (Open Cheatsheet.leo).

Test

[2014-04-15 08:23] tpgit opened #23 "New Settings menu title is missing accelerator key"
Leo 4.11 final, build b77d39b6ff71 (branch: master), 2014-04-13 14:07:07
Python 2.7.6, qt version 4.8.5
Windows 6, 1, 7601, 2, Service Pack 1

There is no way to currently activate the new Settings menu using a keypress. Unfortunately all the possible choices are already used for something else?

[2014-04-15 11:48] tpgit opened #24 "Windows installer setting wrong file association for .leo files"
Leo 4.11 final, build 5020, 2012-02-26 13:18:08 -0600
Python 2.7.6, qt version 4.8.5
Windows 6, 1, 7601, 2, Service Pack 1

If you do ftype LeoFile after using installing LeoSetup-4.11-final.exe, you'll see:

[code]

This is wrong. As [Creating Windows file associations](http://leoeditor.com/installing.html#creating-windows-file-associations) in the Leo documentation correctly states, this should

[2014-05-01 15:07] tbnorth opened #25 "Leo can't open files if launching terminal is closed"
I've been suspecting this to be the case for some time, not a new bug, but hard to pin down.  For me, in my setup, if I launch Leo from a command line and then close the terminal session from which Leo was launched, Leo stops opening new files.

  exception opening /home/tbrown/Proj/GlobalGL/ggl.leo

is all you get in the log.

A work around is to launch Leo from something that doesn't generate a

[2014-05-24 16:55] tbnorth opened #27 "Window -> Toggle split direction needs updating"
Currently broken, needs to call free_layout "rotate all", which is poorly named, it just toggles the split direction.

[2014-05-25 21:08] fidel-perez opened #28 "Leo hangs when a node with too large body is selected"
I have had this problem several times. When trying to open node bodies with 200k lines or so, it will hang. Also with less lines, but not sure which is the 'limit' number.
If I open such texts with other text editors/processors such as Notepad++, it will open seamlessly.
I think the problem here is that before displaying, Leo is somehow processing all the text in the body, but should only process

[2014-06-06 08:24] fidel-perez opened #29 "UnicodeEncodeError when dropping folders named 'ñññ' into Leo"
If you drop a folder whose name (or path) contains any non unicode character, it will fail.

This happens when Leo is executing this line of code:

s = str(url.toString()).strip()

Here is a snapshot of the log:
http://i.imgur.com/9EB5IXv.png

A possible solution would be to replace the function str() with this one:

def to_utf8_string(val):
    if not isinstance(val, basestring):
        return s

[2014-06-16 13:36] gatesphere opened #30 "Context Menu - custom commands broken"
[This commit](https://github.com/leo-editor/leo-editor/commit/12c2dbff3c87afa9b5ec5f147eaf69edf6c72de4) broke custom commands for contextmenu.py.

I have a custom command, 'open-child-urls', defined as follows:

[code]

As of the linked commit, it fails with this on the console:

[code]

(It should be noted that other custom commands fail as well -- it looks like a bug in either leoKeys.py or cont

[2014-06-16 14:06] #30 closed, assigned to nobody

[2014-06-20 12:35] gatesphere opened #31 "'undo' on a freshly-loaded outline containing chapters removes chapters"
Strange one, but I guess Leo's internals make the initial 'add-chapter' steps undoable:
1. Load a .leo outline with a few @chapter nodes.
2. Before doing anything else, do either ctrl+z or alt+x undo.
3. Repeat step 2 a few times.
4. Notice log output, and missing chapters in the Chapters drop-down box.

The good thing is that these changes aren't saved to the file, nor is the file marked dirty, s

[2014-06-21 14:28] tbnorth opened #32 "add freemind and mindjet imports"
Scripts for importing from Fidel are attached - he points out that integrating them into the import menu would be a big draw for freemind and mindjet users.

Will probably need an example file from each to test with.

[2014-07-02 16:44] fidel-perez opened #33 "Node wont run script if the header contains a non-ASCII string"
When doing control+b in a node with a header containing non ASCII characters, Leo will throw the following exception:

  File "c:\LeoScriptFile\scriptFile.py", line 2
## SyntaxError: Non-ASCII character '\xc3' in file c:\LeoScriptFile\scriptFile.py on line 2, but no encoding declared; see http://www.python.org/peps/pep-0263.html for details

  line 1: #@+leo-ver=5
- line 2: #@+node:��

  line 3: g

[2014-07-15 00:17] tbnorth opened #34 "725b7fb breaks Spell tab Find button, and 'spell-find' command"
725b7fb breaks Spell tab Find button

This doesn't seem to be related to Qt4/5 .connect() changes.

commit comment was "set_focus uses w.widget instead of w if hasattr(w,'widget').  Probably a bad idea, but the present code has no chance of working."

[code]

[2014-07-15 00:26] #34 closed, assigned to nobody

[2014-07-17 23:33] SegundoBob opened #35 "leoBridge sometimes assigns the same GNX to two distinct vnodes"
## Seriousness of this Bug

This bug has probably existed at least since the last time the GNX format was changed.

This bug probably does not exist in Leo-Editor, that is, the non-batch use of Leo-Editor, because it requires the following to occur within one second: opening a .leo file, creating one or more nodes, closing the .leo file, and then re-opening the .leo file.

This bug is a real probl

[2014-07-31 09:26] fidel-perez opened #36 "@auto file not found produces a script error (list index out of range)"
Log in this image:

http://i.imgur.com/FZ29DOO.png

This happens when Leo tries to load an @auto file that is in the outline but which's file was erased outside Leo.

[2014-07-31 14:22] Armagedoom opened #37 "De-selecting a node has no effect in c.getSelectedPositions()"
This can be tested with the following:

put this code in a node body:
g.es(c.p)
g.es(c.getSelectedPositions)

Now select another node, hold control, click the node with the code, click on it again.
Now press control+b

It will show the current node as a result of c.p, but the current node wont be either selected in the tree pane or in c.getSelectedPositions

The solution is to make Leo select the

[2014-08-01 15:34] benzolius opened #38 "autocompleter gives a strange traceback"
autocompleter Off
autocompleter On
exception executing command
Traceback (most recent call last):
  File "/home/leo/leo-editor/leo/core/leoCommands.py", line 537, in doCommand
    val = command(event)
  File "/home/leo/leo-editor/leo/core/leoKeys.py", line 215, in autoComplete
    self.start(event)
  File "/home/leo/leo-editor/leo/core/leoKeys.py", line 1091, in start
    self.init_qcompleter(even

[2014-08-07 12:34] ghost opened #39 "viewrendered pane won't display @url"
If I open a viewrendered (vr) pane and then navigate to a @url node in the outline tree, the vr pane goes blank, including the controls. Right clicking on the blank vr pane gives the normal right-click menu with all options greyed out. Any @url node that has @url in the headline displays this behaviour. If I close the vr pane using the splitter menu and then create a new vr pane using the splitter

[2014-08-07 14:01] tbnorth opened #40 "auto-completion broken by new import code"
At 91fd345 Edward K. Ream 2014-07-30 09:34:11
autocomplete of c.fram correctly gives c.frame

the next commit e717fc0 Edward K. Ream 2014-07-30 13:59:30
autocomplete of c.fram incorrectly gives  c.frame_*, c.frameattr

[2014-08-12 17:04] Armagedoom opened #41 "Autocomplete to suggest dictionary keys"
As discussed in the group:
https://groups.google.com/forum/#!topic/leo-editor/SFJI3HhBAkU

It would be nice for the autocompleter to suggest the keys in a dictionary when the user hits "[", for instance, after writting:

g.app.pluginsController.handlers[

The autocompleter would detect the "[" then identify that "g.app.pluginsController.handlers" returns a dictionary, hence returning the list of k

[2014-08-13 07:09] fidel-perez opened #42 "str encoding bug when using "extract""
When using "extract" minibuffer command on not ASCII strings, I get this error:
## RuntimeError: maximum recursion depth exceeded in cmp

  line 127:
- line 128:         if [hex, bytes, bytes_le, fields, int].count(None) != 4:
  line 129:             raise TypeError('need one of hex, bytes, bytes_le, fields, or int')
  line 130:         if hex is not None:
  exception executing command
  Traceback

[2014-08-15 20:46] SegundoBob opened #43 "c.putHelpFor() option short_title causes problems"
This problem has probably existed for a long time.  It may cause plugin writers problems because plugins_menu.py displays the plugin help with a short_title:

c.putHelpFor(msg,short_title=self.name)

But this bug is probably low priority.

I spent several days investigating this problem till I understood it well enough to work around it.  I spent several more days investigating till I understood i

[2014-08-18 22:17] SegundoBob opened #44 "Recently added messages to the terminal fail to honor silent=True"
These recent changes probably don't bother very many other people because they are primarily an issue when leoBridge.py is used in a Python script that is run in a terminal.  The "silent" option is an option of leoBridge.controller().  There is no such option for the GUI Leo-Editor.

First Problem:

Simply importing leoGlobals.py prints to the console.  For example:

leoGlobalsPrints.py:

[code]

[2014-08-18 22:44] #44 closed, assigned to nobody

[2014-08-19 16:50] jurov opened #45 "Goto Global line fails in @file tree with @all directive"
Tried with latest master (45bfdf6511ef).

How to reproduce: Create any @file node with at least one child and @all directive. Try to use Goto global line (Alt-G) with known line number.

Result - only error is logged:

[2014-08-22 17:49] benzolius opened #46 "Leo freezing in Vim mode"
Unfortunately with @bool vim-mode = True

Leo becomes unresponsive and launchLeo.py works 100% on my CPU, I have to kill the process.

When I comment in myLeoSettings.leo:

@@bool vim-mode = True

everything works fine.

My system: Kubuntu 14.04, Python 2.7.6, PyQt version 4.8.6
Leo commit = fe4cf9d77d67

[2014-08-24 02:51] ghost opened #47 "Ruby strings not highlighted correctly"
In the latest tip (build 20140823055650, Sat Aug 23 05:56:50 CDT 2014), text within double quotation marks in Ruby scripts are not highlighted properly as with others. Here's a screenshot to show an example:

![leoed_err](https://cloud.githubusercontent.com/assets/1255318/4022449/7b5bbc1e-2b38-11e4-9614-ef8dd5855451.png)

The following change fixes the issue, but I am not sure if this is the corre

[2014-08-24 11:29] #46 closed, assigned to nobody

[2014-08-24 11:56] #23 closed, assigned to nobody

[2014-08-24 12:38] #29 closed, assigned to nobody

[2014-08-24 12:40] #22 closed, assigned to nobody

[2014-08-24 12:48] #43 closed, assigned to nobody

[2014-08-24 12:54] #40 closed, assigned to nobody

[2014-08-25 01:11] SegundoBob opened #48 "ERROR: @menuat found but no menu tree to patch"
Whenever a leoBridge controller has already been used at least once to open any Leo-Editor file (It doesn't matter whether or not this first file contains a @menuat.), then whenever this controller is used to open a Leo-Editor file containing a @menuat this error message is displayed on the console:

[code]

Test output:

[code]

menuat.py:

[code]

menuatx.py:

[code]

menuat.leo:

[code]

menuat

[2014-08-25 09:05] #47 closed, assigned to edreamleo

[2014-08-25 09:34] #48 closed, assigned to nobody

[2014-08-29 22:14] #33 closed, assigned to edreamleo

[2014-08-30 08:36] #42 closed, assigned to edreamleo

[2014-09-04 16:57] Ally-B opened #49 "c.recursiveinput() fails on processing Windows back up file with ~ prefix in file name"
I'm using the wonderful file import code as found in scripts to import all my Latex files into nodes. This works brilliantly but fails on reaching Word backup files (file names prefixed with a ~) This is not a massive problem but I thought that the importer would ignore any file that didn't have a .tex extension?

ta

IH

Traceback (most recent call last):
  File "C:\Program Files (x86)\Leo_410\le

[2014-09-07 07:29] maphew opened #50 "Important: body text lost switching @file to @auto-rst"
[on my laptop] Changing a headline from @file to @auto-rst will ERASE all content in the external file created by that node.

In Leo the content will appear to still be there, there is no visual indication the file is empty, however on exit it is all lost.

---

The following is a reconstruction, as faithful as I can be to the original event, but some things may have occurred in a different order

[2014-09-11 06:01] maphew opened #51 "A new splash screen"
c.f. [Leo now uses a splash screen: non-copyrighted image needed](https://groups.google.com/forum/#!topic/leo-editor/2aVaxxXVHPE)

We're currently using a [tribal tattoo style lion](https://raw.githubusercontent.com/leo-editor/leo-editor/d5b4e2017fb6bd76bfffc8c2c8d402c3690cd69e/leo/Icons/SplashScreen.ico) for the splash screen. It's pretty good, especially considering the competition, _"I've never

[2014-09-11 08:55] benzolius opened #52 "Leo freezing with QScintilla on Kubuntu Linux"
Unfortunately on my system with @bool qt-use-scintilla = True

it's the same situation like with

@bool vim-mode = True

Leo becomes unresponsive and launchLeo.py works 100% on my CPU, I have to kill the process.

When I comment in myLeoSettings.leo:

@@bool qt-use-scintilla = True

everything works fine.

My system: Kubuntu 14.04, Python 2.7.6, PyQt version 4.8.6
Leo commit = 6c8fef82990e

[2014-09-12 12:07] #52 closed, assigned to nobody

[2014-09-12 15:42] tbnorth opened #53 "launchpad bugs need importing from launchpad to git"
Probably some triage to eliminate all the no longer relevant ones, but we should get all the significant launchpad bugs moved over, and disable further posting of bugs on launchpad, it still picks up the odd one now and then.

[2014-09-14 00:50] wangzhaohe opened #54 "AttributeError: 'LeoQtBody' object has no attribute 'getSelectedText'"
when Ctrl+Shift+f
exception executing command
Traceback (most recent call last):
  File "/home/swot/KuaiPan/app/leo-editor/leo/core/leoCommands.py", line 549, in doCommand
    val = command(event)
  File "/home/swot/KuaiPan/app/leo-editor/leo/core/leoCommands.py", line 1328, in minibufferCallback
    retval = function(keywords)
  File "/home/swot/KuaiPan/app/leo-editor/leo/plugins/quicksearch.py",

[2014-09-14 07:38] Armagedoom opened #55 "[From Launchpad] Cut / Paste / Insert Hotkey"
Launchpad link:
https://bugs.launchpad.net/leo-editor/+bug/1215603

Thread:
Sumarizing the post https://groups.google.com/forum/#!topic/leo-editor/3RQsBxkYqUw

We could switch cut/paste/insert to the standard hotkeys used by every other software.

For this to be possible, cut/paste commands should first pick up if:
-There is currently a selected text (either in currently selected header, body, or

[2014-09-14 07:38] fidel-perez opened #56 "[From Launchpad] Focus change on tree pane after saving current Leo file"
Link to launchpad:

https://bugs.launchpad.net/leo-editor/+bug/1193820

Issue:

Using Qt. First reported here:
https://groups.google.com/forum/#!topic/leo-editor/hPwPG9OTC3U

When I save the leo file, instead of staying where I am on the leo tree, it will go and center the view on the selected node.
So if I save before editing another node far away, it will focus back there, so I have to search fo

[2014-09-14 11:53] #54 closed, assigned to nobody

[2014-09-17 23:02] #49 closed, assigned to edreamleo

[2014-09-19 15:06] tbnorth opened #57 "Leo sets focus to body when main window gets focus"
This probably most noticeable in non-windows "focus follows mouse" environments where the window under the mouse pointer is automatically focused (no raised, just focused).

E.g. I select the text in the Nav pane intending to change it, but move the mouse slightly outside the window in doing so, causing Leo's top level window to lose focus.  I move the mouse back to the Leo window (without thought

[2014-09-19 16:58] benzolius opened #58 "Delayed loading of file with 750 lines, find command in such node"
I have an @edit node with about 750 lines and when I click it, I get:

"To load the body text, click the 'load' button.
Warning: make sure the text is fully loaded before using it!."

750 lines is not a big file, I expect to be rendered normally.

I wanted to disable/increase the line limit of delayed loading in:

myLeoSettings.leo
@settings -> Qt Gui Misc settings -> @int max-pre-loaded-body-char

[2014-09-19 19:12] #58 closed, assigned to nobody

[2014-09-20 06:00] maphew opened #59 "drag and drop: target too small"
Drag and drop target is smaller than the visual cursor indicates. Only existing nodes in the tree are targets, however the whole tree panel uses the [+] indicator. (this part is a bug)

Suggestion: when a file is dropped into any part of the Leo window, if the cursor is not on a node it goes to the top or bottom of the tree as a root node.

Ported from https://bugs.launchpad.net/leo-editor/+bug/12

[2014-09-20 06:02] maphew opened #60 "create relative paths & urls when dragging files to Leo"
It would be nice for Drag and drop files to have relative paths,taking into account the @path settings of the part of the tree they're dropped into (currently it is relative to the .leo file).
-- https://bugs.launchpad.net/leo-editor/+bug/1028986

[2014-09-20 06:24] maphew opened #61 "Leo thinks v5-thin .leo is v3 .leo and doesn't load it"
Drag and drop this file into Leo and it says it can't read it.
http://code.google.com/p/maphew/source/detail?spec=svn96275085b98cd274aca6f52b293e0c5ae1888c53&r=80b5f85482cc250864044e2f81b0d64d29528dde

[code]

[2014-09-22 17:49] gatesphere opened #62 "Syntax @color settings don't dereference"
Unlike the stylesheet @colors, the syntax @color settings don't dereference.  For example:

@color mycomment = #586E76
@color comment1_color = @mycomment
@color comment2_color = @mycomment
@color comment3_color = @mycomment
@color comment4_color = @mycomment

Result:
Errors in the console (see below) and uncolored comments in code (same as normal fg color).

Console output:
*\* isPython3: False
Le

[2014-09-23 16:49] tbnorth opened #63 "refresh-from-disk does not clear big text load delay UI"
Given a headline of:

  @edit  [...]/proposal.tex

I get "27775 character text exceeds 20000 limit, not shown." and associated buttons.

Changing the headline to:

  @auto-ctext  [...]/proposal.tex

and doing a context menu refresh from disk reloads the file in a tree of small nodes, but the big text UI machinery is not removed.

[2014-09-24 20:52] tbnorth opened #64 "big text status re-evaluated on find in current body"
Same area as #63 - Ctrl-f re-triggers the appearance of the big text deferred load UI even if the next search hit is in the same node, i.e. the one you already have loaded.

[2014-09-29 15:24] gatesphere opened #65 "c.createNodeHierarchy fails when consecutive nodes share a headline"
For example:

c.createNodeHierarchy(['@path pages','@path 2013', '@path 03', '@path 03'])

The last node will not be created.

This is my code, I'll fix it soonish.

[2014-09-29 16:05] #65 closed, assigned to gatesphere

[2014-10-05 18:52] maphew opened #66 "errors inhibited read @auto foo.md"
Opening the the attached .md file into an @auto node:

[code]

Running clean-all-lines doesn't appear to change anything:

[code]

might be related to #61(?)

[2014-10-07 03:23] maphew opened #67 "pylint not using @path settings (?)"
When pylint is run from the context menu it appears to be fed a file path relative to the .leo file and not the active @path setting.

So B:\code\workbook.leo, with a node:

[code]

echoes to the console:

[code]

c.f. https://groups.google.com/forum/#!topic/leo-editor/uRQoqHX3xJ0

[2014-10-07 13:23] #67 closed, assigned to nobody

[2014-10-08 05:13] #61 closed, assigned to nobody

[2014-10-08 12:00] benzolius opened #68 "beautify... commands should produce PEP8 style by default"
Issues:
- puts whitespace between function name and opening '('
- puts whitespace between dictionary name and '['
- removes whitespace between function arguments after ','
- removes whitespace around operator inside parentheses (this is not so clear, depends on situation, can be correct or can be wrong)
- puts whitespace between print and opening '('

print(obj) is correct and PEP8 style in Python

[2014-10-09 20:30] SegundoBob opened #69 "LeoBridge can Leave the Leo-Editor file "open""
LeoBridge can leave the Leo-Editor file "open" in the sense that when you later re-open the file, Leo-Editor asks you

[code]

and

[code]
# Demonstration of this bug

Note:  There is no error.  The .leo file should be left closed, but it is not.

This bug is demonstrated by lfloM.py which does the following:

1) Uses leoBridge to create a test1.leo.

2) Saves and closes test1.leo.

3) Uses the su

[2014-10-09 23:42] #68 closed, assigned to nobody

[2014-10-12 11:46] #69 closed, assigned to nobody

[2014-10-12 16:29] edreamleo opened #72 "From LP: scroll problem in the body pane"
https://bugs.launchpad.net/leo-editor/+bug/1022140

I'll leave this open, but there is no indication of how to reproduce the bug.

It may be related to #28.

[2014-10-12 16:54] edreamleo opened #73 "Index of Launchpad issues"
All launchpad bugs have now been fixed, made into github issues, or transferred to Leo's to-do list.
## Fixed

[Fixed at #60 or earlier] https://bugs.launchpad.net/leo-editor/+bug/1269540
File importing problems: Path doesn't properly appear as node header

EKR: I am aware of no problems with drag and drop at present. Please create a github bug report if any new drag & drop problems appear.

[work

[2014-10-12 17:33] #3 closed, assigned to nobody

[2014-10-14 14:29] ktenney opened #74 "problems with @button if defined in myLeoSettings.leo"
Putting @button definitions in myLeoSettings.leo makes them available in all Leo files, a nice feature. Unfortunately, when opening said myLeoSettings.leo file, the button bar shows duplicates of the buttons, and they lack the useful 'Goto Script' rclick feature.

[2014-10-17 02:17] #35 closed, assigned to edreamleo

[2014-10-17 20:02] #9 closed, assigned to edreamleo

[2014-10-18 13:16] #50 closed, assigned to edreamleo

[2014-10-19 20:00] SegundoBob opened #75 "write-opml-file always produces an empty file"
# leoOPML.py

Plugin leoOPML.py enables two commands:

[code]

In my very limited testing read-opml-file seems to work very well, but write-opml-file always produces an empty file.

Here are the default settings used by leoOPML.py:

[code]

Plugin leoOPML.py's document string is badly in need of updating.

When I looked at leoOPML.py, I found that a large part of write-opml-file is implemented in

[2014-10-20 12:24] #63 closed, assigned to nobody

[2014-10-20 12:25] #28 closed, assigned to edreamleo

[2014-10-20 12:48] #31 closed, assigned to edreamleo

[2014-10-20 18:50] tbnorth opened #76 "erroneous clone markers in @auto trees"
Creating the following file, saving it as hello.py, exiting Leo and re-loading, yields an outline with a clone marker for the main node.

[code]

I've been seeing this for a long time, but didn't think it would be so easy to reproduce in a small example.  It doesn't seem to have any negative effect, but clones are creepy, unnatural, and untrustworthy things, so who knows what they're plotting.

re

[2014-10-21 00:46] #64 closed, assigned to nobody

[2014-10-21 01:18] SegundoBob opened #77 "read-opml-file alwyas produces empty bodies"
read-opml-file seems to do a good job of producing all the nodes with appropriate headlines, but the bodies are all empty.   I don't know the OPML conventions.  This may be the fault of the Android app "outliner".  My test case is the export of its tutorial.  This contains entries such as:

[code]

Leo-Editor puts the "text=" value in the headline and it ignores the "_note=" value, which I think s

[2014-10-21 10:23] #75 closed, assigned to nobody

[2014-10-21 20:11] #76 closed, assigned to nobody

[2014-10-21 20:15] tbnorth opened #78 "find-next match not always scrolled into view"
I think this might be some race condition with the new incremental highlighting code.  Sometimes, often enough to be a problem, F3 jumps to a new node but the hit in the body text isn't selected.  Going back one hit (F2) and forward again (F3) fixes it, and it seems that subsequent searches which find hits in the affected node are ok, in the short term anyway.  Does the highlighting code cache any

[2014-10-21 22:29] SegundoBob opened #79 "tnodes="0" max_tnode_index="0 -- Are they ever non-zero?"
I have noticed that now Leo-Editor writes

[code]

in the header of every Leo-Editor file.  I've never seen either parameter non-zero.  If they are always zero, then there is no need to put them in the file.

I don't understand the need for them.  What purpose do they serve?

[2014-10-21 22:53] #77 closed, assigned to nobody

[2014-10-21 22:55] #79 closed, assigned to nobody

[2014-10-24 12:38] LewisNeal opened #80 "Find-previous fails at last node with mouse click"
Find-previous fails at last node when selected by mouse-click.
See https://groups.google.com/forum/?fromgroups#!topic/leo-editor/RAzVPihqmkI

[2014-10-24 13:06] #24 closed, assigned to edreamleo

[2014-10-24 13:22] edreamleo opened #81 "setup.py confuses newbies"
From https://bugs.launchpad.net/leo-editor/+bug/969391

I'm making this a separate issue because Ville will probably want to comment.

[2014-10-24 13:23] edreamleo opened #82 "Autocomplete ? function to show doc string does not work"
From https://bugs.launchpad.net/leo-editor/+bug/1245616

I'm making this a separate issue so it can be clearly seen to be targeted for a1.

[2014-10-25 01:21] largo84 opened #83 "Bracket completion doesn't work on Win8.1"
I've tried up to Python 3.3 and up to PyQT5 with all the typical settings and the brackets won't complete. It works fine on my Win7 PC at the office.

[2014-10-25 01:27] #82 closed, assigned to edreamleo

[2014-10-25 02:01] #53 closed, assigned to nobody

[2014-10-26 11:08] #12 closed, assigned to edreamleo

[2014-10-26 11:09] #36 closed, assigned to edreamleo

[2014-10-26 22:50] #56 closed, assigned to edreamleo

[2014-10-27 02:39] LewisNeal opened #84 "Ctrl-F focus inconsistent"
After a Ctrl-F the focus should always land in the <find pattern here> field.
see https://groups.google.com/forum/#!topic/leo-editor/_DIEDA3pJo8

Global settings default is @bool minibuffer_find_mode = False
When opening a new file or LeoDocs.leo or quickstart.leo, the focus still lands in the body pane.

Leo Log Window
Leo 5.0d1, build 20141026175311, Sun Oct 26 17:53:11 CDT 2014
Git repo info: b

[2014-10-27 12:27] #84 closed, assigned to nobody

[2014-10-27 20:47] #60 closed, assigned to edreamleo

[2014-10-27 20:47] #59 closed, assigned to edreamleo

[2014-10-28 15:59] maphew opened #85 "What to do when "Loading big text (____ characters, limit is 30000 characters)" warning?"
I hit the big text machinery for the first time today. It was disconcerting and alarming. That quickly subsided when I realized what it was about and connected it with conversations on the mailing list that I'd skimmed but not really paid attention to thus far. Someone without that background would be quite perplexed though.

I suggest adding text saying that after the UI settles down it's okay to

[2014-10-30 11:23] edreamleo opened #86 "Installer needs attention from an expert"
The following four installer problems have been been around for _years_.  I would appreciate help from somebody who knows how to solve them:

**Issue 1**: LeoSetup requires that Python be available for all users.

http://groups.google.com/group/leo-editor/browse_thread/thread/6f475b4c0c2d204a

All the following are from http://sourceforge.net/forum/message.php?msg_id=3064212

**Issue 2**: LeoSetup

[2014-10-30 16:45] #86 closed, assigned to nobody

[2014-10-31 14:28] #74 closed, assigned to edreamleo

[2014-10-31 18:03] #81 closed, assigned to edreamleo

[2014-10-31 18:28] maphew opened #87 "`python setup.py install` fails on Py3.2"
related: #81

[code]

From other threads it seems this is due to inclusion of `__pycache__` or `.pyc, .pyo` files. I don't find those in the build folder though.
- [easy_install ValueError: bad marshal data (unknown type code) - Stack Overflow](http://stackoverflow.com/questions/25017970/easy-install-valueerror-bad-marshal-data-unknown-type-code)
- [ Installing 2.3.12: ValueError: bad marshal data

[2014-11-03 15:12] tbnorth opened #88 "Button using @others doesn't work"
[code]

Three nodes as above, create a button from the Wrapper node with the script-button button, prior to 8413e2d it worked as expected, now it's reporting a syntax error in the computed script.

[2014-11-04 12:27] #88 closed, assigned to nobody

[2014-11-04 17:32] maphew opened #89 "Spontaneous clones when using <<sections>>"
c.f. https://bugs.launchpad.net/leo-editor/+bug/1282362 (sorry, was just replying to email, didn't notice it was to "the old place"!) Recap here (of just the new Oct 2014 stuff):

[code]

[2014-11-04 20:18] #57 closed, assigned to edreamleo

[2014-11-04 21:19] #83 closed, assigned to edreamleo

[2014-11-05 15:40] davy39 opened #90 "Bug with rts3 command"
Hi,
I'm trying to run rst3 command over the `@rst ~/myDocument.html` from the example.
I just cloned the git repository and launched launchLeo.py with both python2.7 and python3.4 on Xubuntu 64bits, with pyqt4 and docutils installed.

I got this error message :

[code]

Am I doing something wrong ?

[2014-11-05 17:45] tbnorth opened #91 "Shadow filenames collide"
Not very high priority and not a blocker for a release, but nice to get this cleaned up sometime.

With
[code]
to keep shadow files out of a project's working directory, @shadow filenames will collide.  A specific use case is the Django web application framework (for which Leo is otherwise extremely well suited as an IDE) which has multiple directories with contents named the same way, but pretty

[2014-11-06 05:45] #87 closed, assigned to nobody

[2014-11-06 11:24] #72 closed, assigned to edreamleo

[2014-11-06 15:11] edreamleo opened #92 "Tab loses focus when executing a button defined in an unopened settings file"
https://groups.google.com/d/msg/leo-editor/bEaJxLGIfso/ST7S7hQAMSgJ

when I execute a button in a file other than the default workbook.leo, the
tab focus switches back to workbook.leo
#

it's only the first time you click the button, when the buttons defined in
@settings @buttons of an unopen file. The file opens briefly to grab the
code for the button, and when it closes the previously selected t

[2014-11-06 15:21] edreamleo opened #93 "Index of top Launchpad wishlist items"
The following have been transferred from #73 in order to mark them as wishlist items.

Won't do
------------

https://bugs.launchpad.net/leo-editor/+bug/1259974
Leo should watch @ node contents for external updates

This request is infeasible.  Suppose that the external files has changed.  It would be unwise and unsafe to reload the entire file.

Completed
-------------------

[Fixed, using leoExt

[2014-11-08 15:09] #90 closed, assigned to edreamleo

[2014-11-10 22:35] #92 closed, assigned to edreamleo

[2014-11-12 15:54] edreamleo opened #96 "LP bug 1245111: Can't get the viewrendered pane back next to the editor"
https://bugs.launchpad.net/leo-editor/+bug/1245111
Creating a new item so I can close #73.

[2014-11-12 15:55] edreamleo opened #97 "LP bug 1245066: stickynotes mangles unicode"
From https://bugs.launchpad.net/leo-editor/+bug/1245066

[2014-11-12 15:56] edreamleo opened #98 "LP bug 1254182: vr pane won't open in main window after closing"
https://bugs.launchpad.net/leo-editor/+bug/1254182

[2014-11-12 15:58] edreamleo opened #99 "LP bug 1249368: custom hotkey does not work right away"
https://bugs.launchpad.net/leo-editor/+bug/1249368

There are communications problems because the OP's native language is Chinese, not English.

This is what I am guessing the OP meant:

With this custom setting::

[code]

We actually want to use clover-period instead of Ctrl-period.

But for each Leo file, nothing happens until you use the menu to select the command.

[2014-11-12 16:03] #73 closed, assigned to edreamleo

[2014-11-12 16:14] edreamleo opened #100 "Summary: bugs re quicksearch plugin"
These have been delegated to Ville M. Vainio, the author of this plugin.

https://bugs.launchpad.net/leo-editor/+bug/820019
Shift-Ctrl-F (quicksearch) Sometimes leaves focus in body

https://bugs.launchpad.net/leo-editor/+bug/823538
Plugin quicksearch.py command marked-list does nothing

https://bugs.launchpad.net/leo-editor/+bug/917805
Quicksearch, select string in header, Shift-Ctrl-F does NOT w

[2014-11-12 16:17] edreamleo opened #101 "IPython issues"
https://bugs.launchpad.net/leo-editor/+bug/1228099
Cancelling save of dirty untitled commander doesn't work with --ipython

[Better documentation needed] https://bugs.launchpad.net/leo-editor/+bug/1258512
_leo.c not working from IPython

Imo, the "c" property is working as intended.  It will return None in the following three circumstances:
1. There are multiple commanders open and the c property

[2014-11-13 15:46] #66 closed, assigned to edreamleo

[2014-11-13 20:22] jurov opened #102 "Loading @file node with embedded code broken"
Following node definition saves the file into /home/user/.leo (on Linux, not tested on Win)

[code]

but when such leo file is loaded, it starts with error:

[code]

and files are not loaded. Tried 4.11, it behaves in the same way.

[2014-11-13 20:50] sbworth opened #103 "Installation Issues on Linux"
Hello,

I would like to report on some issues installing the Leo 5.0 beta on my Ubuntu 14.04LTS installation.
(I have tried out Leo after pretty much every major version change of its existence; so I am back again.)

From INSTALL.TXT I read:

[code]

However, there is **no script** called install in the top level directory. (May also want to update leo-5-0-a1 as well.)

Since the name was similar,

[2014-11-14 01:13] #27 closed, assigned to tbnorth

[2014-11-14 01:18] #15 closed, assigned to tbnorth

[2014-11-14 02:32] #97 closed, assigned to tbnorth

[2014-11-14 23:05] #102 closed, assigned to nobody

[2014-11-15 01:10] maphew opened #104 "5.0b1 on pypi is broken, wants non-existent "leo\\core\\commit_timestamp.json""
[code]

I uploaded 5.01b to pypi from 1622dc1ca87d01212380c2746ec18773e277c2b5, the commit tagged "Leo-5.0-b1"

[2014-11-15 17:19] #98 closed, assigned to edreamleo

[2014-11-15 20:51] #101 closed, assigned to edreamleo

[2014-11-16 00:58] #38 closed, assigned to edreamleo

[2014-11-16 01:14] #80 closed, assigned to nobody

[2014-11-17 05:48] #104 closed, assigned to nobody

[2014-11-17 22:24] #103 closed, assigned to nobody

[2014-11-18 18:26] edreamleo opened #105 "Index of old LaunchPad bugs re plugins"
## For others

https://bugs.launchpad.net/leo-editor/+bug/1240688
Problems with the Help Menu
Apparently, this bug is related to the leo_dark theme 0 settings.

https://bugs.launchpad.net/leo-editor/+bug/1173798
Notebook plugin command nb-subtree does not start with the right leo file

https://bugs.launchpad.net/leo-editor/+bug/1230273
Todo.py documentation - image link semi-broken in docstring
##

[2014-11-19 12:00] #99 closed, assigned to edreamleo

[2014-11-19 12:06] #39 closed, assigned to nobody

[2014-11-19 12:09] #85 closed, assigned to nobody

[2014-11-19 12:10] #51 closed, assigned to nobody

[2014-11-19 12:37] edreamleo opened #106 "Wishlist: brew install for MacOS"
This item has gotten unwieldy.  I've moved most notes to leoDist.leo.

[2014-11-25 13:26] davy39 opened #108 "Error : can't write leo/plugins/spellpyx.txt"
I think this bug appear since I install leo from ppa and so pyenchant have been installed (was not before).
It seems that a plugin want to create a new file inside the install path, and so doesn't have the permission.
How works this pyenchant intergration ? Is there a way to configure the path of this spellpyx.txt let say to $HOME/.leo ?

[2014-11-26 02:55] davy39 opened #109 "Request : write @parms into files"
Hi,
I'm actually working on the distribution file leoDist.leo and I had the following thought :
The idea is that for many usages (not only this special case), we may need to write a parameter in many files.
A good example is when changing version number, a lot of changes have to be made (readme, setup.py, changelogs,  documentation, various distribution files...).
This would be a lot easyer if we

[2014-11-26 11:05] #109 closed, assigned to nobody

[2014-12-05 15:50] #108 closed, assigned to nobody

[2014-12-08 14:27] #78 closed, assigned to edreamleo

[2014-12-09 10:14] pitchforks opened #113 "Confused about getting leo in Debian"
README.TXT advertises that "Leo is now a debian package".

I am running Debian:

    $ lsb_release -a
    No LSB modules are available.
    Distributor ID:	Debian
    Description:	Debian GNU/Linux 7.7 (wheezy)
    Release:	7.7
    Codename:	wheezy

I have assumed that the quoted statement means that leo made it into the debian repository, but after I did `$ apt-cache search leo` and couldn't find

[2014-12-11 13:16] edreamleo opened #117 "<Return> causes unwanted scrolling"
This is a recent development.  It must be fixed immediately.

[2014-12-11 15:38] #117 closed, assigned to edreamleo

[2014-12-11 19:43] joonro opened #119 "A setting to turn off the automatic heading generation for the `declarations` node with `@auto-org-mode`"
It would be great to have a setting to turn off the automatic heading generation for the `declarations` node with `@auto-org-mode`. (See discussions at https://groups.google.com/forum/#!topic/leo-editor/xoR9Rl0RcYo)

[2014-12-12 14:52] #119 closed, assigned to edreamleo

[2014-12-13 06:23] joonro opened #122 "`@auto-rst` should add an empty line after a heading"
Currently `@auto-rst` do not add an empty line after a heading.

The problem is that when one generates a node (call it `Placeholder`) without any contents, then the resulting `rst` file is written like:

[code]

That is, there is no space between the two headings. Then if I do `Refresh from disk`, `@auto-rst` yields an error. This should not happen if `@auto-rst` automatically writes an empty lin

[2014-12-15 04:45] davy39 opened #124 "Viewrendered can't display @image"
Hi,
I thought viewrendered was able to display images, but I get this error :

[code]

I don't know why vr is getting a list in place of a string...

[2014-12-17 11:55] davy39 opened #125 "Problem running PyQt4 with PyQt5 Leo"
Hi,
I get this error while importing PyQt4 modules when scripting Leo :
`
RuntimeError: the PyQt4.QtCore module failed to register with the sip module
`
Do you have any idea on what could be the problem ?
I've no problem with PyQt5 and no pb with PyQt4 outside Leo.
`
Leo 5.0-final, build 20141208163902, Mon Dec  8 16:39:02 CST 2014
Git repo info: branch = master, commit = d1b55d10c656
Python 2.7.8

[2014-12-20 08:07] vitalije opened #126 "Inproper handling of @chapter nodes with non ASCII headlines"
To reproduce this bug:
1. open new Leo document
2. execute command chapter-create and type any non-ASCII name for new node like **"Проба"**
3. Leo will insert two @chapter nodes one with the correct headline and the other with **????** instead of headline.

Later, when user selects this chapter, a new chapter ???? will be created

About my installation:

[code]

[2014-12-23 18:04] #126 closed, assigned to edreamleo

[2014-12-23 20:07] #124 closed, assigned to edreamleo

[2014-12-28 17:07] edreamleo opened #127 "Bracket matching is buggy"
Bracket matching should take into account the language in effect.

For example, JavaScript regular expressions are not handled properly.

[2014-12-29 13:39] edreamleo opened #128 "Javascript importer should be rewritten"
The present importer has no chance of being able to handle, say, jQuery.js.

The parser must be recursive, to handle nested function definitions as arguments.

[2015-01-13 16:28] lf94 opened #129 "Font setting overridden by new workbook"
If you go into Startup -> @settings, and add @font DejavuSans, close Leo, re-open it, the new font will have taken affect, until you open a new leo workbook. Then it everything goes back to the original Leo font. This is the latest git version.

[2015-01-14 00:55] SegundoBob opened #130 "Implementation bug in fix to Issue #35"
The two scripts in repository https://github.com/SegundoBob/leo_bridge_gnx_2.git demonstrate this bug.  I believe this is a bug in the fix to Issue #35.  I believe this is an implementation bug, not a design bug.

I encountered this bug while using Leo-Bridge to determine the differences between my Android Outliner version and my Leo-Editor version of each of many outlines.

Unrelated Bug also Dem

[2015-01-14 09:40] CandyAngel commented on #127
Not sure if this is related, but quite often when using Perl's regular expressions (with "@language perl"), Leo will stop responding for a long time (seems to get exponentially worse the more braces are in the node's body) as I write or modify it.

For example, if I attempt to change:

to:

Leo will freeze for just a couple of seconds. However, if I try to change:

to:

Leo will freeze for ~10 sec

[2015-01-14 11:42] edreamleo commented on #127
@CandyAngel Thanks for this report.  Please create a separate bug: the issue you report concerns different code than the bracket matching code.

[2015-01-16 23:39] SegundoBob opened #131 "Insert time in headline now inserts time in body"
I first noticed this 2014-12-03 Wed in Revision ad0392f8b69824cf19441f9ff9636e654341d536.
It still happens in commit 2014-01-16 07:13 f6cdb2bccb1a7ca8812f49f0da951cec5617279f.

Demo:
[code]

Test system
Xubuntu32 12.04
[code]

[2015-01-17 19:50] SegundoBob opened #132 "Section Reference causes clone on Leo-Editor file open"
Bug Description
---------------

A cloned node reappears every time a particular Leo-Editor file is opened, no matter how many times you delete the clone and save the file without the clone, the clone reappears when the file is opened.

Bug Analysis
------------

My best guess is that the crucial circumstances causing the bug are: (1) The triggering syntax must be in an @file.  The type of the @fi

[2015-01-25 13:10] flimao opened #133 "@file tree disappeared, cannot rebuild it from sentinels"
Hello,

I believe I might have found a weird bug in Leo.

I'm working on a TeX file through a Leo `@file` node. I saved the `.leo` file and shut down the computer for the night. On the next day, I open the `.leo` file again, and the `@file` tree is completely empty (only the `@file` node itself is present). The log pane shows an error message:

[code]
The external file still exists, and the sentin

[2015-01-25 13:14] flimao commented on #133
Oops,

I forgot to include my environment information:

`Leo Log Window`
`Leo 5.0-final, build 20141124101406, Mon Nov 24 10:14:06 CST 2014`
`Not running from a git repo`
`Python 3.4.1, PyQt version 5.4.0`
`Windows 8 AMD64 (build 6.2.9200) `

Cheers!

[2015-01-25 16:11] gatesphere commented on #133
As for the why: that I can't tell.  It seems like a fairly serious bug that @edreamleo will probably have to look into.  Please save your .tex file if possible for further investigation.

To recover it, however: make a copy of your .tex file, and load that into Leo as an @edit node.  That should allow you to recover your data.  When you have the data pulled out of that and organized into a tree, c

[2015-01-25 17:28] flimao commented on #133
Thanks for the answer, @gatesphere . Luckily, in this case, I remember how the tree was structured, so it'll be less of a pain in the ass to reassemble it.

I'll be happy to provide both the `.leo` and the external `.tex` file for analysis.

Cheers!

[2015-01-25 20:58] flimao commented on #133
As it turns out, it's not a bug in Leo after all, but a case of [PEBCAK](http://www.urbandictionary.com/define.php?term=PEBCAK).

I created a button to compile the `.tex` file into something useful, like a PDF. Before making the call to the compiler, though, I tried to make sure the external file was clean, by calling `c.atFileCommands.write`. That function writes the external file in a different

[2015-01-25 20:58] #133 closed

[2015-01-25 23:53] edreamleo commented on #133
On Sun, Jan 25, 2015 at 2:58 PM, Limão <notifications@github.com> wrote:

correct:

1. Leo does store data in @file nodes, but that is non-essential data, such
as marks and expansion status.  This data is not needed to recreate a
file.  This is an important principle: external files must be self
contained.

2. at.write should write new-style sentinels by default.  In fact, iirc,
all the existing w

[2015-01-26 03:09] flimao commented on #133
@edreamleo, if you want, I can send you the relevant files so you can check them out.

Before this happened, I assumed (without RTFM) that the `@file` structured was contained in both the external file and the Leo file. As such, I was very surprised when the whole `@file` node structure was just gone!

Is there a directive to make Leo save the `@file` nose structure to the Leo file, as a backup sh

[2015-01-26 11:44] edreamleo commented on #133
On Sun, Jan 25, 2015 at 9:09 PM, Limão <notifications@github.com> wrote:

​Please do.  edreamleo@gmail.com

Edward

[2015-01-27 14:50] gatesphere opened #134 "'chapter-select' command broken"
Running the 'chapter-select' command gives the following in the console:

Traceback (most recent call last):
  File "C:\cygwin\home\PeckJ\repos\leo\leo-editor\leo\plugins\qt_events.py", line 127, in eventFilter
    k.masterKeyHandler(event)
  File "C:\cygwin\home\PeckJ\repos\leo\leo-editor\leo\core\leoKeys.py", line 3410, in masterKeyHandler
    done = k.doMode(event,state,stroke)
  File "C:\cygwi

[2015-01-27 15:01] gatesphere commented on #134
It appears something is making 'main' a QString rather than a string.  Running this code from another .leo file with many chapters:

cc = c.chapterController
g.es(cc.chaptersDict.keys())

I get:

[u'RSS Feeds', u'Long-term Projects', u'Web Bookmarks', u'Notes', u'Ideas', u'Reports', 'main', u'Recurring', PyQt4.QtCore.QString(u'main')]

[2015-01-27 15:43] gatesphere commented on #134
Apparently, it creates the 'main' chapter twice:

(I enabled the g.trace line in leoPy.leo#Code-->Core classes-->@file leoChapters.py-->class Chapter--> ctor: chapter)

__init__ (chapter) calling cc.tt.createTab(main)
__init__ (chapter) calling cc.tt.createTab(Web Bookmarks)
__init__ (chapter) calling cc.tt.createTab(main)
__init__ (chapter) calling cc.tt.createTab(RSS Feeds)
__init__ (chapter) ca

[2015-01-27 15:57] gatesphere commented on #134
There's a simple patch for this to get chapter-select working again:

Use:

names = cc.setAllChapterNames()

in leoPy.leo#Code-->Core classes-->@file leoChapters.py-->class ChapterController-->Commands (chapters)-->cc.selectChapter & helper

However, this is caused by a possible memory-leak in LeoQtTreeTab -- whenever a chapter is selected, a new QString key is added to cc.chaptersDict.  Investiga

[2015-01-27 16:08] gatesphere commented on #134
Fixed in f61d4f3eae74.

c.cc.tt.selectTab would occasionally be called with a QString as the 'tabName' parameter, instead of a string or unicode string, so a simple guard of 'tabName = g.u(tabName)' fixed the issue and prevented the memory leak.

chapter-select is working as intended, and c.cc.tt.selectTab no longer adds dumb keys to cc.chapterDict.

[2015-01-27 16:09] #134 closed

[2015-01-27 16:56] edreamleo commented on #134
On Tue, Jan 27, 2015 at 10:09 AM, Jacob Peck <notifications@github.com>
wrote:

​Thanks for this work, Jake.

Edward

[2015-01-28 16:21] tbnorth opened #135 "drag and drop between trees broken"
Load Leo with two outlines, then detach one (assuming tabbed interface).

Expect dragging a node from one tree to the other will move it, maybe copy if Alt held.  Doesn't work, although nodes in receiving tree can be reordered sometimes.  git bisect, below, identifies offending commit. (Log info. just shows "today's" Leo, but this has been broken a long time.)
[code]

[2015-01-28 17:25] edreamleo commented on #135
Thanks for this sleuthing.  I'll fix it asap.

 I was just about to reopen a bug (iirc) about paste-retaining-clones being broken. Interestingly, I was able to drag and drop an outline when paste-retaining-clones failed to retain clones.

[2015-01-29 14:58] gatesphere opened #136 "Viewrendered2 chokes on displaying @html nodes"
Viewrendered2 enters a terribly broken state upon selection of an @html node when the vr pane is open:

[code]

After this, the auto-update functionality is broken, and Leo requires a reload to fix VR2's usability.

Version info:

Leo 5.0-final, build 20150127110559, Tue, Jan 27, 2015 11:05:59 AM
Git repo info: branch = master, commit = e4b9b05e377f
Python 2.7.6, PyQt version 4.8.5
Windows 7 x86 (

[2015-02-03 04:50] technatica opened #137 "Detachable Body Editor"
I quite often use a detached vr pane on my second monitor screen when I am writing a heavily formatted text in order to check my text from time to time by refreshing the vr pane.

What I would love to see would to be able to detach a body editor, leaving the tree and main body editor where it is on screen one, while using screen two for writing in. I find that as I am trying to use Leo to manage m

[2015-02-03 11:32] edreamleo commented on #137
You can already do this with the so-called Easter-Egg menu:

1. Position the cursor between the outline and body panes.

The cursor will change, indicating that you can reposition the panes by dragging.

2. Right-click the mouse, bringing up the Easter-Egg menu.

3. From the "Open Window" submenu, select "Body"

This detaches the body pane into a separate window.

You can also play around with var

[2015-02-03 11:32] #137 closed

[2015-02-03 20:28] technatica commented on #137
Hi Edward,

This does detach the body pane, but it doesn't allow me to create a
separate body pane. Using the Easter Egg menu again to Insert a body window
back into the main Leo window eliminates the floating pane. It would be
great to have the floating body pane and the main window body pane
available at the same time. Allowing the floating body pane to be be locked
to a node and the body pane i

[2015-02-11 16:54] edreamleo commented on #122
I am hoping that @nosent will replace @auto-rst will in the near future.  As a result, this issue is about to become moot.

[2015-02-11 16:55] edreamleo commented on #91
This issue will become moot in the near future when @nosent replaces both @auto and @shadow.

[2015-02-16 19:06] vitalije opened #138 "goto-global-line doesn't work properly in @nosent files"
For quite a long time I have noticed that command goto global line (Alt+G) doesn't work properly on @nosent files. It seems that it counts non-existing sentinel lines so it positions cursor few lines before the requested. The exact difference between required line number and found one depends on size of file and number of nodes, and also grows with required line number.

You can exhibit this by lo

[2015-02-22 23:48] edreamleo commented on #138
Fixed at rev 5ff5be0.  The problem was that a bare '@' was not treated as a Leo directive.

[2015-02-24 09:29] vitalije commented on #138
There is still some case(s) when goto-global-line doesn't work as I expect.
Here is a slightly changed Leo file that demonstrate bug. Try in this Leo file, under the '@clean test.js' node goto-global-line command with any line number.

https://groups.google.com/group/leo-editor/attach/e9f84113b2db0242/nosent-goto-line-bug.leo?part=0.1

[2015-02-25 19:09] tbnorth commented on #137
On Tue, 03 Feb 2015 12:28:53 -0800
technatica <notifications@github.com> wrote:

Well, what your looking for Chris is a feature I've wanted to implement
for a long time, and is on my list of projects.  I'm still not sure how
hard it will be.

Having not seen the above response initially, I did just fix a niggle
in nested_splitter, it now copies the main windows stylesheet and
applies it to the new

[2015-02-26 16:09] largo84 opened #140 "@clean does not preserve extended ASCII characters on read"
Many extended ASCII characters won't 'round trip' properly using @clean as compared to @file. Simple example:

1) Create new @clean and @file files.
2) Add one or more extended ASCII characters to each file. For example, try ASCII code 246 ÷ (the division symbol, or obelus).
3) Save the file (this creates two new external files).
4) View the external files in another editor (I use Notepad++). The

[2015-02-26 17:26] edreamleo commented on #140
On Thu, Feb 26, 2015 at 10:10 AM, Rob Keeney <notifications@github.com>
wrote:

​Thanks for the detailed report.  This will be fixed for b1.

Some preliminary notes:

1. Scite, http://www.scintilla.org/SciTE.html, can detect that the proper
encoding is a code page encoding.  I suppose this isn't too surprising,
since the default scite setting is code.page=0, whatever that means :-)

2. The example

[2015-02-26 17:51] largo84 commented on #140
Using Notepad++, I set the encoding to UTF-8 and write the following:
Divide by = ÷

Then when I refresh from disk in Leo to @clean, I get:
ï»¿Divide by = Ã·

If I add the following to my .leo @clean node:
@encoding utf-8
Divide by = ÷

Then save and open in Notepad++, I get:
Divide by = รท

Also, Notepad++ doesn't show what type of encoding is used.

[2015-02-27 03:20] largo84 commented on #140
Another possibly useful clue; this seems to be a recent change. I've had some external files referenced as @nosent for quite a while, but only in the last week or so, did I see where Leo was changing the characters and I would see the changes in @recoverednodes trees. Hope that helps.

[2015-02-27 09:43] #91 closed

[2015-02-27 09:47] edreamleo commented on #128
I am downgrading this to an enhancement.  There does not seem to be much call for this.

Yes, the jQuery *sources* are horrendous, but jQuery scripts are simple enough to be handled easily by the present importers.

[2015-02-27 09:50] edreamleo commented on #89
B1 seems like an appropriate target for this bug.  I should not have left it lying around for so long.

[2015-02-27 09:55] edreamleo commented on #122
I was mistaken.  @clean can not replace @auto-rst.  So I'm removing the "minor" label and targeting this bug for b1.

[2015-02-27 09:58] edreamleo opened #141 "Leo should prohibit cross-file paste-retaining-clones"
Issue #135 (drag & drop) may affect paste-retaining-clones.

[2015-02-27 10:09] edreamleo opened #142 "bibtex plugin overwrites body text of @bibtex nodes"
Reported by Juaco in private email to EKR

QQQ
I made some additional tests with the bibtex plugin under Python 2.7 and Python 3. There seems to be still a problem when using the snapshot 01c1224 of 28th December.

The problem appears in both Python 2 and Python 3:

The body text of any of the article, journal, etc. nodes is written as body text of the @bibtex node. It overwrites each time the pre

[2015-02-27 10:56] edreamleo opened #143 "dabbrev-expand broken"
A Bug in Leo editor 5.0 about dabbrev-expand
https://groups.google.com/d/msg/leo-editor/5yVJzLzeOtA/atuE-qhJll8J

On Tue, Dec 30, 2014 at 8:33 PM, 翅膀 <wzy3721@gmail.com> wrote:

    *
    editor panel text

    main
    m

    *  press  alt + /

    minibuffer show :

    dabbrev-expand: main

    * press enter

            editor panel text

            main
            m

[2015-02-27 11:12] edreamleo opened #144 "Import to @clean produces duplicate lines"
When using an import script to import to @nosent/@clean, lines like::

RCS_id='$Id: Connection1.py,v 1.1 2005-06-13 20:55:22 syt Exp $'

Appear both at the top level and in an < < declarations > > section.

[2015-02-27 11:13] edreamleo commented on #144
When using an import script to import to @nosent/@clean, lines like::

    RCS_id='$Id: Connection1.py,v 1.1 2005-06-13 20:55:22 syt Exp $'

Appear both at the top level and in an < < declarations > > section.

[2015-02-27 11:20] edreamleo opened #145 "The already open dialog can cause Leo to hang"
Iirc, choosing yes-to-all when Leo reports that a file is already open can cause Leo to hang or crash.

One option would simply be to eliminate the yes-to-all option.

Imo, the present code is too complicated.  I'm not sure I am responsible for all this code, but I may be responsible for removing it ;-)

[2015-02-27 16:44] joonro commented on #122
Thanks!

[2015-02-27 17:04] tbnorth commented on #145
On Fri, 27 Feb 2015 03:20:33 -0800
"Edward K. Ream" <notifications@github.com> wrote:

You need something reproducible here, I use yes-to-all on occasion and
haven't seen a problem.

It was added (by me, possibly) for a reason though, I typically have 4+
outlines open at a time, that's 8+ clicks to restart after a crash.
These are not necessarily Leo crashes, usually some sort of network /
power /

[2015-02-27 22:08] edreamleo commented on #140
There are bugs here, but they are in the @file logic, not the @clean logic!  Here is my test file on Windows 7:
-----
@encoding cp1252
246 ÷
-----
The non-ascii character is two bytes (c3 b7)  for Unicode utf-8 and a single byte (f7) for cp1252.

This round-trips properly with @clean, without any internal problems.  A file dump shows the file contains hex f7 for the  ÷, for both @clean and @file.

[2015-02-27 22:46] largo84 commented on #140
I ran the script and cp1252 showed up in the terminal window.

If the problem is w/ @file, then why does @clean not 'round trip' the character properly (unless I manually add @encoding cp1252) and @ file does (without needing to add the directive)? I must be missing something.

Does this also mean that I need to remember to add the @encoding directive anytime I need to use extended-ASCII?

[2015-02-28 00:27] edreamleo commented on #140
Fixed at rev 89b56b3

In fact, this was a bug in the @file read logic! The fix was to call at.readFileToUnicode in at.readOpenFile.

The new code is enabled by the new_read_line switch in leoAtFile.py.

[2015-02-28 00:42] edreamleo commented on #140
@largo84

I'm not sure I was ever seeing the behaviour you describe.  Please test with rev 89b56b3. Trying to explain the internals of Leo is not likely to be helpful.

It simply means that the bug has been fixed :-)

You *must* tell Leo what encoding you are using whenever you use a character ch with ord(ch) > 127. That's not a defect of Leo, it's a fact of life.  The most *explicit* way of indic

[2015-02-28 11:37] edreamleo commented on #145
@tbnorth Fair enough.  I'll see what I can find.

[2015-02-28 11:45] edreamleo opened #146 "Recursive import script may add extra declaration lines"
A serious problem, which does not seem to be caught by the perfect import logic.  I discovered this problem when git reported changes. For example::

    c.recursiveImport(
        dir_ = r'<path to mypy>/mypy',
        kind = '@clean',
        one_file = False,
        safe_at_file = False,
        theTypes = ['.py',],
    )

It's not clear whether importing to @clean nodes is part of the problem

[2015-03-02 12:45] edreamleo commented on #144
#146 is really the same bug.  I'll close this bug because the later bug has more information.

[2015-03-02 12:45] #144 closed

[2015-03-02 12:51] edreamleo commented on #130
@SegundoBob

The ctor is::

controller = leoBridge.controller(gui='nullGui',
    loadPlugins=True,  # True: attempt to load plugins.
    readSettings=True, # True: read standard settings files.
    silent=False,      # True: don't print signon messages.
    verbose=False)     # True: print informational messages.

Have you tried setting silent = True?

[2015-03-02 16:24] largo84 commented on #140
Just pulled the latest revision and have tried out several scenarios (various combinations of @encoding settings and @file and @clean). @file no longer works correctly (it did before). @clean works, at least for ÷. However, it doesn't work for Σ (which doesn't appear to exist in cp1252). It seems that @encode utf-8 is the way forward as it should cover all of the characters I expect to use, but I

[2015-03-02 16:57] SegundoBob commented on #130
On 03/02/2015 04:51 AM, Edward K. Ream wrote:

Yes, I have tried silent=True.  Yes, it helps a lot, but even with
silent=True there are unwanted output lines.

I thought that I was always using silent=True, but at some point I
forgot to put it in, then copy and paste propagated the error.  Sorry
about that.

With silent=True added, to both master.py and slave.py, I get:

2015-03-02 08:51:02 /home/

[2015-03-02 18:59] edreamleo commented on #130
Rev c6c14ef fixes this bug completely, but it may be possible to eliminate the ugly "gnx holding" logic in ni.getNewIndex.  For this reason I shall leave this issue open.

Rev c6c14ef suppresses the "wrote recent file" message when "silent=True" is passed to the ctor for the BridgeController class. All the other messages arose because the "silent" argument was missing in slave.py.

master.py and s

[2015-03-02 19:48] edreamleo commented on #130
I am going to close this issue.  The holding logic is essential.

A comment in  ni.end_holding explains why.  New nodes *can* be allocated while reading a .leo file.  This can happen when the @auto read logic finds a node that has been allocate outside of Leo.  Therefore, ni.end_holding must call ni.compute_last_index.  It can't be called any earlier.  Or any later.

Traces show that ni.compute_la

[2015-03-02 19:49] #130 closed

[2015-03-02 20:19] edreamleo commented on #140
On Mon, Mar 2, 2015 at 10:24 AM, Rob Keeney <notifications@github.com>
wrote:

​You shouldn't need to use an @encode directive if you use the default
settings in leoSettings.leo, the node::

    @settings-->Unicode options

These will give you utf-8 in all your external files.

Edward

[2015-03-02 20:50] largo84 commented on #140
I didn't think so, just making sure. External files appear to write correctly (encoded as UTF-8 without BOM according my editor). They just don't come come back in correctly.

[2015-03-02 23:00] SegundoBob commented on #130
Thanks.  My tests and your tests now pass for me on my system using
Python 2 and Python 3 on Leo-Editor commit
42a5207833e08ff37e767d60e1020f6151b3a70b.

But, tracing is not fully disabled.  When I run the tests, I get these
trace outputs, for example:

compute_last_index ========== time 0.00 lastIndex: old: 0 new: 2
compute_last_index ========== time 0.00 lastIndex: old: 0 new: 3
compute_last_ind

[2015-03-02 23:08] edreamleo commented on #130
On Mon, Mar 2, 2015 at 5:00 PM, SegundoBob <notifications@github.com> wrote:

​Glad to hear it.​

​Now it is.  Iirc, I left this trace enabled because it will rarely happen
outside your special circumstances.

Thanks for continuing to stress these edge cases.  This bug was a release
blocker.  One more to go...

Edward

[2015-03-02 23:13] edreamleo commented on #140
On Mon, Mar 2, 2015 at 2:50 PM, Rob Keeney <notifications@github.com> wrote:

​Just double-checked.  It works for me on Windows7.

Edward

[2015-03-03 05:05] largo84 commented on #140
Hmm, wonder what's different. It doesn't work for me on either win7 or win8 PC (both on Pyton 3.3), but it does on Mac (Python 2.7).

[2015-03-03 12:01] edreamleo commented on #140
On Mon, Mar 2, 2015 at 11:05 PM, Rob Keeney <notifications@github.com>
wrote:

​Please send your test files to me at edreamleo@gmail.com.  I'd like to
clear this up.  Also include your myLeoSettings.leo.

Edward

[2015-03-03 15:50] tbnorth commented on #140
On Tue, 03 Mar 2015 04:01:57 -0800
"Edward K. Ream" <notifications@github.com> wrote:

I see a py 2 / 3 difference here.

HOME=/tmp python launchLeo.py

@clean /tmp/test_clean.txt
    Here: ÷ Σ
@file /tmp/test_file.txt
    Here: ÷ Σ

save, quit

grep ^ /tmp/test_*.txt

/tmp/test_clean.txt:Here: ÷ Σ
/tmp/test_file.txt:#@+leo-ver=5-thin
/tmp/test_file.txt:#@+node:tbrown.20150303093202.38: * @file /t

[2015-03-03 16:20] largo84 commented on #140
That looks like what I'm seeing. Another oddity is that when I use an older version of Leo (v4.11 build 5806 from before I started using Git), I don't see any problems with read/write either ÷ or Σ with @file or @nosent (but still with Python 3.3).

[2015-03-04 10:35] edreamleo commented on #140
On Thu, Feb 26, 2015 at 9:20 PM, Rob Keeney <notifications@github.com>
wrote:

​First, my apologies.  You stated at the outset that you were using Python
3, yet I ran my tests with Python 2.

On Friday, February 27 rev 89b56b3 changed the @file read logic.​ It may
have affected @clean as well.

This bug is a release blocker.  I'd like to fix it today.

Edward

[2015-03-04 10:38] edreamleo commented on #140
On Tue, Mar 3, 2015 at 9:50 AM, tbnorth <notifications@github.com> wrote:

I see a py 2 / 3 difference here.
​ [Fails with 3]

Thanks, Terry.  ​Very helpful.  Now I'll know to run tests with 3 :-)

EKR

[2015-03-04 15:15] edreamleo commented on #145
On Fri, Feb 27, 2015 at 11:04 AM, tbnorth <notifications@github.com> wrote:

​The problem happened to me yesterday, but when I tried to reproduce it all
went well.  This makes the problem more serious, not less.

Edward

[2015-03-04 19:00] edreamleo commented on #140
Fixed at rev b198451. All unit tests pass with both Python 2 and 3. Rob's tests files now work as expected.
This was a  bug in the @clean read logic. The fix was a rewrite of at.read_at_nosent_lines.
Note to myself: make sure to run unit tests with Python 3 after any file-related changes.
Please reopen if even the slightest problem remains.

[2015-03-04 19:00] #140 closed

[2015-03-04 19:06] edreamleo commented on #146
This is a release blocker.  A few days ago I spent several happy hours importing files, and I am starting to think that perhaps there is an edge case relating to the update algorithm and section references.  Whatever the cause, we can not let Leo's import/@clean logic duplicate lines!

[2015-03-04 19:13] tbnorth opened #147 "Python 3 clipboard encoding"
Leo 5.0-final, build 20150304120302, Wed Mar  4 12:03:02 CST 2015
Git repo info: branch = master, commit = 0b4696be5c18
Python 2.7.6, PyQt version 4.8.6
linux2

HOME=/tmp python3 launchLeo.py

Text: ÷ Σ

In body text copy / paste (Ctrl-C, Ctrl-V) works as expected in py2, but there's a Σ -> £ translation on paste in py3

[2015-03-04 19:36] largo84 commented on #140
Looks good so far; both @clean and @file read/write both ÷ and Σ as expected. I'll check next against some bigger lists and see if there are other issues. Thanks, this really helps me a lot!

[2015-03-05 04:49] edreamleo commented on #147
Thanks for this report.  This must be fixed for 5.1 b1.

[2015-03-05 05:31] edreamleo commented on #146
It appears that all problems were due to bug #140.  I have just carefully imported all files of mypy into @clean nodes.  Aside from inserted/deleted blank lines, all files round trip perfectly.

A few files could not be written due to bogus section references such as <<|>>, but that has nothing to do with this bug, and besides, Leo did not overwrite the files.

[2015-03-05 05:31] #146 closed

[2015-03-05 07:05] clean commented on #146
Stop sending these emails Github!

Regards,

Adriel Kloppenburg
022 603 3595
http://adriel.co.nz
http://500px.com/HDPhotos

[2015-03-05 11:40] edreamleo commented on #146
@clean It is up to you to manage the notifications.  Look to the left of this page, and click unsubscribe.

[2015-03-05 12:27] edreamleo commented on #147
Rev d89d4bc attempted a fix, but the fix didn't work.  This bug happens only on Linux...

[2015-03-05 13:49] edreamleo commented on #145
Choosing no-to-all just now on Linux caused a segfault. So this is not a Windows-only problem.
Repeating did not cause a segfault: Leo exited gracefully.
Iirc, the "duplicate" Leo file was not actually open, which may be part of the problem: there was no fall-back.

[2015-03-05 14:29] tbnorth commented on #145
You originally reported the problem for yes-to-all, so it's probably not a question of no fall-back with no-to-all, assuming that it's true that the problem is observed for both yes-to-all and no-to-all. I've just `xkilled` Leo several times without seeing the problem.

SegFault is indicative of something beyond a regular bug - has there always been a SegFault as part of this issue?

Also, no-to-a

[2015-03-05 15:03] edreamleo commented on #145
On Thu, Mar 5, 2015 at 8:29 AM, tbnorth <notifications@github.com> wrote:

​Yes.  On Windows it's the dreaded "Python has stopped working" dialog.​

​I agree.​

​Thanks.  I wouldn't call this a release blocker because it's been around
awhile without many complaints.  Still, segfaults don't look good ;-)

Edward

[2015-03-05 15:16] ktenney opened #148 "@auto style parse on first @clean 'Refresh From Disk'"
Wishlist feature:

A @clean node is created which points to an external file.
rclick -> 'Refresh From Disk' populates the node.

For known file types, create the nodes ala @auto

[2015-03-05 15:21] edreamleo commented on #147
This looks like a PyQt or Qt bug in Python 3, and only on Linux.

The call to QTextBrowser.toPlainText in qtew.getAllText returns a *unicode* (Python 3 str) string with a value different from what is actually shown in the body pane!  Because the string is already unicode, Leo can do nothing more.

A truly horrible workaround is possible for the body pane only, namely using p.b instead of w.get (ca

[2015-03-05 15:25] edreamleo commented on #148
As we have discussed, refresh-from-disk should do this only if the @clean node is empty.  Otherwise, refresh-from-disk uses the update algorithm as expected.

[2015-03-05 15:50] edreamleo commented on #147
I've just reported the bug to the Qt people: https://bugreports.qt.io/browse/QTBUG-44822
And also to the pyqt mailing list: pyqt@riverbankcomputing.com, archives at http://www.riverbankcomputing.com/pipermail/pyqt/

[2015-03-05 16:05] edreamleo commented on #147
Got an instant comment from the pyqt people::

Have you tried with more recent PyQt/Qt versions?

I can't reproduce this on Qt 5.3.2 on Debian Jessie with python3:

    from PyQt5.QtCore import QT_VERSION_STR
    from PyQt5.QtWidgets import QApplication, QTextBrowser
    a = QApplication([])
    tb = QTextBrowser()
    tb.setText('÷ Σ')
    print(QT_VERSION_STR)
    print(tb.toPlainText())

-> pri

[2015-03-05 16:06] edreamleo commented on #147
OMG, this is a big big problem.  Reselecting a node will change Σ into £ !

[2015-03-05 16:10] largo84 commented on #147
Hmm, wonder why this is just a Linux problem. I don't see that on Windows.

[2015-03-05 16:15] edreamleo commented on #147
@largo84 Right.  It's only a Linux problem, and only for "older" versions of pyqt such as PyQt 5.2.1.  Having said that, many people will be affected.

In the meantime, I really can't recommend using Leo with Python 3 on Ubuntu.

[2015-03-05 17:35] tbnorth commented on #145
I can't see whey yes-to-all should cause a problem.  But I do see a problem with no(-to-all).

If you're opening multiple outlines from the command line and say *no* (not no-to-all) to the *first* outline (assuming that all are in an "already open" state because of a previous improper exit), then readOpenedLeoFile() will call g.app.closeLeoWindow(c.frame) which will call g.app.finishQuit() which,

[2015-03-05 17:51] tbnorth commented on #145
The guard might look like this:

In doPostPluginsInit() the `for fn in lm.files` loop could set g._loading_last_file True/False

In closeLeoWindow() `elif not g.app.unitTesting` at the bottom would become
`elif not g.app.unitTesting and getattr(g, '_loading_last_file') is not False`

Very ugly, *but* I have to stress it looks like this issue would arise any time you click 'no' *or* no-to-all for t

[2015-03-05 18:58] edreamleo commented on #142
Fixed at 21a5ad1.

The bug was that onHeadKey changed the body text of the @bibtex node rather than the text of the newly-inserted node.  Very easy to fix.

But I rewrote virtually the entire plugin before I realized what the problem was. I'm glad I did.  The new code is much easier to understand, and possibly better in some respect.

Please report any further problems with this plugin.  They shou

[2015-03-05 18:58] #142 closed

[2015-03-05 20:15] edreamleo commented on #145
On Thu, Mar 5, 2015 at 11:51 AM, tbnorth <notifications@github.com> wrote:

​Thanks for all this work,

​> v​
ery ugly, *but* I have to stress it looks like this issue would arise any
time you click 'no' *or* no-to-all for the first already open file.

If you can confirm that, i.e. try clicking No, No, No... instead of No to
All, and still see the problem, that would corroborate my analysis.

​I o

[2015-03-05 21:00] edreamleo commented on #145
On Thu, Mar 5, 2015 at 11:35 AM, tbnorth <notifications@github.com> wrote:

​Hmm. We might be able to simplify both the user dialog and the supporting
code.​ Imo, there are really only two use cases:

1. Mistakenly trying to reopen one or more files when some/all are already
opened.

2. Trying to reopen one or more .leo files when they have been closed
prematurely, say by closing their console.

I

[2015-03-05 21:08] tbnorth commented on #145
That seems to confirm my findings, thanks. It seems that the segfault isn't an every time thing, but the incorrect program flow is what I'm seeing here, once g.app.finishQuit() is called dialogs don't open any more, myDialog.exec_() just returns immediately. Hence the cancelling of the whole load for one "No".

(In response to your more recent comment, I don't see a need to drop the "to all" optio

[2015-03-05 21:14] tbnorth commented on #145
Well duh, the guard can be an ivar of the LoadManager, that's clean enough, not *really* any different that tacking it on g, but it certainly looks a lot better.

[2015-03-05 22:32] #145 closed

[2015-03-05 23:05] edreamleo commented on #145
On Thu, Mar 5, 2015 at 3:08 PM, tbnorth <notifications@github.com> wrote:

​If multiple modules must see the guard my preferences are:

1: an ivar of LoadManager (g.app.loadManager).
2: an ivar of LeoApp (g.app)
3. a global defined in leoGlobals.

Which one is easiest depends on the details of the load process. Having
said that, I would be surprised if an LoadManager ivar couldn't get the job
done

[2015-03-05 23:06] edreamleo commented on #145
Well done, Terry.  Many thanks for fixing this.

[2015-03-05 23:35] edreamleo opened #149 "Clones can revert changes made by git discard even with --no-cache"
This just happened to me.  I had a my local leoPy.leo open and pulled Terry's fixes to #145.  I then quit Leo and reopened it (with caching enabled).  There was *no* message about changed nodes, so I was concerned.  I wrote all files with ctrl-shift-w, and yes, leoApp.py was changed.  Git diff confirmed that I had just undone Terry's work.  Naturally, I undid the reversion in git.  The only way to

[2015-03-05 23:53] tbnorth commented on #149
On Thu, 05 Mar 2015 15:35:20 -0800
"Edward K. Ream" <notifications@github.com> wrote:

I wonder if I messed things up.  I was making a lot of little tweaks to
my changes to make the diff as clean as possible.  I.e. not committing,
just editing, and then looking at the diff.  Could have done
`git diff leo/core/leoApp.py`, but instead I did
`git checkout leo/core/LeoPyRef.leo then git diff`, both ac

[2015-03-06 00:44] edreamleo commented on #149
On Thu, Mar 5, 2015 at 5:53 PM, tbnorth <notifications@github.com> wrote:

​I don't this can affect things.  All that matters is that leoApp.py
changed.​

​I never touch LeoPyRef.leo unless I add or delete @<file> nodes.

I don't see how *any* git work flow can be the culprit.  leoApp.py changed,
but Leo didn't get it. Simple as that. The next time I loaded leoPy.leo the
*old* contents of leoApp.p

[2015-03-06 12:31] edreamleo commented on #149
I can find nothing suspicious in the caching code.  Furthermore, the obvious tests of caching pass.  This is expected--caching mostly works.  For now, I am willing to call this a minor bug.  It is not a release blocker.

My plan: add caching-related traces enabled when --debug is in effect. If/when this bug bites again I shall be able to investigate without suppressing the bug's symptoms.

The wor

[2015-03-06 13:59] edreamleo commented on #148
Done at e5e5761.  Please reopen if there are problems.

[2015-03-06 13:59] #148 closed

[2015-03-06 14:00] edreamleo commented on #147
I am going to remove any target from this bug.  We may have to wait 6 months for this to be fixed in widely used linux distributions.

[2015-03-06 14:39] tbnorth commented on #143
Not a problem, but personally I prefer the QCompleter UI for
completion.  In fact I use this code in a @script to monkey patch
dabbrev:
[code]
which seems to be working. Just looking at it without remembering the code, it's hard to see how it does anything at all :-)

I think it would be good and probably a major code cleanup if Leo supported tab-key/completion-tab or QCompleter completion, select

[2015-03-06 14:40] edreamleo commented on #89
@maphew Matt, how important is this issue for you?  I'd like to continue to ignore it if possible :-)

[2015-03-06 21:24] #138 closed

[2015-03-06 21:31] edreamleo commented on #138
The new code passes minimal tests.  Please reopen if any problems are found.

[2015-03-07 11:43] edreamleo commented on #149
I can now produce a similar problem that exists *regardless* of the --no-cache option.  I think this is a clone update problem instead.  I may have to revise this FAQ entry:
How does Leo handle clone conflicts? http://leoeditor.com/FAQ.html#id30.

Start with this outline structure::

    To do:
        @file ../doc/leoToDo.txt
            (clone) To do: Leo 5.1 b1
                Docs
    (clone)

[2015-03-07 11:57] edreamleo commented on #149
I am removing the "minor" label and targeting the bug for b1.  This behavior is too confusing to tolerate.

[2015-03-08 14:22] edreamleo commented on #149
Early this morning I spent more than an hour carefully rewriting the << detecting clone changes >> section in leoAtFile.py.  Here it is:

QQQ

The read code uses the following *temporary* ivars to compute v.b and to detect clone conflicts:

- **v.tempBodyList**: accumulates lines of body text during reading.
- **v.tempBodyString**: contains the previous value of v.b, if any.

The vnode ctor must n

[2015-03-08 16:44] edreamleo commented on #149
Rev 5c6cb97 contains leo/test/clone-test.leo, a minimal .leo files demonstrating the bug as described before.  **Important**: The *initial* body text of Doc must be empty, and committed in git.

clone-test.leo will allow voluminous traces to determine exactly what is going on.

[2015-03-08 17:01] edreamleo commented on #149
The essence of this bug: reloading the .leo file retains the old body text in the Doc node, without any warning.  In particular, no "Recovered Nodes" node is created and no nodes are marked dirty. There is therefore *no* indication that ctrl-shift-w will overwrite data in the external file!

What should always happen is this:

1. Data in external files should always take precedence over data in th

[2015-03-09 10:56] edreamleo commented on #143
On Fri, Mar 6, 2015 at 8:39 AM, tbnorth <notifications@github.com> wrote:

​All patches gratefully accepted, especially from you, Terry.

EKR

[2015-03-09 12:14] slzatz opened #150 "Importing file to @clean produces section references following class constructor"
If you use File-> Import File ... every class has <<class XXXXX methods>> on the line after the class declaration.  These section references don't have corresponding sections defined and so are not helpful.  It requires either programmatically or manually going through the code and changing all those class method section references to @others.  Apparently, using c.recursiveImport doesn't have this

[2015-03-10 18:08] tbnorth opened #151 "parse-body creates "None declarations""
parse-body calls the declarations node "None declarations" when run in a node called `@clean /some/path/foo.py`, instead of calling it "foo declarations". May or may not depend on existence of file on disk.

[2015-03-10 20:15] technatica opened #152 "Parse the clipboard to support "Paste As RST""
This is a feature request.

The idea is to parse the text in the clipboard (rich-text, html etc.) and present the user with the option to "Paste As" rst source.

[2015-03-10 20:51] tbnorth commented on #152
On Tue, 10 Mar 2015 13:15:51 -0700
technatica <notifications@github.com> wrote:

The paste_as_headlines plugin sort of does this with indented text.  It
can be very handy at times.  Parsing HTML and additional formats for
structure is a big deal though, http://johnmacfarlane.net/pandoc/ does
it I guess, but that would be too large to be a dependency.

If you'd be happy with only parsing HTML... hm

[2015-03-10 21:14] technatica commented on #152
I only included html as an idea to increase the likelihood of it being
useful to others. My primary use is rst.

Chris

On Tue, Mar 10, 2015 at 1:51 PM, tbnorth <notifications@github.com> wrote:

[2015-03-10 21:41] technatica commented on #152
Pandoc works with the xclip utility as packaged for Debian Sid.

xclip -o -selection clipboard -t text/html | pandoc -r html -w rst

Chris

On Tue, Mar 10, 2015 at 2:14 PM, Chris George <technatica@gmail.com> wrote:

[2015-03-11 11:34] edreamleo commented on #149
This bug was fixed at rev 6439440.  There are several remaining issues re recovered nodes, but they do not affect this bug.

[2015-03-11 11:34] #149 closed

[2015-03-12 06:27] edreamleo commented on #151
Fixed at rev f16ba91.

[2015-03-12 06:27] #151 closed

[2015-03-12 15:36] SegundoBob opened #153 "Leo acts on some operator input when the Leo window is NOT the top window"
This problem is discussed in the Leo-Editor forum thread:
[code]
I can't reliably reproduce this problem, so I can't give you a test case that demonstrates it.

The symptom that I first noticed was unexpected, unpredictable changes in what the tree pane showed when I switched back to Leo-Editor after switching away from Leo-Editor by executing open-url.

Sometimes the node selected was unchanged,

[2015-03-13 16:59] tbnorth opened #154 "viewrendered is dead, long live viewrendered..."
viewrendered.py and viewrendered2.py should be merged so that only one remains. viewrendered2.py adds some useful functionality which should be kept. First step might be defining exactly the required behavior, which is perhaps simply that using viewrendered2.py should be no different from using viewrendered.py except for the additional functionality.

I'm going to create a new label for this, "cle

[2015-03-13 17:06] edreamleo commented on #154
Careful.  vr2 may not be a superset of vr.  For experimentation, I would suggest a vr3 plugin.

[2015-03-13 18:45] JohnLunzer opened #155 "Leo IPython error on new leo file"
When starting Leo in ipython mode if the first thing I do is create a new leofile (Ctrl+N) then I get the following output:

[code]

This happens every time I create a new leofile

[2015-03-14 16:36] JohnLunzer commented on #155
My discovery came from doing some experiments with a stand alone ipython qt console. I believe these issues are coming from using the Qt API v1 versus the v2 ( think it should always be using v2).

If you:
[code]

The second import will fail. This is the same error that Leo reports.

I found a lead on, http://cyrille.rossant.net/making-pyqt4-pyside-and-ipython-work-together/ which contains the fol

[2015-03-15 00:01] edreamleo commented on #155
Thanks for this research.  I'll look into it asap.  I'd like to fix this for b1.

[2015-03-15 01:32] JohnLunzer commented on #155
I found a resolution. Updating Ipython to 3.0.0. Now when you create a new Leo document there is no errors.

This does not bode well for those stuck with older Ipython installations but I'm guessing if you're using Leo you're probably not stuck with an old version of Ipython.

I will let you close this, as I'm not sure if this is a "good enough" resolution.

[2015-03-15 01:40] JohnLunzer opened #156 "ILeo errors not piped to Log and Do not show in Ipython console"
This one is pretty straight forward. If I run this command via Ctrl + B:

[code]

Without ILeo I get:

[code]

But when run with ILeo via "ipython-exec" I get no notification of any error. Either in the ipython console or the Leo Log.

[2015-03-15 11:35] edreamleo opened #157 "sort-lines problem"
Sometimes only the second execution of sort-lines takes.  This must be fixed for b1.

[2015-03-15 18:11] edreamleo commented on #157
Fixed at rev 696eb70.  All tests pass.

[2015-03-15 18:11] #157 closed

[2015-03-16 17:27] edreamleo opened #158 "Corrupt .leo files cause Leo to hang"
As reported by vitalije

this morning I found one of my Leo files,  that I worked on a few days ago, corrupted. While opening the file, Leo hanged and I had to kill it. After some examination of xml source I found that some of my last added nodes got the same gnx. One of them had child with the same gnx and that caused Leo to hang. I have changed manually gnx of the parent node in xml. When I fina

[2015-03-16 17:35] edreamleo commented on #158
Here are notes from my initial reply:
​
​> I strongly suspect it has something to do with recent changes in Leo write.
The write code doesn't allocate gnx's. Leo uses a "holding" logic during reads. Thereafter, gnx's are allocated when a vnode is created. The culprit is more likely to be elsewhere:

- Bug 130:  About rev c6c14ef on March 2. This changes how Leo calculates the smallest "safe" gnx t

[2015-03-16 19:34] edreamleo commented on #158
Rev 60d61e1 adds a *hack* that allows Leo to read at least some of the corrupt .leo files without looping.

I'm not convinced that the real problem involves gnx's.  Perhaps the @clean write code sometimes writes the root @clean node as its own child. That would cause Leo to hang as reported, even if the gnx-allocation logic were sound.  Indeed, the essence of the corrupt .leo file is::

    <v t="

[2015-03-17 13:36] edreamleo commented on #158
Here is the checkin log for Rev 96f8bc4:

The --check-outline command-line switch is now functional. OFF by default: it's expensive.
All tests pass regardless of the switch.
**Warning**: the gnx checks in c.checkOutline will hang if nodes are actually their own ancestors.
I'll add one or more safe generators asap.

[2015-03-17 14:51] edreamleo commented on #158
Rev a7d764a:

Added c.safe_all_positions and its helper, p.safeMoveToThreadNext.
p.safeMoveToThreadNext just calls g.error and returns p.moveToParent on serious structure errors.
c.checkGnxs (called by c.checkOutline) now calls c.safe_all_positions, so it shouldn't hang before it completes.  However, Leo will likely still hang later.

**Next**: p.safeMoveToThreadNext will allocate a new vnode when

[2015-03-17 15:44] edreamleo commented on #158
Rev ada9a0b:

Improved error correction on serious outline errors.
fc.createSaxVnode corrects the error only when --check-outline is not in effect.
p.safeMoveToThreadNext now simply *deletes* vnodes that are their own parents.
This strategy works with vitalije's erroneous file.

In short, --check-outline should be fairly safe for vitalije to use.

[2015-03-17 16:37] frakel opened #159 "headline command nodes '@rst-options' and '@rst-option option=value' have no effect"
The following nodes ('headline commands')
'@string rst3_stylesheet_name = mycss.css'
or
'@rst-option stylesheet_name = mycss.css'
or
'stylesheet_name = mycss.css' defined in the body section of '@rst-options'
as described in the Documentation <http://leoeditor.com/rstplugin3.html?#headline-commands>
take no effect on the paramaters handed over to the docutils processor. However, when defined as op

[2015-03-17 16:57] edreamleo commented on #159
Thanks for this report.  It will be fixed asap, and at least by b2.

[2015-03-17 17:23] edreamleo commented on #158
A **structurally-corrupted outline** is an outline in which a vnode is an ancestor of itself.
A **gnx-corrupted outline** is an outline in which two *distinct* vnodes have the same gnx.
A **corrupted .leo file** is a .leo file for which two distinct <v> elements have the same gnx.
Corrupt .leo files *always* cause the outline to become structurally corrupted when Leo reads it later.

Leo will almo

[2015-03-17 17:37] edreamleo commented on #158
**About error recovery in p.safeMoveToThreadNext**
At present, this method simply *deletes* nodes when the outline is seen to be structurally-corrupted.

Whoa!  Won't this lose data? Actually not.  There are two cases:

1. vitalije has never reported that Leo hangs while he was working on an outline. Therefore, p.safeMoveToThreadNext will not destroy data in such cases.  p.safeMoveToThreadNext mig

[2015-03-17 17:58] edreamleo commented on #158
Rev 5d482c8: **Settings to use instead of --check-outline**

Using these settings may be more convenient than using --check-outline::

    @bool check_outline_after_read = False
    @bool check_outline_before_save = False

The defaults are as shown.  Setting them both to True will partially take the place of --check-outline.
**Note**: These settings have existed for a long time, but I have only ju

[2015-03-18 09:12] edreamleo commented on #158
**Major bugs fixed in fc.createSaxVnode**
Rev f14a277 fixes three major problems in createSaxVnode:

1. The test ``if sax_node.tnx:`` is wrong.  It must be: ``if sax_node.tnx is not None:``.
2. Leo must *never* call ``ni.getNewIndex(None)``!  Instead, createSaxVnode now passes ``gnx=None`` to the VNode ctor which then calls ``ni.getNewIndex(v=self)``.
3. Similarly, the "recovery" code in createSax

[2015-03-18 13:11] LewisNeal opened #160 "@settings / @font-family does not work in local file"
Specifying fonts using @settings and @font-family = <font-name> does not work. Create a simple leo file with @settings and one node with some bodytext:

@settings
    @font-family = DejaVu Sans Mono
sample_node / (bodytext) will this font change?

There is no change to the font at all.
Rule 3. from the Basics of Leo>Configuring Leo does not override other settings.
... "3. Any other .leo file may

[2015-03-18 13:35] edreamleo commented on #158
It appears that I have been bitten by this bug myself.  On two occasions LeoDocs.leo has apparently lost data due to two nodes unexpectedly becoming clones under highly suspicious circumstances.  As a result, I have added the following two settings to LeoDocs.leo::

    @bool check_outline_after_read = True
    @bool check_outline_before_save = True

This instantly revealed a minor flaw in check-o

[2015-03-18 14:18] vitalije commented on #158
I have just updated Leo and while opening one of files that I have edited this morning, I have following message in Log pane
[code]

[2015-03-18 14:49] vitalije commented on #158
I have activated checks after read and before save and opened corrupted outline to fix errors.
I lost content of two nodes. One of them was read as clone of some other node and that way it lost original content. The other one had the same content as one of its children, but they were not marked as clones (otherwise they would make circular path).

Then, I have deleted one of wrongly cloned nodes a

[2015-03-18 16:03] tbnorth commented on #160
On Wed, 18 Mar 2015 06:11:08 -0700
LewisNeal <notifications@github.com> wrote:

Try

    @string font-family = DejaVu Sans Mono

There might have been a `@font` setting at some point, but I think the
above is what's used currently.

Cheers -Terry

[2015-03-18 18:19] edreamleo commented on #158
When I tried to save corrected Leo file, I got following error::

    multiple vnode with same gnx: [snip]
    1 nodes checked 1 errors
    outline not written

I got the same error today.  Leo should simply reallocate the gnx's and allow the file to be saved.  I'll fix this in the next hour or so.

Imo, the recent problems with duplicate gnx's arose from the bug that was fixed early this morning.

[2015-03-18 20:15] edreamleo commented on #158
Rev d006eb7 rewrites the check-outline logic.  It now re-allocates gnx's if the gnx is ``''`` or a duplicate. We'll see how well this works if and when it is needed.

c.checkOutline now returns the number of structural errors. fc.write_Leo_file will refuse to write the .leo file only if structural errors exist. Afaik, this has never happened while writing a .leo file: it is the *read* logic that c

[2015-03-19 02:54] edreamleo commented on #158
A few more tweaks to the checking code:

- c.checkGnxs now prints more detailed data to the console, and just an "OK" message to the log. Both console and log get the same detailed message in case of errors.
- c.checkGnxs now prints *all* error messages in red, not just the summary message.
- c.checkGnxs prints the time taken for the check.  About 0.15 sec for 10,000 nodes. No big deal.
- The chec

[2015-03-19 10:12] edreamleo commented on #160
This bug is invalid, although this area of the settings is confusing.

From leoSettings.leo#About this file, leoSettings.leo--> Basic setting nodes-->@font::

    **Important**: these nodes **only** specify fonts used by Leo's syntax colorizer.
    To set fonts in Leo's widgets, change Leo's master style sheet::

        @data qt-gui-plugin-style-sheet

    Valid values for the body of @font nodes

[2015-03-19 10:12] #160 closed

[2015-03-19 10:20] edreamleo commented on #158
I saw an unexpected clone late yesterday.  However, both clones were adjacent siblings and contained identical descendants, so it may have been simply a wayward keystroke.  The automatic check-outline settings were in effect all yesterday. They never complained.

I am reporting this here because as a note to myself to *save* any such unexpected .leo file before simply changing it!  It's important

[2015-03-19 10:26] edreamleo commented on #156
Thanks for this report.  I'd like to fix this before b1.

[2015-03-19 10:40] edreamleo commented on #155
I'm not quite sure what to do with this. Leo's --ipython options works with IPython 2.7 on both Windows and Ubuntu.  So perhaps this is more of an installation issue.

I think I'll close this.  There is nothing I plan to do, and the closed item will still be available for reference.

[2015-03-19 10:40] #155 closed

[2015-03-19 10:57] edreamleo commented on #158
I am seriously considering *always* checking .leo files after reads and before writes:
https://groups.google.com/d/msg/leo-editor/9STvVMI5Ku4/NpmRqkLJU0AJ
This would make Leo safer and would remove several options, including --check-outline.

[2015-03-20 01:58] edreamleo commented on #159
**Major code cleaning** Oh dear, I hope I wont regret this ;-)

Rev 262c131 (and following) contain many changes preparing for a new way of handling options for the rst3 and code-to-rst commands. The checkin log::

    Many changes to leoRst.py, preparing to redo how it handles settings.
    Most changes are simply cosmetic.  The real changes:

    - Added top-level new_settings switch.  Now OFF.

[2015-03-20 13:14] JohnLunzer opened #162 "Valid language list in Docs not up to date"
From http://leoeditor.com/directives.html:

This ignores a huge number of languages that Leo actually supports as found in leo\modes:

This list could easily be automatically generated in the docs.

**Frankly the difference between the two lists is bad advertising for Leo!!**

[2015-03-20 18:38] edreamleo commented on #162
Thanks for this.  Worse, the sentence above, "A node may contain at most one @language directive" has been wrong for a year or more.

[2015-03-20 19:23] edreamleo commented on #159
As discussed [here](https://groups.google.com/d/msg/leo-editor/g6z9P0rPBCs/ELwB89U3KfAJ) we could say that this bug is invalid.  @rst-option/s nodes do work, but they work only for descendants!  This is not likely to be too useful. It may be that not allowing @rst-option and @rst-options in headlines would be best.

In any event, I am thrilled with the new code.  Much simpler, and much faster.

I

[2015-03-20 19:29] edreamleo commented on #159
**New setting**: ```@bool rst3_silent (default False)```

This suppresses the status messages that tell which files have been written.  In practice, these messages aren't very helpful, and they significantly slow the rst3 command.  Coming soon: the rst3 command will always report the *number* of files written.

[2015-03-20 21:01] edreamleo commented on #159
The [rst3 reference](http://leoeditor.com/rstplugin3.html#theory-of-operation) now contains reformatted and updated documentation.

[2015-03-21 00:37] JohnLunzer commented on #158
I'm pretty sure that I updated my installation after your last comment 2 days ago, and I was still getting corrupted clones and losing clones. When I enabled --check-outline the issues seemed to go away. Sorry I can't provide more details.

[2015-03-21 04:19] edreamleo commented on #158
On Fri, Mar 20, 2015 at 7:37 PM, JohnLunzer <notifications@github.com>
wrote:

​There was a period in which the Leo code could have produce .leo files
that were time bombs: they would cause problems when next opened.  This is
reason enough always to check .leo files before writing them and after
reading them.  It will happen tomorrow.

Edward

[2015-03-21 04:23] edreamleo commented on #159
I am going to close this item.  No further work is planned before b1, and besides any work would be an enhancement, not a bug fix.

[2015-03-21 04:23] #159 closed

[2015-03-21 06:29] edreamleo commented on #158
Leo just reported a clone clash after cutting an outline from leoSettings.leo and pasting into leoPy.leo::

    # Only in console.  Should also go to log.
    getLeoOutlineFromClipboard can not happen: index clash ekr.20150320233042.9
    <VNode be2b530 @string rst3_ignore_prefix = @rst-ignore>

    # Reported to the log and to the console.
    multiple vnodes with gnx: u'ekr.20150320233042.7'

[2015-03-21 13:43] rossburnett opened #163 "Internal Leo error in createSaxVnode"
Using Git repo info: branch = master, commit = 42f1065f3e14
Python 3.4.2, PyQt version 4.8.6

Leo.py was downloaded this morning from github leo-editor\leo-editor-contrib

Console:
reading settings in E:\Users\Ross\Documents\Leo\leo-editor-contrib\StudyOutlines\python.leo

Internal Leo error in createSaxVnode
duplicate gnx: 145 in <VNode 7cf7048 PyObject_Call (abstract.c)>
Called from readSaxFile,

[2015-03-21 14:00] edreamleo commented on #163
On Sat, Mar 21, 2015 at 8:43 AM, rossburnett <notifications@github.com>
wrote:

​Thanks for this report.  Clearly something is seriously wrong with Leo.
The present strategy is described here
<https://groups.google.com/d/msg/leo-editor/AHKEX6dOp-A/3j1lw2_JE3UJ>.

EKR

[2015-03-21 14:12] edreamleo commented on #163
Likely a duplicate #158.  I'll leave it open, though.

[2015-03-21 14:15] rossburnett commented on #163
Same error with 5.0 from SF, in case that's any help.

[2015-03-22 16:35] rossburnett opened #164 "Find Previous will not continue if target word in headline"
This only happens when clicking the 'Find Previous: F2' button.  If using F2 key, the search proceeds to the next hit.

[2015-03-23 11:33] ktenney opened #165 "vim-open-file command"
The vim.py plugin offers the command 'vim-open-node' which allows editing the current node contents in Vim.

vim-open-file, if called while in a node associated with an external file, would open the _file_ for editing.

Leo would want to track cursor position, matching current line upon Vim startup, and again in Leo when Vim saves and exits.

Upon returning to Leo, a 'Refresh from disk' would also

[2015-03-23 14:04] edreamleo commented on #165
@ktenney As you know, this has been a frequently requested feature in other forms.  This way of doing it should be straightforward.  I've targeted it for b2.

[2015-03-24 13:55] edreamleo commented on #163
I am going to close this issue.  Please reopen if there are further problems.  Imo, ripping out the gnx-caching scheme is a complete fix.

[2015-03-24 13:55] #163 closed

[2015-03-24 13:57] edreamleo commented on #158
I am going to close this bug.  Ripping out the gnx-caching scheme should be a complete fix.
In the unlikely event that problems remain, they would not be as serious because of Leo's new recover logic. As a result, I have also removed the major label.

[2015-03-24 13:57] #158 closed

[2015-03-24 19:35] edreamleo commented on #141
Hmm. I'm not sure why I opened this bug.  A unit test for paste-retaining clones has never failed.

It may be that I was investigating paste-retaining clones from one Leo file to another, but I think we are all agreed that such cross-file pastes should not *ever* try to retain clones.

Imo, Leo should prohibit paste-retaining clones if the paste is not into the same .leo file that copied or cut th

[2015-03-24 19:55] edreamleo commented on #141
Fixed at rev f9d0862.  Added g.app.paste_c.

[2015-03-24 19:55] #141 closed

[2015-03-25 05:11] edreamleo commented on #135
Fixed at rev f5eccd3.

[2015-03-25 05:11] #135 closed

[2015-03-25 11:55] edreamleo commented on #122
Rev 4ee37fc attempts a fix, but more testing is needed in a more realistic environment.
I'll close this bug for now.  Please reopen if there are further problems.

[2015-03-25 11:56] #122 closed

[2015-03-25 13:19] edreamleo commented on #127
Rev b42e8b5 *partially* fixes this bug.

Bracket matching and match-brackets now do nothing for perl and javascript.

Imo, that's good enough for now. I am going to mark this as a minor bug and remove any target date.

[2015-03-25 16:16] edreamleo commented on #164
Fixed at rev d9f56ca.  The fix was a fairly ugly hack applied to both the F2 and F3 button code.

[2015-03-25 16:50] edreamleo commented on #164
I am going to reopen this.  The fixes will skip the selected headline, even though it might contain a match for the search.  Not terrible, but not great either.

This is a *much* harder problem than you might suppose: clicking a find *button* destroys focus, and that makes restarting a search difficult. I'll attempt a fix later today, but no guarantees. It is crucial that any fix not affect the re

[2015-03-25 17:10] tbnorth commented on #164
On Wed, 25 Mar 2015 09:50:49 -0700
"Edward K. Ream" <notifications@github.com> wrote:

http://doc.qt.io/qt-4.8/qapplication.html#focusChanged

might tell you the previous focus?  I'm surprised

http://doc.qt.io/qt-4.8/qfocusevent.html

doesn't tell you what had focus before, but it seems not.

Cheers -Terry

[2015-03-25 20:21] edreamleo commented on #164
@tbnorth Knowing the previous focus is useless, because the tree's edit (headline) widget is *destroyed* by the mouse click.  More details to follow in the discussion of the bug fix.

[2015-03-25 20:59] edreamleo commented on #164
Rev cddd027 fixes this bug about as well as possible.  Here is the checkin log, slightly revised::

    A much better fix for bug # 146. All tests pass.

    This bug results from subtle differences between button searches and key searches:

    - Pressing the button changes focus, so...
    - The headline widget goes away, so c.edit_widget(p) is None, so...
    - initInteractiveCommands, gets Non

[2015-03-25 20:59] #164 closed

[2015-03-26 12:02] ktenney commented on #165
capabilities exist to offer cursor positioning in both directions,
to place the cursor in Vim where it had been in Leo:

vim myfile +10
opens myfile with the cursor at line 10

returning to Leo is a bit convoluted, but seems doable
http://vim.wikia.com/wiki/Restore_cursor_to_file_position_in_previous_editing_session

vim is editing <extfile>, the session data will be saved in /tmp/vim_leo.bridge
$

[2015-03-26 13:47] edreamleo commented on #165
On Thu, Mar 26, 2015 at 7:02 AM, Kent Tenney <notifications@github.com>
wrote:

​Thanks, Kent.

Edward

[2015-03-26 14:23] edreamleo opened #166 "Fix icon hooks in plugins, etc."
Initial reports by John Lunzer

clone-find-all on ``iconclick[12]`` and ``icon[dr]click[12]`` shows the following plugins use these non-functional event hooks:

- [x] FileActions.py
- [x] active_path.py (docstring / comment references only)
- [x] at_view.py
- [x] expfolder.py
- [x] mime.py
- [x] mnplugins.py
- [x] nodeActions.py
- [x] run_nodes.py
- [x] startfile.py
- [x] textnode.py
- [x] xemacs.

[2015-03-26 15:47] tbnorth commented on #166
I made the list of plugins into a checkable todo list, lines just need to start with "- [ ] ".

[2015-03-26 18:35] edreamleo commented on #166
On Thu, Mar 26, 2015 at 10:48 AM, tbnorth <notifications@github.com> wrote:

​I didn't know that!  Thanks.

EKR

[2015-03-26 22:28] osleg opened #167 "Unable to initialze bridge with gui='nullGui' with no PyQt4 installed."
I belive that leoBridge should provide access to leoBridge without using PyQt4 (correct me if I wrong)
As for now when trying to initialize controller with gui='nullGui' (which is default btw) leo fails on assertion at line 123@leoBridge.py
Further checking showed that leo just fail on lines 116/117 on import and initializing leoApp()
Is this expected behaviour? How should I run it without pyqt4 i

[2015-03-27 01:40] rossburnett opened #168 "check_gnx error with new 5.1-b1"
Internal Leo error in check_gnx
getNewIndex: gnx clash 145: v: <VNode 797dcc0 newHeadline> v2: <VNode 7945240 PyObject_Call (abstract.c)>
Called from createSaxChildren,createSaxVnode,__init__(leoNodes.py,line 1961),new_vnode_helper
Please report this error to Leo's developers

There were dozens of similar errors on the console.
I got this when opening the python.leo from the leo-editor-contrib/stu

[2015-03-27 11:48] edreamleo commented on #168
On Thu, Mar 26, 2015 at 8:40 PM, rossburnett <notifications@github.com>
wrote:

​Thanks for this report.  Problems with python.leo were reported before.  I
should have changed it, but didn't.

Edward

[2015-03-27 12:05] edreamleo commented on #167
@osleg I agree, leoBridge should run without PyQt4, but I wouldn't be surprised if it didn't.  This issue has never come up before.  I'll look into this.  In the meantime, the workaround is to install PyQt4/5 :-)

[2015-03-27 12:30] edreamleo opened #169 "Minor: import-file does not preserve gnx of root @file node"
I'm wrestling with this just now.

Somehow @file leoBridge.py got dropped out of my local copy of LeoPyRef.leo recently, and that means that LeoPyRef.leo also lacks @file leoBridge.py.

No real problem: import-file creates the missing @file tree.  However, it assigns a *new* gnx to the root node.  That's not best: when I write the file the external file gets the new gnx, which destroys a little bi

[2015-03-27 14:08] tbnorth commented on #166
I wonder how many of these plugins are active / working / maintained.  active_path definitely, but I don't recognize most of the rest.  You can do this:
[code]
to get a list of commits touching each plugin, and from that read the messages to see if there are any that are not part of bulk updates, like "Cleaned init methods of many plugins", "A mass update of plugins...", etc.

[2015-03-28 03:28] edreamleo commented on #167
Recent revs apparently fix this bug.  Please try things out and report your experiences.  I'll leave this issue open for awhile. The general strategy:

- The leoQt module now defines everything to be False or None when neither PyQt4 or 5 can be imported. When the ``strict`` switch is off (as at present), no exception will be thrown.

- Several of Leo's core files define a class only if a symbol im

[2015-03-28 03:30] osleg commented on #167
Thank you for fast response, will try it tonight and will report back

[2015-03-28 03:32] edreamleo commented on #167
You're welcome.  It was an interesting puzzle.

[2015-03-28 12:32] ktenney commented on #167
I would like to be able to exploit the data store capability of Leo even on
server
machines, without any gui capability. I hope LeoBridge will be able to
function
in a text-only environment.

On Fri, Mar 27, 2015 at 10:30 PM, Alex Kir <notifications@github.com> wrote:

[2015-03-28 14:47] edreamleo commented on #167
@ktenney

::

    I would like to be able to exploit the data store capability of Leo even on server machines,
    without any gui capability.
    I hope LeoBridge will be able to function in a text-only environment.

Yes, of course.  But many plugins won't load in a text-only environment, and there is no real reason to modify so the load "nicely" in such environments.  If you are going to use the

[2015-03-29 00:25] slzatz opened #170 "Update @<file> trees when corresponding external files change outside Leo"
The request is for a running instance of Leo to have an @settings switch or some other mechanism that causes it to track externally referenced files for changes since the last leo-initiated save and alert the user that a file has been changed outside leo.  The alert should allow the user either to reload the file or ignore the external changes such that they would be over-written the next time Leo

[2015-03-29 21:03] edreamleo commented on #167
Disabling a single unit test allows all tests to run to completion from the bridge when PyQt **is** installed.

Enabling traces for the GeneralTestCase class in leoTest.py revealed that the crash was in the test: ``@test interfaces using API classes``.  It starts with the following code, which has no chance of working in the bridge:

[code]
I am going to close this now.  Please feel free to reopen

[2015-03-29 21:03] #167 closed

[2015-04-01 09:57] edreamleo opened #171 "Improve handling of @command and @button nodes"
There are several issues, none serious, but all should be fixed by b2/final.

**Terminology**

A **script node** is an @command or @button node.
An **empty script node** is a script node without body text.
A **script** is body text of a script node.  For empty script nodes, see point 4 below.
A **common script node** is a script node defined in myLeoSettings.leo.
A **common script** is script of a

[2015-04-01 10:19] edreamleo opened #172 "repeat-command-in-history, with tab completion"
Completed at e654998 Improve the [order]( https://groups.google.com/d/msg/leo-editor/IHUVyGZdZqY/4KaePm9o3X8J) in which commands in the history.

[2015-04-01 10:45] edreamleo opened #173 "Script history and related commands"
Low priority.

Leo's ``execute-script`` command might support **script history**.  A global dict, say ``g.app.scriptHistoryDict``, will associate names with scripts. Keys will be the headlines of the top node of the executed script.  Values will be the script itself, or a callback function that executes the script.

Similarly, IPython scripting commands could support **IPython script history**.

*

[2015-04-01 12:32] edreamleo commented on #171
Checklist for this bug:

- [ ] Store common scripts in ``g.app.commonScriptDict``.
- [ ] Never open myLeoSettings.leo to find a common script.
- [ ] ``<Alt-x>@<tab>`` shows source file of common scripts.
- [ ] Common scripts create entries in command history.
- [ ] Empty script nodes put their headline command in command history.
- [ ] **New**: Make sure all ``@button`` & ``@commands`` nodes show

[2015-04-01 18:52] edreamleo commented on #171
Re: never opening myLeoSettings.leo to find a common script.

**Summary**: The fix is easy and implies a wholesome change to existing operation.

At present, changes to an ``@button`` or ``@command`` node defined in ``myLeoSettings.leo`` will take effect when the common script is later executed.  That is, you can update common scripts dynamically.

Imo, this faux feature has no practical use.  Imp

[2015-04-01 21:14] jknGH opened #174 "wishlist: ability for minibuffer commands not to enter command history buffer"
It would be potentially useful to be able to enter a minibuffer command and have it *not* entered into the command history buffer.

In Bash, commands entered with a leading space work this way.

Thanks, Jon N

[2015-04-02 11:03] JohnLunzer opened #175 "Word/line wrap not wrapping"
I'm running into a situation where even with @wrap selected I'm not getting proper line wrapping. Below is one of my offending lines.
[code]
In other editors "words" that are very long and go beyond the wrap margin simply get chopped off when the hit the edge and the remainder sent to the next line, this is not particularly elegant but it's necessary.

[2015-04-02 11:58] JohnLunzer opened #176 "Outline pane does not scroll horizontally with node headline edit"
I have some particularly long @clean filenames because they are on network drives. Currently if I begin editing the node and move my cursor to the right beyond where the text is displayed in the outline pane my cursor simply runs off the screen.

Because of this I am not able to operate in a keyboard only mode. Even with the expand pane shortcuts my node headlines are still longer than what can be

[2015-04-02 12:11] JohnLunzer commented on #176
I just found that there are commands for scrolling the outline right and left.

While this offers a keyboard solution it is still not an intuitive one. First off the scroll-outline-right or scroll-outline-left shortcuts can not be used while the headline is in edit mode so this creates many extra keystrokes.

Again, my suggestion is automatic scrolling.

[2015-04-02 13:01] tbnorth commented on #176
My work around for that issue has been:
[code]
which I bind to ``edit-headline-long = Ctrl-Alt-E``

which brings the headline up in a dialog that may also be too narrow (although it does scroll sideways automatically).  Depending on your window manager, a quick double click on the title bar of the dialog may expand it to full screen width, which is nice for editing very long headlines.

[2015-04-02 13:57] JohnLunzer commented on #176
This is a great little command and a sufficient workaround. Is there no way to programmatically control the size of these popup dialogues?

If nothing else changes this command should be added to Leo. That said, if more than one person is working around this then it might be worth trying to integrate a more natural solution.

[2015-04-02 14:13] JohnLunzer commented on #176
I went into qt_gui.py and added in d.resize(1300,100) to runAskOkCancelStringDialog.

I recommend increasing this to at least 600 by default but moreover it should either auto adapt to the original string length or be a percentage of the screen size.

[2015-04-02 14:23] tbnorth commented on #176
On Thu, 02 Apr 2015 07:13:07 -0700
JohnLunzer <notifications@github.com> wrote:

Probably needs some optional keyword arg. for
runAskOkCancelStringDialog() seeing it doesn't need to be wide when
asking for small pieces of text which it may more typically be doing.

Or maybe runAskOkCancelStringDialog could just maximize width when the
default text is more than n characters.  Hmm, don't know how ea

[2015-04-02 14:44] JohnLunzer commented on #176
The primary reason to use this function is if the text string is too long so the typical usage would see longer pieces of text. My default width of 600 was motivated by that fact that it's unlikely that anybody's screen will be smaller than 640 width.

So this is my line now I added to runAskOkCancelStringDialog:
[code]

This is not perfect but you could even by default change the multiplier to 50

[2015-04-02 14:58] tbnorth commented on #176
On Thu, 02 Apr 2015 07:44:07 -0700
JohnLunzer <notifications@github.com> wrote:

Not really, that's the primary use of the `edit-headline-long` command,
the primary use of runAskOkCancelStringDialog is to request pieces of
text from the user, they may be long or short.

But I think your approach is good - I didn't know about g.windows().

I'll put it in to the trunk.

Are you interested in commit

[2015-04-02 15:51] JohnLunzer commented on #176
You are correct sir! I was getting the two confused, thinking runAskOkCancelStringDialog was specific to this case.

Thank you for the compliment, but I think commit privileges may be premature. I'll let you know when I'm ready ;)

[2015-04-02 16:08] tbnorth commented on #176
I pushed the wide text input in 6eee969 with a keyword arg. - it looked too odd for small texts to be on all the time.  So the workaround would be
[code]
now (just adding `wide=True`).  But I don't really think this fixes this bug, it's still jarring to not be able to easily edit a long headline. The ideal would be to have the headline edit widget notice it was too short and open a lightweight tex

[2015-04-02 18:32] edreamleo commented on #168
This was fixed several days ago at rev 64d2925 of leo-editor-contrib.

[2015-04-02 18:32] #168 closed

[2015-04-02 19:04] edreamleo commented on #171
I am going to close this issue now.  Afaik, all issues with ``@button`` and ``@command`` nodes have been resolved.

Surprisingly, we typically do *not* want ``@button`` and ``@command`` nodes to predefine entries in command history.  At least in my work flow, I want to gain "instant" access to just a few commands::

    cfa-x (for each file)
    sort-lines
    pylint

and maybe one or two more. In

[2015-04-02 19:04] #171 closed

[2015-04-02 22:24] edreamleo commented on #172
This issue was really two issues.  The important part has been completed.

``repeat-command-in-history`` is no longer needed. It seems like overkill.

**Reference**: ``repeat-command-in-history`` command would enter the minibuffer and will prompt for a command from command history.  This command would optionally support tab completion:  A tab in the log pane will show the commands in the history l

[2015-04-02 22:24] #172 closed

[2015-04-02 22:35] edreamleo commented on #174
This is likely going to be difficult to do.  It is likely to be of less important now that command history works as in other editors.

[2015-04-02 22:38] edreamleo commented on #173
I am going to close this.  I have no real intention of doing this.

[2015-04-02 22:38] #173 closed

[2015-04-02 22:45] edreamleo commented on #176
Thanks, John and Terry, for this exchange.  I am going to close this now, in the interest in housekeeping.

In the future, I would appreciate that discussions of enhancements appear first on leo-editor, not here.  There is substantial administrative work involved in keeping track of issues, and I would like to reduce that if possible.

[2015-04-02 23:04] edreamleo commented on #175
c.frame.body.setWrap (LeoQtBody.setWrap) handles wrapping the body pane.  The present code is:

[code]
w is a QTextBrowser, a subclass of [QTextEdit](http://doc.qt.io/qt-5/qtextedit.html). As you can see, Leo sets only the word-wrapping option.  Perhaps it should set a line-wrap option, documented [here](http://doc.qt.io/qt-5/qtextedit.html#LineWrapMode-enum). Feel free to experiment and suggest c

[2015-04-02 23:04] #175 closed

[2015-04-03 09:05] edreamleo commented on #106
The milestone says 5.1 b2, but in fact I'll do this just after releasing 5.1 final.

[2015-04-03 10:38] jknGH commented on #174
Hi Edward

 no sweat - it was only a minor point. I use this
feature occasionally in Bash, but haven't got a real-life use case in
Leo.

 Best Regards

 Jon N

On 02.04.2015 23:35, Edward K. Ream
wrote:

be of less important now that command history works as in other editors.

Links:
------
[1]
https://github.com/leo-editor/leo-editor/issues/174#issuecomment-89065465

[2015-04-03 10:58] JohnLunzer commented on #175
It looks like there is a best of both worlds option, "WrapAtWordBoundaryOrAnywhere", seen at http://doc.qt.io/qt-4.8/qtextoption.html

[2015-04-03 12:49] JohnLunzer commented on #175
I tested this using the quoted option from my previous post and it's works well. I recommend simply chaning "option.WordWrap" to "option.WrapAtWordBoundaryOrAnywhere".

[2015-04-03 13:10] edreamleo commented on #175
Rev c7d543f now uses WrapAtWordBoundaryOrAnywhere when word wrapping is in effect.

@JohnLunzer This is an excellent change.  Thanks for suggesting it.

[2015-04-03 21:00] edreamleo commented on #170
Rev a9ae978 contains the first draft of the implementation. From the checkin log:

- The check for changed files just uses the file's modification date. It could also examine a checksum.
- The code just calls c.refreshFromDisk to do an update.

The code was unexpectedly easy.  Please test and report your experiences.

I'll leave the issue open while I experiment with checksums.

[2015-04-04 12:24] edreamleo commented on #170
Rev 3da0f4f now uses checksums to ensure that the file has actually changed when the modification date changes.  This prevents an unnecessary prompt.

This rev also uses the excellent persistent singleton pattern described [here](https://groups.google.com/d/msg/leo-editor/K_cZP23S9U0/XMyf6N3FuCkJ).

This concludes this issue.  Please reopen if you find problems.

[2015-04-04 12:24] #170 closed

[2015-04-04 14:21] tbnorth commented on #176
This was a bug, not an enhancement, the extra flag on runAskOkCancelStringDialog was just to facilitate a workaround for the bug. I don't really think the workaround closes the bug, but given that fixing the bug properly might be quite difficult and the workaround helps a lot, I guess it can be closed. The `edit-headline-long` command above should really move in to core though.

[2015-04-04 19:32] JohnLunzer commented on #176
I would not consider this closed unless ```edit-headline-long``` was added to core as the functionality of editing long headline strings is difficult without it.

[2015-04-04 21:50] slzatz commented on #170
I have updated to the latest version but am not seeing any of the expected file modification warnings.  Is there a @settings that is off by default?

[2015-04-05 10:59] edreamleo commented on #170
Yes.  ``@bool check_for_changed_external_files = True``.

I could have sworn I documented this. Oh, I see.  It was in the project notes in leoProjects.txt.  Not exactly public :-) Thanks for pointing out the omission.

[2015-04-05 11:17] edreamleo opened #177 "Improve Find command"
Original suggestions from Reinhard Engel [here](https://groups.google.com/forum/?fromgroups#!searchin/leo-editor/log$20focus/leo-editor/9byY5qr73ps/Q6AckZUM2eYJ).

**First**: IMO it would be easier to show the 'not found <search term>' message at the bottom of the 'Find' tab and not in the 'Log' tab. There are some scenarios where this would help to keep the focus. One wouldn't have to switch back

[2015-04-05 11:23] edreamleo commented on #176
I am going to reopen this bug as a reminder.  Closed bugs quickly slip into oblivion.

[2015-04-05 11:23] edreamleo commented on #176
On Sat, Apr 4, 2015 at 2:32 PM, John Lunzer <notifications@github.com>
wrote:

​I've just reopened the bug as a reminder.

EKR

[2015-04-05 11:30] slzatz commented on #170
Works as expected - thanks.  I can imagine a future enhancement that shows the diff as you do on startup but the key feature is the capability now to edit in either leo or an external editor and be notified of changes to external files.  Thanks for this important addition to leo.

[2015-04-05 11:36] edreamleo commented on #170
@slzatz Leo always shows diffs for ``@clean`` nodes.  In this respect, ``@clean`` works better than ``@file``, which only shows diffs for cloned nodes.

This bug may be cleared, but I am about to merge four pieces of code into a new ExternalFiles class in leoApp.py. This will combine open-with code, the code from this issue, the mod_tempfname plugin and editnode_on_idle from the contextmenu plugin

[2015-04-05 23:19] JohnLunzer opened #178 "Add .bash using shellscript.py"
shellscript.py is identical to shell.py but right now in leoApp.py it looks like it's not being used.

Would it be possible to use shellscript for .bash file extensions?

[2015-04-06 02:52] technatica opened #179 "Search Selected Text <Wishlist>"
Would it be possible to have the selected text in the body pane or headline pasted into the <find pattern here> box when hitting Ctrl-F? This would be incredibly handy for my workflow.

1. Highlight text.

2. Ctrl-F

3. Focus transfers to Find tab with highlighted text already pasted into <find pattern here> box.

4. Execute F3.

You could provide a bool setting to turn #4 on or off, as sometimes

[2015-04-06 05:04] rossburnett commented on #179
I want it too.

[2015-04-06 11:09] JohnLunzer opened #180 "goto-prev-history-node bugged with bookmarks"
If you select a node using the mouse or keyboard and then navigate to a new node using a bookmark  and then use ```goto-prev-history-node``` it will successfully return to the previous node. However, if you navigate to another node using a bookmark without using the keyboard or mouse and try to use ```goto-prev-history-node``` it will navigate to the previous *bookmark* not the node that was previ

[2015-04-06 13:30] tbnorth commented on #180
Haven't been able to reproduce this - can you give a click by click procedure? Bookmarks call g.handleUrl which calls recursiveUNLSearch c.selectPosition c.frame.tree.select ...
c.NodeHistory.update

Point being that the higher level commands bookmarks.py uses to select a new node should be handling the update to beads.

[2015-04-06 14:32] JohnLunzer commented on #180
Create four nodes (name them what you want) and one bookmarks node. Create your bookmarks pane. Make bookmarks for the third and fourth nodes.

Navigate to the first node, then to the second. Use ```goto-prev-history-node``` and the first node should now be selected (as expected). Now navigate back to the the second node again using the mouse or keyboard. Now click the bookmark for the third node,

[2015-04-07 10:13] LewisNeal opened #181 "Focus remains in previous file"
Help > open LeoDocs
Ctrl-F do search for 'line number' select [Find Next: F3] button, until log reads not found 'line number'

Help > open Cheatsheet.leo
Ctrl-F. There is no focus in any pane. If you move the mouse over any pane without clicking, Ctrl-F does not activate in Cheatsheet.leo tab. Click on the Find Tab; the <find pattern here> field is highlighted blue but is not active for text entry

[2015-04-07 10:55] edreamleo commented on #156
I spent several hours on this last night.  No solution in sight.  Here is the best workaround I could find.  It has problems, explained below.

[code]

Any invocation of ``ipython-exec`` has two problems.  First, the output from stderr disappears (per this bug).  Second, the output of the print command (as in ``g.es_print_exception``) can appear (sometimes but not always) after the *next* invocati

[2015-04-07 13:27] JohnLunzer opened #182 "Long filenames do not wrap in notification dialogues"
For example when I get an "Overwrite existing file?" dialogue, if my file name is particularly long it won't wrap within the dialogue, just get cuts off.

I am speaking in particular of file names without spaces. I've tested it with file names with spaces and and the file name wraps correctly, but who uses spaces in their file names ;)

Probably this fix is similar to the previous word wrapping "b

[2015-04-08 22:04] JohnLunzer commented on #156
Thank you for your investigations.

[2015-04-09 20:38] technatica commented on #137
To be clear: I would like to be able to select a node and create a detached body editor that is locked to that node while leaving the core body editor tied to the tree and embedded in the editor. It should be functionally equivalent to the primary body editor.

[2015-04-10 16:23] edreamleo commented on #169
This may be minor, but it could have major impacts.  It must be pushed to Leo 5.2.

[2015-04-10 16:24] edreamleo commented on #165
This is too big a project for Leo 5.1.  It will be done early in the 5.2 release cycle.

[2015-04-12 00:10] edreamleo commented on #166
Rev bb94c34 completes work on this issue.  This issue is too minor to warrant further work.

From the checkin log::

Neither leo_pdf.py (not a plugin) nor leo_to_rtf.py plugin appear to work, although both now load without errors. leo_pdf.py is now officially an obsolete plugin.  leo_to_rtf.py is now officially an experimental plugin.

[2015-04-12 00:10] #166 closed

[2015-04-14 13:51] edreamleo opened #183 "Improve focus-border handling in qt stylesheet"
[Original post](https://groups.google.com/forum/#!topic/leo-editor/9AO-djbRTiw)

I plan to make this part of leoSettings.leo early in the Leo 5.2 release cycle.  The tweaks discussed below seem a bit much to put into 5.1-final.

Here is the present text of the ``@data qt-gui-user-style-sheet`` node in myLeoSettings.leo.

[code]
The only change from John's suggestion is separate handling of the ``Q

[2015-04-14 20:19] edreamleo commented on #143
Fixed at rev 2f474c6.  Added two unit tests.

Changed code of both ``Alt-/ (dabbrev-expands)`` and ``Alt-Ctrl-/ (dabbrev-completion)``. The new code works as expected. Please reopen if further problems appear.

[2015-04-14 20:19] #143 closed

[2015-04-19 19:33] technatica commented on #131
This happens for me as well.

Leo 5.1-final, build 20150419062316, Sun Apr 19 06:23:16 CDT 2015
Git repo info: branch = master, commit = 4243ee509d73
Python 2.7.6, PyQt version 4.8.6
linux2

Chris

[2015-04-21 17:59] gatesphere opened #185 "Easy way to edit leoRecentFiles.txt?"
There isn't an easy way to delete just a few old entries from Leo's recent files list.  Within Leo, users have the option of clearing it, or sorting it, or 'cleaning' it (no clue what that does, tbh).  The 'clear' option blows the whole file away, meaning you've lost all your history.

I generally resort to closing Leo, opening it in a text editor and pruning the lines I don't want, and then reope

[2015-04-22 09:58] edreamleo commented on #185
On Tue, Apr 21, 2015 at 12:59 PM, Jacob Peck <notifications@github.com>
wrote:

​There must be some real bugs lurking here.  Please file a bug report
<https://github.com/leo-editor/leo-editor/issues>.

Edward

[2015-04-22 12:16] gatesphere commented on #185
This is the bug report, it came from github 😃

-->Jake

[2015-04-22 16:33] edreamleo commented on #185
On Wed, Apr 22, 2015 at 7:16 AM, Jacob Peck <notifications@github.com>
wrote:

​Hehe.

EKR

[2015-04-23 17:39] edreamleo commented on #106
Whew.  Added this [pull request](https://github.com/Homebrew/homebrew/pull/38980) We'll see what happens...

Here is the updated leo.rb file that passes ``brew audit --strict Leo``:

[code]

It took quite awhile to grok what was going on.  Here are my notes:

[code]

[2015-04-24 09:54] edreamleo commented on #106
The homebrew people have made many suggestions for improving Leo's formula.  I'll make another attempt later today.

Here, I'd like to add to the previous post, to show the big picture.  Creating a pull request is actually pretty simple, as the [homebrew readme](https://github.com/Homebrew/homebrew/tree/master/share/doc/homebrew#readme) suggests:

    1. Fork Homebrew.
    2. brew create http://ex

[2015-04-24 10:23] ludwigschwardt commented on #106
Hi Edward,

Good luck with the formula! Homebrew is awesome but also a bit of a moving
target. No wonder they expect you to update every 24 hours :-) The Formula
Cookbook
<https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/Formula-Cookbook.md#formula-cookbook>
is
a must-read (and has changed a bit since I created the original formula,
especially the Python-related parts!)

On Fri,

[2015-04-24 11:11] edreamleo commented on #106
On Fri, Apr 24, 2015 at 5:23 AM, Ludwig Schwardt <notifications@github.com>
wrote:

​It will be easier to read now that I have made a first start.  In
particular, I missed the "testing" section the first time around.  That
should reduce the number of iterations.

​Interesting.

You don't have to issue a new pull request. Just add your changes to the

​Thanks for these tips.  I'll issue a new PR so

[2015-04-26 17:17] JohnLunzer opened #186 "Left Gutter Line numbers"
From Edward on the google groups:

Here is the original [link](https://john.nachtimwald.com/2009/08/15/qtextedit-with-line-numbers/) to the line numbers code using pyqt.

[2015-04-27 11:57] #169 closed

[2015-04-29 12:09] JohnLunzer opened #188 "Find/Replace All Suboutline only same as Node only"
I looked into this and I found a place in the code that may explain why "Suboutline only" does not work as I expect. This function in the node find.initBatchCommands (sets in_headline):

[code]
It looks like if self.suboutline_only is true it would do the same searching (just the current node) as if I selected "Node only".

[2015-04-30 20:27] edreamleo commented on #165
Rev e7fce93 implements vim-open-file.  Please reopen if there are problems.

[2015-04-30 20:27] #165 closed

[2015-05-01 14:29] edreamleo commented on #106
Here is the latest leo.rb:

[code]

This passes the following::

[code]

However, after:

[code]

I get the following:

[code]

This looks like an old version of leo.rb is being used, but a thorough search shows no such file.  Any help would be appreciated.

Edward

[2015-05-01 14:46] edreamleo commented on #5
I am going to close this.  It seems out of date.

[2015-05-01 14:46] #5 closed

[2015-05-01 23:50] edreamleo commented on #156
Interesting, syntax errors *are* sent to the console.  For example,

[code]
This generates the expected traceback on Windows, and a huge traceback on Linux.  Not sure why.

I've moved this item to the "Projects" list for Leo 5.2, meaning it can't be fixed in a few hours.  It will likely require deep study of the IPython sources.

[2015-05-02 14:32] JohnLunzer commented on #156
After trying to craft a separate solution and studying the depth of how Spyder handles integrated IPython consoles I completely understand the decision and support it.

I hope that I am able to find time to contribute to a solution but as I continue to use Leo my list things I want to improve has become longer by the day. Leo is more valuable right now as an Outlining Editor and PIM and it's what

[2015-05-05 00:44] tbnorth commented on #154
Note: Make sure #96 is not resurrected.

[2015-05-05 00:44] tbnorth commented on #96
Bug from Launchpad:

This bug does not appear to be present for viewrendered2.py

Hmm, I don't see it for viewrendered.py - I'll mark it closed, but added a note to #154.

[2015-05-05 00:44] #96 closed

[2015-05-05 13:51] edreamleo commented on #96
On Mon, May 4, 2015 at 7:44 PM, tbnorth <notifications@github.com> wrote:

​Thanks for this investigation, Terry, I appreciate it.

EKR

[2015-05-06 14:16] tbnorth opened #189 "Better support for UNL navigation of Leo's code"
After an IRC discussion between @gatesphere @edreamleo @tbnorth some useful UNL enhancements were conceived.

When you right click the UNL displayed in the status bar you can toggle the mode to get an UNL starting with file:// that can be pasted into a body and ctrl-clicked to go to that UNL.  A couple of new commands would make this much more efficient / useful.

EKR: Hah.  I didn't know that ;-)

[2015-05-06 14:17] tbnorth commented on #189
Another option would be to have get_UNL replace /some/path/somewhere with {{g.app.leoDir}} as appropriate.

[2015-05-11 10:23] JohnLunzer opened #190 "Disappearing +/- expansion boxes in outline"
Create a node with a child and then a child to that child. Make sure everything is expanded. Contract only the parent node. Now copy the parent node and paste the parent node. Before expanding the newly pasted parent node change the headline. Now expand the pasted node with the headline changed and you will see a child node that appears to have no child. If you contract and expand this node again

[2015-05-11 13:49] tbnorth commented on #190
On Mon, 11 May 2015 03:23:50 -0700
John Lunzer <notifications@github.com> wrote:

Although the recipe was entertaining, it didn't work for me:

Leo Log Window
Leo 5.1-final, build 20150510115755, Sun May 10 11:57:55 CDT 2015
Git repo info: branch = master, commit = 7654f923e811
Python 2.7.6, PyQt version 4.8.6
linux2

Expanding the copied edited parent showed the two levels of children,
expanded.

[2015-05-12 13:23] JohnLunzer commented on #190
I'm on:

** isPython3: False
Leo 5.1-final, build 20150430065234, Thu Apr 30 06:52:34 CDT 2015
Git repo info: branch = master, commit = 6325d1c54d1b
Python 2.7.8, PyQt version 4.8.6
Windows 7 AMD64 (build 6.1.7601) SP1

This could definitely be isolated to the windows version of Qt.

[2015-05-19 13:09] edreamleo commented on #190
On Mon, May 11, 2015 at 5:23 AM, John Lunzer <notifications@github.com>
wrote:

​Many thanks for this research.  As you know, I've been busy with other Leo
matters lately.  I'll look into this asap.

If it's a Windows only issue it may not be possible to fix directly.  It
may be worth a Qt bug report in that case.

EKR

[2015-05-20 08:32] benzolius opened #191 "Leo doesn't start with Python 3.4"
There are 2 problems:

1. print statement - easy to fix:

diff --git a/leo/external/PythonTidy.py b/leo/external/PythonTidy.py
index 760a165..04bc959 100644
--- a/leo/external/PythonTidy.py
+++ b/leo/external/PythonTidy.py
@@ -5519,9 +5519,9 @@ class NodeYield(Node):
 def main():

     if DEBUG:
-        print 'Begin doctests.'
+        print('Begin doctests.')
         doctest.testmod()
-

[2015-05-20 10:43] JohnLunzer commented on #190
Not worries. I made a new finding in this which refines the behavior and may help debug it.

For completeness I'll copy the previous procedure and add in bold which part is slightly different:

Create a node with a child and then a child to that child. Make sure everything is expanded. Contract only the parent node. Now copy the parent node and paste the parent node. Before expanding the newly pas

[2015-05-20 12:58] edreamleo commented on #191
Fixed at 6aa2937.  That is, Leo now loads with Python 3. The beautify commands are mostly do-nothings with Python 3.

There may be some tricky issues involved in porting the code to Python 3. Furthermore, it's not clear that Leo should be using PythonTidy at all...

Nobody is downloading PythonTidy these days.  Instead, in the last month there have been 29,194 downloads of [autopep8](https://pypi.

[2015-05-20 13:44] benzolius commented on #191
Thanks for the prompt fix.

[2015-05-20 13:44] #191 closed

[2015-05-20 15:25] edreamleo commented on #191
Here is the checkin log for rev 234e39c:

    I am going to cut my losses and declare that he port of PythonTidy.py to Python 3 has failed.
    I plan to use PythonTidy to beautify Leo's code and then transition to autopep8 for further work.
    The code now simply issues a warning and does nothing if g.isPython3 is True.

Disappointing that so much recent work will soon be thrown away, but there

[2015-05-20 15:33] tbnorth commented on #191
On Wed, 20 May 2015 08:25:16 -0700
"Edward K. Ream" <notifications@github.com> wrote:

Unfortunate.  So applying autopep8 to external files - that's not
compatible with @file, is it?  Unless Leo's sentinels have no impact on
autopep8, in which case I guess that's fine.  @clean would work, of
course :-)

Cheers -Terry

[2015-05-20 16:04] benzolius commented on #191
I think, Leo's sentinels cannot impact autopep8 or any pep8 related tool, because they are only comments without any code on their line.

Cheers
Zoltan

[2015-05-20 18:44] edreamleo commented on #191
​​
On Wed, May 20, 2015 at 10:33 AM, tbnorth <notifications@github.com> wrote:

​autopep8 does work on external files with sentinels. The following fixers
should be disabled because the sentinels themselves count as blank lines:

E301 - Add missing blank line.
E302 - Add missing 2 blank lines.

A surprise: *autopep8 is about 10x slower than PythonTidy*! This
resuscitates my interest in Tidy.

I'm

[2015-05-30 07:45] vitalije opened #193 "goto-global-line doesn't work properly in @clean files"
similar bug as #138 but since it was solved and still is regarding @nosent files, I opened a new one with corrected title.

The same [example file](https://groups.google.com/group/leo-editor/attach/63f325cf79f6b2e9/nosent-goto-line-bug.leo?part=0.1) could demonstrate the problem, just turn @nosent file in @clean and goto-global-line command won't find the requested line.

[2015-06-05 13:01] JohnLunzer commented on #190
Another tidbit, this behavior appears to be purely visual and not functional. Using the keyboard I can still navigate into the nodes despite the tree not updating!

[2015-06-08 22:56] edreamleo opened #194 "Find Next **button** doesn't highlight body text"
From Lewis: in [leo-editor](https://groups.google.com/d/msg/leo-editor/aYIwGrc2qjw/XVLWUxj0P2IJ)

Find-Next highlights text in a node headline, but fails to find text in the body pane.

1. Open Leo file.
Create a node 'test_node' and add body text 'test_node'.
Search for 'test_node' using mouse-click on button Find Next: F3 highlights 'test_node' headline but not the body pane.
Using the F3 key wo

[2015-06-08 22:57] edreamleo commented on #194
My reply:

Clicking a button causes problems because it destroys focus.  ​I would really like to get rid of the find buttons :-)  Hmm.  Maybe a help button would be useful instead.

[2015-06-08 22:57] edreamleo commented on #194
Lewis's reply:

I was about to ask are you sure it's focus? In case 1, where the body text exactly matches the node text, the text is not found. However in case 2 the text is found straight away.

But you may be right about the focus :)
Follow case 1, but with an extra step:
1.  Open Leo file.
Create a node 'test_node' and add body text 'test_node'.
Search for 'test_node' using one mouse-click on

[2015-06-08 23:09] edreamleo commented on #193
Thanks for this.  I'll fix this soon.

[2015-06-09 13:35] edreamleo commented on #150
Fixed at rev 4ab250c.  Please reopen if there are further problems.

[2015-06-09 13:35] #150 closed

[2015-06-09 13:35] edreamleo commented on #193
Fixed at 5cab2da.  Please reopen if there are further problems.

[2015-06-09 13:35] #193 closed

[2015-06-09 13:58] edreamleo commented on #131
Fixed at rev c6aa962.  Please reopen if there are further problems.

[2015-06-09 13:58] #131 closed

[2015-06-09 15:54] CandyAngel opened #195 "fcol when using @first directive is inaccurate"
When using the @first directive, fcol and col (in the statusbar) are the same, but this is inaccurate as fcol should be 0 for the first character after "@first " (rather than 7.. or 8, depending how you count it).

[2015-06-10 04:07] edreamleo commented on #195
Fixed at rev c8adfe6.  Here is the checkin log:

[code]

[2015-06-10 04:07] #195 closed

[2015-06-10 12:23] edreamleo commented on #195
Rev 681169c changes the adjustments.

p.textOffset no longer adjusts section definitions because @others and section references can appear in the same node.  Everything will be fine in typical cases.  For example:

[code]
But fcol can be wrong in section definition nodes in contrived examples:

[code]
The fcol in the definition node will start at 0, not 4. I'm not going to fix this nit.

[2015-06-10 12:58] edreamleo commented on #188
As you say, initBatchCommands sets self.p to c.p.copy() for both node-only and suboutline-only searches.  But that does not mean that those two searches are same.  The actual searching is handled elsewhere.

[2015-06-10 13:03] edreamleo commented on #188
I am going to mark this item as invalid.  My tests pass.

Please reopen only if you can demonstrate that node-only or suboutline-only searches do not work as expected.  Note that the starting cursor position may affect all searches, which can be confusing but probably can not be helped.

[2015-06-10 14:28] edreamleo commented on #195
As of rev aab6818, fcol appears to be accurate in all situations, including section definition nodes.

**Note**: The present code is not so forgiving about matching section references and definitions: they should match exactly, including whitespace and capitalization within << and >>.  Yes, it would be possible to use forgiving matches, but that might impact performance significantly.

[2015-06-10 18:27] edreamleo commented on #182
Fixed at 531ad4c.  Various file dialogs now use g.splitLongFileName.

[2015-06-10 18:27] #182 closed

[2015-06-10 18:28] edreamleo commented on #162
Fixed yesterday at rev babb74c.  The fix is in LeoDocs.leo and on the web.

[2015-06-10 18:28] #162 closed

[2015-06-10 18:31] edreamleo commented on #181
Fixed today at 8b02e2d.  The fix was easy.
It's *possible* that this fix might also fix #153, but I wouldn't count on it.
Please reopen if necessary.

[2015-06-10 18:31] #181 closed

[2015-06-11 21:30] edreamleo commented on #136
Fixed at rev e11f6f0.
Please do not reopen this issue.  If other problems are found, please contact the author, Peter Mills.

[2015-06-11 21:30] #136 closed

[2015-06-12 07:32] tbnorth commented on #136
On Thu, 11 Jun 2015 14:30:14 -0700
"Edward K. Ream" <notifications@github.com> wrote:

On my list of things I want to do for Leo, although not at the top, is
"merge" the two viewrendered plugins - I started the functionality
checking (pseudo unit testing) needed, but haven't got further.  Anyway
I hope that this confusing division can be resolved eventually.

[2015-06-12 14:55] edreamleo commented on #177
Some editors use the following trick.  If either the search or replace text contain mixed case, then ignore case is forced off, but only for that search.  I'd like to experiment with this hack.  What do you think?

[2015-06-12 21:47] edreamleo commented on #136
@tbnorth I'll probably do the merge within a week, unless you object ;-)

[2015-06-13 06:26] tbnorth commented on #136
Not at all, please go ahead :-)  my leo time is still very limited and it's not top of the list.
Cheers -Terry

On June 13, 2015 9:47:56 AM NZST, "Edward K. Ream" <notifications@github.com> wrote:

[2015-06-13 15:36] JohnLunzer commented on #188
Maybe I don't understand what suboutline means. I can give a pretty specific instance of when this doesn't work. Create this outline:
* H: 'Winged' - B: ''
  * H: Plane - B:'wheels'
  * H: Bird - B: 'feet'
  * H: Man - B: 'feet'

Make sure the 'Winged' node is selected and do a Ctrl+F replace all 'feet' to 'footers'. Nothing will get replaced. Just from looking at initBatchCommands it looks like i

[2015-06-15 10:34] JohnLunzer commented on #188
I gave that whole file a look over again and you're right initBatchCommands doesn't seem like the culprit as it looks like it's only setting the start position. However something is still amiss.

[2015-06-15 13:14] LewisNeal opened #196 "traceback using graphcanvas.py"
Loading a leo file with some graph nodes, I get this traceback when graphcanvas.py is active. It occurred with recent build 73c2943c8b11.
All the output is to console. There are no tracebacks in the leo log.
I have disabled all plugins except backlink and graphcanvas.

** isPython3: True
Leo 5.1-final, build 20150613073508, Sat Jun 13 07:35:08 CDT 2015
Git repo info: branch = master, commit = 73c2

[2015-06-15 15:49] edreamleo commented on #188
I'll reopen this issue at least until I have time to look at your example.

[2015-06-19 14:02] edreamleo commented on #177
Completed at rev 65d40e.  Please discuss further changes before reopening.

1. Leo now shows find-status in the status area in the main window and the Find dialog if it exists.
2. Ctrl-F pre-loads any selected text into the search text.
3. If the search text contain mixed case, then ignore case is forced off, controlled by...
4. Added new @bool auto-set-ignore-case setting, True by default.

[2015-06-19 14:02] #177 closed

[2015-06-20 01:15] LewisNeal opened #198 "Find tab 'ignore case' tick box has no effect"
Using the standard Find panel 'ignore case' tick box has no effect.

Body text:
box
Box
BOX

A search for box only finds box.
A search for boX reports "not found: "boX"

Leo Log Window
Leo 5.1-final, build 20150619193204, Fri Jun 19 19:32:04 CDT 2015
Git repo info: branch = master, commit = 0a37a8212810
Python 3.4.3, PyQt version 5.4.2
Windows 7 AMD64 (build 6.1.7601) SP1

[2015-06-20 11:01] edreamleo commented on #198
Thanks for this report!  Rev 5a38f6c fixes several issues, including yours.  Here is the checkin log:

[code]

I'll close this issue now.  Please reopen if you find more problems.

[2015-06-20 13:40] edreamleo opened #199 "The "already open" logic hard crashes Leo"
Leo opens a dialog when opening a file that may already be open in another copy of Leo.  The options are Yes, Yes to All, No and No to All.

For me, choosing No almost always hard-crashes python, giving the dreaded "Python has stopped working" message.  Other options also can crash Leo, iirc.

Imo, this is the worst bug in Leo.  Yes, the dialog is a useful feature, but it must not ever crash Leo.

[2015-06-20 15:27] edreamleo commented on #183
Rev 162530 does as much on this topic as I choose to do at this time.  The checkin log explains my thinking:

[code]

[2015-06-20 15:27] #183 closed

[2015-06-20 21:32] tbnorth commented on #199
On Sat, 20 Jun 2015 06:40:14 -0700
"Edward K. Ream" <notifications@github.com> wrote:

There was once a reproducible issue with Yes To All, and when I traced
it back it was nothing to do with the dialog code, which I think you
mistrust because of the way it handles remembering "to all" answers ;-)

As best I can remember, the the problem boiled down to given a list of
three outlines A, B, C to ope

[2015-06-20 21:56] edreamleo commented on #199
@tbnorth > the problem boiled down to given a list of three outlines A, B, C to open, there were assumptions about global stuff being initialized by the loading of A during the loading of B and C which weren't true if the loading of A had been canceled.

Thanks for this.  Your analysis sounds right to me.

I'll discuss what seems to be a simpler alternative shortly in a new post.

[2015-06-20 23:05] edreamleo commented on #199
I've just posted a detailed design for how to handle already-open files [here](https://groups.google.com/d/msg/leo-editor/jBdD4KlCrEM/V7OmTpM379kJ).

In brief, the proposal is to always open possibly-open files, followed by a warning dialog that demands no immediate action from the user.

[2015-06-21 02:46] LewisNeal commented on #198
Edward,
Thanks for improving this function.
However there is another bug related to using the 'ignore case' tick box.
In the box examples given, a search for boX reports "not found: "boX" but it also immediately switches off the 'ignore case' tick box, and subsequent search conditions are changed without user requesting it.
I don't have rights to reopen issues so I hope you see this.

 Leo 5.1-fin

[2015-06-21 11:16] edreamleo commented on #198
@LewisNeal Thanks for this.  I'll fix this.

[2015-06-21 12:51] edreamleo commented on #199
Fixed at rev 5e4c4d3.  All tests pass.  From the checkin log:

[code]

[2015-06-21 12:51] #199 closed

[2015-06-22 15:04] edreamleo commented on #198
Fixed at 18e0de.  There are tricky issues involved, and it's possible that some edge cases remain.  Please reopen if necessary.  However, the present code is a great improvement over the old.

Furthermore, recent revs greatly improve the reporting of both failed and successful searches.  The status line indicates what setters were in effect.  Reporting the settings for *successful* searches is an

[2015-06-22 15:04] #198 closed

[2015-06-23 09:06] edreamleo opened #200 "goto-global-line logic is too complex and buggy"
There have been several bugs filed against the Alt-G (goto-global-line) command.  Although these bugs have been cleared, the Alt-G logic is complex and buggy.  In particular, goto.countLines appears to be buggy at present.

I would like to use a single, unified approach to finding the proper node and line within the node, given a line number into some flat text. You could call this an application

[2015-06-23 12:04] LewisNeal commented on #198
Edward,

The present code is a great improvement over the old :)
Reports in the status line, including the (ignore case) condition are most helpful.
A search for box or BOX works fine.

Here are some of those edge cases ;)
A search for boX , bOx , bOX , BOx or BoX fails. Leo reports not found: "boX", and also immediately switches off the 'ignore case' tick box. So it doesn't cope with mixed capita

[2015-06-24 13:49] edreamleo commented on #200
This is an Engineering Notebook entry. It discuss how to build on recent work (goto.scan_script_lines) to compute nodes/offsets in any @\<file> tree corresponding to line N of the external file.

Each kind of  @\<file> tree, (@asis, @auto, @edit(?), @file, @clean, @file, @nosent, @shadow) must be handled in a slightly different way, but the common strategy is as follows:

**Step 1**

Write the @\<

[2015-06-24 14:00] edreamleo commented on #200
To clarify:

- Use scan_sentinel_lines if  we are looking for line N of an external file that *does* contain sentinels.
- Use scan_nonsentinel_lines if we are looking for line N of an external file that does *not* contain sentinels.

[2015-06-25 13:32] LewisNeal commented on #181
Edward,
Thanks for fixing this. Verified on commit 0e5fa613f689

Lewis

[2015-06-26 11:18] edreamleo commented on #181
On Thu, Jun 25, 2015 at 8:32 AM, LewisNeal <notifications@github.com> wrote:

​You're welcome.  Thanks for the confirmation.  Just to be clear, the fix
happened at 8b02e2d
<https://github.com/leo-editor/leo-editor/commit/8b02e2d9f2a3afb1507ee3f99a65e9896aa71864>
.

Edward

[2015-06-26 11:42] edreamleo commented on #177
As of a1c8133, Leo now colors the find-status messages. Imo, this is important feedback.

The following settings are now in leoSettings.leo:

[code]

[2015-06-26 13:53] edreamleo commented on #200
This scheme has been a great success.  The scan_sentinel/nonsentinel_lines methods "just work".  This is a huge improvement over all previous approaches.

The goto.get_external_file_with_sentinels method was unexpected easy.  This method returns the result of writing the file *with* sentinels, even if the external file would normally *not* have sentinels.  A small, tricky mod to the atFile write c

[2015-06-26 16:08] edreamleo commented on #200
Rev aa7a09d completes the project.  Please reopen if there are problems.

**Note**: it will be difficult for any code to compute line numbers accurately for @asis trees.  I suspect that neither the present nor previous code work in all cases.  I don't consider this a serious problem.

[2015-06-26 16:08] #200 closed

[2015-06-26 18:44] edreamleo commented on #153
I am going to close this.  It does not seem to be a major problem, and it may have been fixed by 8b02e2d.

Please reopen if you are sure that the problem remains

[2015-06-26 18:44] #153 closed

[2015-06-26 19:28] edreamleo commented on #198
@LewisNeal

Everything appears to work properly with the present code, so I'm keep this issue closed.

[2015-07-01 13:08] edreamleo commented on #186
Completed at 5a78f7c.  Controlled by the following settings, with defaults as shown::
[code]

[2015-07-01 13:08] #186 closed

[2015-07-05 10:03] LewisNeal commented on #198
What is your windows setup? I'm interested in the PyQt version you are using.
Is it PyQt version 4.8.7 or 5.4.2 ?

[2015-07-05 10:16] LewisNeal commented on #194
The Find Previous: F2 **button** does work properly though.

Regards
Lewis

[2015-07-05 11:19] edreamleo commented on #194
That is to be expected, due to the order in which Leo searches headlines and bodies.

[2015-07-05 11:21] edreamleo commented on #198
On Sun, Jul 5, 2015 at 5:03 AM, LewisNeal <notifications@github.com> wrote:

​Python 2.7.4, PyQt version 4.8.6
Python 3.4.0, PyQt version 5.3.0

EKR

[2015-07-07 13:50] LewisNeal commented on #196
Thankyou for fixing this.
Lewis

[2015-07-08 18:57] edreamleo commented on #196
On Tue, Jul 7, 2015 at 8:50 AM, LewisNeal <notifications@github.com> wrote:

​You're welcome.

EKR

[2015-07-27 04:25] alacnorr opened #201 "Leo does not work with PyQt5 version 5.5.0"
Leo does not start after installing PyQt5 version 5.5.0.
Here is my traceback.

Traceback (most recent call last):
  File "D:\leo-editor\launchLeo.py", line 8, in <module>
    leo.core.runLeo.run()
  File "D:\leo-editor\leo\core\runLeo.py", line 63, in run
    g.app.loadManager.load(fileName, pymacs)
  File "D:\leo-editor\leo\core\leoApp.py", line 2688, in load
    lm.doPrePluginsInit(fileName, py

[2015-07-28 20:49] nrnrnr opened #202 "Does not run or install on Debian jessie"
Leo does not run or install on Debian jessie.  Adding the Ubuntu PPA was futile; apt can't find the package.

Cloning the git repo produced this error when trying to set up:

[code]

and produced this error when trying to launch directly

[code]

I have commit bbd641500d8a9e1b5b1b836512fe2cd1b0d275d3

[2015-07-28 22:18] tbnorth commented on #202
On Tue, 28 Jul 2015 13:49:18 -0700
Norman Ramsey <notifications@github.com> wrote:

At one point, and maybe still, not sure, setup.py was only used for (a)
building PPAs, and (b) confusing new users :-/

Have you tried these instructions:
http://leoeditor.com/installing.html
- if there are any Debian specific wrinkles we could update the docs.

Cheers -Terry

[2015-07-29 19:53] nrnrnr commented on #202
Yes, these are exactly the instructions I was trying to follow.
http://leoeditor.com/installing.html#installing-from-sources-linux
lists two ways to do it and both failed.  That's why I filed the bug report.

Norman

[2015-07-30 10:54] LewisNeal opened #203 "Leoeditor.com search can't read ctrl characters or punctuation"
I've been confounded by the website search function for a long time. Thankfully the discussion about documentation and a comment from Reinhard at https://groups.google.com/forum/?fromgroups#!topic/leo-editor/iYqxrPvr1qs prompted another try :)

examples: A search for 'mod_http.py' or '@clean' reports 'Your search did not match any documents.'
However a search for 'http' or 'clean' is successful.
I

[2015-07-30 14:41] edreamleo commented on #202
On Tue, Jul 28, 2015 at 3:49 PM, Norman Ramsey <notifications@github.com>
wrote:

​I am sorry you are having problems.  Hope they can be resolved soon.

​Iirc, setuptools is included automatically in Python 3 distributions.
Otherwise,it needs to be installed by hand.  ​

​Having said that, my guess is that git is not installed properly.​

​Have you been able to clone other git repos on your machin

[2015-07-30 15:48] nrnrnr commented on #202
Then please add instructions to your documentation.
Your documentation says Python 2.7 will work, and that's what I have:

: nr@labrador 56351 ; python --version
Python 2.7.9

Highly unlikely.  I use git very heavily, and I clone repos routinely.
I currently have git 2.1.4 installed.

Fine, but again, please update your documentation with instructions
along the lines of "if you launch Leo directly

[2015-07-30 16:47] edreamleo commented on #202
On Thu, Jul 30, 2015 at 10:48 AM, Norman Ramsey <notifications@github.com>
wrote:

​I'm not sure which is more difficult: writing documentation or reading it
;-)

http://leoeditor.com/installing.html#installing-packages

The problem we all have is that we just want to get the dashed thing
working, and reading documentation is the last thing we want to do.

Several people have been suggesting that

[2015-07-30 16:54] tbnorth commented on #202
On Thu, 30 Jul 2015 08:48:20 -0700
Norman Ramsey <notifications@github.com> wrote:

I agree that was unlikely to be the problem.

The first few lines of http://leoeditor.com/installing.html are:

  Leo’s minimal dependencies are:

  Python 2.6 or later, including all Python 3.x versions.
  PyQt. You may download PyQt4 or PyQt5.

although, a-ha, if you use the Contents box to skip to "Installing fr

[2015-07-30 16:56] edreamleo commented on #203
​> ​
Also it seems including *any* punctuation breaks the search.

​Thanks for this.  This may be a sphinx bug: I didn't write the javascript
for the search box.  I don't see anything obvious at http://sphinx-doc.org/
Not sure what the relationship is between sphinx and http://sphinxsearch.com
.

EKR

[2015-07-30 18:03] nrnrnr commented on #202
Thanks!  It would be great to add the dependency on setuptools (for Python 2.x).

[2015-08-11 12:14] JohnLunzer commented on #176
Terry's recent declutter-tree feature with the rule:

# show the last part of long filenames
RULE ^.{1,1000}([/\\])(.{30})
REPLACE …\1\2

(the number 30 is at the discretion of the user)

Along with Edit-headline-long (with still needs to be integrated into the core) this helps immensely to address this issue.

[2015-08-18 01:04] wesley628 opened #204 "can't using @ignore in @clean nodes"
when i using @ignore in @clean nodes, it always said "Orphan node", can't save the code file.

without @ignore, @clean just a tree-view code editor, pls fix this.

[2015-08-18 01:13] wesley628 opened #205 "@ or @doc does't work perfectly in @clean"
i check this doc of leo, http://leoeditor.com/directives.html#part-5-all-other-directives
in @clean node, the @doc only work like this:
@ aaa
@ bbb
@ ccc
@c

without @('@ bbb' -> 'bbb'), it will be transfer into comment in file(in '# xxxxx' form).

the @doc does work, but not perfectly, pls fix it.

[2015-08-18 14:55] edreamleo commented on #205
On Mon, Aug 17, 2015 at 8:13 PM, Wesley Jiang <notifications@github.com>
wrote:

​Hmm.  In my test the @doc section does not get written to the external
file, but does appear in the .leo file when reloaded.​

​ I'm not sure how easy this will be to fix.

Edward

[2015-08-18 15:10] edreamleo commented on #204
This is a typical restriction for @file, @auto, @shadow and @clean trees.  It can't be changed for @file or @auto trees because *all* data must reside in the external file.

It might be possible to allow @ignore subtrees in @shadow trees because the @ignore'd data could, in theory, be written to the private shadow file.  However, that would complicate the @shadow update algorithm.

Similar remarks

[2015-08-19 00:02] wesley628 commented on #204
i try @shadow it's same to @clean, can't use @ignore.
the alternatives for @ignore, i found @doc only. it's not so handy.

i think the best part of leo is : u can write your code and doc in 1 place, and use them to generate code file. to do this u have to choose which part IN file, and which OUT of file, the @ignore is the key. it's very important.

i still suggest to making @ignore usable in @cle

[2015-08-21 07:57] wangzhaohe opened #206 "each node content is same when open with gvim or gedit"
Leo 5.1-final, build 20150817140446, Mon Aug 17 14:04:46 CDT 2015

**head:**

@openwith gvim = Alt+Shift+Ctrl+V

**body:**

ext:
kind: subprocess.Popen
arg: "gvim"

When opening each node, the content is the first content which has been opened. Is this a bug?

[2015-08-21 15:45] edreamleo commented on #206
On Fri, Aug 21, 2015 at 2:57 AM, wangzhaohe <notifications@github.com>
wrote:

​Probably.  Iirc, there are some big problems with this feature, which then
got forgotten.  Thanks for the reminder.

Edward

[2015-08-22 01:26] wangzhaohe commented on #206
When will you fix it? I like this feature.

[2015-08-22 01:39] tbnorth commented on #206
Do you know the last date it was working? That would help identify the problem.
Cheers -Terry

On August 21, 2015 8:26:29 PM CDT, wangzhaohe <notifications@github.com> wrote:

[2015-08-22 02:43] wangzhaohe commented on #206
@tbnorth
I think it is noting matter to date.
Leo 5.1-final, build 20150817140446, Mon Aug 17 14:04:46 CDT 2015
You can find it easily!

[2015-08-22 03:54] #206 closed

[2015-08-22 03:56] tbnorth commented on #206
@wangzhaohe - I just wondered if you knew a date when it was working, to make it easier to find the date when it stopped working.  `git bisect` helped find it.

[2015-08-22 12:02] edreamleo commented on #206
On Fri, Aug 21, 2015 at 8:39 PM, tbnorth <notifications@github.com> wrote:

​I doubt it ever worked.  I think somehow fixing it got left off the to-do
list, and then I just forgot it.

EKR

[2015-08-22 18:02] tbnorth commented on #206
On Sat, 22 Aug 2015 05:02:50 -0700
"Edward K. Ream" <notifications@github.com> wrote:

Just for posterity, the reported bug was that "open in <external
editor>" on non-file node A and then non-file node B showed A's body in
both external files.  I fixed that.  I did not test writing /
editing / re-loading the text.  And also only evaluating the wrong body
behavior just described, it was working be

[2015-08-23 10:51] edreamleo commented on #206
On Sat, Aug 22, 2015 at 1:02 PM, tbnorth <notifications@github.com> wrote:

​Many thanks, Terry, for all your work on this issue.

Edward

[2015-08-25 10:11] wangzhaohe commented on #206
Sorry, I forgot the date that run ok with gvim.
OK, I have tested it and it run well.
Thanks!

[2015-08-25 15:38] rengel-de opened #207 "Bug in Find tab"
Leo 5.1, build 20150729220224

To reproduce the bug:

1. Activate the Find tab
    (By default, the option 'Ignore case' is deactivated.)

2. Enter an ALLCAPS term into the 'Find' field.

3. Press the button 'Find Next: F3'.

The bug:

    The option 'Ignore case' gets activated automatically, even if I don't want this.
     When I deactivate this option, it gets activated again, the next time I p

[2015-09-04 15:49] tbnorth opened #208 "external change overwrite protection only works once"
In d66846669 I fixed an unrelated niggle with symbolic links.  While there I noticed what I believe is a moderately serious bug at the end of leo-editor/leo/core/LeoPy.leo#Code-->Core classes-->@file leoApp.py-->class ExternalFilesController-->efc.utilities-->efc.has_changed.  See FIXME there.

Reluctant to change it because I think this code has received a lot of vetting in the past, but basicall

[2015-09-21 00:10] gitly-github opened #209 "Child nodes with the same names under different parent nodes cause "orphan node" errors."
Hello, this is the format I am going to use to represent a Leo outline:

[code]

---

In Leo, modeling an `@clean` node in the following ways gives you the following errors:

**1:** _No errors_
[code]

**2:** _No errors_
[code]

**3:** _errors writing: `/test.text`_
_Orphan node:  `<<b>>`_
_parent node: `@clean test.text`_
_not written: `test.text`_
_saved: `test.leo`_
[code]

**4:** _No errors_
[

[2015-09-21 01:58] tbnorth commented on #209
On Sun, 20 Sep 2015 17:10:03 -0700
gitly-github <notifications@github.com> wrote:

I'm not immediately able to reproduce this.  Checking:

a) you have `@others` in the `@clean test.text` node?

b) you're not /actually/ calling your node `<<a>>` etc.?  The << and
the >> will confuse Leo I think, they look like section references.

[2015-09-21 02:19] gitly-github commented on #209
a) Nope, I don't have `@others` located in the `@clean test.text` node. All that is in that node is a reference to the `<<a>>` and `<<b>>` sections. Inside of `<<a>>` I have a reference to the `<<b>>` reference, which should only refer to `<<a>>`s child-node `<<b>>`, and not `<<a>>`s sibling-node `<<b>>`.

b) Nope, these examples had no code inside of them, just section references (to showcase the

[2015-09-21 02:22] gitly-github commented on #209
Instead I'll just post the XML of the Leo file I used since GitHub isn't playing nice with the file I previously uploaded.

[code]

[2015-09-21 14:11] tbnorth commented on #209
On Sun, 20 Sep 2015 19:22:27 -0700
gitly-github <notifications@github.com> wrote:

Ok, I didn't understand what you were trying to do the first time.  I
don't think there's any easy solution to your problem, section
references are only supposed to be defined once in an outline.  I.e.
body text <<foo>> should reference the node called <<foo>> wherever
that node is, so if there's more than one, ther

[2015-09-21 14:46] edreamleo commented on #209
On Mon, Sep 21, 2015 at 9:11 AM, tbnorth <notifications@github.com> wrote:

body text <<foo>> should reference the node called <<foo>> wherever

​The rule, probably not stated explicitly anywhere, is that the first
descendant matching definition node is used. The search, as usual, happens
in outline order.  This is the obvious rule.

EKR

[2015-09-21 14:49] tbnorth commented on #209
On Mon, 21 Sep 2015 07:46:15 -0700
"Edward K. Ream" <notifications@github.com> wrote:

Ok, I shouldn't have tried to answer a question about section
references, seeing I don't use them.  So then what the OP's seeing
probably is a bug.

[2015-09-23 15:43] edreamleo commented on #208
Unrelated? The first time I looked at efc.has_changed, I didn't see the FIXME.  I reloaded using --no-cache just to be sure, but perhaps just reloading would have sufficed.  No way to know now...

You are giving me *way* too much credit :-)  I may have done a few hand tests during development, but I don't recall *any* related unit tests, which is poor practice for something this important.  Have y

[2015-09-23 15:49] tbnorth commented on #208
On Wed, 23 Sep 2015 08:43:34 -0700
"Edward K. Ream" <notifications@github.com> wrote:

Surely only related by spooky coincidence :-}

Yes, I confirmed the undesirable behavior exists with the lines in
place and goes away with the lines commented out.

[2015-09-23 15:57] edreamleo commented on #208
OK.  Feel free to comment them out.  We'll all test the results.

The lack of unit tests here is my responsibility, but it would be a very good thing to write unit tests that verify that various *sequences* of operations leave the cache in expected states.  Any help in this area would be greatly appreciated.

[2015-09-23 16:01] tbnorth commented on #208
On Wed, 23 Sep 2015 08:57:08 -0700
"Edward K. Ream" <notifications@github.com> wrote:

I don't see this as a caching related issue, just a timestamp based
detection of external file change where the users answer the first time
("don't overwrite") is forgotten the second time because of a spurious
update of the internal copy of the external modification time.

[2015-09-23 16:06] edreamleo commented on #208
On Wed, Sep 23, 2015 at 11:01 AM, tbnorth <notifications@github.com> wrote:

Thanks for the clarification. Still, the problem arises because of a
particular sequence of actions, and it would be best practice to cover the
relevant sequences with unit tests.  Not that I'm volunteering today ;-)

EKR

[2015-09-24 16:07] edreamleo commented on #208
Fixed as per the discussion at rev a0f95fe.

[2015-09-24 16:07] #208 closed

[2015-09-25 21:52] DjMorgul opened #211 "Saving untitled document on window close not working on Qt GUI"
After clicking Yes in the dialog asking to save the changes made, the program closes and nothing is saved, leaving the following error:

    Traceback (most recent call last):
      File "/leo-editor/leo/plugins/qt_frame.py", line 1297, in closeEvent
        res = c.exists and g.app.closeLeoWindow(c.frame)
      File "/leo-editor/leo/core/leoApp.py", line 1682, in closeLeoWindow
        veto = fra

[2015-09-25 22:43] tbnorth commented on #211
Confirmed. Ouch.

[2015-10-02 23:19] SegundoBob opened #212 "Yet Another Encoding Problem"
Description
--------------
Python 3.4 with PyQt5 has a problem with non-ASCII characters.
Python 2.7 with PyQt4 does not have this problem.

This problem is mysterious to me.  My simplest test case yaep01.leo does NOT show the problem.  But my very slightly more complicated test case yaep02.leo shows the problem.

Ctrl-C, Ctrl-V -- Changes all the non-ASCII characters in the body or headline paste

[2015-10-09 13:38] edreamleo commented on #209
The .leo file was useful.  It does indeed produce an error, but that error is, imo, correct.

Indeed, under the rules I stated above, both references to section << b >> resolve to the the first section definition node for << b >> in the outline, namely the node whose parent is << a >>.  As a result, the second definition node for << b >> is, in fact, an orphan.

This really, truly, is as expected.

[2015-10-09 13:38] #209 closed

[2015-10-09 13:46] edreamleo commented on #201
Thanks for this report.  What version of Windows are you using?

[2015-10-09 13:47] edreamleo commented on #180
What's the status of this issue?

[2015-10-09 14:48] tbnorth commented on #180
I suspect this is not really a bookmark specific problem.  Rather, the point in code execution where visited positions are recorded for ``goto-prev-history-node`` is to "high", so that a lot of things which change the selected node are missed by it.

What is the definition of visiting a node? It could be giving focus to the body editor, but that would be confusing, so it seems it should be having

[2015-10-09 18:17] edreamleo commented on #211
Fixed at b5e6da9f.

[2015-10-09 18:17] #211 closed

[2015-10-10 14:14] edreamleo commented on #212
I am having trouble cutting and pasting your two example files.  Please attach them to this conversation.

[2015-10-13 15:31] alacnorr commented on #201
At the time of reporting I was using Windows 8.1 x64. I am having the same issue now with Windows 10 x64. I use x64 versions of python and PyQt5. If I launch Leo from another python installation in the same machine (same python version 3.4.3 x64) but with PyQt4 x64, it works fine. Thanks in advance for your help.

[2015-10-15 18:41] afairy opened #213 "leo --ipython fails to connect with python3.5 and jupyter"
Error message after Leo tries connecting to ipython:

To connect another client to this kernel, use:
    --existing kernel-86433.json
Traceback (most recent call last):

  File "/Users/lo/Applications/leo-editor/leo/plugins/qt_gui.py", line 923, in runWithIpythonKernel
    ipk.new_qt_console(event=None)

  File "/Users/lo/Applications/leo-editor/leo/core/leoIPython.py", line 120, in new_qt_console

[2015-10-20 17:02] tbnorth opened #214 "ignore case won't stay off while searching"
at least with regexp search, when unchecked, it gets checked again an case is ignored

[2015-10-23 18:17] SegundoBob commented on #212
Did you get the files?
--------------------------
I sent them to you 2015-10-10 Sat 09:58 as attachments to an otherwise empty reply.  I thought I sent my reply  "reply list," but now I see that it doesn't appear in this "conversation."

Attach file to Conversation post
---------------------------------------
As you probably know, the "attach file" facility on this "conversation" only supports PNG

[2015-10-24 09:46] edreamleo commented on #212
On Fri, Oct 23, 2015 at 1:17 PM, SegundoBob <notifications@github.com>
wrote:

​No.  Feel free to send them to edreamleo@gmail.com.

Edward

[2015-10-26 15:11] tbnorth opened #215 "insert-file-name doesn't process ~"
~ isn't interpreted as /home/{username} by ``insert-file-name``

[2015-10-26 16:42] edreamleo commented on #215
Fixed at 1007e17c.  There could be nits left.  Let me know if so.

[2015-10-26 16:42] #215 closed

[2015-11-11 17:04] digulla opened #216 "Support for tables"
Please add support in Leo for table-based nodes.

Sometimes, you have data which fits the table format best. Editing tables in an ASCII editor is a pain.

To see the power of nested tables, have a look at https://github.com/aardappel/treesheets

[2015-11-11 17:12] tbnorth commented on #216
On Wed, 11 Nov 2015 09:04:24 -0800
digulla <notifications@github.com> wrote:

Have you tried the richtext plugin?  It has table editing.  If you need
to access the table data elsewhere, you'd need to parse the HTML, but
if you just want text in a table layout, richtext gives you that.

Cheers -Terry

[2015-11-13 23:52] jurov opened #217 "vim plugin does not work as described"
Using Leo 5.1-final, build 20151028094354 under Linux, gvim 7.4.769

Documentation http://leoeditor.com/plugins.html?highlight=vim#vim-py says:

Not working, I tried to add the setting to myLeoSetting to no avail. I have to issue vim-open-file comand to minibuffer. Can't find any vim related command in Commands menu, either.

File is not updated, nor when Vim is closed. Must be refreshed in Leo.

[2015-11-18 12:44] JohnLunzer commented on #190
This bug no longer occurs based on the directions I've given. Now upon paste the node fully expands with no missing nodes. I'm going to close this until it pops up again.

[2015-11-18 12:44] #190 closed

[2015-11-18 13:57] edreamleo commented on #190
On Wed, Nov 18, 2015 at 6:44 AM, John Lunzer <notifications@github.com>
wrote:

​Thanks for following up on this.

EKR

[2015-11-18 14:17] edreamleo commented on #217
On Fri, Nov 13, 2015 at 5:52 PM, Juraj Variny <notifications@github.com>
wrote:

​Thanks for this report.  I'll return to fixing bugs in the next day or so
and I'll have a look at this.

EKR

[2015-11-18 14:22] edreamleo commented on #213
Thanks for this report.  Keeping up with IPython can be tricky.  I'll look into this asap.

[2015-11-18 14:23] edreamleo commented on #214
This should have been fixed long ago.  It is very annoying.  Imo, the best thing may to kill the mixed-case feature/bug entirely.

[2015-11-18 16:19] technatica opened #218 "Select Text and Clipboard"
I use a spellcheck/thesaurus app called Artha (highly recommended) that can be invoked on selected text. In every other application on my Linux workstation (I tried 22 of them, including ones with no editing capability), you highlight the text and invoke Artha. Artha loads the highlighted text and provides its function.

If I highlight a word in Leo using the mouse, either via double-click or clic

[2015-11-18 16:31] edreamleo commented on #218
Thanks for the report.  I'll compare the two different ways of selecting text.  Presumably there is some difference.  Artha sounds promising.  I'll test any changes with it.

[2015-11-18 17:52] tbnorth commented on #218
On Wed, 18 Nov 2015 08:31:37 -0800
"Edward K. Ream" <notifications@github.com> wrote:

https://groups.google.com/forum/#!topic/leo-editor/Cj1vmPmniqs
analyses this problem, think it should be a straight forward fix.

Cheers -Terry

[2015-11-19 12:52] edreamleo commented on #218
Fixed at 0c89aff.

[2015-11-19 12:52] #218 closed

[2015-11-19 15:26] technatica opened #219 "Cursor Position on Paste"
I have a question.

It would be useful to me to have the position of the cursor retained when copy/pasting text.

For example: If I begin selecting a word/snippet of text from the left to the right and I paste it, the cursor remains at the end of the string. If I select from right to left and then copy/paste, the cursor still goes to the end of the string. It would be more consistent for me if it

[2015-11-19 15:49] JohnLunzer opened #220 "@spot bug"
Executing clone-to-at-spot with an @spot node selected causes Leo to become unresponsive and python process slowly eats up all system memory.

[2015-11-19 15:56] JohnLunzer opened #221 "goto-global-line navigating to wrong line reported by PyLint"
I've included my leo file which has a test file in it. After having the outline create the file do right click "Run Pylint" and then get the line number where it complains about "import pudb" and then use that line number in the goto-global-line command. In my most recent version of Leo it brings me to three line above the import line which is exactly the amount of leo directives in that same node

[2015-11-19 16:23] edreamleo commented on #219
I'm not sure the exact answer for this, but Qt's cursor positioning methods probably do not allow what you want. For example, see comments in qtew.setSelectionRange.

[2015-11-19 16:38] JohnLunzer commented on #219
I have experience with this issue and have solved it in my own (unreleased) refactoring plugin which needed to make sure that the cursor stayed in the same place after replacing an arbitrary number of strings of arbitrary length.

It *should* be a simple matter of injecting this code before the paste to save the cursor location:

[code]

and running this code after the alteration of the text to re

[2015-11-19 16:46] JohnLunzer commented on #219
There would also have to be a check to see if the cursor lined up with the beginning or the end of the selection, which should also be possible. If the cursor is set at the end of the selection then the difference of the length of the string under the selection and the pasted string would become ```offset```.

[2015-11-19 16:56] edreamleo commented on #214
Fixed at e03e20945. All tests pass.

*Note*: The @bool auto-set-ignore-case no longer has any effect.

[2015-11-19 16:56] #214 closed

[2015-11-19 17:06] edreamleo commented on #207
#214 probably fixes this. Please reopen if problems remain.

[2015-11-19 17:06] #207 closed

[2015-11-19 20:19] JohnLunzer commented on #219
Edward I have worked this out via the present interface for qtew (rather than the raw Qt interface I referenced in earlier posts). I removed the YScroll stuff (as extraneous) and it's a modest change to def pasteText.

In fact the final behavior is subtle enough that I'm not sure anyone who wasn't bothered by the original behavior would even notice if I submitted the changes. The new behavior feel

[2015-11-19 21:07] edreamleo commented on #219
On Thu, Nov 19, 2015 at 2:19 PM, John Lunzer <notifications@github.com>
wrote:

​    mySwitch = c.config.getBool('my-switch',default=True/False)

gets​

​the contents of @bool my-switch.

EKR

[2015-11-19 22:02] edreamleo commented on #188
@JohnLunzer I do see a failure with the find-all and replace-all command, as indicated in the title of this bug. However, Ctrl-F (start-search) and Ctrl-- (replace-then-find) work as expected.

I see the following error when doing find-all or replace-all in your example:

[code]

This warning comes from nextNodeAfterFail, so it's clear where the problem is.  Otoh, this is an exceedingly tricky met

[2015-11-20 00:09] edreamleo commented on #188
Fixed at a358e519f. All tests pass. Please reopen if problems remain.

[2015-11-20 00:09] #188 closed

[2015-11-20 00:19] JohnLunzer commented on #219
Done for qtew, not going to worry about headlines and minibuffer.

I would like the new behavior to be default. Like I said, most people are likely not going to notice it if they haven't taken note of the current behavior. The new behavior makes more sense in the fact that the cursor stays where it was before instead of jumping somewhere new.

[2015-11-20 00:48] JohnLunzer commented on #188
Problem does not remain. Thanks.

[2015-11-20 00:57] JohnLunzer commented on #178
Cleaning this up. This was done some time ago.

[2015-11-20 00:57] #178 closed

[2015-11-20 00:59] JohnLunzer commented on #179
In the meantime, to anyone wanting this I would recommend using the quicksearch plugin. It has had a lot of work done on it recently to make it even more useful than it used to be.

[2015-11-20 02:04] edreamleo commented on #179
Have you tried setting @bool preload-find-pattern = True?

The comment in leoSettings.leo: True: start-search (F3) automatically loads the Find Pattern.

[2015-11-20 02:06] edreamleo commented on #219
@JohnLunzer If the change is subtle, go ahead and make the new behavior the default for now.  We can always reconsider if people report problems.

[2015-11-20 13:30] JohnLunzer commented on #219
Checked in.

[2015-11-20 13:30] #219 closed

[2015-11-23 21:31] SegundoBob opened #222 "richtext plugin does not work with Python 3.4.3 & PyQt 5.2.1"
When I move focus to a @rich node, I get this error:
[code]
Test System
---------------
[code]
and
[code]

Xubuntu64 14.04
Python 3.4.3, PyQt version 5.2.1

The richtext plugin works with

Xubuntu64 14.04
Python 2.7.6, PyQt version 4.8.6

[2015-11-27 15:23] daveuu opened #223 "Right click context menu on outline tree nodes causes crash"
After a recent ArchLinux system update, Leo immediately exits because of a crash when right clicking on outline tree nodes. The instant the menu should appear, the whole Leo window disappears. I believe the relevant change was pyqt5-common 5.5-2 to 5.5.1-1 as packaged for ArchLinux. Below is version information and the traceback.
[code]

[2015-11-27 15:29] daveuu commented on #223
I just tested the current main branch of this repository and I could not reproduce the problem. Sorry! I should have done that first. This works:
[code]
Keep up the good work! Leo is awesome.

[2015-12-01 22:13] SegundoBob opened #224 "TypeError: unorderable types: VNodeBase() < VNodeBase()"
Outline of the Test Scenario
-----------------------------------
Create a new empty Leo-Editor file.
Change its single node to an @file node for a new file.  Say x.txt.
Put "@others" in the body of the @file node.
Create one child node of the @file node.
Save the new Leo-Editor file.
This should create x.txt.
With the @file node collapsed and the focus on the @file node, import (Alt-F, I) x.txt.
T

[2015-12-02 16:32] edreamleo commented on #224
​​On Tue, Dec 1, 2015 at 4:13 PM, SegundoBob <notifications@github.com>
wrote:

The fix is likely to be aList = list(d.get(gnx)), which does not require
that
​vnodes be orderable.​
​If you would, please verify that the fix works for you.  I shall then push
the correction.  ​

Thanks.

Edward

[2015-12-02 17:46] SegundoBob commented on #224
Your suggested change eliminates the error that caused the stack trace.  But now there is a probably incorrect complaint that there are two GNX errors:
[code]

[2015-12-02 18:00] SegundoBob commented on #224
After looking at the files, I think the error message is OK.  There really is a GNX problem, though it seems harmless.  The problem is that two files (whether they are actually the same file or separate files isn't important) contain the same GNX.

Despite the error message, everything works as expected and the problem is easily eliminated by copying one clone and then deleting the clone.

[2015-12-02 19:33] edreamleo commented on #224
On Wed, Dec 2, 2015 at 12:00 PM, SegundoBob <notifications@github.com>
wrote:

​Thanks for the confirmation.  I'll up the proposed change next.

EKR

[2015-12-02 19:43] edreamleo commented on #224
Fixed at d1169b93.

[2015-12-02 19:43] #224 closed

[2015-12-03 23:57] SegundoBob opened #225 "Support @auto x.json"
I don't know how important this is.  I use JSON frequently.  JSON is very widely used.

[2015-12-04 18:01] SegundoBob commented on #225
The lack of support for JSON is probably due to JSON's lack of support for comments.

The lack of Leo-Editor support for JSON led me to use @nosent to create JSON files.  For @nosent files the lack of JSON support for comments is not a problem because Leo-Editor does not put the node headlines or the GNX's in the external file.  Leo-Editor support would color the JSON syntax appropriately.  That i

[2015-12-09 18:43] SegundoBob commented on #222
This was my mistake.  I did not have Ubuntu package python3-pyqt5.qtwebkit installed.  Once I installed this package, the richtext plugin worked fine with Python 3.

[2015-12-20 00:22] MrMormon opened #226 "Unclear what leo-install.py is for"
Is it deprecated?

[2015-12-20 00:30] MrMormon opened #227 "setup.py: UserWarning: The version specified ('5.1-final') is an invalid version...see PEP 440"
Full (Linux, `python` is Python 3 but same output with Python 2):

[code]

[2015-12-20 01:16] technatica commented on #227
Hello Joshua,

Here is the easiest way I know to install Leo on Linux. This assumes you
have already installed Python, Qt and docutils.

Install git:

Then create a directory and change into it.

Then clone Leo.

Change into the leo-editor directory and launch leo.

I launch Leo using a script that has me using the latest version all of the
time.

Hope this helps,

Chris

On Sat, Dec 19, 2015 at 4

[2015-12-22 10:08] benzolius opened #228 "Delete Editor command doesn't ask confirmation for loosing data"
I worked in two editor panes and finished in the second one. I wanted to delete the second one. Clicked the second editor pane to be sure I delete that one and made the 'Delete Editor' command from the menu.

Unfortunately Leo deleted the first editor pane and I lost all changes there.

There are two issues here:

1. I'd like to have a confirmation dialog as in the case of closing a Leo file, that

[2015-12-22 21:09] edreamleo opened #229 "Create a single-file installer using PyInstaller"
Leo's most important task is to create single-file installers using [PyInstaller](http://pythonhosted.org/PyInstaller/). There will be separate installers for Windows, Linux and MacOs.

I now understand that the pure Python modules should _not_ be added to the dist/Leo/leo folder. That folder should basically only contain data files (but Leo treats some plugins modules as data). Instead, most of L

[2015-12-22 21:13] edreamleo commented on #229
For reference, here is the installation log on my Windows10 laptop. All appears to have gone well:

    C:\Users\edreamleo>pip install PyInstaller
    Collecting PyInstaller
      Downloading PyInstaller-3.0.tar.gz (2.7MB)
        100% |################################| 2.7MB 525kB/s
    Requirement already satisfied (use --upgrade to upgrade): setuptools in c:\python27\lib\site-packages (from PyI

[2015-12-22 21:17] edreamleo commented on #229
Here is the present version of launchLeo.spec:

[code]

[2015-12-22 21:18] edreamleo commented on #229
Here is the console log when running `pyinstaller launchLeo.spec`:

[code]

[2015-12-22 21:21] edreamleo commented on #229
Here is the result of running `launchLeo.exe` in `leo-editor/dist/LauchLeo`:

[code]

[2015-12-22 21:27] edreamleo commented on #229
Here is the contents of `leo-editor/build/warnLaunchLeo.txt. These warnings may be harmless. Leo's code runs with either PyQt4 or PyQt5.  Leo does not "really" use any of the missing symbols shown below.

[code]

[2015-12-24 10:31] edreamleo commented on #229
Here is the sorted version of a.pure, printed after Analysis runs.  As you can see, Analysis finds many Leo module in leo.commands, leo.core, leo.plugins, etc., yet none of these files appear in the PyInstaller bundle created by launchLeo.spec:

    ('BaseHTTPServer', 'c:\\python27\\lib\\BaseHTTPServer.py', 'PYMODULE')
    ('ConfigParser', 'c:\\python27\\lib\\ConfigParser.py', 'PYMODULE')
    ('Fi

[2015-12-24 15:01] edreamleo commented on #226
On Sat, Dec 19, 2015 at 7:22 PM, Joshua Olson <notifications@github.com>
wrote:

​I don't remember myself.  I'll look into it.

EKR

[2015-12-27 13:38] edreamleo commented on #227
I am going to close this.  setup.py isn't meant to install Leo.  Yes, I know this is confusing.  Iirc, there is an another issue related to setup.py, so this is basically a duplicate issue.

[2015-12-27 13:38] #227 closed

[2015-12-27 13:39] #223 closed

[2015-12-27 13:40] #222 closed

[2015-12-27 15:47] edreamleo commented on #220
Fixed at b3337ae9.

[2015-12-27 15:47] #220 closed

[2015-12-27 17:30] edreamleo commented on #228
A confirmation dialog should never be necessary. The situation is similar to that of selecting a new node.  Whatever changes have been made in the body pane must be stored before switching nodes. The bug arises because the relevant code is complex.

[2015-12-27 18:22] edreamleo commented on #228
Rev 930f84837 adds defensive code to ensure that p.b is saved before deleting the body editor and switching to a new node.

Please reopen if necessary.

[2015-12-27 18:22] #228 closed

[2015-12-27 18:41] edreamleo commented on #194
I am going to mark this as "won't fix" because there is no obvious way to remember when focus is in the headline *just before* the find-next button is going to be pushed.

The "solution" would be to eliminate the buttons in the find tab and have all uses use F2, F3, etc.

[2015-12-31 14:49] edreamleo commented on #147
[This thread](https://groups.google.com/d/msg/leo-editor/lvtpbYRP_qE/4wTwyneDBwAJ) may be relevant.  Or not.

[2015-12-31 17:58] edreamleo commented on #201
It works for me with Python 3.4.2, PyQt version 5.5.1 on a 64-bit Windows 10 system but with **32-bit** versions of Python and PyQt. I probabably installed 32-bit Python because at the time there was no matching 64-bit version of PyQt.

Just now I uninstalled a previous version of PyQt and installed PyQt5-5.5.1-gpl-Py3.4-Qt5.5.1-x32.exe, downloaded from https://sourceforge.net/projects/pyqt/files/

[2015-12-31 18:41] edreamleo commented on #201
I have just installed the 64-bit versions of Python 3.4 and PyQt5.5.1 on Windows 10 from the following files:

- python-3.4.4.amd64.msi
- PyQt5-5.5.1-gpl-Py3.4-Qt5.5.1-x64.exe

The install works fine, afaik. I am going to close this issue.

[2015-12-31 19:00] edreamleo commented on #201
I am going to reopen this.  Lots of unit tests fail, with the following message:

Data set on unsupported clipboard mode. QMimeData object will be deleted.

Googling this brings up a previous Leo discussion.

[2015-12-31 19:04] #196 closed

[2016-01-21 17:09] edreamleo commented on #127
[This discussion on leo-editor](https://groups.google.com/forum/#!topic/leo-editor/TuNYaI_sEkY) discusses a surprising problem with back scanning and the solution.  The final code will be elegant, but a bit slower, than the buggy code.

[2016-01-24 00:18] tbnorth commented on #203
@edreamleo - I think the alternate homepage in eda764f fixes this, if you want to try uploading it to the site.  There was something similar in the repo. prior to eda764f, but it never made it to the site - we discussed it some time ago and agree it was better to drop the Sphinx search altogether rather than offer two search options (eda764f drops Sphinx), downside is some delay in new content mak

[2016-02-11 15:01] JohnLunzer opened #231 "Current x86 Assembly syntax highlighting rules are for Intel-style only"
Nowhere in the highlighting rules file is it stated but \leo\modes\assembly_x86.py refers specifically to Intel-style syntax. Many assemblers default to Intel-style but one notable assembler, GNU's GAS, defaults to AT&T style.

A separate file for the At&t style syntax should be created and both named accordingly:

[code]

What is involved is creating the new rules file as well as adding an entry